Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

chore(frontend): 6 files changed, 110 insertions(+), 82 deletions(-)
  frontend/next.config.ts
  frontend/src/hooks/use-chat-stream.ts
  frontend/src/hooks/use-roundtable.ts
  frontend/src/hooks/use-session-events.ts
  frontend/src/lib/api-config.ts
  tasks/continuation/archive/task-20260118-api-config-pattern.md
Due: eslint, tsc, prettier

chore: Add verification continuation for api-config pattern
  tasks/continuation/task-20260118-api-config-verification.md
Due: none

chore: 1 file changed, 0 insertions(+), 0 deletions(-)
  tasks/continuation/archive/task-20260118-api-config-verification.md
Due: none

chore: Add continuation file for agent-hub console errors investigation
  tasks/continuation/task-20260118-agent-hub-console-errors.md
Due: none

chore(backend): 1 file changed, 18 insertions(+), 1 deletion(-)
  backend/app/adapters/gemini.py
Due: mypy

chore: Update continuation file with session progress
  tasks/continuation/task-20260118-agent-hub-console-errors.md
Due: none

chore(backend): 9 files changed, 242 insertions(+), 123 deletions(-)
  backend/app/adapters/claude.py
  backend/app/adapters/gemini.py
  backend/app/api/complete.py
  backend/app/api/orchestration.py
  backend/app/services/agent_runner.py
  backend/app/services/completion.py
  backend/app/services/orchestration/parallel.py
  backend/app/services/orchestration/subagent.py
  tasks/continuation/task-20260118-thinking-level-migration.md
Due: mypy

chore(backend): 3 files changed, 12 insertions(+), 12 deletions(-)
  backend/tests/orchestration/test_subagent.py
  backend/tests/thinking/test_extended.py
  tasks/continuation/archive/task-20260118-thinking-level-migration.md
Due: none

chore(fullstack): 7 files changed, 25 insertions(+), 26 deletions(-)
  .gitignore
  backend/tests/thinking/test_extended.py
  frontend/src/app/chat/page.tsx
  frontend/src/components/analytics/truncation-metrics.tsx
  frontend/src/hooks/use-provider-status.ts
  frontend/src/lib/api.ts
  frontend/src/lib/memory-api.ts
Due: eslint, tsc, prettier

chore(frontend): 5 files changed, 110 insertions(+), 18 deletions(-)
  frontend/src/app/chat/page.tsx
  frontend/src/app/settings/api-keys/page.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/lib/api-config.ts
  tasks/api-routing-fix-state.json
Due: eslint, tsc, prettier

fix(backend): Add agent.summitflow.dev to CORS origins
  backend/app/config.py
Due: mypy

chore(frontend): 2 files changed, 23 insertions(+), 23 deletions(-)
  frontend/next.config.ts
  frontend/src/lib/api-config.ts
Due: eslint, tsc, prettier

chore(backend): 5 files changed, 47 insertions(+), 37 deletions(-)
  backend/app/api/complete.py
  backend/app/api/stream.py
  backend/app/services/completion.py
  backend/app/services/memory/__init__.py
  backend/app/services/memory/context_injector.py
Due: mypy

chore(backend): 1 file changed, 3 insertions(+)
  backend/app/services/memory/graphiti_client.py
Due: mypy

chore(backend): 1 file changed, 4 insertions(+), 2 deletions(-)
  backend/app/services/memory/graphiti_client.py
Due: mypy

chore(backend): 1 file changed, 2 insertions(+), 1 deletion(-)
  backend/app/services/memory/graphiti_client.py
Due: mypy

chore: 2 files changed, 248 insertions(+)
  tasks/graphiti-memory-integration/plan.json
  tasks/graphiti-memory-integration/planning-state.json
Due: none

chore(backend): 6 files changed, 1081 insertions(+)
  backend/app/api/memory.py
  backend/app/services/memory/__init__.py
  backend/app/services/memory/learning_extractor.py
  backend/app/services/memory/promotion.py
  backend/scripts/migrate_rules_to_graphiti.py
  packages/agent-hub-client/agent_hub/client.py
Due: mypy

chore(backend): 5 files changed, 1224 insertions(+), 196 deletions(-)
  backend/app/api/memory.py
  backend/scripts/migrate_rules_to_graphiti.py
  tasks/graphiti-memory-integration/plan.json
  tasks/graphiti-memory-integration/rules-categorization.md
  tasks/model-routing/plan.json
Due: mypy

docs(backend): 4 files changed, 640 insertions(+), 29 deletions(-)
  backend/app/services/memory/episode_formatter.py
  backend/app/services/memory/learning_extractor.py
  backend/scripts/migrate_rules_to_graphiti.py
  tasks/graphiti-memory-integration/episode-format-decision.md
Due: mypy
