Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

refactor(checkpoint): Improve multi-turn checkpoint message and validation
  backend/app/api/complete/multi_turn_loop.py
  prompts/next-session-ws11-validation-v2.md
Due: mypy

feat(executor): Add max_turns to dispatch_agent
  backend/app/services/tools/_executor_consultation.py
Due: mypy

fix(tool_handler): Improve error reporting and state preservation
  backend/app/api/complete/tool_handler_utils.py
  backend/app/api/complete/tool_handlers.py
  backend/app/api/complete/tool_result_builder.py
  backend/app/workflows/persona_heartbeat.py
  backend/tests/workflows/test_heartbeat_mcp_recovery.py
Due: mypy

fix(persona_heartbeat): Update heartbeat memory group to include project name
  backend/app/workflows/persona_heartbeat.py
Due: mypy

feat(tools): add query_sessions tool and update manage_tasks
  backend/app/services/project_permission_service.py
  backend/app/services/tools/_executor_consultation.py
  backend/app/services/tools/_executor_io.py
  backend/app/services/tools/_executor_registry.py
  backend/app/services/tools/_persona_ops_tools.py
  backend/app/services/tools/_persona_tools.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/tests/tools/test_persona_integration.py
  backend/tests/tools/test_persona_tools.py
  backend/tests/workflows/test_heartbeat_mcp_recovery.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

feat(heartbeat): add metrics to status endpoint and recording
  backend/app/api/heartbeat.py
  backend/app/workflows/_heartbeat_postprocess.py
  backend/app/workflows/_heartbeat_redis.py
Due: mypy

feat(config): add session_timeout_claude_code
  backend/app/config.py
  backend/app/services/tools/_persona_tools.py
  backend/app/tasks/session_cleanup.py
  backend/app/worker.py
Due: mypy

docs(reference): Add persona safety boundaries and system message
  reference/system_msg.txt
Due: none

fix(persona-context): Cap journal memories by character budget
  backend/app/services/_persona_context.py
Due: mypy

docs(reference): Add research document for journaling/memory
  reference/research-journaling-memory.md
Due: none

docs(research): Add comparison of memory/journaling architectures
  reference/research-journaling-memory-findings.md
Due: none

feat(context): Inject token budget awareness into multi-turn loops
  backend/app/api/complete/multi_turn_loop.py
  backend/app/services/context_tracker.py
  backend/tests/services/test_context_tracker.py
Due: mypy

refactor(persona_context): remove unused journal fetching and formatting
  backend/app/services/_persona_context.py
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_postprocess.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/app/workflows/_heartbeat_templates.py
  backend/app/workflows/persona_heartbeat.py
  backend/tests/services/test_persona_service.py
Due: mypy

refactor(persona): Remove journal endpoint and tools
  .index.yaml
  backend/app/api/persona/__init__.py
  backend/app/api/persona/journal.py
  backend/app/api/persona/schemas.py
  backend/app/services/_persona_context.py
  backend/app/services/_persona_templates.py
  backend/app/services/project_permission_service.py
  backend/app/services/tools/_executor_persona.py
  backend/app/services/tools/_executor_registry.py
  backend/app/services/tools/_persona_memory_tools.py
  backend/app/services/tools/_persona_tools.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/services/tools/tool_definitions.py
  backend/app/workflows/_heartbeat_postprocess.py
  backend/tests/api/test_persona.py
  backend/tests/integration/test_enforcement_chain.py
  backend/tests/services/test_project_permission_service.py
  backend/tests/tools/test_persona_integration.py
  backend/tests/tools/test_persona_tools.py
  backend/tests/workflows/test_heartbeat_mcp_recovery.py
  backend/tests/workflows/test_heartbeat_postprocess.py
  frontend/src/app/access-control/permissions/_components/tier-config.ts
  frontend/src/app/persona/components/HeartbeatSessionCardTypes.ts
  frontend/src/app/persona/settings/components/PersonalityTab.tsx
Due: mypy, eslint, tsc, prettier

refactor(tests): Remove unused VALID_ENTRY_TYPES tests and heartbeat prompt patch
  backend/tests/services/test_persona_tools.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: none

refactor(heartbeat): Remove unused auto_journaled field
  backend/app/api/heartbeat.py
  backend/app/services/tools/_executor_persona.py
  backend/app/workflows/_heartbeat_postprocess.py
  backend/app/workflows/_heartbeat_redis.py
  backend/app/workflows/persona_heartbeat.py
  backend/tests/workflows/test_heartbeat_postprocess.py
Due: mypy

fix(tests): prevent StopIteration in test_get_session_success mock
  backend/tests/api/test_sessions.py
Due: none

Subtask 1.2: Refactor test_get_session_success to replace the f
  backend/tests/api/test_sessions.py
Due: none

chore(index): update generated_at and file counts
  .index.yaml
Due: none
