Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

fix: use CreateResult instead of EpisodeCreationResult
  backend/app/services/memory/tools.py
Due: mypy

chore(.index.yaml): update generated_at timestamp and file counts
  .index.yaml
Due: none

fix: import CreateResult from episode_creator_models directly
  backend/app/services/memory/tools.py
Due: mypy

refactor: split endpoints.py into focused modules (292→46 lines)
  backend/app/api/complete/complete_orchestrator.py
  backend/app/api/complete/endpoints.py
  backend/app/api/complete/estimate_endpoint.py
Due: mypy

refactor(tools): split direct_executor.py into focused modules
  backend/app/services/tools/direct_executor.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/services/tools/tool_definitions.py
  backend/app/services/tools/tool_handler.py
Due: mypy

refactor: reduce context_injector.py from 212 to 149 lines
  backend/app/services/memory/context_injector.py
Due: mypy

refactor: split analytics page into focused modules
  frontend/src/app/agents/[slug]/analytics/api.ts
  frontend/src/app/agents/[slug]/analytics/components/AnalyticsHeader.tsx
  frontend/src/app/agents/[slug]/analytics/components/ChartCard.tsx
  frontend/src/app/agents/[slug]/analytics/components/ChartSection.tsx
  frontend/src/app/agents/[slug]/analytics/components/FailuresTable.tsx
  frontend/src/app/agents/[slug]/analytics/components/KPICard.tsx
  frontend/src/app/agents/[slug]/analytics/page.tsx
  frontend/src/app/agents/[slug]/analytics/types.ts
  frontend/src/app/agents/[slug]/analytics/utils.ts
Due: eslint, tsc, prettier

refactor(frontend): split use-chat-stream.ts into focused modules
  frontend/src/hooks/chat-stream/message-handlers.ts
  frontend/src/hooks/chat-stream/send-message.ts
  frontend/src/hooks/chat-stream/session-loader.ts
  frontend/src/hooks/chat-stream/stream-processor.ts
  frontend/src/hooks/chat-stream/types.ts
  frontend/src/hooks/chat-stream/utils.ts
  frontend/src/hooks/use-chat-stream.ts
Due: eslint, tsc, prettier

fix: add proper type annotations to complete_orchestrator
  backend/app/api/complete/complete_orchestrator.py
Due: mypy

feat(agents): Seed agents with upsert logic and updated prompts
  backend/scripts/seed_agents.py
Due: none

refactor(frontend): Split EditEpisodeModal into focused components
  frontend/src/components/memory/EditEpisodeModal.tsx
  frontend/src/components/memory/EpisodeFormFields.tsx
  frontend/src/components/memory/TierSelector.tsx
  frontend/src/components/memory/useEpisodeEditor.ts
Due: eslint, tsc, prettier

refactor(complete): split schemas.py into focused modules
  backend/app/api/complete/request_schemas.py
  backend/app/api/complete/response_schemas.py
  backend/app/api/complete/schemas.py
  backend/app/api/complete/usage_schemas.py
Due: mypy

refactor(frontend): split context-panel.tsx into focused components
  frontend/src/components/chat/context-panel.tsx
  frontend/src/components/chat/context-panel/context-source-item.tsx
  frontend/src/components/chat/context-panel/index.tsx
  frontend/src/components/chat/context-panel/section.tsx
  frontend/src/components/chat/context-panel/sticky-notes-section.tsx
  frontend/src/components/chat/context-panel/token-budget-section.tsx
  frontend/src/components/chat/context-panel/types.ts
  frontend/src/components/chat/context-panel/utils.ts
Due: eslint, tsc, prettier

refactor(api): reduce api_keys.py from 324 to 192 lines
  backend/app/api/api_keys.py
  backend/app/api/helpers/api_key_helpers.py
  backend/app/api/schemas/__init__.py
  backend/app/api/schemas/api_key_schemas.py
Due: mypy

refactor(scripts): Extract agent data to reduce seed_agents.py to 107 lines
  backend/scripts/seed_agents.py
  backend/scripts/seed_agents_data.py
Due: none

refactor(message_transform): reduce line count from 333 to 168 lines
  backend/app/services/message_blocks.py
  backend/app/services/message_transform.py
Due: mypy

refactor(response_cache): split into focused modules
  backend/app/services/response_cache.py
  backend/app/services/response_cache/__init__.py
  backend/app/services/response_cache/cache_key.py
  backend/app/services/response_cache/client.py
  backend/app/services/response_cache/constants.py
  backend/app/services/response_cache/models.py
Due: mypy

refactor(tools): split claude_tools.py into focused modules (337→38 lines)
  backend/app/services/tools/claude_formatters.py
  backend/app/services/tools/claude_handler.py
  backend/app/services/tools/claude_parser.py
  backend/app/services/tools/claude_tools.py
  backend/app/services/tools/claude_types.py
Due: mypy

chore(index): update generated_at and file counts
  .index.yaml
Due: none
