Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

chore(backend): 5 files changed, 10 insertions(+), 9 deletions(-)
  backend/app/adapters/gemini_image.py
  backend/app/api/image.py
  backend/app/constants.py
  backend/tests/api/test_image.py
  packages/agent-hub-client/agent_hub/client.py
Due: mypy

docs: Add continuation file for model constants centralization
  tasks/continuation/task-20260117-model-constants-centralization.md
Due: none

chore(backend): 9 files changed, 895 insertions(+), 113 deletions(-)
  backend/app/api/__init__.py
  backend/app/api/models.py
  backend/app/models.py
  backend/app/services/model_registry.py
  backend/migrations/versions/8939a1bd7848_merge_heads.py
  backend/migrations/versions/e281dbbb5cf4_add_llm_models_table.py
  backend/tests/api/test_models.py
  backend/tests/services/test_model_registry.py
  tasks/continuation/task-20260117-model-constants-centralization.md
Due: mypy

docs: Restructure continuation file with atomic Phase 4 steps
  tasks/continuation/task-20260117-model-constants-centralization.md
Due: none

chore(backend): 19 files changed, 130 insertions(+), 912 deletions(-)
  backend/app/api/__init__.py
  backend/app/api/models.py
  backend/app/api/openai_compat.py
  backend/app/constants.py
  backend/app/models.py
  backend/app/services/model_registry.py
  backend/app/services/orchestration/roundtable.py
  backend/app/services/orchestration/subagent.py
  backend/app/services/router.py
  backend/app/services/tier_classifier.py
  backend/migrations/versions/e281dbbb5cf4_add_llm_models_table.py
  backend/tests/api/test_models.py
  backend/tests/api/test_openai_compat.py
  backend/tests/orchestration/test_roundtable.py
  backend/tests/orchestration/test_subagent.py
  backend/tests/services/test_model_registry.py
  packages/agent-hub-client/agent_hub/__init__.py
  packages/agent-hub-client/agent_hub/constants.py
  tasks/continuation/archive/task-20260117-model-constants-centralization.md
Due: mypy

chore(backend): 2 files changed, 86 insertions(+), 4 deletions(-)
  backend/app/services/agent_runner.py
  tasks/continuation/archive/task-20260117-model-constants-phase2.md
Due: mypy

chore(backend): 5 files changed, 23 insertions(+), 10 deletions(-)
  backend/app/adapters/claude.py
  backend/app/api/preferences.py
  backend/app/models.py
  backend/app/services/context_manager.py
  backend/app/storage/preferences.py
Due: mypy

chore(backend): 12 files changed, 2334 insertions(+), 10 deletions(-)
  backend/app/api/memory.py
  backend/app/services/memory/service.py
  backend/tests/api/test_memory.py
  frontend/src/components/memory/delete-confirmation-modal.tsx
  frontend/src/components/memory/memory-card.tsx
  frontend/src/components/memory/memory-filters.tsx
  frontend/src/components/memory/memory-stats.tsx
  frontend/src/hooks/use-memory.ts
  frontend/src/lib/memory-api.ts
  tasks/memory-dashboard/plan.json
  tasks/memory-dashboard/prompt.md
  tasks/roundtable-redesign/plan.json
Due: mypy, eslint, tsc, prettier

chore(fullstack): 9 files changed, 816 insertions(+), 84 deletions(-)
  backend/app/api/memory.py
  backend/app/services/memory/service.py
  backend/tests/api/test_memory.py
  frontend/package.json
  frontend/src/app/memory/page.tsx
  frontend/src/components/layout/app-shell.tsx
  frontend/src/components/memory/bulk-actions-toolbar.tsx
  frontend/src/components/memory/memory-list.tsx
  frontend/src/hooks/use-memory.ts
Due: mypy, eslint, tsc, prettier

chore(backend): 7 files changed, 1322 insertions(+), 163 deletions(-)
  backend/app/api/memory.py
  backend/app/services/memory/__init__.py
  backend/app/services/memory/consolidation.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/service.py
  backend/app/services/memory/tools.py
  backend/tests/api/test_memory.py
Due: mypy

chore(backend): 2 files changed, 55 insertions(+), 6 deletions(-)
  backend/app/api/memory.py
  backend/app/services/memory/service.py
Due: mypy

chore(frontend): 7 files changed, 534 insertions(+), 57 deletions(-)
  backend/tests/integration/test_learning_loop.py
  frontend/src/app/memory/page.tsx
  frontend/src/components/memory/memory-card.tsx
  frontend/src/components/memory/memory-filters.tsx
  frontend/src/components/memory/memory-stats.tsx
  frontend/src/hooks/use-memory.ts
  frontend/src/lib/memory-api.ts
Due: eslint, tsc, prettier

chore(backend): 1 file changed, 8 insertions(+), 3 deletions(-)
  backend/app/services/memory/service.py
Due: mypy

chore(backend): 1 file changed, 7 insertions(+), 20 deletions(-)
  backend/tests/integration/test_learning_loop.py
Due: none

chore(backend): 2 files changed, 48 insertions(+), 7 deletions(-)
  backend/app/api/orchestration.py
  backend/app/services/orchestration/roundtable.py
Due: mypy

chore(backend): 7 files changed, 1176 insertions(+), 25 deletions(-)
  backend/app/api/orchestration.py
  backend/app/models.py
  backend/app/services/orchestration/roundtable.py
  backend/migrations/versions/2db02fafe6f7_add_roundtable_session_and_message_.py
  backend/tests/orchestration/test_roundtable.py
  frontend/src/components/chat/multi-agent/roundtable-timeline.tsx
  frontend/src/hooks/use-roundtable.ts
Due: mypy, eslint, tsc, prettier

chore(frontend): 3 files changed, 585 insertions(+), 110 deletions(-)
  frontend/src/app/chat/page.tsx
  frontend/src/components/chat/multi-agent/index.ts
  frontend/src/components/chat/multi-agent/roundtable-controls.tsx
Due: eslint, tsc, prettier

chore(frontend): 1 file changed, 3 insertions(+), 1 deletion(-)
  frontend/src/hooks/use-roundtable.ts
Due: eslint, tsc, prettier

chore(frontend): 2 files changed, 32 insertions(+), 6 deletions(-)
  frontend/src/app/chat/page.tsx
  frontend/src/hooks/use-roundtable.ts
Due: eslint, tsc, prettier

chore: 1 file changed, 178 insertions(+)
  tasks/continuation/task-20260118-api-config-pattern.md
Due: none
