Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

feat(memory): Add session summary columns and continuity settings
  backend/alembic/versions/d4f5a6b7c8d9_add_session_summary_columns.py
  backend/alembic/versions/e5g6h7i8j9k0_add_continuity_settings.py
  backend/app/api/schemas/sessions.py
  backend/app/api/sessions.py
  backend/app/models/memory.py
  backend/app/models/session.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/continuity_injector.py
  backend/app/services/memory/settings.py
  backend/app/services/memory/summary_generator.py
  backend/app/services/memory/summary_llm.py
  backend/app/services/memory/summary_transcript.py
  backend/app/workflows/summary.py
  backend/tests/api/test_session_events.py
  backend/tests/services/memory/test_continuity_injection.py
  backend/tests/services/memory/test_summary_generator.py
  backend/tests/services/memory/test_summary_transcript.py
Due: mypy

feat(memory): Add session continuity settings
  backend/app/api/memory_schemas.py
  backend/app/api/memory_settings.py
  frontend/src/app/agents/[slug]/components/MemoryTab.tsx
  frontend/src/components/memory/MemorySettingsModal.tsx
  frontend/src/components/memory/ToggleSetting.tsx
  frontend/src/components/memory/useMemorySettings.ts
  frontend/src/lib/api/memory-settings.ts
Due: mypy, eslint, tsc, prettier

feat(index): Update .index.yaml with new endpoints and file counts
  .index.yaml
Due: none

feat(memory): Add current_branch to completion request and continuity context
  .index.yaml
  backend/app/api/complete/request_schemas.py
  backend/app/api/complete/request_setup.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/continuity_injector.py
  backend/tests/services/memory/test_continuity_injection.py
Due: mypy

refactor(memory): remove continuity_max_tokens and simplify budget tracking
  .index.yaml
  backend/alembic/versions/f6h7i8j9k0l1_drop_continuity_max_tokens.py
  backend/app/api/memory_agent_helpers.py
  backend/app/api/memory_schemas.py
  backend/app/api/memory_settings.py
  backend/app/models/memory.py
  backend/app/services/memory/budget.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/continuity_injector.py
  backend/app/services/memory/settings.py
  backend/tests/services/memory/test_continuity_injection.py
  frontend/src/components/memory/BudgetUsageDisplay.tsx
  frontend/src/components/memory/MemorySettingsModal.tsx
  frontend/src/components/memory/useMemorySettings.ts
  frontend/src/lib/api/memory-settings.ts
Due: mypy, eslint, tsc, prettier

feat(memory): Add session continuity context and transcript support
  backend/app/api/memory_agent_handlers.py
  backend/app/api/memory_agent_tools.py
  backend/app/api/memory_dashboard.py
  backend/app/services/memory/continuity_injector.py
  backend/app/services/memory/summary_generator.py
  backend/app/services/memory/summary_transcript.py
  backend/app/workflows/summary.py
  backend/tests/services/memory/test_summary_generator.py
Due: mypy

fix(memory): Use headers for scope params in memory agent tools
  backend/app/api/memory_agent_tools.py
Due: mypy

feat(completion): Add current_branch to memory context injection
  backend/app/api/complete/core.py
  backend/app/api/complete/memory_handler.py
  backend/app/api/complete/streaming_handlers.py
  backend/app/services/completion/helpers.py
  backend/app/services/completion/types.py
Due: mypy

refactor(memory): Improve group_id derivation and citation tracking
  backend/app/api/memory_dashboard.py
  backend/app/services/memory/session_analysis.py
  backend/app/services/memory/usage_flushers.py
  backend/tests/services/memory/test_session_analysis.py
Due: mypy

feat(memory): Allow fetching memory data across all groups
  backend/app/api/memory_dashboard.py
  backend/app/api/memory_episodes.py
  backend/app/services/memory/episode_operations.py
  backend/app/services/memory/list_operations.py
  backend/app/services/memory/memory_stats.py
  backend/app/services/memory/service.py
  backend/app/services/memory/service_search.py
  backend/app/services/memory/service_stats.py
  backend/app/services/memory/usage_flushers.py
Due: mypy

feat(memory): Add fallback session lookup by project and time
  backend/app/api/memory_analysis.py
  backend/app/services/memory/session_analysis.py
  backend/tests/api/test_memory_analysis.py
  backend/tests/services/memory/test_session_analysis.py
Due: mypy

feat(memory): Add session memory rating after summary
  backend/app/api/memory_dashboard.py
  backend/app/services/memory/memory_rater.py
  backend/app/services/memory/usage_tracker.py
  backend/app/workflows/summary.py
  backend/tests/services/memory/test_memory_rater.py
Due: mypy

feat(memory): derive scope from episode group_id
  backend/app/services/memory/episode_converters.py
  backend/app/services/memory/episode_operations.py
  backend/app/services/memory/memory_utils.py
  backend/app/services/memory/query_builders.py
  frontend/src/components/memory/ExpandedRowContent.tsx
  frontend/src/components/memory/MemoryTable.tsx
  frontend/src/components/memory/MemoryTableRow.tsx
  frontend/src/components/memory/UsageStatsPane.tsx
  frontend/src/hooks/use-episodes-filters.ts
Due: mypy, eslint, tsc, prettier

refactor(memory): Simplify ExpandedRowContent and related components
  frontend/src/components/memory/ExpandedRowContent.tsx
  frontend/src/components/memory/MemoryTableRow.tsx
  frontend/src/components/memory/MetadataPane.tsx
  frontend/src/components/memory/UsageStatsPane.tsx
Due: eslint, tsc, prettier

feat(memory): Add endpoint to backfill episode summaries
  backend/app/api/memory_episodes.py
  backend/app/services/memory/episode_creator_core.py
  backend/app/services/memory/summary_storage.py
  frontend/src/components/memory/MemoryTableRow.tsx
  frontend/src/hooks/use-episodes-filters.ts
Due: mypy, eslint, tsc, prettier

refactor(memory): Remove unused backfill summaries endpoint and logic
  backend/app/api/memory_episodes.py
  backend/app/services/memory/episode_creator_core.py
  backend/app/services/memory/summary_storage.py
  frontend/src/components/memory/MemoryTableRow.tsx
  frontend/src/hooks/use-episodes-filters.ts
Due: mypy, eslint, tsc, prettier

feat(memory): Allow searching across all groups by default
  backend/app/api/memory_dependencies.py
  backend/app/api/memory_episodes.py
  backend/app/services/memory/memory_rater.py
  backend/app/services/memory/memory_utils.py
  backend/app/services/memory/search_semantic.py
  backend/app/services/memory/service.py
  backend/app/services/memory/service_search.py
Due: mypy

fix(memory): Simplify memory display and sorting
  frontend/src/components/memory/MemoryTableRow.tsx
  frontend/src/hooks/use-episodes-filters.ts
Due: eslint, tsc, prettier

fix(memory): Rename 'summary' to 'content' for clarity
  frontend/src/components/memory/MemoryTable.tsx
  frontend/src/components/memory/MemoryTableRow.tsx
  frontend/src/hooks/use-episodes-filters.ts
Due: eslint, tsc, prettier

fix(memory): Wrap content in a div for overflow handling
  frontend/src/components/memory/MemoryTableRow.tsx
Due: eslint, tsc, prettier

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
