Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

refactor(frontend): split app-shell.tsx into focused modules (337→100 lines)
  frontend/src/components/layout/app-shell.tsx
  frontend/src/components/layout/mobile-header.tsx
  frontend/src/components/layout/sidebar-footer.tsx
  frontend/src/components/layout/sidebar-logo.tsx
  frontend/src/components/layout/sidebar-nav.tsx
Due: eslint, tsc, prettier

refactor(gemini): split adapter into focused modules (720 → 247 lines)
  backend/app/adapters/gemini.py
  backend/app/adapters/gemini_events.py
  backend/app/adapters/gemini_thinking.py
  backend/app/adapters/gemini_tools.py
  backend/app/adapters/gemini_utils.py
Due: mypy

refactor(memory): split context_injector.py into focused modules (1079 → 474 lines)
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/context_injector_blocks.py
  backend/app/services/memory/context_injector_formatter.py
  backend/app/services/memory/context_injector_queries.py
Due: mypy

refactor(backend): extract complete.py into modular package (2088 → 1013 lines)
  backend/app/api/complete.py
  backend/app/api/complete/__init__.py
  backend/app/api/complete/core.py
  backend/app/api/complete/handlers.py
  backend/app/api/complete/helpers.py
  backend/app/api/complete/schemas.py
Due: mypy

refactor(backend): reduce complete.py to 481 lines (<500 target achieved)
  backend/app/api/complete.py
Due: mypy

refactor(backend): reorganize complete module as package (final: 465 lines)
  backend/app/api/complete/__init__.py
  backend/app/api/complete/core.py
  backend/app/api/complete/endpoints.py
  backend/app/api/complete/handlers.py
  backend/app/api/complete/helpers.py
Due: mypy

chore: update .index.yaml
  .index.yaml
Due: none

chore: fix import ordering in alembic files
  backend/alembic/env.py
  backend/alembic/versions/07e7336a2688_add_per_tier_limits_to_memory_settings.py
  backend/alembic/versions/17cdcc56e5bd_initial_schema_sessions_messages_.py
  backend/alembic/versions/1c6805054b00_add_provider_metadata_to_sessions.py
  backend/alembic/versions/1d642bcb1f01_drop_unused_session_columns.py
  backend/alembic/versions/27229f433f34_add_truncation_events_table.py
  backend/alembic/versions/2db02fafe6f7_add_roundtable_session_and_message_.py
  backend/alembic/versions/548fe3a69c99_add_api_keys_table.py
  backend/alembic/versions/5d106fee3146_extend_api_key_prefix_length.py
  backend/alembic/versions/6b46071ec3b1_remove_max_tokens_from_agents.py
  backend/alembic/versions/73c82f4ebcc5_restore_global_instructions_and_tier_.py
  backend/alembic/versions/78ebdaac1078_mark_legacy_sessions.py
  backend/alembic/versions/86bacf829f75_add_access_control_tables.py
  backend/alembic/versions/98f371912aa2_add_agent_id_to_messages.py
  backend/alembic/versions/a1b2c3d4e5f6_add_usage_stats_table.py
  backend/alembic/versions/b2c3d4e5f6g7_add_memory_uuids_to_feedback.py
  backend/alembic/versions/b9f50737450a_add_webhook_subscriptions_table.py
  backend/alembic/versions/c3d4e5f6g7h8_add_client_purpose_control_tables.py
  backend/alembic/versions/c7a82f0e9b12_add_external_id_to_sessions.py
  backend/alembic/versions/cb33d77516d8_drop_unused_columns.py
  backend/alembic/versions/e5f6g7h8i9j0_add_agents_table.py
  backend/alembic/versions/eb4ecc28ced9_add_multi_model_tracking_columns.py
  backend/alembic/versions/ed13ea976211_add_purpose_and_session_type.py
  backend/alembic/versions/g6h7i8j9k0l1_add_memory_injection_metrics.py
  backend/alembic/versions/h7i8j9k0l1m2_drop_mandate_tags_column.py
  backend/alembic/versions/i8j9k0l1m2n3_add_memory_settings_table.py
  backend/alembic/versions/j9k0l1m2n3o4_add_budget_enabled_column.py
  backend/alembic/versions/k0l1m2n3o4p5_add_tier_change_log_table.py
  backend/alembic/versions/m2n3o4p5q6r7_add_global_instructions_table.py
  backend/alembic/versions/n3o4p5q6r7s8_add_tool_tracking_columns.py
  backend/alembic/versions/o4p5q6r7s8t9_add_tool_name_columns.py
  backend/alembic/versions/p5q6r7s8t9u0_add_agent_slug_to_sessions.py
  backend/alembic/versions/q6r7s8t9u0v1_remove_purpose_from_sessions.py
  backend/alembic/versions/r7s8t9u0v1w2_remove_purpose_control_tables.py
  backend/alembic/versions/s8t9u0v1w2x3_add_reference_index_enabled.py
  backend/alembic/versions/t9u0v1w2x3y4_add_allowed_projects_to_clients.py
  backend/alembic/versions/u0v1w2x3y4z5_add_is_coding_agent_to_agents.py
  backend/alembic/versions/v1w2x3y4z5a6_add_session_branching_columns.py
  backend/alembic/versions/w2x3y4z5a6b7_add_tool_permissions_to_agents.py
Due: none

refactor(frontend): split memory-api.ts into focused modules (378 → 186 lines)
  frontend/src/lib/memory-api.ts
  frontend/src/lib/memory-types.ts
  frontend/src/lib/memory-utils.ts
Due: eslint, tsc, prettier

Refactor completion.py from 416 to 21 lines
  backend/app/api/complete/endpoints.py
  backend/app/api/complete/handlers.py
  backend/app/services/completion/__init__.py
  backend/app/services/completion/auto_thinking.py
  backend/app/services/completion/episode_storage.py
  backend/app/services/completion/provider_utils.py
  backend/app/services/completion/service.py
Due: mypy

refactor(memory): split episode_creator.py into focused modules (485 → 145 lines)
  backend/app/services/memory/episode_creator.py
  backend/app/services/memory/episode_creator_batch_processor.py
  backend/app/services/memory/episode_creator_batching.py
  backend/app/services/memory/episode_creator_core.py
  backend/app/services/memory/episode_creator_helpers.py
  backend/app/services/memory/episode_creator_models.py
  backend/app/services/memory/episode_creator_validation.py
Due: mypy

fix: apply ruff auto-fixes for type annotations
  backend/app/api/complete/endpoints.py
  backend/app/api/complete/handlers.py
  backend/app/services/memory/episode_creator_helpers.py
Due: mypy

refactor(orchestration): reduce parallel.py from 333 to 197 lines
  backend/app/services/orchestration/parallel.py
Due: mypy

refactor(memory): reduce service.py from 484 to 189 lines
  backend/app/services/memory/crud_operations.py
  backend/app/services/memory/episode_converters.py
  backend/app/services/memory/health_operations.py
  backend/app/services/memory/list_operations.py
  backend/app/services/memory/service.py
  backend/app/services/memory/service_cleanup.py
  backend/app/services/memory/service_search.py
  backend/app/services/memory/service_stats.py
Due: mypy

fix(api): resolve circular import in complete module
  backend/app/api/complete/endpoints.py
Due: mypy

chore(backend): 11 files changed, 630 insertions(+), 81 deletions(-)
  backend/alembic/versions/x1y2z3a4b5c6_add_session_events_table.py
  backend/app/api/complete/__init__.py
  backend/app/api/complete/core.py
  backend/app/api/complete/handlers.py
  backend/app/api/sessions.py
  backend/app/models/__init__.py
  backend/app/models/session.py
  backend/app/services/agent_runner/claude_executor.py
  backend/app/services/agent_runner/gemini_executor.py
  backend/app/services/event_storage.py
  backend/app/services/session_helpers.py
Due: mypy

chore(backend): 2 files changed, 121 insertions(+), 1 deletion(-)
  backend/app/api/schemas/sessions.py
  backend/app/api/sessions.py
Due: mypy

fix(observability): store memory_inject and thinking events properly
  backend/app/api/complete/endpoints.py
  backend/app/api/complete/handlers.py
  backend/app/services/agent_runner/claude_executor.py
  backend/app/services/agent_runner/gemini_executor.py
Due: mypy

fix(api): update MessageResponse schema for UUID ids and nullable fields
  backend/app/api/schemas/sessions.py
  frontend/src/app/sessions/[id]/page.tsx
  frontend/src/app/sessions/page.tsx
  frontend/src/components/monitoring/event-stream.tsx
  frontend/src/components/timeline/event-timeline.tsx
  frontend/src/components/timeline/index.ts
  frontend/src/hooks/use-session-events.ts
  frontend/src/lib/api.ts
  frontend/src/types/events.ts
Due: mypy, eslint, tsc, prettier

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
