Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

fix(context): route .index.yaml readers through resolve_project_root; align startup policy fallback
  backend/app/services/backup_summary.py
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_profiles.py
  backend/app/services/memory/project_index_context.py
  backend/app/workflows/_heartbeat_project.py
  backend/app/workflows/_heartbeat_state.py
  backend/tests/services/memory/test_context_builder_settings.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

Add /api/notifications/telegram for sibling projects + credit-card-researcher web tools
  backend/app/api/__init__.py
  backend/app/api/notifications.py
  backend/app/services/tools/tool_definitions.py
  backend/scripts/seed_agents_data/seed_data.json
Due: mypy

Register household-price-scout agent (portfolio-ai phase-3 price checks): search_web + fetch_web_page tools, agent row seeded via API (codex/gpt-5.5, temp 0.2); seed export refreshed
  backend/app/services/tools/tool_definitions.py
  backend/scripts/seed_agents_data/seed_data.json
Due: mypy

Runtime context project memory profiles
  backend/app/api/memory_agent_context_builder.py
  backend/app/api/project_permissions.py
  backend/app/services/memory/context_injector_blocks_helpers.py
  backend/app/services/memory/context_injector_ops.py
  backend/app/services/runtime_context.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/test_project_permissions.py
  backend/tests/api/test_runtime_context.py
  frontend/src/__tests__/runtime-context-page.test.tsx
  frontend/src/app/runtime-context/page.tsx
  frontend/src/lib/api/project-permissions.ts
Due: mypy, eslint, tsc, prettier

Add st web fallback backend and focus windows
  backend/app/services/tools/_executor_web.py
  backend/app/services/tools/_executor_web_focus.py
  backend/app/services/tools/_standard_tools.py
  backend/app/services/tools/direct_executor_core.py
  backend/tests/tools/test_direct_executor.py
  backend/tests/tools/test_executor_web.py
Due: mypy

Preserve multimodal images for model overrides
  backend/app/api/complete/helpers.py
  backend/app/routing/resolution.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/complete/test_parse_mention.py
  backend/tests/scripts/test_seed_agent_model_policy.py
Due: mypy

Rename visual critic to game art critic
  backend/alembic/versions/d6e7f8a9b0c1_rename_pixel_art_critic_to_game_art_critic.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/complete/test_parse_mention.py
  backend/tests/scripts/test_seed_agent_model_policy.py
Due: none

add local Gemma game-art critic
  backend/alembic/versions/e7f8a9b0c1d2_add_gemma_game_art_critic.py
  backend/app/config.py
  backend/app/llm/providers/openai_completions.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/llm/test_openai_completions_params.py
  backend/tests/scripts/test_seed_agent_model_policy.py
Due: mypy

Persist equity analyst model route
  backend/scripts/seed_agents_data/seed_data.json
Due: none

Add Telegram host alerts and daily systems report
  backend/app/scripts/send_host_guardian_alerts.py
  backend/app/scripts/send_jenny_telegram_status_report.py
  backend/tests/unit/test_send_host_guardian_alerts.py
  backend/tests/unit/test_send_jenny_telegram_status_report.py
  backend/tests/unit/test_systemd_service_templates.py
  scripts/systemd/agent-hub-host-guardian-alert.service
  scripts/systemd/agent-hub-host-guardian-alert.timer
  scripts/systemd/agent-hub-telegram-status-report.timer
Due: mypy

Bound Agent Hub voice recording lifecycles
  SECURITY.md
  backend/app/api/endpoints/voice.py
  backend/app/middleware/access_control_paths.py
  backend/app/services/voice/connection_manager.py
  backend/tests/api/test_voice_recording_limits.py
  backend/tests/services/test_first_party_client_service.py
Due: mypy

Secure external session ingestion and expose bounded runtime identity
  backend/app/api/access_control_helpers.py
  backend/app/api/schemas/sessions.py
  backend/app/api/session_ingestion.py
  backend/app/services/_session_metadata_helpers.py
  backend/app/services/session_ingestion/_service_helpers.py
  backend/app/services/session_ingestion/service.py
  backend/app/services/session_transforms.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/test_access_control_helpers.py
  backend/tests/api/test_session_ingestion.py
  backend/tests/services/session_ingestion/test_service.py
  backend/tests/services/test_session_transforms.py
Due: mypy

fix: keep game audio review available on quota limits
  backend/alembic/versions/6e3c4c3cffac_add_game_audio_critic_quota_fallback.py
  backend/app/api/complete/core.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/complete/test_complete_internal_unified.py
  backend/tests/scripts/test_seed_agent_model_policy.py
Due: mypy

Repair Agent Hub routing resilience after verified provider outage
  backend/alembic/versions/2026_08_17_repoint_local_alias_to_gemma4.py
  backend/alembic/versions/a7b8c9d0e1f2_deactivate_unreachable_models.py
  backend/app/constants/catalog.py
  backend/app/constants/catalog_entries.py
  backend/app/constants/models.py
  backend/app/scripts/send_host_guardian_alerts.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/unit/test_send_host_guardian_alerts.py
  frontend/src/components/dashboard/Sparkline.tsx
Due: mypy, eslint, tsc, prettier

Add NVIDIA NIM free tier as a fourth live provider
  backend/alembic/versions/2026_08_17_retire_remaining_eol_nvidia_models.py
  backend/app/constants/catalog_entries.py
  backend/app/constants/models.py
  backend/app/llm/model_resolver.py
  backend/scripts/seed_agents_data/seed_data.json
Due: mypy

Fix silently-empty local rung and add Qwen3-VL for receipt OCR
  backend/alembic/versions/2026_08_17_seed_local_qwen3_vl_receipt_model.py
  backend/app/constants/catalog_entries.py
  backend/app/constants/models.py
  backend/app/llm/providers/openai_completions.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/llm/test_openai_completions_params.py
Due: mypy

use every configured Gemini account instead of only the first
  backend/app/llm/api_key_pool.py
  backend/app/llm/env_api_keys.py
  backend/app/llm/providers/google.py
  backend/tests/llm/test_api_key_pool.py
  backend/tests/llm/test_google_key_pool.py
Due: mypy

chore: regenerate agent seed export
  backend/scripts/seed_agents_data/seed_data.json
Due: none

fix(ui): label the memory nav entry as a semantic store, not a knowledge graph
  backend/scripts/seed_agents_data/seed_data.json
  frontend/src/components/layout/sidebar-nav.tsx
Due: eslint, tsc, prettier

fix(memory): rotate embeddings onto a funded Gemini account
  backend/app/llm/api_key_pool.py
  backend/app/services/memory/embedder.py
  backend/app/services/memory/episode_creator_helpers.py
  backend/tests/services/memory/test_embedder_cache.py
  backend/tests/services/memory/test_embedder_failover.py
Due: mypy

Add gemini-3.8-flash and register the five Jobinator agents
  backend/alembic/versions/b3e17c904af2_seed_jobinator_client.py
  backend/alembic/versions/d5a2f8c17b90_seed_jobinator_agents.py
  backend/app/constants/catalog_entries.py
  backend/app/constants/models.py
Due: mypy

Add a Codex credential re-seed script for the shared-grant collision
  backend/scripts/reseed_codex_credentials.py
  backend/scripts/seed_agents_data/seed_data.json
Due: none

Register the five agents a cross-family second opinion needs
  backend/alembic/versions/c41d7b60e9a2_seed_jobinator_second_opinion_agents.py
Due: none

Put an in-family fallback ahead of the cross-family one for every jobs-* agent
  backend/alembic/versions/e83b1d4f0a72_jobs_fallbacks_stay_in_family_first.py
  backend/scripts/seed_agents_data/seed_data.json
Due: none

Add the GPT-5.6 family and GPT-6 Astra, then re-pick Jobinator's models
  backend/alembic/versions/b7d5e9c31f28_jobinator_models_chosen_on_output.py
  backend/alembic/versions/f1a9c37d2b64_add_gpt_5_6_family_and_gpt_6_astra.py
  backend/scripts/seed_agents_data/seed_data.json
Due: none

feat(jobinator): add separate role category batch mode to screener
  backend/alembic/versions/ab729e1506cd_screener_category_batch.py
  backend/scripts/seed_agents_data/seed_data.json
Due: none

Install canonical Codex hook JSON alongside shared context config
  backend/tests/integrations/test_context_delivery_adapters.py
  integrations/context-delivery/manifest.json
Due: none

hold the Telegram poll open instead of reissuing it
  backend/app/services/telegram_bot_service.py
  backend/tests/services/test_telegram_bot_service.py
Due: mypy

fix(jobinator): ground automatic screening in reviewed CV evidence
  backend/alembic/versions/c7184ae092d6_jobinator_evidence_screening.py
  backend/scripts/seed_agents_data/seed_data.json
Due: none

feat(jobinator): research matching employers beyond followed companies
  backend/alembic/versions/d84c713b02ae_jobinator_employer_discovery.py
  backend/scripts/seed_agents_data/seed_data.json
Due: none

fix(jobinator): write concise documents from each candidate evidence
  backend/alembic/versions/e95d820c13bf_jobinator_concise_documents.py
  backend/scripts/seed_agents_data/seed_data.json
Due: none

Add evidence-backed adjacent role suggestions to Jobinator discovery
  backend/alembic/versions/fa6e931d24c0_jobinator_adjacent_roles.py
Due: none

fix(ci): restore audited migration snapshot and update runtime context tests
  .gitignore
  backend/alembic/data/7f4e2d1c9b8a_audited_context.json
  frontend/src/__tests__/runtime-context-page.test.tsx
Due: eslint, tsc, prettier

ci: isolate private context integration checks and test catalog state
  .github/workflows/ci.yml
  backend/pyproject.toml
  backend/pytest.ini
  backend/tests/api/test_models_api.py
  backend/tests/e2e/test_session_tracking.py
  backend/tests/integrations/test_context_delivery_adapters.py
  docs/private-context-ci.md
Due: none

test: enforce role-specific model routing contracts
  backend/tests/scripts/test_seed_agent_model_policy.py
Due: none

Persist numbered CV evidence contract for job screening
  backend/scripts/seed_agents_data/seed_data.json
Due: none

Ship required migration snapshot and repair stale context UI tests
  .gitignore
  backend/alembic/data/7f4e2d1c9b8a_audited_context.json
  frontend/src/__tests__/runtime-context-page.test.tsx
Due: eslint, tsc, prettier

Enable bounded employer web research and reproducible private-adapter CI
  .github/workflows/ci.yml
  backend/app/services/tools/tool_definitions.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/test_models_api.py
  backend/tests/e2e/test_session_tracking.py
  backend/tests/integrations/test_context_delivery_adapters.py
  backend/tests/scripts/test_seed_agent_model_policy.py
  backend/tests/tools/test_propose_tools.py
Due: mypy

Require official careers-page evidence in bounded employer discovery
  backend/scripts/seed_agents_data/seed_data.json
Due: none

Wait for rendered heartbeat details in workspace tests
  frontend/src/__tests__/unified-persona-workspace.test.tsx
Due: eslint, tsc, prettier

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
