Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

feat(memory): Add suggested trigger types and utility tooltip
  frontend/src/components/memory/ExpandedRowContent.tsx
Due: eslint, tsc, prettier

feat(memory): Add content truncation and category-based borders
  frontend/src/components/memory/MemoryTableRow.tsx
Due: eslint, tsc, prettier

feat(memory): Add category descriptions and persistence
  frontend/src/components/memory/CategoryPill.tsx
  frontend/src/components/memory/MemorySettingsModal.tsx
  frontend/src/components/memory/tabs/EpisodesTab.tsx
  frontend/src/components/memory/tabs/TimelineTab.tsx
  frontend/src/lib/memory-config.ts
Due: eslint, tsc, prettier

feat(memory): Add bulk tier change functionality
  frontend/src/components/memory/BulkToolbar.tsx
  frontend/src/components/memory/tabs/EpisodesTab.tsx
  frontend/src/lib/memory-api.ts
Due: eslint, tsc, prettier

feat(memory): Add ImportModal for JSON memory import
  frontend/src/components/memory/ImportModal.tsx
  frontend/src/components/memory/tabs/EpisodesTab.tsx
Due: eslint, tsc, prettier

feat(frontend): Improve MemoryTable responsiveness
  frontend/src/components/memory/MemoryTable.tsx
  frontend/src/components/memory/MemoryTableRow.tsx
Due: eslint, tsc, prettier

feat(analytics): Add click navigation to tier distribution chart
  frontend/src/components/memory/tabs/AnalyticsTab.tsx
Due: eslint, tsc, prettier

feat(memory): Add endpoints for episode citations and similar episodes
  backend/app/api/memory.py
  frontend/src/components/memory/ExpandedRowContent.tsx
  frontend/src/components/memory/tabs/AnalyticsTab.tsx
  frontend/src/lib/memory-api.ts
  frontend/src/lib/memory-types.ts
Due: mypy, eslint, tsc, prettier

style: auto-format from pre-commit hooks
  backend/app/api/memory.py
Due: mypy

feat(memory): Add endpoint to retrieve LLM configuration
  backend/app/api/memory_settings.py
  frontend/src/components/memory/MemorySettingsModal.tsx
  frontend/src/lib/api/memory-settings.ts
Due: mypy, eslint, tsc, prettier

refactor(memory): Cast memories_cited to jsonb for comparison
  .index.yaml
  backend/app/api/memory.py
Due: mypy

refactor(memory): Remove unused ImportModal component
  frontend/src/components/memory/ImportModal.tsx
  frontend/src/components/memory/tabs/EpisodesTab.tsx
Due: eslint, tsc, prettier

feat(memory): Track session, project, and external IDs for context and usage
  backend/app/api/complete/endpoints.py
  backend/app/api/complete/handlers.py
  backend/app/api/schemas/sessions.py
  backend/app/services/completion/service.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/usage_tracker.py
  frontend/src/components/memory/ExpandedRowContent.tsx
  frontend/src/lib/memory-api.ts
Due: mypy, eslint, tsc, prettier

feat(memory): Add session summarization and Claude Code session type
  backend/alembic/versions/b5c6d7e8f9a0_add_claude_code_session_type.py
  backend/app/api/memory.py
  backend/app/api/sessions.py
  backend/app/models/session.py
  backend/app/services/memory/capture_handler.py
  backend/app/services/memory/summary_generator.py
  backend/pyproject.toml
Due: mypy

docs: Add E2E test plan for Memory System
  cc_native_tasks/MEMORY_SYSTEM_E2E_TEST.md
Due: none

fix(memory): Remove TYPE_CHECKING-only AsyncDriver cast in usage_tracker
  backend/app/services/memory/usage_tracker.py
Due: mypy

chore: delete stale markdown - empty placeholders, superseded audits, archived tasks
  CLAUDE.md
  README.md
  tasks/access-control-audit/initial-findings.md
  tasks/continuation/archive/task-20260117-agent-hub-cleanup.md
  tasks/continuation/archive/task-20260117-comprehensive-testing.md
  tasks/continuation/archive/task-20260117-model-constants-centralization.md
  tasks/continuation/archive/task-20260117-model-constants-phase2.md
  tasks/continuation/archive/task-20260118-api-config-pattern.md
  tasks/continuation/archive/task-20260118-api-config-verification.md
  tasks/continuation/archive/task-20260118-thinking-level-migration.md
  tasks/datetime-timezone-audit.md
Due: none

chore: project cleanup - delete orphans, organize docs, move references
  docs/architecture/AGENTS.md
  hello.py
  memory-audit-report.md
  memory-test-iteration.md
  memory-test-state.json
  monkey-fight/hello_world.py
  monkey-fight/test_hello_world.py
  plan.json
Due: none

chore: project cleanup - delete orphans, organize docs, move references
  AGENTS.md
  hello.py
  memory-audit-report.md
  memory-test-iteration.md
  memory-test-state.json
  monkey-fight/hello_world.py
  monkey-fight/test_hello_world.py
  plan.json
Due: none

chore: Update .gitignore and remove sf-commit.sh
  .gitignore
  CLAUDE.md
  scripts/sf-commit.sh
Due: none

refactor(frontend): consolidate API files into src/lib/api
  frontend/src/app/admin/components/BlockedRequestsTable.tsx
  frontend/src/app/admin/components/ExpandedRowContent.tsx
  frontend/src/app/admin/page.tsx
  frontend/src/app/agents/[slug]/page.tsx
  frontend/src/app/agents/page.tsx
  frontend/src/app/monitoring/requests/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/api/admin.ts
  frontend/src/lib/api/agent-detail.ts
  frontend/src/lib/api/agents.ts
  frontend/src/lib/api/monitoring.ts
Due: eslint, tsc, prettier

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
