Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

refactor(claude): Extract model mapping and update SDK usage
  backend/app/adapters/claude.py
  backend/tests/adapters/test_claude.py
  frontend/src/app/persona/page.tsx
  frontend/src/components/chat/chat-panel.tsx
  packages/chat-ui/src/components/chat-panel.tsx
Due: mypy, eslint, tsc, prettier

chore(index): update file counts and generation time
  .index.yaml
Due: none

fix(streaming): improve heartbeat logic for SDK compatibility
  backend/app/api/complete/streaming.py
Due: mypy

refactor(streaming): Improve _with_heartbeat implementation
  backend/app/api/complete/streaming.py
  backend/tests/api/test_complete_streaming.py
Due: mypy

refactor(claude): Use contextlib.aclosing for streams
  backend/app/adapters/claude.py
  backend/app/api/complete/streaming.py
  backend/app/api/complete/streaming_tool_loop.py
Due: mypy

fix(claude): patch SDK for race conditions and cancel scope
  backend/app/adapters/claude.py
Due: mypy

refactor(streaming): Simplify _with_heartbeat to direct iteration
  backend/app/api/complete/streaming.py
  backend/tests/api/test_complete_streaming.py
Due: mypy

test(backend): 9 files changed, 1168 insertions(+), 527 deletions(-)
  backend/app/adapters/claude.py
  backend/app/adapters/claude_oauth.py
  backend/app/adapters/claude_streaming.py
  backend/app/adapters/claude_tools_helpers.py
  backend/app/adapters/claude_utils.py
  backend/tests/adapters/test_claude.py
  backend/tests/adapters/test_claude_env_injection.py
  backend/tests/adapters/test_claude_tools_permissions.py
  backend/tests/adapters/test_interface.py
Due: mypy

refactor(claude_streaming): Improve tool handling and prompt wrapping
  backend/app/adapters/claude_streaming.py
Due: mypy

refactor(streaming): Remove unused contextlib.aclosing and simplify heartbeat logic
  backend/app/api/complete/streaming.py
  backend/app/api/complete/streaming_tool_loop.py
  backend/tests/api/test_complete_streaming.py
Due: mypy

fix(streaming): Use asyncio.wait for heartbeat to avoid cancelling inner generator
  backend/app/api/complete/streaming.py
  backend/app/api/persona.py
Due: mypy

fix(chat): Add 'thinking' event to Claude streaming and SSE
  backend/app/adapters/claude_streaming.py
  backend/app/api/complete/streaming_tool_loop.py
  frontend/src/components/chat/MessageActions.tsx
  frontend/src/components/chat/MessageBubble.tsx
  frontend/src/components/chat/MessageContent.tsx
  frontend/src/components/chat/ProviderBadge.tsx
  frontend/src/components/chat/ThinkingBlock.tsx
  frontend/src/components/chat/ToolExecutionDisplay.tsx
  frontend/src/components/chat/ToolExecutionItem.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/chat/index.ts
  frontend/src/components/chat/message-bubble-utils.ts
  frontend/src/components/chat/message-input.tsx
  frontend/src/components/chat/message-list.tsx
  frontend/src/components/chat/truncation-indicator.tsx
  frontend/src/components/chat/use-voice-input.ts
  frontend/src/hooks/chat-stream/message-handlers.ts
  frontend/src/hooks/chat-stream/send-message.ts
  frontend/src/hooks/chat-stream/session-loader.ts
  frontend/src/hooks/chat-stream/stream-processor.ts
  frontend/src/hooks/chat-stream/types.ts
  frontend/src/hooks/chat-stream/utils.ts
  frontend/src/hooks/use-chat-stream.ts
  frontend/src/hooks/use-truncation-toast.ts
  frontend/src/types/chat.ts
Due: mypy, eslint, tsc, prettier

chore(.index.yaml): update generated_at timestamp and dev-tools folder count
  .index.yaml
Due: none

refactor(chat-ui): Update message bubble styling and session loading logic
  .index.yaml
  packages/chat-ui/src/components/message-bubble-utils.ts
  packages/chat-ui/src/hooks/chat-stream/session-loader.ts
  packages/chat-ui/src/hooks/chat-stream/types.ts
Due: none

fix(chat-ui): Update message input styling and colors
  .index.yaml
  packages/chat-ui/src/components/message-input.tsx
Due: none

fix(backend): Optimize message storage and deduplicate UI messages
  .index.yaml
  backend/app/api/complete/event_helpers.py
  packages/chat-ui/src/hooks/chat-stream/session-loader.ts
Due: mypy

refactor(chat-ui): Improve dark mode and color contrast in UI components
  .index.yaml
  packages/chat-ui/src/components/EditableContent.tsx
  packages/chat-ui/src/components/MessageActions.tsx
  packages/chat-ui/src/components/MessageContent.tsx
  packages/chat-ui/src/components/ProviderBadge.tsx
  packages/chat-ui/src/components/ThinkingBlock.tsx
  packages/chat-ui/src/components/ToolExecutionDisplay.tsx
  packages/chat-ui/src/components/ToolExecutionItem.tsx
  packages/chat-ui/src/components/activity-indicator.tsx
  packages/chat-ui/src/components/chat-panel.tsx
  packages/chat-ui/src/components/input-buttons.tsx
  packages/chat-ui/src/components/mention-chip.tsx
  packages/chat-ui/src/components/mention-popup.tsx
  packages/chat-ui/src/components/message-list.tsx
  packages/chat-ui/src/components/speaker-button.tsx
  packages/chat-ui/src/components/truncation-indicator.tsx
Due: none

feat(api): add model display name and tool execution details
  .index.yaml
  backend/app/api/complete/response_schemas.py
  backend/app/api/complete/streaming_persistence.py
  backend/app/api/schemas/sessions.py
  backend/app/services/session_responses.py
  backend/app/services/session_transforms.py
  packages/chat-ui/src/components/ProviderBadge.tsx
  packages/chat-ui/src/hooks/chat-stream/message-handlers.ts
  packages/chat-ui/src/hooks/chat-stream/session-loader.ts
  packages/chat-ui/src/hooks/chat-stream/types.ts
  packages/chat-ui/src/lib/model-names.ts
  packages/chat-ui/src/types/chat.ts
Due: mypy

docs(chat-ui): Clarify tool execution in stream params
  packages/chat-ui/src/hooks/chat-stream/send-message.ts
  packages/chat-ui/src/hooks/chat-stream/types.ts
Due: none

fix(chat-ui): handle incomplete stream chunks and final data
  .index.yaml
  packages/chat-ui/src/hooks/chat-stream/stream-processor.ts
Due: none
