Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

feat(memory): Refactor memory episode management and introduce timeline view
  frontend/src/components/memory/EpisodesTimelineView.tsx
  frontend/src/components/memory/tabs/EpisodesTab.tsx
Due: eslint, tsc, prettier

feat(memory): Refactor memory episode management and introduce timeline view
  _memory_system/memory-system-recommendations.md
  _memory_system/memory-system-sota-roadmap.md
  frontend/src/components/memory/EpisodesTimelineView.tsx
  frontend/src/components/memory/tabs/EpisodesTab.tsx
Due: eslint, tsc, prettier

chore: remove docs/ directory
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/.highwatermark
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/.lock
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/39.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/40.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/41.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/42.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/43.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/44.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/45.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/46.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/47.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/48.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/49.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/50.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/51.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/52.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/53.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/54.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/55.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/56.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/57.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/58.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/59.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/60.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/61.json
  cc_native_tasks/JOHNNY_IMPLEMENTATION_CONTEXT.md
  cc_native_tasks/JOHNNY_REVISED_PLAN.md
  cc_native_tasks/MEMORY_SYSTEM_E2E_TEST.md
  frontend/src/components/memory/tabs/EpisodesTab.tsx
Due: eslint, tsc, prettier

chore: remove docs/ directory
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/.highwatermark
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/.lock
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/39.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/40.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/41.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/42.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/43.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/44.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/45.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/46.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/47.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/48.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/49.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/50.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/51.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/52.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/53.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/54.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/55.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/56.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/57.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/58.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/59.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/60.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/61.json
  cc_native_tasks/JOHNNY_IMPLEMENTATION_CONTEXT.md
  cc_native_tasks/JOHNNY_REVISED_PLAN.md
  cc_native_tasks/MEMORY_SYSTEM_E2E_TEST.md
  docs/VOICE_ARCHITECTURE.md
  docs/agentic-workflow-audit-2026-01-30.md
  docs/api-guide.md
  docs/architecture/AGENTS.md
  docs/encryption-key-backup.md
  docs/feature-parity.md
  docs/getting-started.md
  docs/mcp-setup.md
  docs/memory-system-sota-analysis.md
  docs/memory-system-test-plan.md
  docs/test-results-citation-feedback-loop.md
  frontend/src/components/memory/tabs/EpisodesTab.tsx
Due: eslint, tsc, prettier

feat(memory): Add entity browser API and UI
  backend/app/api/memory.py
  backend/app/api/memory_entities.py
  backend/app/services/memory/entity_service.py
  frontend/src/app/memory/page.tsx
  frontend/src/components/memory/MemoryTabs.tsx
  frontend/src/components/memory/tabs/EntitiesTab.tsx
  frontend/src/components/memory/tabs/EpisodesTab.tsx
  frontend/src/components/memory/tabs/TimelineTab.tsx
  frontend/src/lib/memory-api.ts
  frontend/src/lib/memory-types.ts
Due: mypy, eslint, tsc, prettier

feat(memory): Add entity cleanup and consolidation operations
  backend/app/services/memory/cleanup_operations.py
  backend/app/services/memory/usage_tracker.py
  plans/access-control-overhaul.md
  spec/discovery-index.json
  spec/spec.json
  spec/spec.md
  test-results/comprehensive-test-report.json
Due: mypy

feat(memory): Add comprehensive memory graph cleanup task
  backend/app/api/memory_schemas.py
  backend/app/celery_app.py
  backend/app/services/memory/memory_queries.py
  backend/app/services/memory/service_cleanup.py
  backend/app/tasks/memory_cleanup_task.py
  backend/scripts/memory/consolidate_duplicates.py
  frontend/src/components/memory/tabs/EntitiesTab.tsx
  frontend/src/lib/memory-api.ts
Due: mypy, eslint, tsc, prettier

style: auto-format from pre-commit hooks
  .summitflow/context.json
Due: none

feat(frontend): Display cleanup results in HealthBanner
  .summitflow/context.json
  frontend/src/components/memory/tabs/EntitiesTab.tsx
Due: eslint, tsc, prettier

chore: Remove .summitflow/context.json and add to .gitignore
  .gitignore
  .summitflow/context.json
Due: none

refactor(frontend): Extract ExpandedRowContent into focused sub-components
  frontend/src/components/memory/CitationsList.tsx
  frontend/src/components/memory/ExpandedRowContent.tsx
  frontend/src/components/memory/MetadataPane.tsx
  frontend/src/components/memory/SimilarEpisodesList.tsx
  frontend/src/components/memory/TierDropdown.tsx
  frontend/src/components/memory/TriggerTaskTypes.tsx
  frontend/src/components/memory/UsageStatsPane.tsx
Due: eslint, tsc, prettier

refactor(api): Extract analytics logic to service layer
  backend/app/api/analytics.py
  backend/app/services/analytics_service.py
Due: mypy

refactor(frontend): Extract dashboard components and utilities
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/dashboard/KPICard.tsx
  frontend/src/components/dashboard/ProviderStatusCard.tsx
  frontend/src/components/dashboard/Sparkline.tsx
  frontend/src/components/dashboard/TabNavigation.tsx
  frontend/src/components/dashboard/tabs/AnalyticsTabContent.tsx
  frontend/src/components/dashboard/tabs/HealthTabContent.tsx
  frontend/src/components/dashboard/tabs/SessionsTabContent.tsx
  frontend/src/lib/formatters.ts
Due: eslint, tsc, prettier

refactor(api): split memory.py into focused route modules
  backend/app/api/memory.py
  backend/app/api/memory_dashboard.py
  backend/app/api/memory_dependencies.py
  backend/app/api/memory_episodes.py
  backend/app/api/memory_observations.py
  backend/app/api/memory_triggers.py
Due: mypy

refactor(client): extract client.py into focused modules
  packages/agent-hub-client/agent_hub/_base.py
  packages/agent-hub-client/agent_hub/_completion.py
  packages/agent-hub-client/agent_hub/_image.py
  packages/agent-hub-client/agent_hub/_memory.py
  packages/agent-hub-client/agent_hub/_sessions.py
  packages/agent-hub-client/agent_hub/_streaming.py
  packages/agent-hub-client/agent_hub/_utils.py
  packages/agent-hub-client/agent_hub/client.py
Due: none

Fix agent prompts: replace phantom sf-commit with commit.sh + dt instructions
  backend/prompts/coder.md
  backend/prompts/refactor.md
Due: none

chore(index): update .index.yaml with new endpoints and file counts
  .index.yaml
Due: none

chore: remove --cov-fail-under from pytest.ini
  backend/pytest.ini
Due: none

fix: unused variable in test_privacy_filter
  backend/tests/unit/services/memory/test_privacy_filter.py
Due: none

feat(agent-hub): Implement prompt management and memory curation
  cc_native_tasks/PIPELINE_FIX_PLAN.md
Due: none

style: auto-format from pre-commit hooks
  backend/app/api/memory_tags.py
Due: mypy
