Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

feat(catalog): add GPT-5.4 Codex and GPT-5.3 Spark models
  backend/app/constants/catalog.py
  backend/app/constants/catalog_entries.py
  backend/app/constants/models.py
  frontend/src/lib/models.ts
Due: mypy, eslint, tsc, prettier

feat: add verbosity_level and extended thinking support
  .index.yaml
  backend/alembic/versions/6561eb83acff_add_verbosity_level_to_agents.py
  backend/app/adapters/codex_sse.py
  backend/app/adapters/thinking.py
  backend/app/adapters/types.py
  backend/app/api/schemas/agent_schemas.py
  backend/app/models/agent.py
  backend/app/services/agent_crud.py
  backend/app/services/agent_dto.py
  backend/app/services/agent_routing_completion.py
  backend/tests/api/test_agents_api.py
  backend/tests/services/test_agent_routing.py
  backend/tests/services/test_agent_service.py
  frontend/src/app/agents/[slug]/components/ParametersTab.tsx
  frontend/src/app/agents/[slug]/types.ts
  frontend/src/types/agent.ts
Due: mypy, eslint, tsc, prettier

test(analytics): add comprehensive AgentAnalyticsPage tests
  .index.yaml
  frontend/src/__tests__/agent-analytics-page.test.tsx
  frontend/src/app/agents/[slug]/analytics/page.tsx
Due: eslint, tsc, prettier

test(provider-card): add inline confirmation UI for delete and disconnect
  .index.yaml
  frontend/src/__tests__/provider-card.test.tsx
  frontend/src/components/settings/ProviderActionButtons.tsx
  frontend/src/components/settings/ProviderCard.tsx
  frontend/src/components/settings/ProviderCardTypes.ts
  frontend/src/components/settings/ProviderStatusDisplay.tsx
  frontend/src/components/settings/ProvidersTab.tsx
Due: eslint, tsc, prettier

chore(index): stop tracking generated project index
  .index.yaml
Due: none

feat(memory): complete analytics dashboard activity contract
  backend/app/api/memory_dashboard.py
  backend/app/api/memory_lookback.py
  backend/app/api/memory_metrics.py
  backend/app/models/memory.py
  backend/app/services/memory/_analytics_top.py
  backend/app/services/memory/analytics_models.py
  backend/app/services/memory/analytics_service.py
  backend/tests/api/test_memory_dashboard.py
  backend/tests/api/test_memory_lookback.py
  backend/tests/api/test_memory_metrics.py
  backend/tests/services/memory/test_analytics_dashboard.py
  backend/tests/services/memory/test_usage_stats.py
  frontend/src/components/memory/tabs/AnalyticsTab.tsx
  frontend/src/components/memory/tabs/analytics-charts.tsx
  frontend/src/components/memory/tabs/analytics-components.tsx
  frontend/src/components/memory/tabs/analytics-content.tsx
  frontend/src/components/memory/tabs/charts/feedback-loops-health.tsx
  frontend/src/components/memory/tabs/charts/injection-metrics-chart.tsx
  frontend/src/components/memory/tabs/charts/scope-chart.tsx
  frontend/src/components/memory/tabs/charts/tier-chart.tsx
  frontend/src/components/memory/tabs/charts/trend-chart.tsx
  frontend/src/components/memory/tabs/charts/usage-stats.tsx
  frontend/src/lib/memory-api.ts
  frontend/src/lib/memory-types.ts
  frontend/src/lib/memory/search.ts
Due: mypy, eslint, tsc, prettier

fix(memory): persist transcript-aware summary analysis
  backend/app/api/memory_dashboard.py
  backend/app/api/memory_dashboard_helpers.py
  backend/app/services/memory/session_analysis.py
  backend/app/workflows/summary.py
  backend/tests/api/test_memory_dashboard.py
  backend/tests/services/memory/test_session_analysis.py
  backend/tests/workflows/test_summary_workflow.py
  frontend/src/components/memory/tabs/analytics-content.tsx
Due: mypy, eslint, tsc, prettier

fix(memory): make session transcript reanalysis idempotent
  backend/app/services/memory/session_analysis.py
  backend/app/services/memory/session_queries.py
  backend/tests/services/memory/test_session_analysis.py
Due: mypy

docs: add session ingestion convergence plan
  docs/session-ingestion-convergence-plan.md
Due: none

feat(session-ingestion): formalize canonical ingestion contract
  backend/app/api/__init__.py
  backend/app/api/complete/session_manager.py
  backend/app/api/memory_analysis.py
  backend/app/api/session_ingestion.py
  backend/app/api/sessions.py
  backend/app/services/session_ingestion/__init__.py
  backend/app/services/session_ingestion/adapters/base.py
  backend/app/services/session_ingestion/models.py
  backend/app/services/session_ingestion/service.py
  backend/tests/api/test_memory_analysis.py
  backend/tests/api/test_session_ingestion.py
Due: mypy

feat(session-ingestion): add transcript-backed event adapters
  backend/app/api/session_ingestion.py
  backend/app/services/memory/session_analysis.py
  backend/app/services/memory/session_queries.py
  backend/app/services/memory/summary_transcript.py
  backend/app/services/session_ingestion/__init__.py
  backend/app/services/session_ingestion/adapters/claude_code.py
  backend/app/services/session_ingestion/adapters/codex.py
  backend/app/services/session_ingestion/adapters/transcript_parsers.py
  backend/app/services/session_ingestion/models.py
  backend/app/services/session_ingestion/service.py
  backend/tests/api/test_session_ingestion.py
  backend/tests/services/memory/test_session_analysis.py
  backend/tests/services/session_ingestion/test_service.py
  backend/tests/services/session_ingestion/test_transcript_parsers.py
Due: mypy

fix(session-ingestion): flush event ids for append responses
  backend/app/services/session_ingestion/service.py
Due: mypy

fix(complete): persist native cite events and exact model overrides
  backend/app/api/complete/citation_tracker.py
  backend/app/api/complete/handler_helpers.py
  backend/app/api/complete/helpers.py
  backend/tests/api/complete/test_citation_tracker.py
  backend/tests/api/complete/test_handler_helpers.py
  backend/tests/api/complete/test_parse_mention.py
Due: mypy

fix(providers): harden xai/openrouter routing and switch nvidia fallback to kimi
  backend/alembic/versions/f82cc6edc54a_switch_chat_nvidia_fallback_to_kimi.py
  backend/app/adapters/openai_compat.py
  backend/app/adapters/thinking.py
  backend/app/api/complete/helpers.py
  backend/tests/adapters/test_credential_resolution.py
  backend/tests/adapters/test_thinking.py
  backend/tests/api/complete/test_parse_mention.py
Due: mypy

feat(codex): onboard model-aware capabilities and tool support
  backend/alembic/versions/f82cc6edc54a_switch_chat_nvidia_fallback_to_kimi.py
  backend/app/adapters/codex_oauth.py
  backend/app/adapters/codex_sse.py
  backend/app/adapters/registry.py
  backend/app/adapters/thinking.py
  backend/app/api/complete/_core_helpers.py
  backend/app/api/complete/tool_router.py
  backend/app/api/complete/tool_stream_builder.py
  backend/app/api/models.py
  backend/app/api/models_catalog_schemas.py
  backend/app/constants/catalog.py
  backend/app/constants/catalog_entries.py
  backend/app/constants/catalog_types.py
  backend/app/services/agent_routing_completion.py
  backend/tests/adapters/test_codex_oauth.py
  backend/tests/adapters/test_codex_sse.py
  backend/tests/adapters/test_registry.py
  backend/tests/api/test_models_api.py
  frontend/src/__tests__/chat-cancel.test.tsx
  frontend/src/__tests__/dashboard.test.tsx
  frontend/src/__tests__/parameters-tab.test.tsx
  frontend/src/app/agents/[slug]/components/ParametersTab.tsx
  frontend/src/app/agents/[slug]/page.tsx
  frontend/src/app/agents/[slug]/types.ts
  frontend/src/app/persona/settings/page.tsx
  frontend/src/lib/api/agent-detail.ts
  frontend/src/lib/models.ts
Due: mypy, eslint, tsc, prettier

feat(persona): harden Jenny heartbeat runtime validation
  backend/app/api/heartbeat.py
  backend/app/workflows/persona_heartbeat.py
  backend/tests/api/test_heartbeat.py
  backend/tests/workflows/test_persona_heartbeat.py
  frontend/src/__tests__/persona-settings-tabs.test.tsx
  frontend/src/app/persona/settings/components/VoiceHeartbeatTab.tsx
  frontend/src/lib/api/dashboard.ts
Due: mypy, eslint, tsc, prettier

fix(persona): harden codex wake summaries and thinking inheritance
  backend/app/services/tools/_executor_consultation.py
  backend/app/workflows/_heartbeat_postprocess.py
  backend/app/workflows/_heartbeat_templates.py
  backend/app/workflows/_session_postprocess.py
  backend/app/workflows/persona_wake.py
  backend/tests/workflows/test_heartbeat_mcp_recovery.py
  backend/tests/workflows/test_heartbeat_postprocess.py
  backend/tests/workflows/test_heartbeat_prompt.py
  backend/tests/workflows/test_persona_wake.py
Due: mypy

style: auto-format from pre-commit hooks
  backend/tests/workflows/test_persona_wake.py
Due: none

tune(persona): reduce codex wake CLI thrash
  backend/app/workflows/persona_wake.py
  backend/tests/workflows/test_persona_wake.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
