Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

Pin portable Claude adapter sources for CI
  .github/workflows/ci.yml
Due: none

Run required private context integration gate
  .github/workflows/ci.yml
Due: none

Provide test-only import configuration for adapter CI
  .github/workflows/ci.yml
Due: none

fix(memory): retire stale format guidance and preserve API validation coverage
  backend/app/api/memory_agent_tools.py
  backend/tests/api/test_memory.py
Due: mypy

fix(context): honor external capabilities and report delivery evidence
  backend/app/cli/runtime_context.py
  backend/app/services/memory/tool_capability_context.py
  backend/app/services/runtime_context.py
  backend/tests/api/test_runtime_context.py
  backend/tests/cli/test_runtime_context_cli.py
  backend/tests/integrations/test_context_delivery_adapters.py
  backend/tests/services/memory/test_tool_capability_context.py
  backend/tests/services/test_context_capabilities.py
  integrations/context-delivery/README.md
  integrations/context-delivery/antigravity/plugin.json
  integrations/context-delivery/antigravity/rules/canonical-context.md
  integrations/context-delivery/bin/agent-hub-context-client
  integrations/context-delivery/claude/launcher
  integrations/context-delivery/install.py
  integrations/context-delivery/manifest.json
  integrations/context-delivery/pi/agent-hub.ts
Due: mypy

fix: retire Gemini CLI adapters and preserve native client context
  .github/workflows/ci.yml
  backend/tests/integrations/test_context_delivery_adapters.py
  integrations/context-delivery/README.md
  integrations/context-delivery/bin/agent-hub-context-client
  integrations/context-delivery/install.py
  integrations/context-delivery/manifest.json
  integrations/context-delivery/pi/agent-hub.ts
Due: none

Keep specialized task routing in canonical tool registry
  backend/app/services/memory/tool_capability_context.py
  backend/tests/services/memory/test_tool_capability_context.py
Due: mypy

Make package builds reproducible and preserve native context CI
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  backend/app/llm/headroom_compress.py
  backend/pyproject.toml
  backend/pytest.ini
  backend/tests/integrations/test_context_delivery_adapters.py
  backend/uv.lock
  docker/frontend.Dockerfile
  packages/agent-hub-client/pyproject.toml
  packages/chat-ui/package.json
  packages/pack-smoke.mjs
  packages/passport-client/package.json
Due: mypy

Pin verified CI actions to immutable commits
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
Due: none

Patch web runtime dependencies and preserve optional engine installs
  backend/pyproject.toml
  backend/uv.lock
  frontend/package.json
  pnpm-lock.yaml
  project.identity.json
Due: prettier

Published shared SDK and completion fixes; full local quality gates and live synthetic model checks passed. Await/check exact-head remote verification.
  backend/scripts/seed_agents_data/seed_data.json
Due: none

Preserve bounded pools and capable Gemini fallback routes for Portfolio AI
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/complete/test_complete_execution.py
  backend/tests/scripts/test_seed_agent_model_policy.py
Due: none

Record cancelled native turns before releasing continuation ownership
  backend/app/api/complete/native_continuation.py
Due: mypy

Added verified application-scoped push with isolated legacy compatibility and lookup-only native receipt recovery; managed checks, rebuild and safe runtime contracts passed.
  backend/alembic/versions/2b3c4d5e6f70_scope_push_subscriptions.py
  backend/app/api/complete/endpoints.py
  backend/app/api/complete/native_continuation.py
  backend/app/api/complete/response_schemas.py
  backend/app/api/complete/schemas.py
  backend/app/api/push.py
  backend/app/middleware/access_control_auth.py
  backend/app/models/push_subscription.py
  backend/app/services/push_scope.py
  backend/app/services/push_service.py
  backend/app/services/tools/_executor_io.py
  backend/tests/api/complete/test_native_receipt_lookup.py
  backend/tests/api/test_push.py
  backend/tests/services/test_push_scope.py
  backend/tests/services/test_push_service.py
  docs/scoped-push-native-receipts.md
Due: mypy

Scope push by verified application service identity and expose lookup-only native receipts; prevent scoped-auth downgrade to legacy, with 3264 tests and managed runtime verification passed.
  backend/app/services/push_scope.py
  backend/tests/services/test_push_scope.py
  docs/scoped-push-native-receipts.md
Due: mypy

Implement and verify bounded Neri local Qwen worker, evaluation harness, provenance, and runtime safeguards
  backend/alembic/versions/3c4d5e6f7081_add_rich_agent_benchmark_attempt_evidence.py
  backend/alembic/versions/4d5e6f708192_seed_neri_local_candidate_agent.py
  backend/alembic/versions/5e6f708192a3_add_neri_local_worker_routing_prompt.py
  backend/alembic/versions/6f708192a3b4_add_benchmark_input_prompt_provenance.py
  backend/app/api/__init__.py
  backend/app/api/complete/endpoints.py
  backend/app/api/neri_local_worker.py
  backend/app/api/neri_local_worker_schemas.py
  backend/app/api/schemas/agent_schemas.py
  backend/app/config.py
  backend/app/constants/catalog_entries.py
  backend/app/constants/models.py
  backend/app/llm/model_resolver.py
  backend/app/llm/providers/openai_completions.py
  backend/app/llm/runtime_profiles.py
  backend/app/llm/types.py
  backend/app/models/agent_benchmark.py
  backend/app/services/_benchmark_dashboard.py
  backend/app/services/_benchmark_persistence.py
  backend/app/services/neri_local_worker.py
  backend/app/services/neri_local_worker_benchmark.py
  backend/scripts/export_seeds.py
  backend/scripts/run_neri_local_qwen.py
  backend/scripts/seed_agents.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/complete/test_neri_local_worker_guard.py
  backend/tests/api/test_neri_local_worker_api.py
  backend/tests/scripts/test_export_seeds.py
  backend/tests/scripts/test_run_neri_local_qwen.py
  backend/tests/scripts/test_seed_agent_model_policy.py
  backend/tests/services/test_neri_local_worker.py
  backend/tests/services/test_neri_local_worker_benchmark.py
  frontend/src/app/agents/lib/types.ts
  project.identity.json
  scripts/systemd/agent-hub-neri-local-qwen.service
Due: mypy, eslint, tsc, prettier

Deploy experimentally qualified Neri local Qwen runtime controls and evidence
  backend/app/api/neri_local_worker_schemas.py
  backend/app/services/first_party_client_service.py
  backend/app/services/neri_local_worker.py
  backend/app/services/neri_local_worker_benchmark.py
  backend/scripts/run_neri_local_qwen.py
  backend/tests/scripts/test_run_neri_local_qwen.py
  backend/tests/services/test_first_party_client_service.py
  backend/tests/services/test_neri_local_worker.py
  backend/tests/services/test_neri_local_worker_benchmark.py
  scripts/systemd/agent-hub-neri-local-qwen.service
Due: mypy

Freeze Neri Qwen comparative study and durable evidence contract
  backend/app/api/neri_local_worker.py
  backend/app/api/neri_local_worker_schemas.py
  backend/app/services/neri_local_worker.py
  backend/app/services/neri_local_worker_benchmark.py
  backend/app/services/neri_local_worker_study.py
  backend/tests/services/test_neri_local_worker.py
  backend/tests/services/test_neri_local_worker_benchmark.py
Due: mypy

Preserve structured Neri local-worker failures
  backend/app/api/neri_local_worker.py
  backend/app/api/neri_local_worker_schemas.py
  backend/app/services/neri_local_worker.py
  backend/tests/api/test_neri_local_worker_api.py
Due: mypy

Fix structured Neri tool-policy failures
  backend/app/api/neri_local_worker_schemas.py
  backend/tests/api/test_neri_local_worker_api.py
Due: mypy

fix(local-worker): release idle Qwen VRAM
  backend/app/services/neri_local_worker.py
  backend/scripts/run_neri_local_qwen.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/scripts/test_run_neri_local_qwen.py
  backend/tests/services/test_neri_local_worker.py
  scripts/systemd/agent-hub-neri-local-qwen.service
Due: mypy

Add bounded TypeSafe Jev evaluation client
  backend/alembic/versions/be3b1a9a2e21_add_typesafe_jev_pilot_ledger.py
  backend/app/api/__init__.py
  backend/app/api/credentials.py
  backend/app/api/typesafe_jev.py
  backend/app/api/typesafe_jev_schemas.py
  backend/app/models/__init__.py
  backend/app/models/typesafe_jev.py
  backend/app/routing/registry.py
  backend/app/services/typesafe_jev.py
  backend/tests/services/test_typesafe_jev.py
Due: mypy

Prevent stale concurrent Jev budget updates
  backend/app/services/typesafe_jev.py
  backend/tests/services/test_typesafe_jev.py
Due: mypy

Added and verified the typed TypeSafe Jev client, project-scoped route, credential registration, and concurrency-safe accounting ledger; dry-run and independent stale-session audit passed.
  backend/scripts/seed_agents_data/seed_data.json
Due: none

Complete canonical context management and verified curator evidence handling
  backend/app/services/context_review.py
  backend/tests/services/test_context_governance.py
  docs/evaluations/context-review/README.md
Due: mypy

autocode(task-57c597a2f142405d): complete subtask task
  backend/app/services/context_maintenance_recovery.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/integration/test_context_management_transactions.py
Due: mypy

fix context maintenance task receipts
  backend/app/services/context_maintenance_tasks.py
  backend/tests/services/test_context_maintenance_tasks.py
Due: mypy

Fix context maintenance external receipt verification
  backend/app/services/context_maintenance_actions.py
  backend/app/services/context_maintenance_tasks.py
  backend/app/services/context_maintenance_work_product.py
Due: mypy

Resolve context maintenance env secret item
  backend/app/services/context_maintenance_tasks.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/services/test_context_maintenance_tasks.py
Due: mypy

Make owner CLI capture tests color-deterministic
  backend/tests/st_cli/conftest.py
Due: none

Fix cross-process Codex OAuth recovery
  backend/app/adapters/codex_auth.py
  backend/app/api/oauth.py
  backend/app/api/oauth_exchange.py
  backend/app/api/oauth_flows.py
  backend/app/api/oauth_status.py
  backend/app/config.py
  backend/app/llm/providers/openai_codex_responses.py
  backend/app/services/codex_credentials.py
  backend/app/services/native_continuation_runtime.py
  backend/scripts/reseed_codex_credentials.py
  backend/tests/adapters/test_codex_auth.py
  backend/tests/api/test_oauth_token_status.py
  backend/tests/llm/test_openai_codex_responses.py
  backend/tests/services/test_codex_credentials.py
  backend/tests/services/test_native_continuation_runtime.py
Due: mypy

Move Codex OAuth authority fully into Agent Hub
  backend/app/adapters/codex_auth.py
  backend/app/api/oauth.py
  backend/app/api/oauth_status.py
  backend/app/config.py
  backend/app/main.py
  backend/app/services/codex_credentials.py
  backend/app/services/native_continuation_runtime.py
  backend/tests/adapters/test_codex_auth.py
  backend/tests/api/test_oauth_token_status.py
  backend/tests/services/test_codex_credentials.py
  backend/tests/services/test_native_continuation_runtime.py
Due: mypy
