Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

refactor(backend): Clean up unused imports in sessions.py
  backend/app/api/sessions.py
Due: mypy

refactor(backend): Fix type annotations in session_helpers.py
  backend/app/services/session_helpers.py
Due: mypy

refactor(api): Use build_session_response helper in sessions.py
  backend/app/api/sessions.py
Due: mypy

refactor(sessions): Extract prepare_fork_data helper
  backend/app/api/sessions.py
  backend/app/services/session_helpers.py
Due: mypy

refactor(backend): Reduce sessions.py from 629 to 298 lines
  .index.yaml
  backend/app/api/sessions.py
  backend/app/services/session_helpers.py
Due: mypy

fix(backend): Fix type annotations in access_control_handlers.py
  backend/app/middleware/access_control_handlers.py
Due: mypy

chore(backend): 10 files changed, 5 insertions(+), 701 deletions(-)
  backend/app/api/preferences.py
  backend/app/models.py
  backend/app/models/__init__.py
  backend/app/models/config.py
  backend/app/models/roundtable.py
  backend/app/services/memory_webhook_handler.py
  backend/app/services/session_cleanup.py
  backend/app/storage/preferences.py
  backend/pyproject.toml
  backend/tests/api/test_preferences.py
Due: mypy

refactor: cleanup batch - 9 items removed
  backend/app/api/__init__.py
  backend/app/models/config.py
  backend/app/models/memory.py
  backend/app/models/session.py
  backend/app/services/completion.py
  backend/migrations/versions/cb33d77516d8_drop_unused_columns.py
  backend/pyproject.toml
  frontend/package.json
  frontend/src/app/globals.css
Due: mypy, prettier

refactor: cleanup batch - 19 items removed
  backend/app/api/health.py
  backend/app/core/debug.py
  backend/app/services/api_key_auth.py
  backend/app/services/explorer/__init__.py
  backend/app/services/explorer/analyzers/__init__.py
  backend/app/services/explorer/analyzers/code_hygiene.py
  backend/app/services/memory/budget.py
  backend/app/services/rate_limiter.py
  backend/app/services/telemetry.py
  backend/app/services/webhooks.py
  backend/app/storage/credentials.py
  examples/orchestration_example.py
  examples/session_management.py
  examples/streaming_example.py
  frontend/package.json
  hello.py
  packages/agent-hub-client/agent_hub/client.py
  packages/agent-hub-client/agent_hub/exceptions.py
  packages/agent-hub-client/agent_hub/models.py
  packages/agent-hub-client/tests/test_client.py
  packages/agent-hub-client/tests/test_sessions.py
  packages/agent-hub-client/tests/test_streaming.py
  tasks/adapter-timeout-retry/profile_adapters.py
  tasks/adapter-timeout-retry/profile_extended_thinking.py
  tasks/adapter-timeout-retry/test_timeout_patterns.py
  tasks/adapter-timeout-retry/test_true_idle.py
Due: mypy, prettier

chore: update project index
  .index.yaml
Due: none

refactor: cleanup batch - 4 items removed
  backend/app/models/session.py
  backend/app/services/explorer/__init__.py
  backend/app/services/explorer/analyzers/__init__.py
  backend/app/services/session_helpers.py
  backend/migrations/versions/1d642bcb1f01_drop_unused_session_columns.py
  backend/tests/api/test_session_branching.py
Due: mypy

feat(scripts): add alembic migration commands to db CLI
  scripts/db.sh
Due: none

refactor: cleanup batch - 6 items removed
  backend/=1.25.0
  backend/agent_hub.db
  backend/hello.py
  backend/package.json
  backend/pyproject.toml
Due: none

chore: 1 file changed, 3 insertions(+), 2 deletions(-)
  scripts/db.sh
Due: none

refactor: cleanup batch - 5 items removed (69 lines)
  backend/app/monkey_fight.py
  backend/app/services/memory/adaptive_index.py
  backend/tests/test_monkey_fight.py
  packages/passport-client/package.json
Due: mypy

refactor: cleanup batch - 6 items removed (1620 lines)
  backend/app/services/context_manager.py
  backend/app/services/cost_tracker.py
  backend/app/services/rate_limiter.py
  backend/tests/analytics/test_cost.py
  backend/tests/core/test_rate_limiter.py
  backend/tests/services/test_context_manager.py
Due: mypy

fix(frontend): add missing @types/prismjs for code-block.tsx
  frontend/package.json
Due: prettier

test: verify worktree workflow fix
  README.md
Due: none

fix(db): restore global_instructions and tier_change_log tables
  backend/alembic/versions/73c82f4ebcc5_restore_global_instructions_and_tier_.py
Due: none
