Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

tune(persona): keep codex wake agents inside valid ST context
  backend/app/workflows/persona_wake.py
  backend/tests/workflows/test_persona_wake.py
Due: mypy

tune(persona): avoid repeating stale-state investigations
  backend/app/workflows/_heartbeat_templates.py
  backend/app/workflows/persona_wake.py
  backend/tests/workflows/test_heartbeat_prompt.py
  backend/tests/workflows/test_persona_wake.py
Due: mypy

fix(persona): link dispatched sessions into heartbeat monitoring
  backend/app/api/complete/core.py
  backend/app/api/complete/openai_event_adapter.py
  backend/app/api/complete/session_manager.py
  backend/app/api/complete/session_setup.py
  backend/app/api/complete/streaming_tool_loop.py
  backend/app/api/complete/tool_handler_utils.py
  backend/app/api/complete/tool_stream_builder.py
  backend/app/api/schemas/sessions.py
  backend/app/api/sessions.py
  backend/app/services/session_ingestion/models.py
  backend/app/services/session_ingestion/service.py
  backend/app/services/session_operations.py
  backend/app/services/session_queries.py
  backend/app/services/session_transforms.py
  backend/app/services/tools/_executor_consultation.py
  backend/app/services/tools/_persona_ops_tools.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/services/tools/tool_handler.py
  backend/app/workflows/_heartbeat_templates.py
  backend/app/workflows/persona_wake.py
  backend/tests/api/test_sessions.py
  backend/tests/tools/test_direct_executor.py
  backend/tests/workflows/test_heartbeat_mcp_recovery.py
  backend/tests/workflows/test_heartbeat_prompt.py
  backend/tests/workflows/test_persona_wake.py
Due: mypy

tune(persona): tighten codex wake command guidance
  backend/app/workflows/persona_wake.py
  backend/tests/workflows/test_persona_wake.py
Due: mypy

tune(persona): prefer codex follow-through over repeat review loops
  backend/app/workflows/_heartbeat_templates.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

feat(db): add plain output mode for query
  scripts/db.sh
Due: none

feat(cli): tighten task context TOON output
  backend/app/workflows/_heartbeat_templates.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

fix(memory): ignore slugless imported sessions in continuity and consultation queries
  backend/app/services/memory/continuity_query.py
  backend/app/services/tools/_executor_consultation.py
  backend/tests/services/memory/test_continuity_query.py
  backend/tests/tools/test_executor_consultation.py
Due: mypy

Add persona heartbeat provider regression tests
  backend/tests/workflows/test_persona_heartbeat.py
Due: none

style: auto-format from pre-commit hooks
  backend/app/services/session_activity.py
  backend/app/tasks/session_cleanup.py
  backend/app/workflows/session_reaper.py
  backend/tests/tasks/test_session_cleanup.py
  backend/tests/workflows/test_session_reaper.py
Due: mypy

fix(observability): reap sessions by event activity
  backend/app/workflows/session_reaper.py
  backend/tests/workflows/test_session_reaper.py
Due: mypy

feat(observability): include task ids in session queries
  backend/app/services/tools/_executor_consultation.py
  backend/tests/tools/test_executor_consultation.py
Due: mypy

tune(persona): avoid duplicate specialist redispatch
  backend/app/workflows/_heartbeat_templates.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

tune(persona): enforce single-workstream branch reuse
  backend/app/workflows/_heartbeat_templates.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

feat(persona): surface workstream cleanup inventory
  backend/app/services/tools/_executor_io.py
  backend/app/services/tools/_persona_ops_tools.py
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/app/workflows/_heartbeat_templates.py
  backend/tests/tools/test_persona_tools.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

``` test: add assertions with descriptive error messages ```
  backend/tests/services/memory/test_continuity_query.py
  backend/tests/workflows/test_session_reaper.py
Due: none

style: auto-format from pre-commit hooks
  backend/app/services/session_activity.py
Due: mypy

``` refactor(_heartbeat_data): extract workstream lane formatting logic ```
  backend/app/workflows/_heartbeat_data.py
Due: mypy

fix(cr): address CodeRabbit findings — type safety, edge cases, error handling
  backend/app/adapters/codex_oauth.py
  backend/app/adapters/codex_sse.py
  backend/app/api/complete/tool_router.py
  backend/app/services/memory/summary_generator.py
  backend/app/services/session_ingestion/service.py
  backend/app/workflows/_session_postprocess.py
  backend/tests/adapters/test_codex_oauth.py
  backend/tests/api/test_models_api.py
  backend/tests/api/test_sessions.py
  backend/tests/workflows/test_persona_wake.py
  frontend/src/app/agents/[slug]/components/ParametersTab.tsx
  frontend/src/app/persona/settings/components/VoiceHeartbeatTab.tsx
  frontend/src/lib/models.ts
Due: mypy, eslint, tsc, prettier

feat(persona): add task lane reconciliation
  backend/app/services/tools/_executor_io.py
  backend/app/services/tools/_persona_ops_tools.py
  backend/tests/tools/test_persona_tools.py
Due: mypy
