Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

feat(completion): add timeout_seconds to completion context and models
  backend/app/api/complete/core.py
  backend/app/api/complete/memory_handler.py
  backend/app/api/models.py
  backend/app/constants/catalog.py
  backend/app/services/memory/context_injector.py
  backend/app/workflows/_heartbeat_prompt.py
Due: mypy

style: auto-format from pre-commit hooks
  backend/app/api/complete/_core_helpers.py
  backend/app/api/complete/complete_execution.py
Due: mypy

feat(completion): add timeout and fallback tracking to request_logs
  backend/alembic/versions/4df8bb79ca83_add_timeout_and_fallback_tracking_to_.py
  backend/app/adapters/_openai_compat_helpers.py
  backend/app/adapters/empty_stream_guard.py
  backend/app/api/complete/_core_helpers.py
  backend/app/api/complete/complete_execution.py
  backend/app/api/complete/core.py
  backend/app/api/complete/multi_turn_executor.py
  backend/app/api/complete/streaming_tool_loop.py
  backend/app/api/dashboard_stats.py
  backend/app/api/models.py
  backend/app/models/agent.py
  backend/app/models/telemetry.py
  backend/app/services/adaptive_timeout.py
  backend/app/services/agent_dto.py
  backend/app/services/agent_routing_completion.py
  backend/app/services/latency_stats.py
  backend/app/workflows/completion.py
  frontend/src/app/agents/[slug]/components/ModelsTab.tsx
  frontend/src/app/agents/[slug]/components/ParametersTab.tsx
  frontend/src/app/agents/[slug]/types.ts
  frontend/src/app/dashboard/components/KPISection.tsx
  frontend/src/components/chat/use-models.ts
  frontend/src/components/dashboard/tabs/AnalyticsTabContent.tsx
  frontend/src/components/dashboard/tabs/HealthTabContent.tsx
  frontend/src/components/dashboard/tabs/LatencyDistributionChart.tsx
  frontend/src/components/models/model-card.tsx
  frontend/src/lib/api/dashboard.ts
  frontend/src/lib/models.ts
  packages/chat-ui/src/components/use-models.ts
Due: mypy, eslint, tsc, prettier

chore(backend): 8 files changed, 42 insertions(+), 3 deletions(-)
  .index.yaml
  backend/app/api/complete/complete_execution.py
  backend/app/api/complete/complete_orchestrator.py
  backend/app/api/complete/error_handlers.py
  backend/app/api/complete/orchestration_helpers.py
  backend/app/api/complete/types.py
  backend/app/middleware/access_control_handlers.py
  backend/app/middleware/access_control_logging.py
Due: mypy

fix(complete): Add resolved_model to access control handler state
  backend/app/api/complete/complete_orchestrator.py
  backend/app/middleware/access_control_handlers.py
Due: mypy

refactor(dashboard): shorten KPI labels and adjust card styling
  .index.yaml
  frontend/src/app/dashboard/components/KPISection.tsx
  frontend/src/components/dashboard/KPICard.tsx
Due: eslint, tsc, prettier

feat(workflows): add CodeRabbit daily review Hatchet cron workflow
  backend/app/worker.py
  backend/app/workflows/coderabbit_review.py
Due: mypy

refactor(health): Improve provider health check logic
  .index.yaml
  backend/app/api/health_logic.py
  backend/app/api/schemas/agent_schemas.py
  backend/app/main.py
  backend/app/services/health_prober.py
  frontend/src/app/agents/components/AgentRow.tsx
  frontend/src/app/agents/components/AgentsTable.tsx
  frontend/src/app/agents/components/AgentsTableHeader.tsx
  frontend/src/app/agents/lib/types.ts
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/dashboard/tabs/AnalyticsTabContent.tsx
  frontend/src/components/dashboard/tabs/HealthTabContent.tsx
Due: mypy, eslint, tsc, prettier

refactor(adapters): Use ValidProvider for dynamic provider validation
  backend/agents/base.py
  backend/app/adapters/registry.py
  backend/app/api/orchestration_models.py
  backend/app/services/orchestration/code_review.py
  backend/app/services/orchestration/subagent_models.py
Due: mypy

feat(health): add health check for MiniMax and update provider status logic
  backend/app/adapters/minimax.py
  backend/app/api/health_logic.py
Due: mypy

chore(.index.yaml): update generated_at timestamp
  .index.yaml
Due: none

fix(codex_oauth): Eagerly verify credentials on init
  backend/app/adapters/codex_oauth.py
  backend/app/api/health_logic.py
Due: mypy

refactor(st_cli): Improve _st_cmd to handle project flag correctly
  backend/app/services/tools/_executor_io.py
Due: mypy

refactor(projects): Dynamically load project IDs and roots
  backend/app/api/complete/session_manager.py
  backend/app/api/persona/activity.py
  backend/app/api/persona/constants.py
  backend/app/constants/projects.py
  backend/app/main.py
  backend/app/services/session_operations.py
  backend/app/services/tools/direct_executor_core.py
  frontend/src/app/chat/hooks/useProjectContext.ts
Due: mypy, eslint, tsc, prettier

refactor(error_handlers): split handle_completion_error into focused sub-functions ≤50 lines
  backend/alembic/versions/4df8bb79ca83_add_timeout_and_fallback_tracking_to_.py
  backend/app/api/complete/error_handlers.py
Due: mypy

refactor(frontend): Extract analytics components into separate files
  backend/alembic/versions/4df8bb79ca83_add_timeout_and_fallback_tracking_to_.py
  frontend/src/components/memory/tabs/AnalyticsTab.tsx
  frontend/src/components/memory/tabs/analytics-content.tsx
  frontend/src/components/memory/tabs/analytics-states.tsx
  frontend/src/components/memory/tabs/tier-changes-section.tsx
Due: eslint, tsc, prettier

refactor(_executor_io): split manage_tasks into focused helpers ≤50 lines
  backend/alembic/versions/4df8bb79ca83_add_timeout_and_fallback_tracking_to_.py
  backend/app/services/tools/_executor_io.py
Due: mypy

refactor(claude_oauth): reduce nesting to ≤3 levels via guard clause helper
  backend/alembic/versions/4df8bb79ca83_add_timeout_and_fallback_tracking_to_.py
  backend/app/adapters/claude_oauth.py
Due: mypy

fix(gemini): bypass CloudCode for image models
  backend/app/adapters/gemini.py
Due: mypy

refactor(memory): restructure analytics queries into submodules
  backend/alembic/versions/4df8bb79ca83_add_timeout_and_fallback_tracking_to_.py
  backend/app/services/memory/_analytics_distributions.py
  backend/app/services/memory/_analytics_scores.py
  backend/app/services/memory/_analytics_top.py
  backend/app/services/memory/analytics_queries.py
Due: mypy
