Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

chore(backend): 3 files changed, 7 insertions(+), 5 deletions(-)
  backend/app/adapters/gemini.py
  backend/tests/adapters/test_gemini.py
  tasks/adapter-timeout-retry/architecture-decision.md
Due: mypy

chore(backend): 1 file changed, 19 insertions(+), 2 deletions(-)
  backend/app/adapters/gemini.py
Due: mypy

chore(backend): 9 files changed, 41 insertions(+), 35 deletions(-)
  backend/app/adapters/claude.py
  backend/app/adapters/gemini.py
  backend/app/services/session_cleanup.py
  backend/migrations/versions/78ebdaac1078_mark_legacy_sessions.py
  backend/scripts/memory/cleanup_legacy.py
  backend/tests/adapters/test_claude.py
  backend/tests/adapters/test_gemini.py
  backend/tests/adapters/test_interface.py
  backend/tests/api/test_access_control.py
Due: mypy

chore: 2 files changed, 36 insertions(+), 2 deletions(-)
  .summitflow/context.json
  packages/agent-hub-client/agent_hub/client.py
Due: none

chore: 1 file changed, 118 insertions(+)
  packages/agent-hub-client/tests/test_credentials.py
Due: none

chore(backend): 3 files changed, 124 insertions(+), 34 deletions(-)
  .summitflow/context.json
  backend/app/services/memory/golden_standards.py
  backend/app/services/memory/service.py
Due: mypy

chore(backend): 3 files changed, 363 insertions(+)
  backend/app/services/memory/episode_creator.py
  backend/app/services/memory/ingestion_config.py
  backend/app/services/memory/types.py
Due: mypy

chore(backend): 9 files changed, 222 insertions(+), 154 deletions(-)
  backend/app/api/memory.py
  backend/app/api/stream.py
  backend/app/services/completion.py
  backend/app/services/memory/consolidation.py
  backend/app/services/memory/golden_standards.py
  backend/app/services/memory/learning_extractor.py
  backend/app/services/memory/service.py
  backend/app/services/memory/tools.py
  backend/app/services/orchestration/roundtable.py
Due: mypy

refactor(memory): Remove mandate_tags, switch to semantic search
  backend/app/adapters/claude.py
  backend/app/api/agents.py
  backend/app/models.py
  backend/app/services/agent_routing.py
  backend/app/services/agent_service.py
  backend/app/services/memory/__init__.py
  backend/app/services/memory/context_injector.py
  backend/migrations/versions/h7i8j9k0l1m2_drop_mandate_tags_column.py
Due: mypy

feat(memory): Add MemorySettings model, budget tracking, and settings API
  backend/app/api/memory.py
  backend/app/models.py
  backend/app/services/memory/budget.py
  backend/app/services/memory/settings.py
  backend/migrations/versions/i8j9k0l1m2n3_add_memory_settings_table.py
Due: mypy

feat(memory): Add budget enforcement to context injection
  backend/app/services/memory/context_injector.py
Due: mypy

feat(frontend): Add MemorySettingsModal for memory configuration
  frontend/src/app/memory/page.tsx
  frontend/src/components/memory/MemorySettingsModal.tsx
  frontend/src/lib/api/memory-settings.ts
Due: eslint, tsc, prettier

feat(memory): Add hash-based deduplication (Phase 3)
  backend/app/services/memory/dedup.py
  backend/app/services/memory/episode_creator.py
  backend/scripts/memory/add_content_hashes.py
Due: mypy

test(backend): 6 files changed, 678 insertions(+), 71 deletions(-)
  CLAUDE.md
  backend/app/api/memory.py
  backend/app/services/memory/dedup.py
  backend/tests/services/memory/test_dedup.py
  backend/tests/services/memory/test_episode_creator.py
  backend/tests/services/memory/test_settings.py
Due: mypy

feat(memory): Add budget_usage field to progressive-context endpoint response
  backend/app/api/memory.py
Due: mypy

chore: 2 files changed, 106 insertions(+), 20 deletions(-)
  .index.yaml
  CLAUDE.md
Due: none

revert: Undo CLAUDE.md expansion (handled in global config)
  CLAUDE.md
Due: none

chore(backend): 11 files changed, 1164 insertions(+), 115 deletions(-)
  .summitflow/context.json
  backend/app/adapters/base.py
  backend/app/adapters/gemini.py
  backend/app/api/complete.py
  backend/app/api/stream.py
  backend/app/constants.py
  backend/app/services/response_cache.py
  backend/app/services/token_counter.py
  backend/tests/api/test_complete.py
  tasks/agent-hub-comprehensive-plan/PLAN.md
  tasks/agent-hub-comprehensive-plan/plan.json
Due: mypy

chore(backend): 5 files changed, 1423 deletions(-)
  backend/app/api/__init__.py
  backend/app/api/sessions.py
  backend/app/api/stream.py
  backend/app/services/stream_registry.py
  backend/tests/api/test_stream.py
Due: mypy

chore(backend): 3 files changed, 23 insertions(+), 2 deletions(-)
  backend/app/api/image.py
  backend/app/api/orchestration.py
  backend/app/api/sessions.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
