Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

add reviewer-surface coverage to jenny honing loop
  backend/scripts/jenny_honing/_clusters.py
  backend/scripts/jenny_honing/_experiment.py
  backend/scripts/jenny_honing/_models.py
  backend/scripts/jenny_honing/_prompt.py
  backend/scripts/jenny_honing/_state.py
  backend/scripts/run_jenny_honing_loop.py
  backend/tests/scripts/test_jenny_honing_loop.py
Due: none

Add reusable Arena operator prompt
  docs/arena-operator-prompt.md
Due: none

feat(arena): expand benchmark analytics and remove local wrappers
  backend/app/api/agents.py
  backend/app/api/helpers/agent_benchmarks.py
  backend/app/api/schemas/agent_schemas.py
  backend/app/services/_benchmark_dashboard.py
  backend/scripts/persona_benchmark_cases.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/test_agents_api.py
  backend/tests/scripts/test_persona_model_benchmark.py
  frontend/src/__tests__/agent-arena-page.test.tsx
  frontend/src/__tests__/persona-arena-page.test.tsx
  frontend/src/app/agents/[slug]/analytics/components/ArenaPreviewCard.tsx
  frontend/src/app/agents/[slug]/analytics/types.ts
  frontend/src/app/agents/[slug]/arena/components/AgentArenaDashboard.tsx
  frontend/src/app/agents/[slug]/arena/page.tsx
  frontend/src/app/agents/[slug]/components/AgentEditorHeader.tsx
  frontend/src/app/arena/[slug]/page.tsx
  frontend/src/app/arena/components/ArenaAgentCard.tsx
  frontend/src/app/arena/components/ArenaCommandCenter.tsx
  frontend/src/app/arena/page.tsx
  frontend/src/app/arena/utils.ts
  frontend/src/app/persona/arena/page.tsx
  frontend/src/app/persona/page.tsx
  frontend/src/components/layout/sidebar-nav.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/api/agents.ts
  scripts/backup.sh
  scripts/commit.sh
  scripts/dev-tools.sh
  scripts/lib/dev-standards-config.sh
  scripts/lib/rebuild-utils.sh
  scripts/rebuild.sh
  scripts/restart.sh
  scripts/restore.sh
  scripts/status.sh
Due: mypy, eslint, tsc, prettier

refactor(runtime): template service units and stabilize seed export
  backend/scripts/export_seeds.py
  backend/tests/scripts/test_export_seeds.py
  scripts/systemd/agent-hub-backend.service
  scripts/systemd/agent-hub-frontend.service
  scripts/systemd/agent-hub-hatchet-worker.service
Due: none

fix(db): resolve alembic roots from project registry
  scripts/db.sh
Due: none

refactor(paths): resolve shared tooling from canonical roots
  backend/app/core/project_roots.py
  backend/app/services/tools/_executor_precision_code_search.py
  backend/app/services/tools/_sensitive_content.py
  backend/app/services/tools/registry.py
  backend/app/workflows/coderabbit_review.py
  backend/tests/core/test_project_roots.py
  backend/tests/services/tools/test_sensitive_content.py
  backend/tests/tools/test_tool_registry.py
  scripts/db.sh
Due: mypy

chore(scripts): remove stale project root in oauth probe
  backend/scripts/test_oauth_isolation.py
Due: none

feat(backend): add memory variant override and persona benchmark test cases
  backend/scripts/persona_benchmark_cases.py
  backend/tests/api/complete/test_request_setup.py
  backend/tests/api/test_progressive_context_metrics.py
  backend/tests/scripts/test_persona_model_benchmark.py
  backend/tests/services/memory/test_context_injector.py
  backend/tests/services/memory/test_reference_injection.py
  backend/tests/services/memory/test_variants.py
  backend/tests/services/test_agent_benchmark_service.py
  backend/tests/test_sdk_completion_payload.py
  frontend/src/app/agents/[slug]/analytics/components/ArenaPreviewCard.tsx
  frontend/src/app/agents/[slug]/arena/components/AgentArenaDashboard.tsx
  frontend/src/app/agents/[slug]/arena/components/ArenaHeader.tsx
  frontend/src/app/arena/components/ArenaAgentCard.tsx
  frontend/src/app/arena/components/ArenaCommandCenter.tsx
  frontend/src/app/arena/utils.ts
  scratch/color_diff_probe.ts
Due: eslint, tsc, prettier

docs(arena): add git hygiene steps and concrete tool references to operator loop
  docs/arena-operator-prompt.md
Due: none

feat(arena): add regression category breakdown and resolve 15 infra-noise clusters
  backend/app/api/schemas/arena_schemas.py
  backend/app/services/arena_overview.py
  backend/tests/api/test_arena_api.py
  frontend/src/__tests__/arena-command-center.test.tsx
  frontend/src/app/arena/components/ArenaCommandCenter.tsx
  frontend/src/app/arena/types.ts
Due: mypy, eslint, tsc, prettier

fix(benchmark): redesign ambiguous-conflict case with genuine three-way signal conflict and clarify heartbeat contradiction rules
  backend/scripts/completion_review_benchmark_cases.py
Due: none

fix(memory): add explicit reference citation instruction to improve 0% reference citation rate
  backend/app/services/memory/context_injector_formatter.py
Due: mypy

fix(arena): show open experiments first and fix score_delta key (mean → mean_delta)
  backend/app/services/improvement_signals.py
  backend/tests/services/test_improvement_signals.py
Due: mypy

refactor(benchmark): consolidate classify into categorize as single source of truth for failure markers
  backend/app/services/benchmark_failure_classification.py
Due: mypy

fix(ingestion): handle duplicate session events gracefully on single-event fast path
  backend/app/services/session_ingestion/service.py
Due: mypy

feat: enable Jenny heartbeat (15min), add web search to Codex adapter, rewrite operator prompt as meta-audit
  backend/app/adapters/codex_sse.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/adapters/test_codex_sse.py
Due: mypy

feat: enable Jenny heartbeat (15min), add web search to Codex adapter, rewrite operator prompt as meta-audit
  backend/app/adapters/codex_sse.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/adapters/test_codex_sse.py
  docs/arena-operator-prompt.md
Due: mypy

autocode(task-bbfa5aee): complete subtask 1.1
  backend/app/adapters/claude_tools_helpers.py
  backend/app/adapters/claude_tools_sdk_query.py
Due: mypy

Revert "Merge task task-bbfa5aee"
  backend/app/adapters/claude_tools_helpers.py
  backend/app/adapters/claude_tools_sdk_query.py
Due: mypy

fix: split agent-hub workers and protect safe rebuilds
  backend/app/services/tools/direct_executor_core.py
  backend/app/worker.py
  backend/app/worker_agents.py
  backend/app/worker_ops.py
  backend/app/worker_runtime.py
  backend/tests/tools/test_direct_executor.py
  backend/tests/unit/test_systemd_service_templates.py
  backend/tests/unit/test_worker_runtime.py
  scripts/systemd/agent-hub-hatchet-agent-worker.service
  scripts/systemd/agent-hub-hatchet-ops-worker.service
Due: mypy
