Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

refactor(memory): Extract tag filtering logic to helper function
  backend/app/services/memory/context_builder_filters.py
Due: mypy

refactor(health_prober): split into focused modules to reduce health_prober.py to <200 lines
  backend/app/services/_health_prober_core.py
  backend/app/services/_health_prober_models.py
  backend/app/services/health_prober.py
Due: mypy

refactor(catalog): restructure model catalog definitions
  backend/app/constants/catalog.py
  backend/app/constants/catalog_entries.py
  backend/app/constants/catalog_types.py
Due: mypy

refactor(multi_turn_executor): Extract multi-turn logic to helper modules
  backend/app/api/complete/multi_turn_executor.py
  backend/app/api/complete/multi_turn_helpers.py
  backend/app/api/complete/multi_turn_loop.py
Due: mypy

chore(index): update file counts and generation time
  .index.yaml
Due: none

fix(claude): improve manual paste input handling and UX
  .index.yaml
  backend/app/adapters/claude_auth.py
  frontend/src/components/settings/ManualPasteInput.tsx
  frontend/src/components/settings/ProviderCard.tsx
  frontend/src/components/settings/ProviderCardTypes.ts
  frontend/src/components/settings/ProviderCardUtils.ts
Due: mypy, eslint, tsc, prettier

fix(claude_auth): Use form data for token exchange and refresh
  backend/app/adapters/claude_auth.py
Due: mypy

refactor(settings): Improve UI layout and responsiveness
  .index.yaml
  frontend/src/components/settings-modal.tsx
  frontend/src/components/settings/ProviderActionButtons.tsx
  frontend/src/components/settings/ProviderCard.tsx
  frontend/src/components/settings/ProviderStatusDisplay.tsx
Due: eslint, tsc, prettier

chore(deps): update generated_at timestamp and modal width
  .index.yaml
  frontend/src/components/settings-modal.tsx
Due: eslint, tsc, prettier

refactor(frontend): Adjust UI layout and styling for settings
  .index.yaml
  frontend/src/components/settings-modal.tsx
  frontend/src/components/settings/ProviderActionButtons.tsx
  frontend/src/components/settings/ProviderCard.tsx
Due: eslint, tsc, prettier

chore(deps): update generated_at timestamp
  .index.yaml
  backend/app/adapters/claude_auth.py
  frontend/src/components/settings-modal.tsx
Due: mypy, eslint, tsc, prettier

feat(settings): Display provider health status and improve card UI
  .index.yaml
  frontend/src/components/settings/ProviderCard.tsx
  frontend/src/components/settings/ProviderCardTypes.ts
  frontend/src/components/settings/ProviderCardUtils.ts
  frontend/src/components/settings/ProviderStatusDisplay.tsx
  frontend/src/components/settings/ProvidersTab.tsx
  frontend/src/components/settings/useProvidersTab.ts
Due: eslint, tsc, prettier

feat(tools): add dispatch_agent tool and site-checker workflow
  backend/app/services/project_permission_service.py
  backend/app/services/tools/_executor_consultation.py
  backend/app/services/tools/_persona_schedule_tools.py
  backend/app/services/tools/_persona_tools.py
  backend/app/services/tools/_standard_tools.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/worker.py
  backend/app/workflows/coderabbit_review.py
  backend/app/workflows/site_health_check.py
  backend/scripts/seed_agents_data/_support_utility.py
  backend/scripts/seed_agents_data/support_agents.py
Due: mypy

refactor(adapters): Use zero-token health checks and log compaction costs
  backend/app/adapters/cloudcode_claude.py
  backend/app/adapters/cloudflare.py
  backend/app/adapters/codex_oauth.py
  backend/app/adapters/gemini_adapter_ops.py
  backend/app/adapters/minimax.py
  backend/app/api/complete/context_compaction.py
  backend/app/api/complete/multi_turn_executor.py
  backend/app/api/complete/multi_turn_loop.py
  backend/tests/adapters/test_cloudflare.py
  backend/tests/adapters/test_gemini.py
Due: mypy

feat(orchestration): add project_id for cost tracking
  backend/app/api/endpoints/chain.py
  backend/app/api/endpoints/maker_checker.py
  backend/app/api/endpoints/parallel.py
  backend/app/api/endpoints/subagent.py
  backend/app/api/orchestration_models.py
  backend/app/services/orchestration/code_review.py
  backend/app/services/orchestration/subagent_executor.py
  backend/app/services/orchestration/subagent_models.py
  backend/tests/orchestration/test_subagent.py
Due: mypy

refactor(health_prober): implement lazy adapter resolution
  backend/app/services/_health_prober_core.py
  backend/tests/services/test_health_prober.py
Due: mypy

feat(completion): log completion costs and add tests
  backend/app/services/completion/service.py
  backend/tests/services/test_completion_service.py
Due: mypy

refactor(gemini): Implement retry logic for streaming API calls
  backend/app/adapters/_gemini_cloudcode_ops.py
  backend/app/adapters/gemini_adapter_stream.py
  backend/tests/adapters/test_gemini_cloudcode.py
Due: mypy

style: auto-format from pre-commit hooks
  backend/tests/adapters/test_gemini_cloudcode.py
Due: none

refactor(site_health_check): Update site health check to use vision analysis
  backend/app/workflows/site_health_check.py
  backend/scripts/seed_agents_data/_support_utility.py
Due: mypy
