Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

Remove legacy include_tags memory fallback
  backend/app/services/memory/context_builder.py
  frontend/src/app/agents/[slug]/components/memory/utils.ts
Due: mypy, eslint, tsc, prettier

chore: remove temporary pid and ports configuration files
  .pids/backend.pid
  .pids/frontend.pid
Due: none

chore: remove temporary pid and ports configuration files
  .pids/backend.pid
  .pids/frontend.pid
  ports.json
Due: none

Refine memory context reference selection
  backend/app/api/memory_agent_context_builder.py
  backend/app/services/memory/budget.py
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_builder_tiers.py
  backend/app/services/memory/context_injector.py
  backend/tests/services/memory/test_reference_injection.py
Due: mypy

autocode(task-c2505986): complete subtask 1.1
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_prompt.py
Due: mypy

Fix rendered memory debug reporting
  backend/app/services/memory/context_injector_debug.py
  backend/tests/services/memory/test_context_injector.py
Due: mypy

Consolidate live agent roster
  backend/app/services/tools/_persona_schedule_tools.py
  backend/app/workflows/site_health_check.py
  backend/scripts/seed_agents_data/_execution_agents.py
  backend/scripts/seed_agents_data/_support_coordination.py
  backend/scripts/seed_agents_data/_support_utility.py
  backend/scripts/seed_agents_data/pipeline_agents.py
  backend/scripts/seed_agents_data/support_agents.py
  backend/tests/services/test_ownership_lanes.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

Fix preview memory config flags
  backend/app/api/helpers/agent_preview.py
  backend/app/services/memory/context_builder_settings.py
  backend/app/services/memory/context_injector.py
  backend/tests/api/test_agent_preview_helper.py
Due: mypy

Add memory utilization analytics
  backend/app/api/complete/request_setup.py
  backend/app/services/memory/_analytics_utilization.py
  backend/app/services/memory/analytics_models.py
  backend/app/services/memory/analytics_service.py
  backend/tests/api/complete/test_request_setup.py
  backend/tests/api/test_memory_dashboard.py
  backend/tests/services/memory/test_analytics_dashboard.py
  backend/tests/services/memory/test_analytics_utilization.py
  frontend/src/components/memory/tabs/analytics-content.tsx
  frontend/src/lib/memory-types.ts
Due: mypy, eslint, tsc, prettier

Fix memory analytics event lookup parsing
  backend/app/services/memory/_analytics_utilization.py
  backend/tests/services/memory/test_analytics_utilization.py
Due: mypy

Strengthen memory expansion cues
  backend/app/services/memory/context_injector_debug.py
  backend/app/services/memory/context_injector_formatter.py
  backend/tests/services/memory/test_reference_injection.py
Due: mypy

Add path-specific startup memory rendering
  backend/app/api/helpers/agent_preview.py
  backend/app/api/memory_agent_context_builder.py
  backend/app/api/memory_agent_handlers.py
  backend/app/api/memory_agent_tools.py
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_builder_tiers.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/context_injector_formatter.py
  backend/app/services/memory/context_profiles.py
  backend/tests/services/memory/test_context_injector.py
  backend/tests/services/memory/test_reference_injection.py
Due: mypy

chore(release): add Apache 2.0 public release files
  .env.example
  CONTRIBUTING.md
  LICENSE
  NOTICE
  README.md
  SECURITY.md
  backend/pyproject.toml
  frontend/package.json
Due: prettier

Clarify Codex startup fallback authority
  backend/app/services/memory/context_injector_formatter.py
Due: mypy

Prefer direct memory lookup before consultation
  backend/app/services/tools/_standard_tools.py
  backend/scripts/run_memory_path_regression.py
  backend/tests/tools/test_direct_executor.py
  packages/chat-ui/package.json
  packages/passport-client/package.json
  packages/push-client/package.json
Due: mypy

Tighten exact-rule memory expansion cues
  backend/app/services/memory/context_injector_formatter.py
  backend/scripts/run_memory_path_regression.py
  backend/tests/services/memory/test_context_injector.py
Due: mypy

Refine memory regression benchmark coverage
  backend/scripts/run_memory_path_regression.py
Due: none

style: auto-format from pre-commit hooks
  backend/tests/adapters/test_gemini.py
Due: none

test: remove PAT-shaped secret fixtures
  backend/tests/adapters/test_claude_settings.py
  backend/tests/tools/test_direct_executor.py
Due: none

fix(backup): replace absolute symlinks with canonical wrappers
  scripts/backup.sh
  scripts/restore.sh
Due: none

docs: switch SECURITY.md to GitHub private vulnerability reporting
  SECURITY.md
Due: none
