Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

feat(chat): support multiple @mention model selection in message input
  frontend/src/components/chat/message-input.tsx
  frontend/src/hooks/use-chat-stream.ts
Due: eslint, tsc, prettier

feat(chat): implement parallel model streaming with Promise.all
  frontend/src/hooks/use-chat-stream.ts
  frontend/src/types/chat.ts
Due: eslint, tsc, prettier

feat(chat): add side-by-side parallel response card UI
  frontend/src/components/chat/message-list.tsx
Due: eslint, tsc, prettier

feat(backend): add multi-model tracking to sessions and messages
  backend/app/api/complete.py
  backend/app/api/sessions.py
  backend/app/models.py
Due: mypy

feat(chat): add Continue as @model button and preserve model attribution
  frontend/src/components/chat/message-list.tsx
  frontend/src/hooks/use-chat-stream.ts
Due: eslint, tsc, prettier

chore(db): add migration for multi-model tracking columns
  backend/migrations/versions/eb4ecc28ced9_add_multi_model_tracking_columns.py
Due: none

fix(chat): add z-index to header so dropdowns appear above messages
  frontend/src/app/chat/page.tsx
Due: eslint, tsc, prettier

feat(sdk): Add agent_slug support to run_agent()
  backend/app/api/orchestration.py
  packages/agent-hub-client/agent_hub/client.py
Due: mypy

fix(memory): add migration script for mandate episodes
  backend/scripts/memory/migrate_mandates.py
Due: none

feat(memory): Add injection_tier field with tier-first filtering
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/episode_creator.py
  backend/app/services/memory/golden_standards.py
  backend/app/services/memory/graphiti_client.py
  backend/app/services/memory/service.py
  backend/migrations/add_injection_tier.cypher
  backend/scripts/memory/add_injection_tier.py
Due: mypy

feat(memory): tier-first terminology migration
  .summitflow/context.json
  backend/app/api/complete.py
  backend/app/api/memory.py
  backend/app/models.py
  backend/app/services/memory/consolidation.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/episode_formatter.py
  backend/app/services/memory/golden_standards.py
  backend/app/services/memory/ingestion_config.py
  backend/app/services/memory/learning_extractor.py
  backend/app/services/memory/service.py
  backend/app/services/memory/settings.py
  backend/app/services/memory/tools.py
  backend/app/services/memory/types.py
  backend/migrations/versions/j9k0l1m2n3o4_add_budget_enabled_column.py
  backend/scripts/memory/fix_mandate_format.py
  backend/scripts/migrate_rules_to_graphiti.py
  backend/scripts/seed_agents.py
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/memory/MemorySettingsModal.tsx
  frontend/src/components/memory/MemoryTable.tsx
  frontend/src/components/memory/SortableHeader.tsx
  frontend/src/components/memory/memory-filters.tsx
  frontend/src/lib/api/memory-settings.ts
  frontend/src/lib/memory-api.ts
  frontend/src/lib/memory-config.ts
  tasks/chat-mention-routing/plan.json
  tasks/chat-multi-model/plan.json
  tasks/memory-injection-tier-refactor.md
  tasks/voice-hands-free/plan.json
Due: mypy, eslint, tsc, prettier

feat(api): add episode tier update endpoints
  backend/app/api/memory.py
Due: mypy

fix(tests): resolve 82 of 94 test failures from tier refactoring
  backend/app/api/complete.py
  backend/app/api/memory.py
  backend/app/api/orchestration.py
  backend/app/constants.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/episode_creator.py
  backend/app/services/memory/settings.py
  backend/migrations/versions/6b46071ec3b1_remove_max_tokens_from_agents.py
  backend/migrations/versions/eb4ecc28ced9_add_multi_model_tracking_columns.py
  backend/migrations/versions/j9k0l1m2n3o4_add_budget_enabled_column.py
  backend/scripts/memory/fix_mandate_format.py
  backend/tests/api/test_agents_api.py
  backend/tests/api/test_complete.py
  backend/tests/integration/test_learning_loop.py
  backend/tests/services/memory/test_episode_creator.py
  backend/tests/services/memory/test_episode_formatter.py
  backend/tests/services/memory/test_learning_extractor.py
  backend/tests/services/memory/test_tools.py
  backend/tests/services/test_agent_routing.py
  backend/tests/services/test_agent_service.py
  backend/tests/services/test_cache_fallback.py
  backend/tests/services/test_cost_optimization.py
  backend/tests/services/test_response_cache.py
  backend/tests/thinking/test_extended.py
Due: mypy

fix: remove dead max_tokens recommendation code instead of adding constants
  backend/app/constants.py
  backend/app/services/token_counter.py
  backend/tests/services/test_token_counter.py
Due: mypy

fix(tests): update tests for tier-first terminology migration
  backend/tests/api/test_sessions.py
  backend/tests/orchestration/test_subagent.py
  backend/tests/services/memory/test_episode_formatter.py
  backend/tests/services/memory/test_learning_extractor.py
  backend/tests/services/memory/test_settings.py
  backend/tests/services/test_contextual_surfacing.py
  backend/tests/services/test_mem_it_command.py
Due: none

feat(memory): Add usage tracking initialization and background flush
  .summitflow/context.json
  backend/app/main.py
  backend/app/services/memory/episode_creator.py
  backend/app/services/memory/graphiti_client.py
  backend/scripts/memory/backup.py
Due: mypy

feat(backend): add tier optimizer for autonomous memory tier management
  backend/app/celery_app.py
  backend/app/services/memory/tier_optimizer.py
  backend/app/tasks/tier_optimizer_task.py
  backend/migrations/versions/k0l1m2n3o4p5_add_tier_change_log_table.py
Due: mypy

feat(backend): add token_count, correction nodes, vector index filtering
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/episode_creator.py
  backend/app/services/memory/scoring.py
  backend/app/services/memory/tier_optimizer.py
  backend/scripts/memory/backup.py
Due: mypy

fix(memory): correct grace period query in tier optimizer
  backend/app/services/memory/tier_optimizer.py
Due: mypy

feat(api): add database introspection API and CLI
  backend/app/api/__init__.py
  backend/app/api/db.py
  scripts/db.sh
Due: mypy
