Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

feat(persona): add reset onboarding endpoint and UI
  .index.yaml
  backend/app/api/persona.py
  frontend/src/app/persona/settings/components/IdentityTab.tsx
  frontend/src/app/persona/settings/hooks/usePersonaSettings.ts
  frontend/src/app/persona/settings/page.tsx
Due: mypy, eslint, tsc, prettier

chore(.index.yaml): update generated_at timestamp
  .index.yaml
Due: none

refactor(persona): Improve persona context and tool handling
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_builder_filters.py
  backend/app/services/memory/context_injector_blocks.py
  backend/app/services/memory/context_injector_blocks_helpers.py
  backend/app/services/memory/context_injector_queries.py
  backend/app/services/memory/memory_models.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/workflows/persona_heartbeat.py
  backend/scripts/seed_agents_data/concierge_agents.py
  backend/tests/api/test_persona.py
  backend/tests/services/memory/test_tag_filtering.py
  backend/tests/services/test_persona_service.py
  backend/tests/tools/test_persona_tools.py
Due: mypy

Fix stale test fixtures - add missing AgentDTO fields
  backend/tests/api/test_agents_api.py
  backend/tests/services/test_agent_service.py
Due: none

feat(sessions): add summary_oneliner field to session schema and UI
  backend/app/api/schemas/sessions.py
  backend/app/services/session_transforms.py
  frontend/src/components/chat/session-dropdown.tsx
  frontend/src/components/chat/session-sidebar.tsx
Due: mypy, eslint, tsc, prettier

refactor(persona): Replace SessionSidebar with SessionDropdown
  backend/tests/api/test_sessions.py
  frontend/src/app/persona/page.tsx
Due: eslint, tsc, prettier

chore(index): update generated_at and file counts
  .index.yaml
Due: none

feat(memory): Enhance citation tracking and session analysis
  backend/app/api/complete/citation_tracker.py
  backend/app/api/complete/streaming.py
  backend/app/services/memory/session_analysis.py
Due: mypy

fix(complete): handle empty loaded_uuids in fallback paths
  backend/app/api/complete/complete_orchestrator.py
Due: mypy

feat(memory): Add inline feedback tracking
  backend/app/api/complete/citation_tracker.py
  backend/app/api/complete/handlers.py
  backend/app/api/memory_analysis.py
  backend/app/services/memory/__init__.py
  backend/app/services/memory/citation_parser.py
  backend/app/services/memory/session_analysis.py
  backend/app/services/memory/session_queries.py
  backend/tests/api/complete/test_citation_tracker.py
  backend/tests/services/memory/test_citation_parser.py
  backend/tests/services/memory/test_session_analysis.py
Due: mypy

feat(persona): Implement onboarding phases and auto-tier
  .index.yaml
  backend/alembic/versions/e6f7g8h9i0j1_add_persona_onboarding_phase.py
  backend/app/api/complete/_core_helpers.py
  backend/app/api/complete/complete_execution.py
  backend/app/api/complete/core.py
  backend/app/api/complete/multi_turn_executor.py
  backend/app/api/complete/resolution.py
  backend/app/api/persona.py
  backend/app/models/agent.py
  backend/app/models/persona.py
  backend/app/services/agent_dto.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/persona_service.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/services/tools/tool_definitions.py
  backend/app/services/tools/tool_handler.py
  backend/scripts/seed_agents.py
  backend/scripts/seed_agents_data/concierge_agents.py
  backend/tests/api/test_agents_api.py
  backend/tests/api/test_persona.py
  backend/tests/core/test_model_selector.py
  backend/tests/services/test_agent_routing.py
  backend/tests/services/test_agent_service.py
  backend/tests/services/test_persona_service.py
  backend/tests/tools/test_persona_tools.py
  frontend/src/app/persona/settings/components/IdentityTab.tsx
  frontend/src/types/persona.ts
Due: mypy, eslint, tsc, prettier

feat(persona): Add scheduling, session reset, and limits
  backend/alembic/versions/f7g8h9i0j1k2_add_persona_scheduling_and_reset.py
  backend/app/api/complete/context_compaction.py
  backend/app/api/complete/multi_turn_executor.py
  backend/app/api/complete/session_manager.py
  backend/app/api/persona.py
  backend/app/models/__init__.py
  backend/app/models/persona.py
  backend/app/models/persona_scheduled_job.py
  backend/app/services/persona_service.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/services/tools/tool_definitions.py
  backend/app/services/tools/tool_handler.py
  backend/app/worker.py
  backend/app/workflows/persona_scheduler.py
  backend/pyproject.toml
  backend/scripts/seed_agents_data/concierge_agents.py
  backend/tests/api/test_context_compaction.py
  backend/tests/api/test_persona.py
  backend/tests/services/test_persona_service.py
  backend/tests/tools/test_persona_tools.py
  backend/tests/workflows/__init__.py
  backend/tests/workflows/test_persona_scheduler.py
Due: mypy

feat(persona): add session limits and reset settings
  frontend/src/app/persona/settings/components/PersonaSettingsSidebar.tsx
  frontend/src/app/persona/settings/components/SessionLimitsTab.tsx
  frontend/src/app/persona/settings/page.tsx
  frontend/src/app/persona/settings/types.ts
  frontend/src/types/persona.ts
Due: eslint, tsc, prettier

chore(index): update generated_at timestamp
  .index.yaml
Due: none

refactor(tools): Improve tool provisioning and CLI commands
  backend/app/adapters/claude_oauth.py
  backend/app/api/complete/_core_helpers.py
  backend/app/api/complete/tool_provisioner.py
  backend/app/services/tools/direct_executor_core.py
Due: mypy

fix(streaming): Improve type hints for tool execution
  backend/app/api/complete/streaming.py
Due: mypy

feat(project_permissions): Add project permissions API and model
  backend/alembic/versions/g8h9i0j1k2l3_add_project_permissions_table.py
  backend/app/api/__init__.py
  backend/app/api/complete/_core_helpers.py
  backend/app/api/complete/tool_provisioner.py
  backend/app/api/project_permissions.py
  backend/app/models/__init__.py
  backend/app/models/project_permission.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/project_permission_service.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/services/tools/tool_handler.py
  backend/app/workflows/persona_heartbeat.py
  backend/app/workflows/persona_scheduler.py
  backend/app/workflows/persona_wake.py
  frontend/package.json
  frontend/src/lib/api.ts
  frontend/src/lib/api/project-permissions.ts
Due: mypy, eslint, tsc, prettier

feat(permissions): Add project permissions page and API endpoints
  backend/tests/api/test_project_permissions.py
  backend/tests/services/test_project_permission_service.py
  frontend/src/app/access-control/page.tsx
  frontend/src/app/access-control/permissions/page.tsx
Due: eslint, tsc, prettier

feat(resolution): inject project_id into agent mandates
  backend/app/api/complete/resolution.py
  backend/app/services/tools/direct_executor_core.py
Due: mypy
