Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

style: auto-format from pre-commit hooks
  packages/chat-ui/package.json
Due: none

feat(chat-ui): Add MarkdownContent component for rendering markdown messages
  packages/chat-ui/src/components/MarkdownContent.tsx
  packages/chat-ui/src/components/MessageContent.tsx
Due: none

test(persona): improve activity endpoint test mocking
  backend/tests/api/test_persona.py
  packages/chat-ui/src/components/MessageContent.tsx
  packages/chat-ui/src/index.ts
Due: none

fix(api): Handle HTTPException in image generation
  backend/app/api/image.py
Due: mypy

fix(catalog): increase Kimi K2.5 timeout to 120s
  backend/app/constants/catalog.py
Due: mypy

feat(chat): exclude irrelevant providers from degraded banner
  frontend/src/__tests__/degraded-mode.test.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/degraded-mode-banner.tsx
Due: eslint, tsc, prettier

fix: update generated_at timestamp and minor adjustments
  .index.yaml
  backend/alembic/versions/65a08072c8a0_update_persona_prompt_explicit_project.py
  backend/app/constants/catalog.py
  backend/tests/api/complete/test_parse_mention.py
  packages/chat-ui/src/components/MarkdownContent.tsx
Due: mypy

refactor(tools): allow file access in working directory
  .index.yaml
  backend/app/services/tools/_executor_file_io.py
  backend/app/services/tools/direct_executor_core.py
  backend/tests/tools/test_direct_executor.py
Due: mypy

test(tools): Add worktree support tests for DirectToolExecutor
  backend/tests/tools/test_direct_executor.py
Due: none

refactor(completion): Improve multi-turn timeout handling
  backend/app/api/complete/_core_helpers.py
  backend/app/api/complete/multi_turn_executor.py
  backend/app/constants/catalog.py
  frontend/src/app/persona/components/ActivityTimeline.tsx
  frontend/src/app/persona/components/HeartbeatSessionCard.tsx
  packages/agent-hub-client/agent_hub/_async_client.py
  packages/agent-hub-client/agent_hub/_sync_client.py
Due: mypy, eslint, tsc, prettier

chore(.index.yaml): update generated_at timestamp
  .index.yaml
Due: none

chore(index): update generated_at timestamp
  .index.yaml
Due: none

chore(backend): 23 files changed, 165 insertions(+), 133 deletions(-)
  backend/app/api/complete/helpers.py
  backend/tests/adapters/test_claude_env_injection.py
  backend/tests/adapters/test_cloudflare.py
  backend/tests/adapters/test_credential_resolution.py
  backend/tests/adapters/test_gemini.py
  backend/tests/adapters/test_gemini_cloudcode.py
  backend/tests/adapters/test_openai.py
  backend/tests/adapters/test_openrouter.py
  backend/tests/adapters/test_registry.py
  backend/tests/adapters/test_xai.py
  backend/tests/adapters/test_zhipu.py
  backend/tests/api/complete/test_parse_mention.py
  backend/tests/api/test_agents_api.py
  backend/tests/api/test_async_completion.py
  backend/tests/api/test_persona.py
  backend/tests/api/test_sessions.py
  backend/tests/core/test_router.py
  backend/tests/integration/test_status_endpoint.py
  backend/tests/services/memory/test_continuity_injection.py
  backend/tests/services/memory/test_episode_creator.py
  backend/tests/services/test_agent_routing.py
  backend/tests/services/test_agent_service.py
  backend/tests/tools/test_permission_enforcement.py
Due: mypy

refactor(examples): extract magic strings and flatten nesting in streaming_example.py
  examples/streaming_example.py
Due: none

refactor(session_manager): fix nesting deeper than 3 levels
  backend/app/api/complete/_session_helpers.py
  backend/app/api/complete/session_manager.py
Due: mypy

refactor(session_operations): extract helpers to reduce functions over 50 lines
  backend/app/services/session_operations.py
Due: mypy

refactor(api/models): split schemas into sub-modules and decompose long functions
  backend/app/api/models.py
  backend/app/api/models_catalog_schemas.py
  backend/app/api/models_latency_schemas.py
Due: mypy

refactor(persona): split HeartbeatSessionCard into focused sub-files under 300 lines each
  frontend/src/app/persona/components/HeartbeatExpandedEvent.tsx
  frontend/src/app/persona/components/HeartbeatSessionCard.tsx
  frontend/src/app/persona/components/HeartbeatSessionCardTypes.ts
Due: eslint, tsc, prettier

refactor(settings): Extract ProvidersTab logic to use hook
  frontend/src/components/settings/ProvidersTab.tsx
  frontend/src/components/settings/useProvidersTab.ts
Due: eslint, tsc, prettier
