Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

refactor(token_counter): Centralize model pricing and context limits
  backend/app/services/token_counter.py
  backend/tests/api/test_sessions.py
  backend/tests/services/test_context_tracker.py
  backend/tests/services/test_cost_optimization.py
  backend/tests/services/test_token_counter.py
Due: mypy

feat(auth): Implement OAuth flow for Codex and Gemini providers
  backend/app/adapters/codex_oauth.py
  backend/app/adapters/gemini.py
  backend/app/adapters/gemini_auth.py
  backend/app/api/__init__.py
  backend/app/api/credentials.py
  backend/app/api/oauth.py
  frontend/src/components/settings/ProviderCard.tsx
  frontend/src/components/settings/ProvidersTab.tsx
  frontend/src/components/settings/constants.ts
  frontend/src/lib/api.ts
  frontend/src/lib/api/credentials.ts
Due: mypy, eslint, tsc, prettier

chore(.index.yaml): update generated_at timestamp
  .index.yaml
Due: none

feat(auth): Implement Gemini OAuth preference and dual-auth support
  .index.yaml
  backend/app/adapters/gemini.py
  backend/app/api/oauth.py
  backend/app/api/preferences.py
  backend/app/main.py
  frontend/src/components/settings/ProviderCard.tsx
  frontend/src/components/settings/ProvidersTab.tsx
  frontend/src/lib/api/credentials.ts
  frontend/src/lib/api/preferences.ts
Due: mypy, eslint, tsc, prettier

feat(claude): Add dual-mode authentication and direct API support
  backend/app/adapters/claude.py
  backend/app/adapters/claude_auth.py
  backend/app/api/complete/helpers_adapters.py
  backend/app/api/oauth.py
  backend/tests/adapters/test_claude.py
  backend/tests/adapters/test_interface.py
  frontend/src/components/settings/ProviderCard.tsx
  frontend/src/components/settings/ProvidersTab.tsx
  frontend/src/components/settings/constants.ts
  frontend/src/lib/api.ts
  frontend/src/lib/api/credentials.ts
Due: mypy, eslint, tsc, prettier

test(credentials): update VALID_PROVIDERS and test description
  backend/tests/adapters/test_credential_resolution.py
Due: none

chore(index): update file counts and add delete_feedback endpoint
  .index.yaml
Due: none

chore(backend): 1 file changed, 6 insertions(+), 1 deletion(-)
  backend/app/api/preferences.py
Due: mypy

chore(backend): 1 file changed, 31 insertions(+), 20 deletions(-)
  backend/app/adapters/gemini.py
Due: mypy

chore(backend): 1 file changed, 10 insertions(+), 2 deletions(-)
  backend/app/adapters/gemini.py
Due: mypy

chore(fullstack): 7 files changed, 147 insertions(+), 3 deletions(-)
  backend/app/adapters/gemini.py
  backend/app/adapters/gemini_auth.py
  backend/app/api/preferences.py
  backend/app/main.py
  frontend/src/components/settings/ProviderCard.tsx
  frontend/src/components/settings/ProvidersTab.tsx
  frontend/src/lib/api/preferences.ts
Due: mypy, eslint, tsc, prettier

feat(gemini): add expiry to oauth credentials
  backend/app/adapters/gemini.py
Due: mypy

feat(gemini): Support CloudCode PA for consumer OAuth ```
  backend/app/adapters/gemini.py
  backend/app/adapters/gemini_cloudcode.py
  backend/tests/adapters/test_gemini_cloudcode.py
Due: mypy

fix(gemini): Prioritize companion project for CloudCode integration
  backend/app/adapters/gemini.py
  backend/app/adapters/gemini_auth.py
Due: mypy

fix(gemini): persist refreshed token and update status check
  backend/app/adapters/gemini_cloudcode.py
  backend/app/api/oauth.py
Due: mypy

feat(models): Add Gemini 3.1 Pro and update reasoning models
  .index.yaml
  backend/app/adapters/gemini_cloudcode.py
  backend/app/constants/__init__.py
  backend/app/constants/catalog.py
  backend/app/constants/models.py
  backend/tests/adapters/test_gemini_cloudcode.py
  frontend/src/lib/models.ts
Due: mypy, eslint, tsc, prettier

feat(api): add providers endpoint and Gemini model listing
  .index.yaml
  backend/app/api/__init__.py
  backend/app/api/providers.py
  backend/app/services/memory/context_injector_formatter.py
Due: mypy

feat(cloudcode): add CloudCode Claude adapter
  backend/app/adapters/cloudcode_claude.py
  backend/app/adapters/cloudcode_claude_transforms.py
  backend/app/adapters/gemini_cloudcode.py
  backend/app/constants/__init__.py
  backend/app/constants/catalog.py
  backend/app/constants/models.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/completion/provider_utils.py
  backend/app/services/memory/context_injector_formatter.py
  backend/app/services/provider_chain.py
  backend/tests/core/test_router.py
Due: mypy

refactor(cloudcode_claude): Implement Antigravity Claude access
  backend/app/adapters/cloudcode_claude.py
  backend/app/adapters/cloudcode_claude_transforms.py
  backend/app/adapters/gemini_auth.py
  backend/app/adapters/gemini_cloudcode.py
  backend/app/api/oauth.py
Due: mypy

refactor(memory): Consolidate continuity formatting and querying
  backend/app/adapters/cloudcode_claude.py
  backend/app/adapters/gemini_cloudcode.py
  backend/app/api/memory_agent_context_builder.py
  backend/app/api/memory_agent_handlers.py
  backend/app/api/oauth.py
  backend/app/services/memory/_summary_prompt.py
  backend/app/services/memory/continuity_format.py
  backend/app/services/memory/continuity_injector.py
  backend/app/services/memory/continuity_query.py
  backend/app/services/memory/summary_generator.py
  backend/tests/services/memory/test_continuity_injection.py
Due: mypy
