Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

relax dispatch overlap hard blocks
  backend/app/services/tools/_executor_dispatch.py
  backend/tests/tools/test_executor_consultation.py
Due: mypy

Refactor session ingestion service helpers
  backend/app/services/session_ingestion/_events.py
  backend/app/services/session_ingestion/_scope.py
  backend/app/services/session_ingestion/service.py
  backend/app/services/tools/_executor_io.py
  backend/tests/services/session_ingestion/test_service.py
  backend/tests/tools/test_persona_tools.py
Due: mypy

Improve heartbeat summary extraction and reference injection observability
  backend/app/services/session_display_summary.py
  backend/app/workflows/_heartbeat_data.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/services/memory/test_reference_injection.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

Remove hidden agent timeout footguns and stale rebuild residue handling
  backend/app/services/session_display_summary.py
  backend/app/services/session_live_activity.py
  backend/app/services/tools/_executor_bash.py
  backend/app/services/tools/_standard_tools.py
  backend/app/services/tools/direct_executor.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_postprocess.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/app/workflows/_session_postprocess.py
  backend/app/workflows/completion.py
  backend/app/workflows/observation.py
  backend/app/workflows/persona_heartbeat.py
  backend/app/workflows/persona_scheduler.py
  backend/app/workflows/persona_wake.py
  backend/app/workflows/summary.py
  backend/tests/services/test_session_live_activity.py
  backend/tests/tools/test_direct_executor.py
  backend/tests/tools/test_persona_integration.py
  backend/tests/workflows/test_heartbeat_prompt.py
  backend/tests/workflows/test_session_postprocess.py
Due: mypy

style: auto-format from pre-commit hooks
  backend/app/services/tools/direct_executor_core.py
Due: mypy

Fix heartbeat dispatch and detached self-rebuild handoff
  backend/app/api/complete/tool_event_processor.py
  backend/app/api/complete/tool_handler_utils.py
  backend/app/api/heartbeat.py
  backend/app/api/site_health_check.py
  backend/app/workflows/coderabbit_review.py
  backend/tests/api/complete/test_tool_handlers_partial.py
  backend/tests/api/test_heartbeat.py
  backend/tests/api/test_site_health_check_api.py
  backend/tests/workflows/test_coderabbit_review_dispatch.py
Due: mypy

Fix detached rebuild closeout and Hatchet timeout defaults
  backend/app/api/complete/tool_handler_utils.py
  backend/app/hatchet_app.py
  backend/tests/api/complete/test_tool_handlers_partial.py
  backend/tests/test_hatchet_app.py
  backend/tests/workflows/test_heartbeat_postprocess.py
Due: mypy

Refine heartbeat prompt data summaries
  backend/app/workflows/_heartbeat_data.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

Tighten heartbeat task overview summaries
  backend/app/services/task_overview_summary.py
  backend/app/workflows/_heartbeat_data.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/services/test_task_overview_summary.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

Fix heartbeat workstream inventory filtering
  backend/app/workflows/_heartbeat_data.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

Normalize agent memory config and fix prompt injection truth
  backend/alembic/versions/b217f2377552_classify_global_prompts_and_repair_note_.py
  backend/alembic/versions/e960dc14ef2f_normalize_agent_memory_config.py
  backend/app/api/agents.py
  backend/app/api/complete/request_setup.py
  backend/app/api/complete/resolution.py
  backend/app/api/helpers/agent_preview.py
  backend/app/api/schemas/agent_schemas.py
  backend/app/services/agent_dto.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/agent_service.py
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_builder_settings.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/context_injector_formatter.py
  backend/app/services/owned_prompt_service.py
  backend/app/services/prompt_service.py
  backend/app/services/runtime_prompt_stack.py
  backend/app/services/tools/_executor_model_mgmt.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/complete/test_request_setup.py
  backend/tests/api/complete/test_resolution.py
  backend/tests/api/test_agent_preview_helper.py
  backend/tests/api/test_agents_api.py
  backend/tests/services/memory/test_context_builder_settings.py
  backend/tests/services/test_agent_routing.py
  backend/tests/services/test_runtime_prompt_stack.py
  backend/tests/tools/test_executor_model_mgmt.py
  frontend/src/__tests__/agent-arena-page.test.tsx
  frontend/src/__tests__/agent-editor-shell.test.tsx
  frontend/src/__tests__/agent-form.test.ts
  frontend/src/__tests__/memory-config-utils.test.ts
  frontend/src/app/agents/[slug]/agent-form.ts
  frontend/src/app/agents/[slug]/components/MemoryTab.tsx
  frontend/src/app/agents/[slug]/components/memory/constants.ts
  frontend/src/app/agents/[slug]/components/memory/types.ts
  frontend/src/app/agents/[slug]/components/memory/utils.ts
  frontend/src/app/agents/[slug]/types.ts
Due: mypy, eslint, tsc, prettier

Refine heartbeat summaries and tests
  backend/app/services/cleanup_summary.py
  backend/app/services/git_status_summary.py
  backend/app/services/task_overview_summary.py
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/services/test_cleanup_summary.py
  backend/tests/services/test_git_status_summary.py
  backend/tests/services/test_task_overview_summary.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

Own Claude SDK query lifecycle in helper sessions
  backend/app/adapters/claude_tools_helpers.py
  backend/tests/adapters/test_claude_tools_helpers.py
Due: mypy

Publish backup summary heartbeat improvements
  backend/app/services/backup_summary.py
  backend/app/services/tools/_executor_backups.py
  backend/app/workflows/_heartbeat_data.py
  backend/tests/services/test_backup_summary.py
  backend/tests/tools/test_persona_tools.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

Remove dead heartbeat shell helper
  backend/app/workflows/_heartbeat_data.py
Due: mypy

Canonicalize disabled agent memory config state
  backend/alembic/versions/93da76ab0d27_canonicalize_disabled_memory_config.py
  backend/app/api/schemas/agent_schemas.py
  backend/app/services/memory/context_builder_settings.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/test_agents_api.py
  backend/tests/services/memory/test_context_builder_settings.py
  backend/tests/tools/test_executor_model_mgmt.py
  frontend/src/__tests__/agent-form.test.ts
  frontend/src/__tests__/memory-config-utils.test.ts
  frontend/src/__tests__/memory-tab.test.tsx
  frontend/src/app/agents/[slug]/components/MemoryTab.tsx
  frontend/src/app/agents/[slug]/components/memory/MemoryConfigSection.tsx
  frontend/src/app/agents/[slug]/components/memory/Toggle.tsx
  frontend/src/app/agents/[slug]/components/memory/utils.ts
Due: mypy, eslint, tsc, prettier

Finalize heartbeat prompt and agent memory config updates
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/workflows/test_heartbeat_prompt.py
  frontend/src/__tests__/agent-form.test.ts
  frontend/src/__tests__/memory-config-utils.test.ts
  frontend/src/__tests__/memory-tab.test.tsx
  frontend/src/app/agents/[slug]/agent-form.ts
  frontend/src/app/agents/[slug]/components/MemoryTab.tsx
  frontend/src/app/agents/[slug]/components/memory/utils.ts
  frontend/src/components/memory/useMemorySettings.ts
Due: mypy, eslint, tsc, prettier

Publish heartbeat prompt/data cleanup
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

Refactor Claude SDK query lifecycle ownership
  backend/app/adapters/claude_tools_helpers.py
  backend/tests/adapters/test_claude_tools_helpers.py
Due: mypy

Sync prompt-builder seed export
  backend/scripts/seed_agents_data/seed_data.json
Due: none

Preserve session source attribution in session APIs
  backend/app/api/_session_request_identity.py
  backend/app/api/schemas/sessions.py
  backend/app/api/session_ingestion.py
  backend/app/api/sessions.py
  backend/app/services/session_ingestion/models.py
  backend/app/services/session_ingestion/service.py
  backend/app/services/session_transforms.py
  backend/tests/api/test_session_ingestion.py
  backend/tests/api/test_sessions.py
  backend/tests/services/session_ingestion/test_service.py
  frontend/src/lib/api/sessions.ts
  packages/agent-hub-client/agent_hub/models/session.py
Due: mypy, eslint, tsc, prettier
