Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

test: add type hints and fix regex in tests
  backend/tests/adapters/test_credential_resolution.py
  backend/tests/adapters/test_openrouter.py
  backend/tests/api/test_async_completion.py
  backend/tests/api/test_memory_analysis.py
Due: none

refactor(memory): Split memory_agent_handlers.py into focused modules
  backend/app/api/memory_agent_context_builder.py
  backend/app/api/memory_agent_handlers.py
  backend/app/api/memory_agent_learning_saver.py
Due: mypy

refactor(memory): Extract memory episode handlers and queries
  backend/app/api/memory_episodes.py
  backend/app/api/memory_episodes_handlers.py
  backend/app/api/memory_episodes_query.py
  backend/app/api/memory_episodes_search.py
Due: mypy

refactor(complete): reduce complete_orchestrator.py from 342 to 182 lines
  backend/app/api/complete/complete_execution.py
  backend/app/api/complete/complete_orchestrator.py
Due: mypy

fix: restore complete_orchestrator refactoring lost in merge
  backend/app/api/complete/complete_execution.py
  backend/app/api/complete/complete_orchestrator.py
Due: mypy

chore(.index.yaml): regenerate after refactoring
  .index.yaml
Due: none

feat(adapters): Add Minimax provider integration
  backend/app/adapters/__init__.py
  backend/app/adapters/minimax.py
  backend/app/config.py
  backend/app/constants.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/model_mapping.py
  backend/app/services/provider_chain.py
  frontend/src/components/settings/constants.ts
Due: mypy, eslint, tsc, prettier

feat(models): Enhance model information with scores, costs, and capabilities
  backend/app/api/models.py
  backend/app/constants.py
  frontend/src/components/chat/use-models.ts
Due: mypy, eslint, tsc, prettier

refactor(model_mapping): Replace hardcoded model maps with score-based lookup
  backend/app/services/model_mapping.py
  backend/app/services/model_selector.py
  backend/app/services/router.py
  backend/app/services/tier_classifier.py
  backend/app/services/tier_selection.py
  backend/tests/core/test_model_selector.py
  frontend/src/app/models/page.tsx
  frontend/src/components/layout/sidebar-nav.tsx
  frontend/src/components/models/model-card.tsx
  frontend/src/components/models/model-comparison.tsx
  frontend/src/components/models/model-filters.tsx
  frontend/src/components/models/model-radar.tsx
Due: mypy, eslint, tsc, prettier

feat(model_selector): Adjust tier thresholds and regex, update model routing
  backend/app/services/model_selector.py
  backend/app/services/tier_classifier.py
  backend/tests/core/test_model_selector.py
  backend/tests/core/test_router.py
Due: mypy

feat(preferences): Implement user model tier preference selection
  backend/alembic/versions/4d833a3be2d8_add_user_preferences_table.py
  backend/app/api/__init__.py
  backend/app/api/complete/request_schemas.py
  backend/app/api/preferences.py
  backend/app/models/config.py
  backend/app/services/completion/types.py
  backend/app/services/model_selector.py
  backend/app/services/preferences.py
  backend/app/services/router.py
  backend/app/services/tier_selection.py
  frontend/src/components/settings/PreferencesTab.tsx
  frontend/src/components/settings/tier-matrix-grid.tsx
Due: mypy, eslint, tsc, prettier

feat(preferences): integrate tier preference selection
  backend/alembic/versions/4d833a3be2d8_add_user_preferences_table.py
  backend/app/api/complete/complete_orchestrator.py
  backend/app/api/preferences.py
  backend/app/services/model_selector.py
  backend/app/services/router.py
  backend/app/services/tier_classifier.py
  backend/app/services/tier_selection.py
  backend/tests/core/test_model_selector.py
  frontend/src/hooks/chat-stream/send-message.ts
  frontend/src/hooks/chat-stream/types.ts
Due: mypy, eslint, tsc, prettier

chore: update .index.yaml with new timestamp and file counts
  .index.yaml
Due: none

feat(agent-hub): add tier_preference to completion payload
  .index.yaml
  packages/agent-hub-client/agent_hub/_async_client.py
  packages/agent-hub-client/agent_hub/_completion.py
  packages/agent-hub-client/agent_hub/_sync_client.py
Due: none

feat(memory): Introduce session_summary_segments table and pipeline
  backend/alembic/versions/755848284d1e_add_session_summary_segments.py
  backend/app/models/__init__.py
  backend/app/models/session.py
  backend/app/services/memory/continuity_injector.py
  backend/app/services/memory/summary_generator.py
  backend/app/services/memory/summary_llm.py
  backend/app/services/memory/summary_transcript.py
  backend/app/services/session_operations.py
  backend/tests/services/memory/test_continuity_injection.py
  backend/tests/services/memory/test_summary_generator.py
  backend/tests/services/memory/test_summary_segments_e2e.py
  backend/tests/services/memory/test_summary_transcript.py
Due: mypy

chore(fullstack): 16 files changed, 159 insertions(+), 28 deletions(-)
  backend/app/api/complete/complete_orchestrator.py
  backend/app/api/complete/core.py
  backend/app/api/complete/error_handlers.py
  backend/app/api/complete/event_helpers.py
  backend/app/api/complete/multi_turn_executor.py
  backend/app/api/complete/tool_claude_processor.py
  backend/app/api/complete/tool_event_storage.py
  backend/app/api/complete/tool_gemini_processor.py
  backend/app/api/complete/tool_handlers.py
  backend/app/api/complete/tool_response_finalizer.py
  backend/app/api/complete/tool_router.py
  backend/app/api/complete/turn_processor.py
  backend/app/services/event_storage.py
  backend/app/services/memory/summary_generator.py
  backend/app/services/memory/summary_llm.py
  frontend/src/components/timeline/event-item.tsx
Due: mypy, eslint, tsc, prettier

chore(.index.yaml): update generated_at timestamp
  .index.yaml
Due: none

feat(api): Add agent_id and model_used to event tracking
  backend/app/api/complete/citation_tracker.py
  backend/app/api/complete/core.py
  backend/app/api/complete/memory_handler.py
  backend/app/api/complete/multi_turn_executor.py
  backend/app/api/complete/request_setup.py
  backend/app/api/complete/streaming.py
  backend/app/api/complete/turn_processor.py
  backend/app/services/event_storage.py
Due: mypy

feat(completion): Add agent_id to cache and tool result storage
  backend/app/api/complete/cache_handler.py
  backend/app/api/complete/core.py
  backend/app/api/complete/handlers.py
  backend/app/api/complete/tool_claude_processor.py
  backend/app/api/complete/tool_event_storage.py
  backend/app/api/complete/tool_gemini_processor.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
