Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

fix: split agent-hub workers and protect safe rebuilds
  backend/app/services/tools/direct_executor_core.py
  backend/app/worker.py
  backend/app/worker_agents.py
  backend/app/worker_ops.py
  backend/app/worker_runtime.py
  backend/tests/tools/test_direct_executor.py
  backend/tests/unit/test_systemd_service_templates.py
  backend/tests/unit/test_worker_runtime.py
  scripts/systemd/agent-hub-hatchet-agent-worker.service
  scripts/systemd/agent-hub-hatchet-ops-worker.service
Due: mypy

fix: harden claude tool closeout and dedupe narration tags
  backend/alembic/versions/46da0d007484_dedupe_narration_tags.py
  backend/app/adapters/claude_tools_helpers.py
  backend/app/api/complete/tool_handler_utils.py
  backend/app/models/narration_tag.py
  backend/app/storage/narration_tags.py
  backend/tests/adapters/test_claude_tools_helpers.py
  backend/tests/api/complete/test_tool_handlers_partial.py
  backend/tests/services/test_narration_integration.py
Due: mypy

fix: exclude iteration runs from benchmark scoring
  backend/app/services/_benchmark_dashboard.py
  backend/app/services/arena_overview.py
  backend/app/services/benchmark_failure_classification.py
  backend/tests/scripts/test_persona_model_benchmark.py
  backend/tests/services/test_agent_benchmark_service.py
Due: mypy

feat: add shared searxng-backed web research stack
  backend/app/config.py
  backend/app/services/tools/_executor_web.py
  backend/pyproject.toml
  backend/tests/tools/test_executor_web.py
  backend/uv.lock
  scripts/web-research/deploy-vm100-searxng.sh
  scripts/web-research/searxng.settings.yml
Due: mypy

feat(persona): redesign persona page with chat-first compact interface
  frontend/src/app/persona/components/NarrationTimeline.tsx
  frontend/src/app/persona/components/TimeRangeDropdown.tsx
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
  frontend/src/app/persona/components/workspace-cards.tsx
  frontend/src/app/persona/components/workspace-utils.tsx
  frontend/src/app/persona/hooks/useNarrationTags.ts
  frontend/src/app/persona/page.tsx
Due: eslint, tsc, prettier

fix(persona): remove all light-mode remnants from persona page components
  frontend/src/app/persona/components/pulse-helpers.ts
Due: eslint, tsc, prettier

fix: attach manual heartbeat runs to concrete sessions
  backend/app/api/heartbeat.py
  backend/app/workflows/persona_heartbeat.py
  backend/tests/api/test_heartbeat.py
  backend/tests/workflows/test_persona_heartbeat.py
  frontend/src/__tests__/persona-page.test.tsx
  frontend/src/app/persona/hooks/useHeartbeat.ts
  frontend/src/app/persona/hooks/usePersonaRuntime.ts
  frontend/src/app/persona/page.tsx
  frontend/src/lib/api/dashboard.ts
Due: mypy, eslint, tsc, prettier

feat(persona): replace expanded view with chat-style chronological transcript, fix card navigation bug, strip [[P:]] tags from display text
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
  frontend/src/app/persona/components/workspace-cards.tsx
  frontend/src/app/persona/components/workspace-utils.tsx
Due: eslint, tsc, prettier

fix(persona): strip [[P:]], Applied:[M:], [[F:]], [[S:]] tags from card summaries and message content, fix more/less button propagation
  backend/app/services/tools/_standard_tools.py
  backend/tests/tools/test_direct_executor.py
  frontend/src/app/persona/components/workspace-cards.tsx
  frontend/src/app/persona/components/workspace-feed.ts
  frontend/src/app/persona/components/workspace-utils.tsx
Due: mypy, eslint, tsc, prettier

fix(persona): harden tag-stripping regexes for truncated [[P:, [M:, {… fragments in summaries
  frontend/src/app/persona/components/workspace-cards.tsx
  frontend/src/app/persona/components/workspace-feed.ts
  frontend/src/app/persona/components/workspace-utils.tsx
Due: eslint, tsc, prettier

fix(persona): strip HEARTBEAT_ACTION/OK prefixes and bare [M:] citations from all display text
  frontend/src/app/persona/components/workspace-cards.tsx
Due: eslint, tsc, prettier

feat: unify one-call web research across agents
  backend/app/cli/web_research.py
  backend/app/services/project_permission_service.py
  backend/app/services/tools/_executor_web.py
  backend/app/services/tools/_standard_tools.py
  backend/app/services/tools/direct_executor_core.py
  backend/scripts/persona_benchmark_cases.py
  backend/scripts/persona_benchmark_eval.py
  backend/tests/scripts/test_persona_model_benchmark.py
  backend/tests/scripts/test_web_research_cli.py
  backend/tests/services/test_project_permission_service.py
  backend/tests/tools/test_direct_executor.py
  backend/tests/tools/test_executor_web.py
  backend/tests/tools/test_persona_tools.py
Due: mypy

fix: scope benchmark signals to recent signal runs
  backend/app/services/_benchmark_dashboard.py
  backend/app/services/_benchmark_persistence.py
  backend/app/services/agent_benchmark_service.py
  backend/app/services/improvement_signals.py
  backend/tests/services/test_agent_benchmark_service.py
  backend/tests/services/test_improvement_signals.py
Due: mypy

feat(persona): add display_summary field for richer session summaries
  backend/app/api/persona/schemas.py
  backend/app/api/persona/stream.py
  backend/app/services/session_display_summary.py
  backend/app/workflows/_heartbeat_data.py
  backend/tests/api/test_persona.py
  backend/tests/services/test_session_display_summary.py
  backend/tests/workflows/test_heartbeat_prompt.py
  frontend/src/__tests__/unified-persona-workspace.test.tsx
  frontend/src/app/globals.css
  frontend/src/app/persona/components/TimeRangeDropdown.tsx
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
  frontend/src/app/persona/components/workspace-cards.tsx
  frontend/src/app/persona/components/workspace-live-events.ts
  frontend/src/app/persona/components/workspace-utils.tsx
  frontend/src/app/persona/page.tsx
  frontend/src/lib/api/persona-stream.ts
Due: mypy, eslint, tsc, prettier

fix(persona): inject dashboard client headers for client-side SSE requests
  frontend/src/lib/api-config.ts
Due: eslint, tsc, prettier

fix(persona): show Jenny display name in chat bubbles instead of agent slug, include agent_used in SSE stream messages
  backend/app/adapters/_claude_constants.py
  backend/app/adapters/claude_tools_helpers.py
  backend/app/adapters/claude_tools_mcp.py
  backend/app/api/complete/_core_helpers.py
  backend/app/api/complete/precision_search_guidance.py
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_postprocess.py
  backend/tests/adapters/test_claude_tools_helpers.py
  backend/tests/api/complete/test_precision_search_guidance.py
  backend/tests/benchmarks/approach_a.py
  backend/tests/benchmarks/approach_b.py
  backend/tests/benchmarks/approach_c.py
  backend/tests/benchmarks/approach_c_enhanced.py
  backend/tests/benchmarks/approach_d.py
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
  frontend/src/app/persona/components/workspace-feed.ts
  packages/chat-ui/src/components/ProviderBadge.tsx
  packages/chat-ui/src/hooks/chat-stream/message-handlers.ts
  packages/chat-ui/src/types/chat.ts
Due: mypy, eslint, tsc, prettier

style: auto-format from pre-commit hooks
  backend/tests/adapters/test_claude_tools_helpers.py
Due: none

fix: front-load claude mcp alias guidance
  backend/app/api/complete/precision_search_guidance.py
Due: mypy

fix: restore persona chat streaming and hydration
  frontend/next.config.ts
  frontend/src/__tests__/unified-persona-workspace-chat-state.test.tsx
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/lib/api-config.test.ts
  frontend/src/lib/api-config.ts
Due: eslint, tsc, prettier

style: unify dark-mode-only design system, replace blue accent with amber
  frontend/src/app/access-control/page.tsx
  frontend/src/app/agents/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/prompts/page.tsx
  frontend/src/components/layout/app-shell.tsx
  frontend/src/components/layout/sidebar-footer.tsx
  frontend/src/components/layout/sidebar-logo.tsx
  frontend/src/components/layout/sidebar-nav.tsx
Due: eslint, tsc, prettier
