Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

chore(.index.yaml): update generated_at timestamp
  .index.yaml
Due: none

feat(chat): persist active session ID in localStorage
  .index.yaml
  frontend/src/app/chat/hooks/useChatSession.ts
  frontend/src/app/persona/page.tsx
  frontend/src/app/persona/settings/components/PersonaSettingsHeader.tsx
  frontend/src/app/persona/settings/page.tsx
Due: eslint, tsc, prettier

refactor(chat): Improve session and project management in chat hooks
  .index.yaml
  frontend/src/app/chat/hooks/useChatSession.ts
  frontend/src/app/chat/hooks/useProjectContext.ts
  frontend/src/app/persona/page.tsx
  frontend/src/components/chat/project-dropdown.tsx
  frontend/src/components/chat/session-dropdown.tsx
Due: eslint, tsc, prettier

feat(backend): Enhance project permissions and cross-project access control
  .index.yaml
  backend/app/constants/projects.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/services/tools/tool_handler.py
  frontend/src/app/chat/hooks/useChatSession.ts
  frontend/src/app/chat/hooks/useProjectContext.ts
  frontend/src/app/persona/page.tsx
  frontend/src/components/chat/project-dropdown.tsx
  frontend/src/components/chat/session-dropdown.tsx
Due: mypy, eslint, tsc, prettier

chore(.index.yaml): update generation timestamp
  .index.yaml
Due: none

feat(permissions): Exempt persona tools from tier checks
  backend/app/api/complete/tool_provisioner.py
  backend/app/services/project_permission_service.py
  backend/tests/services/test_project_permission_service.py
Due: mypy

style: auto-format from pre-commit hooks
  backend/tests/services/test_project_permission_service.py
Due: none

style: auto-format from pre-commit hooks
  backend/tests/services/memory/test_inline_summary.py
Due: none

feat(memory): add inline summary tracking and parsing
  backend/app/api/complete/citation_tracker.py
  backend/app/api/memory_analysis.py
  backend/app/api/memory_dashboard.py
  backend/app/services/memory/_summary_parse.py
  backend/app/services/memory/citation_parser.py
  backend/app/services/memory/context_injector_formatter.py
  backend/app/services/memory/session_analysis.py
  backend/app/services/memory/summary_generator.py
  backend/app/services/session_operations.py
  backend/tests/services/memory/test_citation_parser.py
  backend/tests/services/memory/test_inline_summary.py
  backend/tests/services/memory/test_session_analysis.py
  backend/tests/services/memory/test_summary_segments_e2e.py
Due: mypy

fix(memory): Improve feedback reporting format
  backend/app/services/memory/context_injector_formatter.py
Due: mypy

refactor(frontend): Split budgets page into focused components
  frontend/src/app/access-control/budgets/_budget-editor.tsx
  frontend/src/app/access-control/budgets/_budget-row.tsx
  frontend/src/app/access-control/budgets/_components.tsx
  frontend/src/app/access-control/budgets/_utils.ts
  frontend/src/app/access-control/budgets/page.tsx
Due: eslint, tsc, prettier

refactor(frontend): Split permissions page into focused components
  frontend/src/app/access-control/permissions/_components/HourSelect.tsx
  frontend/src/app/access-control/permissions/_components/PermissionRow.tsx
  frontend/src/app/access-control/permissions/_components/SaveFlash.tsx
  frontend/src/app/access-control/permissions/_components/TierSelect.tsx
  frontend/src/app/access-control/permissions/_components/Toggle.tsx
  frontend/src/app/access-control/permissions/_components/tier-config.ts
  frontend/src/app/access-control/permissions/page.tsx
Due: eslint, tsc, prettier

refactor(tools): Split tool_definitions.py into focused modules
  backend/app/services/tools/_ideator_tools.py
  backend/app/services/tools/_notification_tools.py
  backend/app/services/tools/_persona_tools.py
  backend/app/services/tools/_standard_tools.py
  backend/app/services/tools/_tool_constants.py
  backend/app/services/tools/tool_definitions.py
Due: mypy

refactor(services): Split model_enrichment_service.py into focused modules
  backend/app/services/_enrichment_fetchers.py
  backend/app/services/_enrichment_matchers.py
  backend/app/services/_enrichment_normalizers.py
  backend/app/services/model_enrichment_service.py
Due: mypy

refactor(frontend): Split ProviderCard.tsx into focused components
  frontend/src/components/settings/ManualPasteInput.tsx
  frontend/src/components/settings/ProviderActionButtons.tsx
  frontend/src/components/settings/ProviderCard.tsx
  frontend/src/components/settings/ProviderCardTypes.ts
  frontend/src/components/settings/ProviderCardUtils.ts
  frontend/src/components/settings/ProviderStatusDisplay.tsx
  frontend/src/components/settings/VertexProjectInput.tsx
Due: eslint, tsc, prettier

refactor(api): Split oauth.py into focused modules
  backend/app/api/oauth.py
  backend/app/api/oauth_callback.py
  backend/app/api/oauth_exchange.py
  backend/app/api/oauth_flows.py
  backend/app/api/oauth_schemas.py
  backend/app/api/oauth_status.py
  backend/app/api/oauth_store.py
Due: mypy

refactor(memory): Split citation_parser.py into focused modules
  backend/app/services/memory/_citation_types.py
  backend/app/services/memory/citation_parser.py
Due: mypy

refactor(adapters): Split codex_oauth.py into focused modules
  backend/app/adapters/codex_oauth.py
  backend/app/adapters/codex_sse.py
  backend/app/adapters/codex_token_cache.py
Due: mypy

refactor(memory): Split repository.py into focused sub-repositories
  backend/app/services/memory/_repo_analytics.py
  backend/app/services/memory/_repo_crud.py
  backend/app/services/memory/_repo_helpers.py
  backend/app/services/memory/_repo_query.py
  backend/app/services/memory/_repo_search.py
  backend/app/services/memory/_repo_tier.py
  backend/app/services/memory/_repo_tracking.py
  backend/app/services/memory/repository.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
