Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

Fix Jenny benchmark failure export
  backend/scripts/persona_benchmark_eval.py
  backend/tests/scripts/test_persona_model_benchmark.py
Due: none

Show Jenny field heartbeat productivity
  backend/app/api/persona/schemas.py
  backend/app/services/persona_improvement.py
  backend/tests/api/test_persona.py
  backend/tests/services/test_persona_improvement.py
  frontend/src/app/persona/analytics/components/PersonaImprovementDashboard.tsx
  frontend/src/app/persona/analytics/types.ts
Due: mypy, eslint, tsc, prettier

Align Jenny field review window
  backend/app/api/persona/schemas.py
  backend/app/services/persona_improvement.py
  backend/tests/api/test_persona.py
  backend/tests/services/test_persona_improvement.py
  frontend/src/app/persona/analytics/components/PersonaImprovementDashboard.tsx
  frontend/src/app/persona/analytics/types.ts
Due: mypy, eslint, tsc, prettier

Tighten Jenny field scoring and suite coverage
  backend/app/api/persona/schemas.py
  backend/app/services/persona_improvement.py
  backend/scripts/persona_benchmark_cases.py
  backend/tests/api/test_persona.py
  backend/tests/scripts/test_persona_model_benchmark.py
  backend/tests/services/test_persona_improvement.py
  frontend/src/app/persona/analytics/components/PersonaImprovementDashboard.tsx
  frontend/src/app/persona/analytics/types.ts
Due: mypy, eslint, tsc, prettier

refactor(_experiment.py): fix all >50L function violations, extract helpers
  backend/scripts/persona_honing/_experiment.py
Due: none

Refactor _heartbeat_data: extract constants, split oversized functions
  backend/app/workflows/_heartbeat_data.py
Due: mypy

refactor(context_injector): simplify structure, fix 50-line violation
  backend/app/services/memory/context_injector.py
Due: mypy

Fix heartbeat cleanup/actionable summaries and failed-task recall
  backend/app/services/cleanup_summary.py
  backend/app/services/persona_improvement.py
  backend/app/services/prompt_service.py
  backend/app/services/tools/_executor_io_tasks.py
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_orchestrators.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/app/workflows/_heartbeat_state.py
  backend/scripts/persona_benchmark_cases.py
  backend/tests/scripts/test_persona_model_benchmark.py
  backend/tests/services/test_cleanup_summary.py
  backend/tests/services/test_persona_improvement.py
  backend/tests/services/test_prompt_service.py
  backend/tests/tools/test_executor_io_tasks.py
  backend/tests/tools/test_persona_tools.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

Tighten Jenny heartbeat acceptance matching
  backend/scripts/persona_benchmark_cases.py
Due: none

refactor(context_injector): split oversized module, simplify functions
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/context_injector_ops.py
Due: mypy

refactor(_heartbeat_orchestrators): split oversized module, extract constants
  backend/app/workflows/_heartbeat_completed_sessions.py
  backend/app/workflows/_heartbeat_failed_tasks.py
  backend/app/workflows/_heartbeat_orchestrators.py
  backend/app/workflows/_heartbeat_task_overview.py
Due: mypy

refactor(_experiment): split oversized module into focused submodules
  backend/scripts/persona_honing/_cohort_experiment.py
  backend/scripts/persona_honing/_decision.py
  backend/scripts/persona_honing/_experiment.py
  backend/scripts/persona_honing/_formatting.py
  backend/scripts/persona_honing/_improvement.py
  backend/scripts/persona_honing/_iteration_record.py
  backend/scripts/persona_honing/_run_helpers.py
  backend/scripts/persona_honing/_signals.py
Due: none

checkpoint: preserve current release-readiness worktree
  .env.example
  README.md
  backend/.env.example
  backend/alembic/versions/b5c6d7e8f9a0_migrate_persona_heartbeat_prompt.py
  backend/alembic/versions/cb33d77516d8_drop_unused_columns.py
  backend/alembic/versions/d5e6f7g8h9i0_enhance_persona_memory_config.py
  backend/app/config.py
  backend/app/hatchet_app.py
  backend/app/main.py
  backend/app/services/agent_bootstrap_service.py
  backend/app/services/agent_model_reconciliation_service.py
  backend/app/services/env_credential_service.py
  backend/app/services/event_storage.py
  backend/app/services/first_party_client_service.py
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/services/test_agent_bootstrap_service.py
  backend/tests/services/test_agent_model_reconciliation_service.py
  backend/tests/services/test_env_credential_service.py
  backend/tests/services/test_event_storage.py
  backend/tests/services/test_first_party_client_service.py
  backend/tests/test_config.py
  backend/tests/test_hatchet_app.py
  backend/tests/test_main.py
  docker-compose.yml
  docker/backend.Dockerfile
  docker/frontend.Dockerfile
  docker/hatchet-config/.gitkeep
  docker/init-db.sh
  frontend/next.config.ts
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/components/layout/sidebar-footer.tsx
  frontend/src/lib/api-config.test.ts
  frontend/src/lib/api-config.ts
  pnpm-lock.yaml
  scripts/generate-hatchet-dev-token.sh
  scripts/systemd/agent-hub-backend.service
Due: mypy, eslint, tsc, prettier

feat: resolve project roots from manifests
  backend/alembic/versions/g8h9i0j1k2l3_add_project_permissions_table.py
  backend/app/adapters/_claude_result_metadata.py
  backend/app/adapters/claude_tool_events.py
  backend/app/adapters/claude_tools_stream.py
  backend/app/api/complete/agent_loop.py
  backend/app/api/complete/async_endpoints.py
  backend/app/api/complete/tool_handler_utils.py
  backend/app/api/complete/tool_response_finalizer.py
  backend/app/api/complete/tool_result_builder.py
  backend/app/constants/projects.py
  backend/app/core/project_roots.py
  backend/app/services/feedback_storage.py
  backend/app/services/memory/citation_parser.py
  backend/app/services/session_live_activity.py
  backend/app/services/tools/_executor_consultation_helpers.py
  backend/app/services/tools/_executor_io_lanes.py
  backend/app/workflows/_session_postprocess.py
  backend/app/workflows/coderabbit_review.py
  backend/app/workflows/site_health_check.py
  backend/scripts/claude-pty-wrapper.py
  backend/scripts/persona_benchmark_cases.py
  backend/tests/core/test_project_roots.py
  backend/tests/services/memory/test_citation_parser.py
  backend/tests/services/test_git_status_summary.py
  backend/tests/tools/test_persona_tools.py
  backend/tests/workflows/test_heartbeat_prompt.py
  backend/tests/workflows/test_persona_wake.py
  backend/tests/workflows/test_site_health_check.py
  docs/design/artifact-hub-and-autonomous-ops.md
  frontend/src/__tests__/output-presentation.test.tsx
  frontend/src/components/output/code-block.tsx
  project.identity.json
  scripts/db.sh
Due: mypy, eslint, tsc, prettier

feat: resolve project roots from manifests
  backend/alembic/versions/g8h9i0j1k2l3_add_project_permissions_table.py
  backend/app/adapters/_claude_result_metadata.py
  backend/app/adapters/claude_tool_events.py
  backend/app/adapters/claude_tools_stream.py
  backend/app/api/complete/agent_loop.py
  backend/app/api/complete/async_endpoints.py
  backend/app/api/complete/tool_handler_utils.py
  backend/app/api/complete/tool_response_finalizer.py
  backend/app/api/complete/tool_result_builder.py
  backend/app/constants/projects.py
  backend/app/core/project_roots.py
  backend/app/services/feedback_storage.py
  backend/app/services/memory/citation_parser.py
  backend/app/services/session_live_activity.py
  backend/app/services/tools/_executor_consultation_helpers.py
  backend/app/services/tools/_executor_io_lanes.py
  backend/app/workflows/_session_postprocess.py
  backend/app/workflows/coderabbit_review.py
  backend/app/workflows/site_health_check.py
  backend/scripts/claude-pty-wrapper.py
  backend/scripts/persona_benchmark_cases.py
  backend/tests/core/test_project_roots.py
  backend/tests/services/memory/test_citation_parser.py
  backend/tests/services/test_git_status_summary.py
  backend/tests/tools/test_persona_tools.py
  backend/tests/workflows/test_heartbeat_prompt.py
  backend/tests/workflows/test_persona_wake.py
  backend/tests/workflows/test_site_health_check.py
  frontend/src/__tests__/output-presentation.test.tsx
  frontend/src/components/output/code-block.tsx
  project.identity.json
  scripts/db.sh
Due: mypy, eslint, tsc, prettier

feat: align agent hub with a-term identity
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/docker-build.yml
  NOTICE
  SECURITY.md
  backend/alembic/versions/g8h9i0j1k2l3_add_project_permissions_table.py
  backend/app/adapters/_claude_result_metadata.py
  backend/app/adapters/claude_tool_events.py
  backend/app/adapters/claude_tools_stream.py
  backend/app/api/complete/agent_loop.py
  backend/app/api/complete/async_endpoints.py
  backend/app/api/complete/tool_handler_utils.py
  backend/app/api/complete/tool_response_finalizer.py
  backend/app/api/complete/tool_result_builder.py
  backend/app/constants/projects.py
  backend/app/services/feedback_storage.py
  backend/app/services/memory/citation_parser.py
  backend/app/services/session_live_activity.py
  backend/app/services/tools/_executor_consultation_helpers.py
  backend/app/services/tools/_executor_io_lanes.py
  backend/app/workflows/coderabbit_review.py
  backend/app/workflows/site_health_check.py
  backend/scripts/claude-pty-wrapper.py
  backend/scripts/persona_benchmark_cases.py
  backend/tests/core/test_project_roots.py
  backend/tests/services/memory/test_citation_parser.py
  backend/tests/services/test_git_status_summary.py
  backend/tests/tools/test_persona_tools.py
  backend/tests/workflows/test_heartbeat_prompt.py
  backend/tests/workflows/test_persona_wake.py
  backend/tests/workflows/test_site_health_check.py
  docker/backend.Dockerfile
  docker/frontend.Dockerfile
  docs/design/artifact-hub-and-autonomous-ops.md
  frontend/src/__tests__/output-presentation.test.tsx
  frontend/src/components/output/code-block.tsx
  packages/agent-hub-client/pyproject.toml
  project.identity.json
  scripts/db.sh
Due: mypy, eslint, tsc, prettier

feat: align agent hub with a-term identity
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/docker-build.yml
  NOTICE
  SECURITY.md
  backend/alembic/versions/g8h9i0j1k2l3_add_project_permissions_table.py
  backend/app/adapters/_claude_result_metadata.py
  backend/app/adapters/claude_tool_events.py
  backend/app/adapters/claude_tools_stream.py
  backend/app/api/complete/agent_loop.py
  backend/app/api/complete/async_endpoints.py
  backend/app/api/complete/tool_handler_utils.py
  backend/app/api/complete/tool_response_finalizer.py
  backend/app/api/complete/tool_result_builder.py
  backend/app/constants/projects.py
  backend/app/services/feedback_storage.py
  backend/app/services/memory/citation_parser.py
  backend/app/services/session_live_activity.py
  backend/app/services/tools/_executor_consultation_helpers.py
  backend/app/services/tools/_executor_io_lanes.py
  backend/app/workflows/coderabbit_review.py
  backend/app/workflows/site_health_check.py
  backend/scripts/claude-pty-wrapper.py
  backend/scripts/persona_benchmark_cases.py
  backend/tests/core/test_project_roots.py
  backend/tests/services/memory/test_citation_parser.py
  backend/tests/services/test_git_status_summary.py
  backend/tests/tools/test_persona_tools.py
  backend/tests/workflows/test_heartbeat_prompt.py
  backend/tests/workflows/test_persona_wake.py
  backend/tests/workflows/test_site_health_check.py
  docker/backend.Dockerfile
  docker/frontend.Dockerfile
  frontend/src/__tests__/output-presentation.test.tsx
  frontend/src/components/output/code-block.tsx
  packages/agent-hub-client/pyproject.toml
  project.identity.json
  scripts/db.sh
Due: mypy, eslint, tsc, prettier

feat: add canonical workflow orchestration and rich task planning
  backend/app/api/dashboard_stats.py
  backend/app/api/endpoints/workflow.py
  backend/app/api/orchestration.py
  backend/app/api/orchestration_models.py
  backend/app/services/tools/_executor_io.py
  backend/app/services/tools/_executor_io_tasks.py
  backend/app/services/tools/_persona_ops_tools.py
  backend/tests/api/test_dashboard_stats.py
  backend/tests/api/test_orchestration_workflow.py
  backend/tests/tools/test_executor_io_tasks.py
  backend/tests/tools/test_persona_tools.py
  examples/README.md
  examples/orchestration_example.py
  frontend/next.config.ts
  frontend/package.json
  frontend/src/app/notes/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/layout/app-shell.tsx
  frontend/src/components/layout/mobile-header.tsx
  frontend/src/components/layout/sidebar-footer.tsx
  frontend/src/components/layout/sidebar-logo.tsx
  frontend/src/components/settings/PreferencesTab.tsx
  packages/agent-hub-client/agent_hub/_async_client.py
  packages/agent-hub-client/agent_hub/_sync_client.py
  packages/agent-hub-client/agent_hub/_workflow.py
  packages/agent-hub-client/tests/test_workflow.py
  pnpm-lock.yaml
  project.identity.json
Due: mypy, eslint, tsc, prettier

fix: cut site-health waste and repair tool accounting
  backend/app/api/complete/tool_response_finalizer.py
  backend/app/api/complete/tool_result_builder.py
  backend/app/services/session_ingestion/_events.py
  backend/app/services/tools/tool_handler.py
  backend/app/workflows/site_health_check.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/complete/test_tool_response_finalizer.py
  backend/tests/api/complete/test_tool_result_builder.py
  backend/tests/services/session_ingestion/test_service.py
  backend/tests/tools/test_deferred_tool_loading.py
  backend/tests/workflows/test_site_health_check.py
Due: mypy

chore: add backend output binary file
  backend/--output
Due: none

Remove CodeRabbit and harden Claude/Codex fallback handling
  backend/app/adapters/claude_oauth.py
  backend/app/adapters/codex_oauth.py
  backend/app/worker_runtime.py
  backend/app/workflows/coderabbit_review.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/adapters/test_claude.py
  backend/tests/adapters/test_codex_oauth.py
  backend/tests/api/test_memory_episodes_query.py
  backend/tests/unit/test_worker_runtime.py
  backend/tests/workflows/test_coderabbit_review_dispatch.py
Due: mypy

Resolve prompt revision restore prefixes
  backend/app/api/prompts.py
  backend/app/services/prompt_service.py
  backend/tests/api/test_prompts_api.py
  backend/tests/services/test_prompt_service.py
Due: mypy
