Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

Align Jenny focus harness cleanup gating
  backend/app/services/_persona_context.py
  backend/tests/services/test_persona_service.py
Due: mypy

Add agent benchmark observability dashboard
  backend/alembic/versions/10d42965cd8e_add_agent_benchmark_tracking.py
  backend/app/api/agents.py
  backend/app/api/helpers/__init__.py
  backend/app/api/helpers/agent_benchmarks.py
  backend/app/api/schemas/__init__.py
  backend/app/api/schemas/agent_schemas.py
  backend/app/models/__init__.py
  backend/app/models/agent_benchmark.py
  backend/app/services/agent_benchmark_service.py
  backend/scripts/run_jenny_honing_loop.py
  backend/scripts/run_jenny_model_benchmark.py
  backend/tests/api/test_agents_api.py
  backend/tests/scripts/test_jenny_model_benchmark.py
  frontend/src/__tests__/agent-analytics-page.test.tsx
  frontend/src/__tests__/agent-analytics-utils.test.ts
  frontend/src/app/agents/[slug]/analytics/components/BenchmarkTrendSection.tsx
  frontend/src/app/agents/[slug]/analytics/page.tsx
  frontend/src/app/agents/[slug]/analytics/types.ts
  frontend/src/app/agents/[slug]/analytics/utils.ts
  frontend/src/lib/api.ts
  frontend/src/lib/api/agents.ts
Due: mypy, eslint, tsc, prettier

Document Jenny benchmark dashboard placement
  docs/jenny-model-benchmark.md
Due: none

Expose Jenny analytics under Persona
  frontend/src/__tests__/persona-analytics-page.test.tsx
  frontend/src/__tests__/persona-page.test.tsx
  frontend/src/__tests__/persona-settings-tabs.test.tsx
  frontend/src/app/agents/[slug]/analytics/components/AgentAnalyticsDashboard.tsx
  frontend/src/app/agents/[slug]/analytics/components/AnalyticsHeader.tsx
  frontend/src/app/agents/[slug]/analytics/page.tsx
  frontend/src/app/persona/analytics/page.tsx
  frontend/src/app/persona/page.tsx
  frontend/src/app/persona/settings/components/PersonaSettingsHeader.tsx
Due: eslint, tsc, prettier

Add analytics action to agent editor
  frontend/src/__tests__/agent-editor-shell.test.tsx
  frontend/src/app/agents/[slug]/components/AgentEditorHeader.tsx
Due: eslint, tsc, prettier

Add controlled benchmark experiments
  backend/alembic/versions/29e5dc2c0921_add_benchmark_experiments.py
  backend/app/api/schemas/agent_schemas.py
  backend/app/models/__init__.py
  backend/app/models/agent_benchmark.py
  backend/app/services/agent_benchmark_service.py
  backend/scripts/run_jenny_model_benchmark.py
  backend/tests/api/test_agents_api.py
  backend/tests/scripts/test_jenny_model_benchmark.py
  backend/tests/services/test_agent_benchmark_service.py
  docs/jenny-model-benchmark.md
  frontend/src/__tests__/agent-analytics-page.test.tsx
  frontend/src/app/agents/[slug]/analytics/components/AgentAnalyticsDashboard.tsx
  frontend/src/app/agents/[slug]/analytics/components/BenchmarkExperimentSection.tsx
  frontend/src/app/agents/[slug]/analytics/types.ts
Due: mypy, eslint, tsc, prettier

Add controlled benchmark experiments
  backend/alembic/versions/29e5dc2c0921_add_benchmark_experiments.py
  backend/app/api/schemas/agent_schemas.py
  backend/app/models/__init__.py
  backend/app/models/agent_benchmark.py
  backend/app/services/agent_benchmark_service.py
  backend/scripts/run_jenny_model_benchmark.py
  backend/tests/api/test_agents_api.py
  backend/tests/scripts/test_jenny_model_benchmark.py
  backend/tests/services/test_agent_benchmark_service.py
  frontend/src/__tests__/agent-analytics-page.test.tsx
  frontend/src/app/agents/[slug]/analytics/components/AgentAnalyticsDashboard.tsx
  frontend/src/app/agents/[slug]/analytics/components/BenchmarkExperimentSection.tsx
  frontend/src/app/agents/[slug]/analytics/types.ts
Due: mypy, eslint, tsc, prettier

Ignore volatile benchmark snapshot fields
  backend/app/services/agent_benchmark_service.py
  backend/tests/services/test_agent_benchmark_service.py
Due: mypy

Add prompt revision history and restore UI
  backend/alembic/versions/6c39f1c7c8f3_add_prompt_revisions.py
  backend/app/api/prompts.py
  backend/app/api/schemas/prompt_schemas.py
  backend/app/models/__init__.py
  backend/app/models/prompt.py
  backend/app/services/persona_instruction_service.py
  backend/app/services/prompt_service.py
  backend/tests/api/test_prompts_api.py
  backend/tests/services/test_persona_instruction_service.py
  backend/tests/services/test_prompt_service.py
  frontend/src/__tests__/prompt-revision-history.test.tsx
  frontend/src/app/prompts/[slug]/components/PromptRevisionHistory.tsx
  frontend/src/app/prompts/[slug]/page.tsx
  frontend/src/lib/api/prompts.ts
Due: mypy, eslint, tsc, prettier

Add bounded heartbeat completion review
  backend/app/services/agent_benchmark_service.py
  backend/app/workflows/_completion_review.py
  backend/app/workflows/_heartbeat_postprocess.py
  backend/app/workflows/persona_heartbeat.py
  backend/tests/services/test_agent_benchmark_service.py
  backend/tests/workflows/test_heartbeat_postprocess.py
Due: mypy

Add bounded heartbeat completion review
  backend/app/services/agent_benchmark_service.py
  backend/app/workflows/_completion_review.py
  backend/app/workflows/_heartbeat_postprocess.py
  backend/app/workflows/persona_heartbeat.py
  backend/tests/services/test_agent_benchmark_service.py
  backend/tests/workflows/test_heartbeat_postprocess.py
  docs/jenny-model-benchmark.md
Due: mypy

Broaden summary-term alternatives for evaluator brittleness
  backend/scripts/jenny_benchmark_cases.py
Due: none

Add supervisor review gate for heartbeat instruction edits
  backend/app/services/tools/_executor_persona.py
  backend/app/workflows/_instruction_review.py
  backend/tests/workflows/test_instruction_review.py
Due: mypy

Reactivate synced external sessions on heartbeat
  backend/.tmp/completion-review-reviewer-ab/baseline-4101.json
  backend/.tmp/completion-review-reviewer-ab/baseline-4102.json
  backend/.tmp/completion-review-reviewer-ab/baseline-4103.json
  backend/.tmp/completion-review-reviewer-ab/baseline-4104.json
  backend/.tmp/completion-review-reviewer-ab/baseline-4105.json
  backend/.tmp/completion-review-reviewer-ab/candidate-4201.json
  backend/.tmp/completion-review-reviewer-ab/candidate-4202.json
  backend/.tmp/completion-review-reviewer-ab/candidate-4203.json
  backend/.tmp/completion-review-reviewer-ab/candidate-4204.json
  backend/.tmp/completion-review-reviewer-ab/candidate-4205.json
  backend/.tmp/completion-review-smoke-codex.json
  backend/.tmp/completion-review-smoke-sonnet-v2.json
  backend/.tmp/completion-review-smoke-sonnet-v3.json
  backend/.tmp/completion-review-smoke-sonnet.json
  backend/.tmp/completion_review_current.json
  backend/.tmp/jenny-current-full-5101.json
  backend/.tmp/jenny-current-full-5102.json
  backend/.tmp/jenny-heartbeat-full-5301.json
  backend/.tmp/jenny-heartbeat-targeted-5201.json
  backend/.tmp/jenny-heartbeat-targeted-5202.json
  backend/.tmp/jenny-honing-loop/reports/iteration-01-jenny-benchmark-0fe01b08.md
  backend/.tmp/jenny-honing-loop/reports/iteration-01-jenny-benchmark-bfa31fb9.md
  backend/.tmp/jenny-targeted-5103.json
  backend/.tmp/jenny_full_battery_post_fix.json
  backend/.tmp/jenny_full_heartbeat_current.json
  backend/.tmp/jenny_targeted_heartbeat_current.json
  backend/.tmp/jenny_targeted_summary_cluster.json
  backend/app/services/session_ingestion/service.py
  backend/tests/services/session_ingestion/test_service.py
Due: mypy

Reactivate existing external sessions on upsert
  backend/app/services/session_ingestion/service.py
  backend/tests/services/session_ingestion/test_service.py
Due: mypy

Add real-time session health observability
  backend/alembic/versions/e25ac263bac8_add_session_health_tracking.py
  backend/app/api/complete/cache_handler.py
  backend/app/api/complete/error_handlers.py
  backend/app/api/complete/handler_helpers.py
  backend/app/api/complete/multi_turn_executor.py
  backend/app/api/complete/multi_turn_helpers.py
  backend/app/api/complete/multi_turn_loop.py
  backend/app/api/complete/result_finalizer.py
  backend/app/api/complete/streaming_persistence.py
  backend/app/api/complete/tool_event_processor.py
  backend/app/api/complete/tool_handler_utils.py
  backend/app/api/complete/tool_handlers.py
  backend/app/api/complete/tool_result_builder.py
  backend/app/models/session.py
  backend/app/services/event_storage.py
  backend/app/services/session_health.py
  backend/app/workflows/_completion_review.py
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_instruction_review.py
  backend/scripts/seed_agents_data/_support_coordination.py
  backend/tests/workflows/test_session_health.py
Due: mypy

Normalize persona profile context and tighten precision search guidance
  backend/app/api/complete/precision_search_guidance.py
  backend/app/api/persona/__init__.py
  backend/app/services/persona_document_prompt_service.py
  backend/app/services/persona_documents.py
  backend/tests/api/complete/test_precision_search_guidance.py
  backend/tests/api/test_persona.py
  backend/tests/services/test_persona_documents.py
Due: mypy

Fix heartbeat preview runtime and prompt inspection
  backend/app/api/agents.py
  backend/app/api/helpers/agent_preview.py
  backend/app/api/schemas/agent_schemas.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/prompt_service.py
  backend/app/services/runtime_prompt_stack.py
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_postprocess.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/tests/api/test_agent_preview_helper.py
  backend/tests/services/test_agent_routing.py
  backend/tests/workflows/test_heartbeat_prompt.py
  frontend/src/__tests__/preview-modal.test.tsx
  frontend/src/app/agents/[slug]/components/PreviewModal.tsx
  frontend/src/app/agents/[slug]/components/PromptsTab.tsx
  frontend/src/app/agents/[slug]/types.ts
  frontend/src/types/agent.ts
Due: mypy, eslint, tsc, prettier

Prune Jenny heartbeat prompt context
  backend/app/services/_persona_context.py
  backend/app/workflows/_heartbeat_data.py
  backend/tests/services/test_persona_service.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

Apply ruff formatting to recent alembic migrations
  backend/alembic/versions/10d42965cd8e_add_agent_benchmark_tracking.py
  backend/alembic/versions/29e5dc2c0921_add_benchmark_experiments.py
  backend/alembic/versions/6c39f1c7c8f3_add_prompt_revisions.py
  backend/alembic/versions/e25ac263bac8_add_session_health_tracking.py
Due: none

refactor: simplify feedback storage query helpers
  backend/app/services/feedback_storage.py
  backend/tests/services/test_feedback_storage.py
Due: mypy
