Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

test: finalize operator surface closeout proof bundle
  frontend/src/__tests__/persona-workflow-composer.test.tsx
  frontend/src/__tests__/session-keyboard.test.tsx
  frontend/src/__tests__/unified-persona-workspace-chat-state.test.tsx
  frontend/src/__tests__/workspace-cards-keyboard.test.tsx
Due: eslint, tsc, prettier

fix: use control-group shutdown for agent hub frontend
  backend/tests/unit/test_systemd_service_templates.py
  scripts/systemd/agent-hub-frontend.service
Due: none

refactor: finish persona and sessions operator polish
  frontend/src/__tests__/persona-background-inbox.test.tsx
  frontend/src/__tests__/persona-blocker-panel.test.tsx
  frontend/src/__tests__/persona-operator-deck.test.tsx
  frontend/src/__tests__/persona-page.test.tsx
  frontend/src/__tests__/persona-prompt-budget-panel.test.tsx
  frontend/src/__tests__/persona-run-hud.test.tsx
  frontend/src/__tests__/persona-thread-header.test.tsx
  frontend/src/__tests__/persona-workflow-composer.test.tsx
  frontend/src/__tests__/sessions.test.tsx
  frontend/src/__tests__/unified-persona-workspace-chat-state.test.tsx
  frontend/src/__tests__/workspace-chat-footer.test.tsx
  frontend/src/app/persona/components/PersonaBackgroundInbox.tsx
  frontend/src/app/persona/components/PersonaBlockerPanel.tsx
  frontend/src/app/persona/components/PersonaOperatorDeck.tsx
  frontend/src/app/persona/components/PersonaPromptBudgetPanel.tsx
  frontend/src/app/persona/components/PersonaRunHud.tsx
  frontend/src/app/persona/components/PersonaThreadHeader.tsx
  frontend/src/app/persona/components/PersonaWorkflowComposer.tsx
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
  frontend/src/app/persona/components/WorkspaceChatFooter.tsx
  frontend/src/app/persona/components/WorkspaceTimeline.tsx
  frontend/src/app/persona/components/WorkspaceToolbar.tsx
  frontend/src/app/persona/components/persona-operator-chrome.tsx
  frontend/src/app/persona/page.tsx
  frontend/src/app/sessions/components/EmptyState.tsx
  frontend/src/app/sessions/components/ExpandedRowContent.tsx
  frontend/src/app/sessions/components/InfiniteScrollFooter.tsx
  frontend/src/app/sessions/components/ModelFilterBadge.tsx
  frontend/src/app/sessions/components/ModelPill.tsx
  frontend/src/app/sessions/components/SessionTable.tsx
  frontend/src/app/sessions/components/SessionTableRow.tsx
  frontend/src/app/sessions/components/SessionsHeader.tsx
  frontend/src/app/sessions/components/StatusCell.tsx
  frontend/src/app/sessions/page.tsx
  frontend/src/app/sessions/utils.ts
Due: eslint, tsc, prettier

refactor: finish persona and sessions operator polish
  docs/tasks/agent-hub-sessions-persona-operator-refactor-reference.md
  docs/tasks/agent-hub-sessions-persona-operator-refactor.plan.json
  frontend/src/__tests__/persona-background-inbox.test.tsx
  frontend/src/__tests__/persona-blocker-panel.test.tsx
  frontend/src/__tests__/persona-operator-deck.test.tsx
  frontend/src/__tests__/persona-page.test.tsx
  frontend/src/__tests__/persona-prompt-budget-panel.test.tsx
  frontend/src/__tests__/persona-run-hud.test.tsx
  frontend/src/__tests__/persona-thread-header.test.tsx
  frontend/src/__tests__/persona-workflow-composer.test.tsx
  frontend/src/__tests__/sessions.test.tsx
  frontend/src/__tests__/unified-persona-workspace-chat-state.test.tsx
  frontend/src/__tests__/workspace-chat-footer.test.tsx
  frontend/src/app/persona/components/PersonaBackgroundInbox.tsx
  frontend/src/app/persona/components/PersonaBlockerPanel.tsx
  frontend/src/app/persona/components/PersonaOperatorDeck.tsx
  frontend/src/app/persona/components/PersonaPromptBudgetPanel.tsx
  frontend/src/app/persona/components/PersonaRunHud.tsx
  frontend/src/app/persona/components/PersonaThreadHeader.tsx
  frontend/src/app/persona/components/PersonaWorkflowComposer.tsx
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
  frontend/src/app/persona/components/WorkspaceChatFooter.tsx
  frontend/src/app/persona/components/WorkspaceTimeline.tsx
  frontend/src/app/persona/components/WorkspaceToolbar.tsx
  frontend/src/app/persona/components/persona-operator-chrome.tsx
  frontend/src/app/persona/page.tsx
  frontend/src/app/sessions/components/EmptyState.tsx
  frontend/src/app/sessions/components/ExpandedRowContent.tsx
  frontend/src/app/sessions/components/InfiniteScrollFooter.tsx
  frontend/src/app/sessions/components/ModelFilterBadge.tsx
  frontend/src/app/sessions/components/ModelPill.tsx
  frontend/src/app/sessions/components/SessionTable.tsx
  frontend/src/app/sessions/components/SessionTableRow.tsx
  frontend/src/app/sessions/components/SessionsHeader.tsx
  frontend/src/app/sessions/components/StatusCell.tsx
  frontend/src/app/sessions/page.tsx
  frontend/src/app/sessions/utils.ts
Due: eslint, tsc, prettier

fix: finish sessions follow-up closeout polish
  frontend/src/__tests__/sessions.test.tsx
  frontend/src/app/sessions/components/EmptyState.tsx
  frontend/src/app/sessions/components/SessionsHeader.tsx
  frontend/src/app/sessions/page.tsx
Due: eslint, tsc, prettier

Build native Agent Hub Telegram parity for Jenny
  backend/app/api/__init__.py
  backend/app/api/admin_telegram.py
  backend/app/api/persona/automations.py
  backend/app/api/persona/schemas.py
  backend/app/config.py
  backend/app/scripts/__init__.py
  backend/app/scripts/configure_telegram_bot.py
  backend/app/scripts/run_telegram_bot.py
  backend/app/scripts/send_jenny_telegram_status_report.py
  backend/app/services/first_party_client_service.py
  backend/app/services/telegram_bot_service.py
  backend/app/services/telegram_config_service.py
  backend/app/services/telegram_delivery.py
  backend/app/services/telegram_renderer.py
  backend/app/workflows/persona_scheduler.py
  backend/pyproject.toml
  backend/tests/api/test_admin_telegram.py
  backend/tests/api/test_persona_telegram_automations.py
  backend/tests/services/test_first_party_client_service.py
  backend/tests/services/test_telegram_bot_service.py
  backend/tests/services/test_telegram_config_service.py
  backend/tests/services/test_telegram_delivery.py
  backend/tests/services/test_telegram_renderer.py
  backend/tests/unit/test_configure_telegram_bot.py
  backend/tests/unit/test_send_jenny_telegram_status_report.py
  backend/tests/unit/test_systemd_service_templates.py
  backend/tests/workflows/test_persona_scheduler_telegram.py
  backend/uv.lock
  docs/tasks/agent-hub-native-telegram-parity-for-jenny-reference.md
  docs/tasks/agent-hub-native-telegram-parity-for-jenny.plan.json
  frontend/biome.json
  scripts/systemd/agent-hub-telegram-bot.service
  scripts/systemd/agent-hub-telegram-status-report.service
  scripts/systemd/agent-hub-telegram-status-report.timer
Due: mypy, prettier

Build native Agent Hub Telegram parity for Jenny
  backend/app/api/__init__.py
  backend/app/api/admin_telegram.py
  backend/app/api/persona/automations.py
  backend/app/api/persona/schemas.py
  backend/app/config.py
  backend/app/scripts/__init__.py
  backend/app/scripts/configure_telegram_bot.py
  backend/app/scripts/run_telegram_bot.py
  backend/app/scripts/send_jenny_telegram_status_report.py
  backend/app/services/first_party_client_service.py
  backend/app/services/telegram_bot_service.py
  backend/app/services/telegram_config_service.py
  backend/app/services/telegram_delivery.py
  backend/app/services/telegram_renderer.py
  backend/app/workflows/persona_scheduler.py
  backend/pyproject.toml
  backend/tests/api/test_admin_telegram.py
  backend/tests/api/test_persona_telegram_automations.py
  backend/tests/services/test_first_party_client_service.py
  backend/tests/services/test_telegram_bot_service.py
  backend/tests/services/test_telegram_config_service.py
  backend/tests/services/test_telegram_delivery.py
  backend/tests/services/test_telegram_renderer.py
  backend/tests/unit/test_configure_telegram_bot.py
  backend/tests/unit/test_send_jenny_telegram_status_report.py
  backend/tests/unit/test_systemd_service_templates.py
  backend/tests/workflows/test_persona_scheduler_telegram.py
  backend/uv.lock
  frontend/biome.json
  scripts/systemd/agent-hub-telegram-bot.service
  scripts/systemd/agent-hub-telegram-status-report.service
  scripts/systemd/agent-hub-telegram-status-report.timer
Due: mypy, prettier

fix: remove timeout caps and refresh cleanup docs
  backend/app/api/orchestration_models.py
  backend/app/api/schemas/agent_schemas.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/workflows/test_timeout_policy.py
Due: mypy

fix: remove timeout caps and refresh cleanup docs
  backend/app/api/orchestration_models.py
  backend/app/api/schemas/agent_schemas.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/workflows/test_timeout_policy.py
  docs/persona-operator-contract.md
  docs/tasks/agent-hub-hard-memory-governance-cleanup-evidence.md
  docs/tasks/agent-hub-hard-memory-governance-cleanup-export.json
  docs/tasks/agent-hub-hard-memory-governance-cleanup-plan.json
  docs/tasks/agent-hub-hard-memory-governance-snapshot.py
  docs/tasks/agent-hub-memory-governance-cleanup-evidence.md
  docs/tasks/agent-hub-memory-governance-cleanup-export.json
  docs/tasks/agent-hub-memory-governance-cleanup-plan.json
  docs/tasks/agent-hub-memory-governance-snapshot.py
  docs/tasks/agent-hub-native-telegram-parity-for-jenny-reference.md
  docs/tasks/agent-hub-native-telegram-parity-for-jenny.plan.json
  docs/tasks/agent-hub-sessions-persona-opus-review-brief.md
Due: mypy

fix(memory): compact before policy limits
  backend/app/api/memory_episodes.py
  backend/app/api/memory_schemas.py
  backend/app/api/memory_schemas_episodes.py
  backend/app/services/memory/_repo_helpers.py
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_builder_tiers.py
  backend/app/services/memory/context_injector_blocks_helpers.py
  backend/app/services/memory/episode_converters.py
  backend/app/services/memory/memory_models.py
  backend/app/services/memory/review_agent.py
  backend/app/services/memory/search_helpers.py
  backend/app/services/memory/search_semantic.py
  backend/app/services/tools/_executor_memory_review.py
  backend/app/services/tools/_persona_memory_tools.py
  backend/app/workflows/persona_scheduler.py
  backend/tests/services/memory/test_reference_injection.py
  backend/tests/services/memory/test_review_agent.py
  backend/tests/tools/test_tool_definitions.py
Due: mypy

fix(memory): clamp scheduled review batches
  backend/app/workflows/persona_scheduler.py
  backend/tests/workflows/test_persona_scheduler.py
Due: mypy

feat(memory): validate source compactness
  backend/app/api/_memory_episodes_helpers.py
  backend/app/api/memory_agent_tools.py
  backend/app/services/memory/episode_creator_core.py
  backend/app/services/memory/episode_creator_helpers.py
  backend/app/services/memory/review_agent.py
  backend/app/services/tools/_executor_memory_review.py
  backend/tests/api/test_memory.py
  backend/tests/services/memory/test_episode_creator.py
  backend/tests/services/memory/test_review_agent.py
Due: mypy

docs(chat): define primary chat contract
  backend/tests/unit/test_primary_chat_contract_doc.py
Due: none

docs(chat): define primary chat contract
  backend/tests/unit/test_primary_chat_contract_doc.py
  docs/agent-hub-primary-chat-contract.md
Due: none

feat(chat): promote primary chat workspace
  frontend/src/__tests__/message-actions.test.tsx
  frontend/src/app/chat/page.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/layout/sidebar-nav.tsx
  packages/chat-ui/src/components/MessageActions.tsx
  packages/chat-ui/src/components/MessageBubble.tsx
  packages/chat-ui/src/components/MessageContent.tsx
  packages/chat-ui/src/components/MessageRuntimeDetails.tsx
  packages/chat-ui/src/components/chat-panel.tsx
  packages/chat-ui/src/components/message-input.tsx
  packages/chat-ui/src/components/message-list.tsx
  packages/chat-ui/src/hooks/chat-stream/message-handlers.ts
  packages/chat-ui/src/hooks/chat-stream/send-message.ts
  packages/chat-ui/src/hooks/chat-stream/session-loader.ts
  packages/chat-ui/src/hooks/chat-stream/types.ts
  packages/chat-ui/src/hooks/use-chat-stream.ts
  packages/chat-ui/src/index.ts
  packages/chat-ui/src/types/chat.ts
Due: eslint, tsc, prettier

feat(chat): add optional context pickers
  backend/app/api/__init__.py
  backend/app/api/tasks.py
  backend/tests/api/test_task_search.py
  frontend/src/app/chat/components/ChatHeader.tsx
  frontend/src/app/chat/page.tsx
  frontend/src/lib/api/tasks.ts
Due: mypy, eslint, tsc, prettier

fix(tools): remove obsolete finalize workflow
  backend/alembic/versions/a3f20b69e97e_clarify_heartbeat_cleanup_candidate_.py
  backend/alembic/versions/b4c5d6e7f8g9_add_resolve_conflict_heartbeat_guidance.py
  backend/alembic/versions/d1f2ec627e4b_add_finalize_merge_guidance_to_.py
  backend/alembic/versions/d3931b3024b3_strengthen_heartbeat_finalize_gate.py
  backend/app/services/tools/_executor_io.py
  backend/app/services/tools/_executor_io_lanes.py
  backend/app/services/tools/_executor_io_tasks.py
  backend/app/services/tools/_persona_ops_tools.py
  backend/tests/tools/test_persona_tools.py
Due: mypy

fix(ui): simplify session details surface
  frontend/src/__tests__/sessions.test.tsx
  frontend/src/app/sessions/components/ExpandedRowContent.tsx
  frontend/src/app/sessions/components/ModelPill.tsx
  frontend/src/app/sessions/components/SessionTable.tsx
  frontend/src/app/sessions/components/SessionTableRow.tsx
  frontend/src/components/timeline/event-timeline.tsx
  frontend/src/components/timeline/filter-chip.tsx
  frontend/src/lib/api/sessions.ts
Due: eslint, tsc, prettier

fix(chat): use canonical project roots
  backend/app/api/project_permissions.py
  backend/tests/api/test_project_permissions.py
  frontend/src/__tests__/chat-panel-thinking.test.ts
  frontend/src/__tests__/chat-project-context.test.ts
  frontend/src/app/chat/hooks/useProjectContext.ts
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/api/project-permissions.ts
Due: mypy, eslint, tsc, prettier

fix(api): align live session status filters
  backend/app/api/sessions.py
  backend/scripts/export_seeds.py
  backend/scripts/seed_agents.py
  backend/tests/api/test_sessions.py
Due: mypy

docs: update testing commands to st check
  README.md
Due: none

refactor(chat): split /chat sidebar into small helpers
  backend/scripts/seed_agents_data/seed_data.json
  frontend/src/app/chat/page.tsx
Due: eslint, tsc, prettier

fix(chat): honor agent query selection
  frontend/src/app/chat/hooks/useAgentSelection.ts
Due: eslint, tsc, prettier

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
