Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

docs: switch SECURITY.md to GitHub private vulnerability reporting
  SECURITY.md
Due: none

fix: replace absolute symlinks with canonical wrappers
  scripts/commit.sh
  scripts/dev-tools.sh
  scripts/lib
  scripts/lib/dev-standards-config.sh
  scripts/lib/rebuild-utils.sh
  scripts/rebuild.sh
Due: none

fix: externalize private infrastructure identifiers
  README.md
  backend/alembic/versions/g8h9i0j1k2l3_add_project_permissions_table.py
  backend/app/constants/projects.py
  backend/app/services/tools/_executor_precision_code_search.py
  backend/mcp_server.py
  backend/scripts/claude-pty-wrapper.py
  backend/scripts/claude-tty-wrapper.sh
  backend/scripts/memory/migrate_neo4j_to_pg.py
  backend/scripts/test_oauth_isolation.py
Due: mypy

refactor(memory): mandates/guardrails always full text, audience_tags only filters references
  backend/app/api/memory_agent_schemas.py
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_builder_fetcher.py
  backend/app/services/memory/context_builder_tiers.py
  backend/app/services/memory/context_injector_blocks.py
  backend/app/services/memory/context_injector_blocks_helpers.py
  backend/app/services/memory/context_injector_queries.py
  backend/scripts/seed_agents_data/concierge_agents.py
  backend/tests/services/memory/test_context_builder_fetcher.py
  frontend/src/components/memory/EpisodeFormFields.tsx
Due: mypy, eslint, tsc, prettier

refactor: replace Python seed files with DB-exported seed_data.json
  backend/scripts/export_seeds.py
  backend/scripts/seed_agents.py
  backend/scripts/seed_agents_data/__init__.py
  backend/scripts/seed_agents_data/_execution_agents.py
  backend/scripts/seed_agents_data/_ideator_agents.py
  backend/scripts/seed_agents_data/_support_analysis.py
  backend/scripts/seed_agents_data/_support_coordination.py
  backend/scripts/seed_agents_data/_support_memory.py
  backend/scripts/seed_agents_data/_support_utility.py
  backend/scripts/seed_agents_data/concierge_agents.py
  backend/scripts/seed_agents_data/core_agents.py
  backend/scripts/seed_agents_data/pipeline_agents.py
  backend/scripts/seed_agents_data/portfolio_agents.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/scripts/seed_agents_data/support_agents.py
Due: none

fix: batch-tier KeyError, tier-only validation bypass, tighten long mandates, expand imperative verbs
  backend/app/services/memory/_repo_tracking.py
  backend/app/services/memory/episode_validation.py
Due: mypy

chore(scripts): sort imports alphabetically
  backend/scripts/memory/migrate_neo4j_to_pg.py
Due: none

fix: re-export _run_improvement_pass and update test patch paths after jenny honing refactor
  backend/.tmp/jenny-honing-loop/reports/iteration-01-jenny-benchmark-82ee472f.md
  backend/alembic/versions/f1a2b3c4d5e6_seed_persona_runtime_prompt_docs.py
  backend/scripts/run_jenny_honing_loop.py
  backend/tasks/intelligent-context-management/plan.json
  backend/tests/api/complete/test_tool_handlers_partial.py
  backend/tests/api/complete/test_tool_response_finalizer.py
  backend/tests/api/test_project_permissions.py
  backend/tests/scripts/test_jenny_honing_loop.py
  backend/tests/tools/test_persona_integration.py
  backend/tests/workflows/test_heartbeat_prompt.py
  backend/tests/workflows/test_persona_wake.py
  docs/adapter-registry-rewrite.md
  prompts/next-session-ws11-validation.md
  reference/research-journaling-memory.md
Due: none

fix: re-export _run_improvement_pass and update test patch paths after jenny honing refactor
  backend/.tmp/jenny-honing-loop/reports/iteration-01-jenny-benchmark-82ee472f.md
  backend/alembic/versions/f1a2b3c4d5e6_seed_persona_runtime_prompt_docs.py
  backend/scripts/run_jenny_honing_loop.py
  backend/tests/api/complete/test_tool_handlers_partial.py
  backend/tests/api/complete/test_tool_response_finalizer.py
  backend/tests/api/test_project_permissions.py
  backend/tests/scripts/test_jenny_honing_loop.py
  backend/tests/tools/test_persona_integration.py
  backend/tests/workflows/test_heartbeat_prompt.py
  backend/tests/workflows/test_persona_wake.py
  prompts/next-session-ws11-validation.md
  reference/research-journaling-memory.md
Due: none

fix: resolve 12 pre-existing test failures across 5 test files (cross-project isolation, memory tier assertions, mock exhaustion, sequencer leaks)
  backend/tests/api/test_session_events.py
  backend/tests/e2e/test_session_tracking.py
  backend/tests/services/memory/test_reference_injection.py
  backend/tests/services/test_agent_benchmark_service.py
  backend/tests/tools/test_persona_integration.py
Due: none

refactor: extract _parse_scan_output helper and add tests for _sensitive_content module
  backend/app/middleware/access_control_logging.py
  backend/app/services/tools/_sensitive_content.py
  backend/tests/api/test_access_control.py
  backend/tests/services/tools/test_sensitive_content.py
Due: mypy

fix(frontend): format avg latency as human-readable ms on monitoring dashboard
  backend/.tmp/jenny-honing-loop/reports/iteration-02-jenny-benchmark-bdac5245.md
  backend/scripts/seed_agents_data/seed_data.json
  frontend/src/app/monitoring/requests/page.tsx
Due: eslint, tsc, prettier

feat: add Docker infrastructure and frontend API proxy
  .dockerignore
  .github/workflows/docker-build.yml
  .index.yaml
  docker/backend.Dockerfile
  docker/frontend.Dockerfile
  docker/workspace-packages/agent-hub-chat-ui-0.1.0.tgz
  docker/workspace-packages/agent-hub-passport-client-0.1.0.tgz
  docker/workspace-packages/agent-hub-push-client-0.1.0.tgz
  docker/workspace-packages/agent_hub_client-0.3.0-py3-none-any.whl
  docs/design/artifact-hub-and-autonomous-ops.md
  frontend/next.config.ts
  frontend/src/app/api/memory/capture/stream/route.ts
  frontend/src/app/api/proxy/[...path]/route.ts
  frontend/src/lib/api-config.ts
  scripts/db.sh
Due: eslint, tsc, prettier

feat: add Docker infrastructure and frontend API proxy
  .dockerignore
  .github/workflows/docker-build.yml
  .index.yaml
  docker/backend.Dockerfile
  docker/frontend.Dockerfile
  docker/workspace-packages/agent-hub-chat-ui-0.1.0.tgz
  docker/workspace-packages/agent-hub-passport-client-0.1.0.tgz
  docker/workspace-packages/agent-hub-push-client-0.1.0.tgz
  docker/workspace-packages/agent_hub_client-0.3.0-py3-none-any.whl
  frontend/next.config.ts
  frontend/src/app/api/memory/capture/stream/route.ts
  frontend/src/app/api/proxy/[...path]/route.ts
  frontend/src/lib/api-config.ts
  scripts/db.sh
Due: eslint, tsc, prettier

fix: replace stale systemctl restart/status scripts with Docker-aware rebuild.sh delegates
  .index.yaml
  scripts/restart.sh
  scripts/status.sh
Due: none

fix: clear termination_reason on heartbeat so re-activated sessions are not stuck as dead_candidate
  .index.yaml
  backend/app/services/session_live_activity.py
Due: mypy

fix: run containers as appuser instead of root
  .index.yaml
  README.md
  docker/backend.Dockerfile
  docker/frontend.Dockerfile
Due: none

chore: commit auto-generated .index.yaml
  .index.yaml
Due: none

chore: gitignore .index.yaml (auto-generated by rebuild.sh)
  .gitignore
  .index.yaml
Due: none

feat: add API key auth for Claude provider alongside OAuth
  backend/app/adapters/claude.py
  backend/app/adapters/claude_direct.py
  backend/app/api/preferences.py
  frontend/src/components/settings/ProviderActionButtons.tsx
  frontend/src/components/settings/ProviderCard.tsx
  frontend/src/components/settings/ProviderCardTypes.ts
  frontend/src/components/settings/ProvidersTab.tsx
  frontend/src/components/settings/constants.ts
  frontend/src/components/settings/useProvidersTab.ts
  frontend/src/lib/api/preferences.ts
Due: mypy, eslint, tsc, prettier

fix: adjust cron schedules and add Docker support for health checks
  backend/app/workflows/persona_scheduler.py
  backend/app/workflows/scheduled.py
  backend/app/workflows/session_reaper.py
  backend/app/workflows/site_health_check.py
  backend/pyproject.toml
  backend/uv.lock
Due: mypy

feat(memory): resolve UUID prefixes in episode property operations
  backend/app/services/memory/episode_property_queries.py
  backend/app/services/memory/episode_property_setters.py
Due: mypy

test(adapters,workflows,scripts): update tests and db script for API key and heartbeat changes
  backend/tests/adapters/test_claude.py
  backend/tests/adapters/test_interface.py
  backend/tests/workflows/test_persona_heartbeat.py
  scripts/db.sh
Due: none
