Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

style: auto-format from pre-commit hooks
  backend/app/services/_benchmark_dashboard.py
  backend/app/services/agent_benchmark_service.py
Due: mypy

fix: resolve 7 test failures and 1 bug — stale mock paths, assertion drift, missing iterator cleanup
  backend/app/adapters/claude_tools_helpers.py
  backend/app/adapters/minimax.py
  backend/tests/adapters/test_claude_tools_helpers.py
  backend/tests/adapters/test_credential_resolution.py
  backend/tests/services/test_agent_benchmark_service.py
  backend/tests/workflows/test_heartbeat_mcp_recovery.py
  backend/tests/workflows/test_persona_heartbeat.py
Due: mypy

refactor: extract formatModelName into shared formatter — consolidate 4 duplicate model-name transformations across dashboard components
  frontend/src/components/dashboard/tabs/AnalyticsTabContent.tsx
  frontend/src/components/dashboard/tabs/LatencyDistributionChart.tsx
  frontend/src/components/dashboard/tabs/SessionsTabContent.tsx
  frontend/src/lib/formatters.ts
Due: eslint, tsc, prettier

perf(docker): optimize Dockerfiles — clean caches, use --chown, reduce layers
  docker/backend.Dockerfile
  docker/frontend.Dockerfile
Due: none

fix: ensure OpenAI-compat tool parameters include valid JSON Schema structure
  backend/app/adapters/_openai_compat_helpers.py
Due: mypy

``` chore: add GitHub issue templates and CI workflow ```
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
Due: none

fix: use asyncio.to_thread for blocking file I/O in tool executor
  backend/app/services/tools/_executor_file_io.py
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
Due: mypy, eslint, tsc, prettier

fix: replace deprecated asyncio.get_event_loop() with get_running_loop()
  backend/app/adapters/event_stream.py
  backend/app/api/oauth_callback.py
  backend/app/workflows/coderabbit_review.py
Due: mypy

refactor: centralize port config — define port constants in config.py, use them in mcp_server.py, next.config.ts, and api-config.ts
  backend/app/config.py
  backend/mcp_server.py
  frontend/next.config.ts
  frontend/src/lib/api-config.ts
Due: mypy, eslint, tsc, prettier

``` chore: update seed data timestamp ```
  backend/scripts/seed_agents_data/seed_data.json
Due: none

fix: add ~/bin and summitflow venv to systemd service PATH for st/dt CLI access
  backend/scripts/seed_agents_data/seed_data.json
  scripts/systemd/agent-hub-backend.service
  scripts/systemd/agent-hub-hatchet-worker.service
Due: none

feat: add narration tags for agent progress observability
  backend/alembic/versions/f4ab20bc77c4_create_task_narration_tags_table.py
  backend/app/api/__init__.py
  backend/app/api/narration.py
  backend/app/models/__init__.py
  backend/app/models/narration_tag.py
  backend/app/services/event_storage.py
  backend/app/services/narration_extraction.py
  backend/app/services/narration_tags.py
  backend/app/services/tools/_executor_io.py
  backend/app/services/tools/_executor_io_tasks.py
  backend/app/services/tools/_executor_registry.py
  backend/app/services/tools/_persona_ops_tools.py
  backend/app/storage/narration_tags.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/services/test_narration_tags.py
  frontend/src/app/persona/components/workspace-utils.tsx
  frontend/src/components/tasks/CompletionGateResult.tsx
  frontend/src/components/tasks/NarrationTimeline.tsx
Due: mypy, eslint, tsc, prettier

fix: remove dropped spirit columns (objective/spirit_anti/decisions/constraints) from pipeline — fix infinite triage loop, clean dead code, add narration integration test
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/services/test_narration_integration.py
Due: none

fix: prevent re-triage of approved tasks — skip triage when plan already approved, don't fallback unknown stages to triage
  backend/scripts/seed_agents_data/seed_data.json
Due: none

fix: drop broken enforce_steps_complete trigger and remove dead plan_defect step code — unblocks autonomous subtask completion
  backend/scripts/seed_agents_data/seed_data.json
Due: none

feat: fix wake session task linkage for narration — pass task_id through wake API to persona_wake workflow as external_id, separate Hatchet dedup from task correlation
  backend/app/api/wake.py
  backend/app/workflows/persona_wake.py
  backend/scripts/seed_agents_data/seed_data.json
Due: mypy

fix: narration P tag pipeline — fix regex for bracket content, add global prompt injection, extract tags from autocode tool loops
  backend/app/api/complete/tool_event_processor.py
  backend/app/services/narration_tags.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/services/test_narration_tags.py
Due: mypy

refactor: simplify rebuild.sh — require explicit project name, always full rebuild, delete 400 lines of over-engineering; show narration timeline on all tasks
  backend/scripts/seed_agents_data/seed_data.json
Due: none

fix(scripts): add --status to rebuild.sh, fix all restart.sh/status.sh wrappers to pass project names
  scripts/restart.sh
  scripts/status.sh
Due: none

warn instead of block on finalize-only cleanup residue
  backend/app/services/tools/_executor_io_tasks.py
  backend/tests/tools/test_persona_tools.py
Due: mypy

add reviewer-surface coverage to jenny honing loop
  backend/scripts/jenny_honing/_clusters.py
  backend/scripts/jenny_honing/_experiment.py
  backend/scripts/jenny_honing/_models.py
  backend/scripts/jenny_honing/_prompt.py
  backend/scripts/jenny_honing/_state.py
  backend/scripts/run_jenny_honing_loop.py
  backend/tests/scripts/test_jenny_honing_loop.py
Due: none

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
