Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

feat(tools): register vantage-research agent in tool registry
  backend/app/services/tools/tool_definitions.py
Due: mypy

feat(tools): make read-only web tools read-class + seed vantage-research
  backend/app/services/project_permission_service.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/services/test_project_permission_service.py
  backend/tests/tools/test_persona_tools.py
Due: mypy

fix(sdk): stream_sse must not terminate on mid-loop `done` events
  packages/agent-hub-client/agent_hub/_streaming.py
  packages/agent-hub-client/tests/test_streaming.py
Due: none

feat(seed): five vantage-* committee persona agents
  backend/scripts/seed_agents_data/seed_data.json
Due: none

feat(tools): propose_thorough / propose_committee / propose_honing for vantage-research
  backend/app/services/project_permission_service.py
  backend/app/services/tools/_propose_tools.py
  backend/app/services/tools/_standard_tools.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/services/tools/tool_definitions.py
  backend/tests/services/test_project_permission_service.py
  backend/tests/tools/test_propose_tools.py
Due: mypy

feat(tools): start_research signal tool for vantage-intake
  backend/app/services/project_permission_service.py
  backend/app/services/tools/_standard_tools.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/services/tools/tool_definitions.py
  backend/scripts/seed_agents_data/seed_data.json
Due: mypy

publish project work
  backend/app/api/sessions.py
  backend/app/services/session_operations.py
  backend/tests/api/test_sessions.py
  backend/tests/services/test_session_operations.py
  frontend/src/__tests__/sessions.test.tsx
  frontend/src/app/sessions/components/SessionTable.tsx
  frontend/src/app/sessions/components/SessionTableRow.tsx
  frontend/src/app/sessions/components/StatusCell.tsx
  frontend/src/app/sessions/hooks/useSessionFilters.ts
  frontend/src/app/sessions/hooks/useSessionPreferences.ts
  frontend/src/app/sessions/hooks/useSessionsData.ts
  frontend/src/app/sessions/page.tsx
  frontend/src/app/sessions/types.ts
  frontend/src/app/sessions/utils.ts
  frontend/src/components/memory/Tooltip.tsx
  frontend/src/lib/api/sessions.ts
Due: mypy, eslint, tsc, prettier

Fix runtime context access and budget state
  backend/app/middleware/access_control_paths.py
  backend/app/services/runtime_context.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/test_runtime_context.py
  frontend/src/__tests__/runtime-context-page.test.tsx
  frontend/src/app/api/proxy/[...path]/route.ts
  frontend/src/app/runtime-context/page.tsx
  frontend/src/components/runtime-context/BlockRow.tsx
  frontend/src/components/runtime-context/BootReactorTopbar.tsx
  frontend/src/components/runtime-context/RenderedPane.tsx
  frontend/src/components/runtime-context/RenderedPreviewModal.tsx
  frontend/src/components/runtime-context/TokenGauge.tsx
  frontend/src/lib/api/runtime-context.ts
Due: mypy, eslint, tsc, prettier

Prune stale runtime context overrides
  backend/alembic/versions/u5v6w7x8y9z0_prune_stale_runtime_context_overrides.py
Due: none

Auto-refresh Agent Hub sessions page: session rows refetch every 5s, expanded active evidence refreshes every 5s without collapsing, focused sessions tests and changed-file gates pass.
  frontend/src/__tests__/sessions.test.tsx
  frontend/src/app/sessions/hooks/useSessionExpansion.ts
  frontend/src/app/sessions/hooks/useSessionsData.ts
Due: eslint, tsc, prettier

alembic: drop stale task-branch line from persona-wake-guidance prompt
  backend/alembic/versions/w7x8y9z0a1b2_drop_task_branch_line_from_wake_guidance.py
Due: none

tools: add st-lease PreToolUse hook for write_file/edit_file
  backend/app/services/tools/_lease_check_hook.py
  backend/app/services/tools/tool_handler.py
  backend/tests/tools/test_lease_check_hook.py
Due: mypy

Map Codex 429 to RateLimitError; bump DB pool 8→20 / overflow 4→10
  backend/app/config.py
  backend/app/llm/providers/openai_codex_responses.py
  backend/tests/llm/test_openai_codex_responses.py
  backend/tests/test_config.py
Due: mypy

Committee: consolidate 3 risk voters → 1 neutral (three-lens prompt); register tier1-screener-v1 for L3 fan-out pre-screen
  backend/alembic/versions/x9y0z1a2b3c4_consolidate_committee_risk_voters.py
  backend/alembic/versions/y0z1a2b3c4d5_seed_tier1_screener_agent.py
  backend/scripts/seed_agents_data/seed_data.json
Due: none

Update test_visible_read_tier_stays_core_only invariant to include start_research — catalog already added it as a Vantage intake signal tool (no I/O, pure pass-through); test was stale.
  backend/tests/services/test_project_permission_service.py
Due: none

Drop stale current_branch LIKE assertion from heartbeat test — the lease migration retired per-task branches, so _query_recent_workstream_sessions filters on workstream_status + external_id only.
  backend/tests/workflows/test_heartbeat_prompt.py
Due: none

Fix direct-main heartbeat workstream guidance
  backend/app/services/tools/_executor_io_lanes.py
  backend/app/workflows/_heartbeat_workstream.py
  backend/tests/tools/test_persona_tools.py
  backend/tests/workflows/test_completion_review.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

Bound Telegram bot network sockets
  backend/app/services/telegram_bot_service.py
  backend/tests/services/test_telegram_bot_service.py
  project.identity.json
Due: mypy

Close Telegram bot keepalive sockets
  backend/app/services/telegram_bot_service.py
  backend/tests/services/test_telegram_bot_service.py
Due: mypy

publish project work
  backend/alembic/versions/y0z1a2b3c4d5_seed_tier1_screener_agent.py
  backend/tests/services/test_reconcile_helpers_temp.py
Due: none

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
