Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

style(frontend): dark-mode-only cleanup for SessionsHeader (missed in bulk purge)
  frontend/src/app/sessions/components/SessionsHeader.tsx
Due: eslint, tsc, prettier

autocode(task-10066c7f): complete subtask 1.1
  backend/app/services/_benchmark_dashboard.py
Due: mypy

style: continue dark-mode-only cleanup, fix toast/error/filter components
  frontend/src/app/agents/[slug]/components/AgentEditorHeader.tsx
  frontend/src/app/agents/[slug]/components/ParametersTab.tsx
  frontend/src/app/agents/[slug]/components/Sidebar.tsx
  frontend/src/app/agents/[slug]/components/memory/TagFilteringSection.tsx
  frontend/src/app/agents/[slug]/components/prompts/LinkedPromptCard.tsx
  frontend/src/app/agents/[slug]/components/prompts/PromptAssignmentCard.tsx
  frontend/src/app/agents/components/AgentActionsMenu.tsx
  frontend/src/app/chat/components/ChatHeader.tsx
  frontend/src/app/error.tsx
  frontend/src/app/models/page.tsx
  frontend/src/app/not-found.tsx
  frontend/src/app/persona/settings/components/IdentityTab.tsx
  frontend/src/app/persona/settings/components/VoiceHeartbeatTab.tsx
  frontend/src/app/persona/settings/page.tsx
  frontend/src/app/sessions/components/LiveEventsPanel.tsx
  frontend/src/app/sessions/components/SessionTableRow.tsx
  frontend/src/components/PlatformContextPanel.tsx
  frontend/src/components/chat/session-dropdown.tsx
  frontend/src/components/error/toast.tsx
  frontend/src/components/memory/EditEpisodeModal.tsx
  frontend/src/components/memory/LLMConfigDisplay.tsx
  frontend/src/components/memory/MemoryTableRow.tsx
  frontend/src/components/memory/MetadataPane.tsx
  frontend/src/components/models/model-card.tsx
  frontend/src/components/models/model-filters.tsx
Due: eslint, tsc, prettier

style: deep cleanup memory-card, prompt revision, prompt assignment components
  frontend/src/app/agents/[slug]/components/prompts/PromptAssignmentCard.tsx
  frontend/src/app/prompts/[slug]/components/PromptRevisionHistory.tsx
  frontend/src/components/memory/memory-card.tsx
Due: eslint, tsc, prettier

style: continue dark-mode cleanup — fix form inputs, badges, and structural patterns
  frontend/src/app/agents/[slug]/analytics/components/BenchmarkExperimentSection.tsx
  frontend/src/app/agents/[slug]/analytics/components/KPICard.tsx
  frontend/src/app/agents/[slug]/components/AgentEditorHeader.tsx
  frontend/src/app/agents/[slug]/components/AgentPreviewPanel.tsx
  frontend/src/app/agents/[slug]/components/GeneralTab.tsx
  frontend/src/app/agents/[slug]/components/ParametersTab.tsx
  frontend/src/app/agents/[slug]/components/PromptsTab.tsx
  frontend/src/app/agents/[slug]/components/Sidebar.tsx
  frontend/src/app/agents/[slug]/components/prompts/AssignPromptForm.tsx
  frontend/src/app/agents/[slug]/components/prompts/CreatePromptForm.tsx
  frontend/src/app/agents/[slug]/components/prompts/LinkedPromptCard.tsx
  frontend/src/app/agents/[slug]/components/prompts/PromptAssignmentCard.tsx
  frontend/src/app/agents/components/AgentRow.tsx
  frontend/src/app/agents/components/AgentsTable.tsx
  frontend/src/app/persona/settings/components/IdentityTab.tsx
  frontend/src/app/persona/settings/components/VoiceHeartbeatTab.tsx
  frontend/src/app/prompts/[slug]/page.tsx
  frontend/src/app/sessions/components/LiveEventsPanel.tsx
  frontend/src/app/sessions/components/ModelFilterBadge.tsx
  frontend/src/app/sessions/components/SessionTableRow.tsx
  frontend/src/components/chat/session-dropdown.tsx
  frontend/src/components/memory/EpisodeFormFields.tsx
  frontend/src/components/memory/MemoryTableRow.tsx
  frontend/src/components/memory/Tooltip.tsx
  frontend/src/components/memory/TriggerTaskTypes.tsx
  frontend/src/components/memory/memory-stats.tsx
  frontend/src/components/models/model-comparison-sections.tsx
  frontend/src/components/settings/ProviderActionButtons.tsx
Due: eslint, tsc, prettier

fix(persona): inject project paths and ports into heartbeat access summary, add cross-project inspection guidance
  backend/app/workflows/_heartbeat_data.py
Due: mypy

Fix ST checkpoint detail dispatch resolution
  backend/app/services/tools/_executor_dispatch.py
  backend/app/services/tools/project_env.py
Due: mypy

wip(task-042b5cfe): recover prior worktree changes
  ports.json
Due: none

Subtask 1.1: Refactor backend/app/workflows/site_health_check.p
  backend/app/workflows/site_health_check.py
  backend/tests/workflows/test_site_health_check.py
Due: mypy

wip(task-22b3fdea): recover prior worktree changes
  ports.json
Due: none

Subtask 1.1: Refactor frontend/src/app/agents/[slug]/arena/comp
  frontend/src/app/agents/[slug]/arena/components/AgentArenaDashboard.tsx
  frontend/src/app/agents/[slug]/arena/components/OverviewPanels.tsx
  frontend/src/app/agents/[slug]/arena/components/RecentRunsCard.tsx
  frontend/src/app/agents/[slug]/arena/components/RegressionWatchlist.tsx
  frontend/src/app/agents/[slug]/arena/components/RuntimePanels.tsx
  frontend/src/app/agents/[slug]/arena/components/SuitePanels.tsx
  frontend/src/app/agents/[slug]/arena/components/arenaSort.ts
Due: eslint, tsc, prettier

autocode(task-d82dcbc3): complete subtask 1.1
  backend/scripts/persona_honing/_experiment.py
Due: none

Harden persona project permission enforcement
  backend/app/services/project_permission_service.py
  backend/app/services/tools/tool_handler.py
  backend/tests/services/test_project_permission_service.py
  backend/tests/services/test_tool_handler.py
  backend/tests/tools/test_persona_integration.py
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
Due: mypy, eslint, tsc, prettier

fix: 1.1 self-fix attempt 3
  backend/scripts/persona_benchmark_cases.py
Due: none

Finalize persona observability closeout and workspace history loading
  backend/app/adapters/claude_tools_helpers.py
  backend/app/api/complete/citation_tracker.py
  backend/app/api/complete/tool_event_processor.py
  backend/app/api/helpers/agent_preview.py
  backend/app/api/memory_agent_tools.py
  backend/app/api/persona/pulse/_classify.py
  backend/app/api/persona/pulse/_constants.py
  backend/app/constants/projects.py
  backend/app/services/memory/adaptive_index_models.py
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_injector.py
  backend/app/services/session_display_summary.py
  backend/app/services/session_health.py
  backend/app/services/tools/_executor_consultation.py
  backend/app/services/tools/_executor_io_lanes.py
  backend/app/workflows/_heartbeat_postprocess.py
  backend/app/workflows/_session_postprocess.py
  backend/app/workflows/persona_heartbeat.py
  backend/app/workflows/persona_wake.py
  backend/tests/adapters/test_claude_tools_helpers.py
  backend/tests/api/complete/test_claude_event_adapter.py
  backend/tests/api/complete/test_synthetic_summary.py
  backend/tests/api/complete/test_tool_event_processor.py
  backend/tests/api/test_agent_preview_helper.py
  backend/tests/api/test_memory.py
  backend/tests/api/test_persona.py
  backend/tests/core/test_project_constants.py
  backend/tests/services/memory/test_context_injector.py
  backend/tests/services/memory/test_episode_creator.py
  backend/tests/services/memory/test_reference_injection.py
  backend/tests/services/test_session_display_summary.py
  backend/tests/tools/test_persona_tools.py
  backend/tests/workflows/test_heartbeat_mcp_recovery.py
  backend/tests/workflows/test_heartbeat_postprocess.py
  backend/tests/workflows/test_persona_heartbeat.py
  backend/tests/workflows/test_persona_wake.py
  backend/tests/workflows/test_session_postprocess.py
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
Due: mypy, eslint, tsc, prettier

fix: remove local agent timeout ceilings from runtime and clients
  backend/app/adapters/_claude_sdk_builder.py
  backend/app/adapters/_openai_compat_helpers.py
  backend/app/adapters/claude_oauth.py
  backend/app/adapters/claude_streaming.py
  backend/app/adapters/codex_oauth.py
  backend/app/adapters/codex_sse.py
  backend/app/adapters/gemini_adapter_settings.py
  backend/app/api/orchestration_models.py
  backend/app/services/orchestration/chain.py
  backend/app/services/orchestration/parallel.py
  backend/app/services/orchestration/subagent_executor.py
  backend/app/services/orchestration/subagent_models.py
  backend/app/services/tools/_executor_bash.py
  backend/app/services/tools/_standard_tools.py
  backend/app/services/tools/_tool_constants.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/workflows/persona_scheduler.py
  backend/scripts/persona_honing/_constants.py
  backend/scripts/persona_honing/_experiment.py
  backend/scripts/run_completion_review_model_benchmark.py
  backend/scripts/run_persona_honing_loop.py
  backend/scripts/run_persona_model_benchmark.py
  backend/tests/adapters/test_codex_oauth.py
  backend/tests/adapters/test_gemini.py
  backend/tests/orchestration/test_parallel.py
  backend/tests/scripts/test_persona_model_benchmark.py
  backend/tests/test_sdk_completion_payload.py
  backend/tests/tools/test_direct_executor.py
  packages/agent-hub-client/agent_hub/_async_client.py
  packages/agent-hub-client/agent_hub/_base.py
  packages/agent-hub-client/agent_hub/_completion.py
  packages/agent-hub-client/agent_hub/_sync_client.py
Due: mypy

fix lane cleanup dispatch guards and regressions
  backend/app/services/tools/_executor_io_lanes.py
  backend/tests/tools/test_persona_tools.py
Due: mypy

fix retire_lane cleanup follow-through
  backend/app/services/tools/_executor_io_lanes.py
  backend/tests/tools/test_persona_tools.py
Due: mypy

relax dispatch overlap hard blocks
  backend/app/services/tools/_executor_dispatch.py
  backend/tests/tools/test_executor_consultation.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
