Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

chore(backend): 7 files changed, 1458 insertions(+), 3 deletions(-)
  backend/tests/api/test_access_control.py
  backend/tests/conftest.py
  frontend/src/app/access-control/clients/[id]/page.tsx
  frontend/src/app/access-control/clients/new/page.tsx
  frontend/src/app/access-control/clients/page.tsx
  frontend/src/app/access-control/page.tsx
  frontend/src/app/access-control/requests/page.tsx
Due: eslint, tsc, prettier

chore(frontend): 2 files changed, 45 insertions(+), 20 deletions(-)
  frontend/src/lib/api-config.ts
  frontend/src/lib/api.ts
Due: eslint, tsc, prettier

chore(frontend): 5 files changed, 10 insertions(+), 23 deletions(-)
  frontend/src/app/access-control/clients/[id]/page.tsx
  frontend/src/app/access-control/clients/new/page.tsx
  frontend/src/app/access-control/clients/page.tsx
  frontend/src/app/access-control/page.tsx
  frontend/src/app/access-control/requests/page.tsx
Due: eslint, tsc, prettier

chore(frontend): 4 files changed, 15 insertions(+), 11 deletions(-)
  frontend/src/app/agents/[slug]/analytics/page.tsx
  frontend/src/app/agents/[slug]/page.tsx
  frontend/src/app/agents/[slug]/playground/page.tsx
  frontend/src/app/agents/page.tsx
Due: eslint, tsc, prettier

chore(backend): 1 file changed, 21 insertions(+)
  backend/app/api/access_control.py
Due: mypy

chore: 2 files changed, 405 insertions(+)
  tasks/access-control-audit/initial-findings.md
  tasks/access-control-audit/plan.json
Due: none

chore(backend): 2 files changed, 65 insertions(+)
  backend/app/api/complete.py
  backend/tests/api/test_access_control.py
Due: mypy

chore: 1 file changed, 105 insertions(+)
  tasks/access-control-audit/audit-report.md
Due: none

chore(backend): 3 files changed, 252 insertions(+)
  backend/app/models.py
  backend/app/services/session_cleanup.py
  backend/migrations/versions/78ebdaac1078_mark_legacy_sessions.py
Due: mypy

chore: 1 file changed, 23 insertions(+), 11 deletions(-)
  tasks/access-control-audit/audit-report.md
Due: none

chore: save adapter timeout/retry planning context
  tasks/adapter-timeout-retry/prompt.md
Due: none

chore(backend): 18 files changed, 2917 insertions(+), 31 deletions(-)
  .summitflow/context.json
  backend/app/services/memory/consolidation_entities.py
  backend/app/services/memory/service.py
  backend/app/services/memory/state.py
  backend/app/services/session_cleanup.py
  backend/scripts/memory/backup.py
  backend/scripts/memory/cleanup_legacy.py
  backend/scripts/memory/consolidate_duplicates.py
  backend/scripts/memory/inventory.py
  tasks/adapter-timeout-retry/plan.json
  tasks/adapter-timeout-retry/previous_session.md
  tasks/adapter-timeout-retry/profile_adapters.py
  tasks/adapter-timeout-retry/profile_extended_thinking.py
  tasks/adapter-timeout-retry/profile_results.txt
  tasks/adapter-timeout-retry/test_timeout_patterns.py
  tasks/adapter-timeout-retry/test_true_idle.py
  tasks/memory-system-optimization/plan.json
  tasks/task-b2e6b921/plan.json
Due: mypy

chore: 5 files changed, 2683 insertions(+), 11 deletions(-)
  _memory_system/memory-system-recommendations.md
  _memory_system/memory-system-sota-roadmap.md
  tasks/memory-sota-phase0-3/plan.json
  tasks/task-b2e6b921/architectural-decision.md
  tasks/task-b2e6b921/plan.json
Due: none

chore: 5 files changed, 2683 insertions(+), 11 deletions(-)
  tasks/memory-sota-phase0-3/plan.json
  tasks/task-b2e6b921/architectural-decision.md
  tasks/task-b2e6b921/plan.json
Due: none

chore(backend): 3 files changed, 47 insertions(+), 988 deletions(-)
  .summitflow/context.json
  backend/app/adapters/claude.py
  backend/tests/adapters/test_claude.py
Due: mypy

test(backend): 2 files changed, 72 insertions(+), 10 deletions(-)
  backend/app/adapters/claude.py
  backend/tests/adapters/test_claude.py
Due: mypy

chore(backend): 3 files changed, 169 insertions(+)
  backend/app/adapters/base.py
  backend/pyproject.toml
  backend/tests/adapters/test_interface.py
Due: mypy

chore(backend): 2 files changed, 22 insertions(+), 3 deletions(-)
  backend/app/adapters/gemini.py
  backend/tests/adapters/test_gemini.py
Due: mypy

chore(backend): 2 files changed, 4 insertions(+)
  backend/app/adapters/claude.py
  backend/app/adapters/gemini.py
Due: mypy

chore: 1 file changed, 77 insertions(+)
  tasks/adapter-timeout-retry/architecture-decision.md
Due: none

chore(backend): 2 files changed, 14 insertions(+), 12 deletions(-)
  backend/tests/adapters/test_claude.py
  backend/tests/adapters/test_interface.py
Due: none
