Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

Fix task overview injection — empty string bypassed payload builder, leaving active_work section blank
  backend/app/workflows/_heartbeat_prompt.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

autocode(task-d24e47d8): complete subtask 1.1
  backend/app/services/session_ingestion/service.py
Due: mypy

refactor(stream): simplify _entry_match_text, _entry_matches_search, get_persona_stream
  backend/app/api/persona/stream.py
Due: mypy

Revert "Merge task task-1f6d0ac0"
  backend/app/api/persona/stream.py
Due: mypy

refactor(session_live_activity): reduce to 20 functions, max 3-level nesting
  backend/app/services/session_live_activity.py
Due: mypy

refactor(_benchmark_dashboard): reduce from 845 to 569 lines, 30 to 20 functions, all ≤50 lines
  backend/app/services/_benchmark_dashboard.py
Due: mypy

Clarify canonical publish flow in memory guidance
  backend/app/api/memory_agent_tools.py
  backend/tests/api/test_memory.py
  backend/tests/services/memory/test_episode_creator.py
Due: mypy

Clarify canonical publish flow in memory guidance
  backend/app/api/memory_agent_tools.py
  backend/tests/api/test_memory.py
  backend/tests/services/memory/test_episode_creator.py
  docs/arena-operator-prompt.md
Due: mypy

refactor(_executor_io_lanes): extract nested closures, fix functions >50 lines
  backend/app/services/tools/_executor_io_lanes.py
Due: mypy

refactor(workspace-cards): extract SessionTranscript and PulseOverviewPanels to dedicated files
  frontend/src/app/persona/components/workspace-cards.tsx
  frontend/src/app/persona/components/workspace-pulse-panels.tsx
  frontend/src/app/persona/components/workspace-transcript.tsx
Due: eslint, tsc, prettier

Fix persona heartbeat ownership attribution
  backend/app/services/ownership_inventory.py
  backend/tests/services/test_ownership_inventory.py
Due: mypy

Add project permission creation flow
  backend/app/api/project_permissions.py
  backend/app/services/project_permission_service.py
  backend/tests/api/test_project_permissions.py
  backend/tests/services/test_project_permission_service.py
  frontend/src/__tests__/project-permissions-page.test.tsx
  frontend/src/app/access-control/permissions/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/api/project-permissions.ts
Due: mypy, eslint, tsc, prettier

Propagate task external IDs for task-mode wake dispatch
  backend/app/api/sessions.py
  backend/app/services/session_operations.py
  backend/app/services/session_queries.py
  backend/app/services/tools/_executor_consultation.py
  backend/tests/api/test_sessions.py
  backend/tests/workflows/test_heartbeat_mcp_recovery.py
Due: mypy

Add project permission delete lifecycle
  backend/app/api/project_permissions.py
  backend/app/services/project_permission_service.py
  backend/tests/api/test_project_permissions.py
  backend/tests/services/test_project_permission_service.py
  frontend/src/lib/api/project-permissions.ts
Due: mypy, eslint, tsc, prettier

Improve Claude CLI transcript observability
  backend/app/services/event_storage.py
  backend/app/services/session_ingestion/_scope.py
  backend/app/services/session_ingestion/adapters/transcript_parsers.py
  backend/app/services/session_scope.py
  backend/tests/services/session_ingestion/test_transcript_parsers.py
  backend/tests/services/test_event_storage.py
Due: mypy

Add Claude CLI worker proof harness
  backend/scripts/claude_orchestrated_worker_examples/README.md
  backend/scripts/claude_orchestrated_worker_examples/readonly_direct_prompt.md
  backend/scripts/claude_orchestrated_worker_examples/readonly_direct_schema.json
  backend/scripts/claude_orchestrated_worker_examples/readonly_subagent_agents.json
  backend/scripts/claude_orchestrated_worker_examples/readonly_subagent_prompt.md
  backend/scripts/claude_orchestrated_worker_examples/readonly_subagent_schema.json
  backend/scripts/claude_orchestrated_worker_examples/smoke_direct_prompt.md
  backend/scripts/claude_orchestrated_worker_examples/smoke_subagent_prompt.md
  backend/scripts/run_claude_orchestrated_worker.py
  backend/tests/scripts/test_run_claude_orchestrated_worker.py
Due: none

Stabilize Claude worker transcript ingestion
  backend/app/adapters/codex_oauth.py
  backend/app/api/complete/tool_response_finalizer.py
  backend/app/services/session_ingestion/_scope.py
  backend/app/services/session_ingestion/service.py
  backend/app/services/task_overview_summary.py
  backend/scripts/claude_orchestrated_worker_examples/README.md
  backend/scripts/claude_orchestrated_worker_examples/exact_file_direct_prompt.md
  backend/scripts/claude_orchestrated_worker_examples/exact_file_subagent_prompt.md
  backend/scripts/persona_honing/_experiment.py
  backend/scripts/run_claude_orchestrated_worker.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/complete/test_tool_response_finalizer.py
  backend/tests/scripts/test_run_claude_orchestrated_worker.py
  backend/tests/services/session_ingestion/test_service.py
Due: mypy

Add spec-driven Claude worker runs
  backend/scripts/claude_orchestrated_worker_examples/README.md
  backend/scripts/claude_orchestrated_worker_examples/exact_file_direct_spec.json
  backend/scripts/claude_orchestrated_worker_examples/exact_file_subagent_spec.json
  backend/scripts/run_claude_orchestrated_worker.py
  backend/tests/scripts/test_run_claude_orchestrated_worker.py
Due: none

Add task-aware Claude worker dispatch
  backend/scripts/claude_orchestrated_worker_examples/README.md
  backend/scripts/run_claude_orchestrated_worker.py
  backend/tests/scripts/test_run_claude_orchestrated_worker.py
Due: none

Reconcile transcript-backed session models on append
  backend/app/services/session_ingestion/service.py
  backend/tests/services/session_ingestion/test_service.py
Due: mypy

Sanitize worker st subprocess env
  backend/scripts/run_claude_orchestrated_worker.py
  backend/tests/scripts/test_run_claude_orchestrated_worker.py
Due: none

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
