Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

refactor: simplify _heartbeat_orchestrators — extract magic strings, fix 50-line limit, consolidate task section constants
  backend/app/workflows/_heartbeat_orchestrators.py
Due: mypy

Fix cleanup status reconciled residue filtering
  backend/app/services/cleanup_summary.py
  backend/app/services/tools/_executor_io_tasks.py
  backend/tests/services/test_cleanup_summary.py
  backend/tests/tools/test_persona_tools.py
Due: mypy

Add heartbeat idle-history coverage tests
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

Label failed idle-history commands as attempts
  backend/app/workflows/_heartbeat_data.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

Publish heartbeat workflow and dashboard refinements
  backend/app/api/heartbeat.py
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/app/workflows/_heartbeat_redis.py
  backend/app/workflows/persona_heartbeat.py
  backend/tests/api/test_heartbeat.py
  backend/tests/workflows/test_heartbeat_prompt.py
  backend/tests/workflows/test_persona_heartbeat.py
  frontend/src/app/persona/page.tsx
  frontend/src/lib/api/dashboard.ts
Due: mypy, eslint, tsc, prettier

Fix heartbeat residue on main
  backend/app/workflows/_heartbeat_data.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

test(fullstack): 40 files changed, 910 insertions(+), 27 deletions(-)
  .gitignore
  backend/app/api/complete/async_endpoints.py
  backend/app/api/complete/execution.py
  backend/app/api/complete/tool_event_processor.py
  backend/app/api/complete/tool_handlers.py
  backend/app/api/complete/tool_models.py
  backend/app/api/complete/tool_progress.py
  backend/app/api/complete/turn_processor.py
  backend/app/api/orchestration_models.py
  backend/app/api/persona/schemas.py
  backend/app/api/persona/stream_builders.py
  backend/app/api/persona/stream_queries.py
  backend/app/api/persona/stream_search.py
  backend/app/services/_live_activity_event_handlers.py
  backend/app/services/_live_activity_helpers.py
  backend/app/services/activity_topics.py
  backend/app/services/session_live_activity.py
  backend/app/services/tools/_executor_consultation.py
  backend/app/services/tools/_executor_consultation_helpers.py
  backend/app/services/tools/_executor_persona_history.py
  backend/app/services/tools/_executor_registry.py
  backend/app/services/tools/_persona_ops_tools.py
  backend/app/services/tools/_persona_tools.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/services/tools/tool_definitions.py
  backend/app/workflows/_heartbeat_postprocess.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/app/workflows/_heartbeat_recall.py
  backend/app/workflows/_heartbeat_redis.py
  backend/app/workflows/completion.py
  backend/tests/api/complete/test_progress_callbacks.py
  backend/tests/services/test_session_live_activity.py
  backend/tests/tools/test_executor_consultation.py
  backend/tests/tools/test_executor_persona_history.py
  backend/tests/workflows/test_heartbeat_postprocess.py
  backend/tests/workflows/test_heartbeat_prompt.py
  backend/tests/workflows/test_heartbeat_recall.py
  frontend/src/lib/api/persona-stream.ts
  frontend/src/lib/api/sessions.ts
  packages/agent-hub-client/agent_hub/models/agent.py
Due: mypy, eslint, tsc, prettier

style: auto-format from pre-commit hooks
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: prettier

Allow persona history recall in tier-exempt tools
  backend/app/services/project_permission_service.py
Due: mypy

Harden heartbeat access and cleanup truth handling
  backend/app/api/persona/stream_queries.py
  backend/app/services/tools/_executor_io_tasks.py
  backend/app/workflows/_heartbeat_data.py
  backend/tests/api/test_persona_stream_queries.py
  backend/tests/tools/test_persona_tools.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

Harden Jenny self-improvement loop
  backend/app/api/persona/__init__.py
  backend/app/api/persona/schemas.py
  backend/app/services/_benchmark_config.py
  backend/app/services/persona_improvement.py
  backend/app/services/persona_prompt_service.py
  backend/app/services/prompt_catalog.py
  backend/app/workflows/persona_scheduler.py
  backend/scripts/persona_benchmark_cases.py
  backend/scripts/persona_benchmark_persistence.py
  backend/scripts/persona_honing/__init__.py
  backend/scripts/persona_honing/_experiment.py
  backend/scripts/persona_honing/_models.py
  backend/scripts/persona_honing/_persistence.py
  backend/scripts/persona_honing/_prompt.py
  backend/scripts/persona_honing/_response.py
  backend/scripts/persona_honing/_state.py
  backend/scripts/run_persona_honing_loop.py
  backend/tests/api/test_persona.py
  backend/tests/scripts/test_persona_honing_loop.py
  backend/tests/scripts/test_persona_model_benchmark.py
  backend/tests/services/test_agent_benchmark_service.py
  backend/tests/services/test_persona_improvement.py
  backend/tests/workflows/test_persona_scheduler.py
  frontend/src/__tests__/persona-analytics-page.test.tsx
  frontend/src/app/agents/[slug]/components/PromptsTab.tsx
  frontend/src/app/persona/analytics/components/PersonaImprovementDashboard.tsx
  frontend/src/app/persona/analytics/components/PersonaImprovementTrendSection.tsx
  frontend/src/app/persona/analytics/page.tsx
  frontend/src/app/persona/analytics/types.ts
  frontend/src/app/persona/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/api/persona-improvement.ts
Due: mypy, eslint, tsc, prettier

Tighten Jenny improvement cadence and dashboard
  backend/app/api/persona/schemas.py
  backend/app/services/persona_improvement.py
  backend/tests/api/test_persona.py
  backend/tests/services/test_persona_improvement.py
Due: mypy

Show current Jenny lab state on dashboard
  backend/app/api/persona/schemas.py
  backend/app/services/persona_improvement.py
  backend/tests/api/test_persona.py
  backend/tests/services/test_persona_improvement.py
  frontend/src/app/persona/analytics/components/PersonaImprovementDashboard.tsx
  frontend/src/app/persona/analytics/types.ts
Due: mypy, eslint, tsc, prettier

Move Jenny scheduler to ops worker
  backend/app/worker_runtime.py
  backend/tests/unit/test_worker_runtime.py
Due: mypy

Use effective Jenny lab state on dashboard
  backend/app/services/persona_improvement.py
  backend/tests/services/test_persona_improvement.py
Due: mypy

Flag stale Jenny schedules without false alarms
  backend/app/api/persona/schemas.py
  backend/app/services/persona_improvement.py
  backend/tests/api/test_persona.py
  backend/tests/services/test_persona_improvement.py
  frontend/src/app/persona/analytics/components/PersonaImprovementDashboard.tsx
  frontend/src/app/persona/analytics/types.ts
Due: mypy, eslint, tsc, prettier

Show current Jenny field state on dashboard
  backend/app/services/tools/_executor_io_tasks.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/tools/test_executor_io_tasks.py
  frontend/src/app/persona/analytics/components/PersonaImprovementDashboard.tsx
Due: mypy, eslint, tsc, prettier

Harden Jenny git hygiene and agent tuning
  backend/app/api/agents.py
  backend/app/services/agent_service.py
  backend/app/services/persona_improvement.py
  backend/app/services/tools/_executor_io_tasks.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/test_agents_api.py
  backend/tests/services/test_persona_improvement.py
  backend/tests/tools/test_persona_tools.py
Due: mypy

Sync Gemini-primary note agent temperatures
  backend/scripts/seed_agents_data/seed_data.json
Due: none

Expand Jenny heartbeat acceptance coverage
  backend/scripts/persona_benchmark_cases.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/scripts/test_persona_model_benchmark.py
Due: none

Fix Jenny benchmark failure export
  backend/scripts/persona_benchmark_eval.py
  backend/tests/scripts/test_persona_model_benchmark.py
Due: none

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
