Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

chore(frontend): 2 files changed, 196 insertions(+), 190 deletions(-)
  frontend/src/hooks/use-chat-stream.ts
  frontend/src/types/chat.ts
Due: eslint, tsc, prettier

chore(frontend): 2 files changed, 8 insertions(+), 11 deletions(-)
  frontend/src/app/analytics/page.tsx
  frontend/src/app/dashboard/page.tsx
Due: eslint, tsc, prettier

chore(frontend): 8 files changed, 219 insertions(+), 2180 deletions(-)
  frontend/src/__tests__/api-keys.test.tsx
  frontend/src/__tests__/preferences.test.tsx
  frontend/src/__tests__/settings.test.tsx
  frontend/src/app/settings/api-keys/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/app/settings/preferences/page.tsx
  frontend/src/components/layout/app-shell.tsx
  frontend/src/components/settings-modal.tsx
Due: eslint, tsc, prettier

chore(backend): 11 files changed, 51 insertions(+), 202 deletions(-)
  backend/app/api/memory.py
  backend/app/services/memory/consolidation.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/settings.py
  backend/migrations/versions/i8j9k0l1m2n3_add_memory_settings_table.py
  backend/scripts/memory/add_content_hashes.py
  backend/tests/api/test_cancel_endpoint.py
  backend/tests/api/test_complete.py
  backend/tests/services/memory/test_dedup.py
  backend/tests/services/memory/test_episode_creator.py
  backend/tests/services/memory/test_settings.py
Due: mypy

test(backend): 12 files changed, 54 insertions(+), 91 deletions(-)
  backend/app/adapters/base.py
  backend/app/adapters/claude.py
  backend/app/adapters/gemini.py
  backend/app/adapters/openai.py
  backend/app/api/complete.py
  backend/app/api/orchestration.py
  backend/app/constants.py
  backend/app/services/completion.py
  backend/app/services/orchestration/subagent.py
  backend/app/services/router.py
  backend/app/services/token_counter.py
  backend/tests/api/test_complete.py
Due: mypy

chore(fullstack): 5 files changed, 485 insertions(+), 662 deletions(-)
  backend/app/api/__init__.py
  backend/app/api/models.py
  frontend/package.json
  frontend/src/app/chat/page.tsx
  frontend/src/components/chat/session-sidebar.tsx
Due: mypy, eslint, tsc, prettier

chore(frontend): 1 file changed, 58 insertions(+), 22 deletions(-)
  frontend/src/app/agents/[slug]/page.tsx
Due: eslint, tsc, prettier

chore(fullstack): 3 files changed, 22 insertions(+), 10 deletions(-)
  backend/app/api/complete.py
  backend/app/api/orchestration.py
  frontend/src/app/memory/page.tsx
Due: mypy, eslint, tsc, prettier

chore(backend): 11 files changed, 27 insertions(+), 353 deletions(-)
  backend/app/services/memory/service.py
  backend/tests/api/test_agents_api.py
  backend/tests/api/test_stream_cancel.py
  backend/tests/orchestration/test_subagent.py
  backend/tests/services/memory/test_context_injector.py
  backend/tests/services/memory/test_episode_formatter.py
  backend/tests/services/memory/test_learning_extractor.py
  backend/tests/services/test_agent_routing.py
  backend/tests/services/test_agent_service.py
  backend/tests/services/test_cache_fallback.py
  backend/tests/services/test_cost_optimization.py
Due: mypy

chore(frontend): 1 file changed, 40 insertions(+), 38 deletions(-)
  frontend/src/app/agents/[slug]/analytics/page.tsx
Due: eslint, tsc, prettier

chore: 3 files changed, 18 insertions(+), 102 deletions(-)
  packages/agent-hub-client/agent_hub/client.py
  packages/agent-hub-client/agent_hub/models.py
  packages/agent-hub-client/agent_hub/session.py
Due: none

chore(sdk): remove max_tokens from Agent Hub SDK
  packages/agent-hub-client/agent_hub/client.py
  packages/agent-hub-client/agent_hub/models.py
  packages/agent-hub-client/agent_hub/session.py
Due: none

test(sdk): fix SDK tests for project_id requirement and SSE migration
  packages/agent-hub-client/tests/test_client.py
  packages/agent-hub-client/tests/test_sessions.py
  packages/agent-hub-client/tests/test_streaming.py
Due: none

chore(backend): 11 files changed, 35 insertions(+), 45 deletions(-)
  backend/app/api/agents.py
  backend/app/api/complete.py
  backend/app/api/orchestration.py
  backend/app/models.py
  backend/app/services/agent_routing.py
  backend/app/services/agent_runner.py
  backend/app/services/agent_service.py
  backend/app/services/orchestration/maker_checker.py
  backend/app/services/orchestration/parallel.py
  backend/app/services/orchestration/subagent.py
  backend/migrations/versions/6b46071ec3b1_remove_max_tokens_from_agents.py
Due: mypy

chore(frontend): 1 file changed, 5 insertions(+), 5 deletions(-)
  frontend/src/components/chat/session-sidebar.tsx
Due: eslint, tsc, prettier

chore(frontend): 1 file changed, 3 insertions(+), 1 deletion(-)
  frontend/src/hooks/use-chat-stream.ts
Due: eslint, tsc, prettier

feat(chat): add @mention model routing with autocomplete chip UX
  backend/app/api/complete.py
  frontend/src/app/chat/page.tsx
  frontend/src/components/chat/message-input.tsx
  frontend/src/components/chat/multi-agent/agent-badge.tsx
  frontend/src/components/chat/multi-agent/agent-exchange.tsx
  frontend/src/components/chat/multi-agent/agent-selector.tsx
  frontend/src/components/chat/multi-agent/deliberation-panel.tsx
  frontend/src/components/chat/multi-agent/index.ts
  frontend/src/components/chat/multi-agent/roundtable-controls.tsx
  frontend/src/components/chat/multi-agent/roundtable-timeline.tsx
  frontend/src/components/chat/multi-agent/turn-indicator.tsx
  frontend/src/components/chat/multi-agent/types.ts
  frontend/src/hooks/use-chat-stream.ts
  frontend/src/hooks/use-roundtable.ts
  frontend/src/types/chat.ts
Due: mypy, eslint, tsc, prettier

fix(chat): use correct model names from constants for @mention routing
  backend/app/api/complete.py
  frontend/src/components/chat/message-input.tsx
Due: mypy, eslint, tsc, prettier

feat(chat): include model attribution in conversation history
  frontend/src/hooks/use-chat-stream.ts
Due: eslint, tsc, prettier

fix(chat): filter deleted sessions from sidebar by status=active
  frontend/src/components/chat/session-sidebar.tsx
Due: eslint, tsc, prettier

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
