Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

Sanitize worker st subprocess env
  backend/scripts/run_claude_orchestrated_worker.py
  backend/tests/scripts/test_run_claude_orchestrated_worker.py
Due: none

feat(memory,frontend): integrate SummitFlow notes UI and enhance context formatting
  backend/app/api/memory_agent_handlers.py
  cleanup-probe/marker.txt
  frontend/next.config.ts
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/components/layout/sidebar-footer.tsx
  pnpm-lock.yaml
Due: mypy, eslint, tsc, prettier

Refactor task overview summary helpers
  backend/app/adapters/codex_oauth.py
  backend/app/services/ownership_inventory.py
  backend/app/services/task_overview_summary.py
  backend/tests/services/test_ownership_inventory.py
Due: mypy

Refactor agent arena dashboard structure
  frontend/src/app/agents/[slug]/arena/components/AgentArenaDashboard.tsx
  frontend/src/app/agents/[slug]/arena/components/ArenaHeader.tsx
Due: eslint, tsc, prettier

Refactor codex oauth adapter structure
  backend/app/adapters/codex_oauth.py
Due: mypy

Refactor persona honing experiment modules
  backend/scripts/persona_honing/_benchmarks.py
  backend/scripts/persona_honing/_experiment.py
  backend/scripts/persona_honing/_models.py
  backend/scripts/persona_honing/_persistence.py
  backend/scripts/run_persona_honing_loop.py
  backend/tests/scripts/test_persona_honing_loop.py
Due: none

Refactor project permission service helpers
  backend/app/services/project_permission_service.py
Due: mypy

feat(site_health_check): add CDP configuration for agent-browser
  backend/app/workflows/site_health_check.py
Due: mypy

Refactor session live activity helpers
  backend/app/services/session_live_activity.py
Due: mypy

refactor: replace _run_cmd calls with _run_browser_cmd helper
  backend/app/workflows/site_health_check.py
Due: mypy

style: auto-format from pre-commit hooks
  backend/app/workflows/site_health_check.py
Due: mypy

Add evaluator feedback to task-driven Claude workers
  backend/scripts/run_claude_orchestrated_worker.py
  backend/tests/scripts/test_run_claude_orchestrated_worker.py
Due: none

refactor(claude_tools_helpers): fix nesting violations and deduplicate stream loop logic
  backend/app/adapters/claude_tools_helpers.py
Due: mypy

Link active wrapper sessions to task event streams
  backend/scripts/run_claude_orchestrated_worker.py
  backend/tests/scripts/test_run_claude_orchestrated_worker.py
Due: none

Refactor streaming SSE tool chunk helper
  packages/agent-hub-client/agent_hub/_streaming.py
Due: none

Refactor streaming tool loop helpers
  backend/app/api/complete/streaming_tool_loop.py
Due: mypy

refactor(stream): extract helpers, reduce function sizes below 50 lines
  backend/app/api/persona/stream.py
Due: mypy

Refactor Claude tool helper modules
  backend/app/adapters/claude_tools_helpers.py
  backend/app/adapters/claude_tools_query_session.py
  backend/app/adapters/claude_tools_stream.py
Due: mypy

Auto-claim pending tasks in Claude worker dispatch
  backend/scripts/run_claude_orchestrated_worker.py
  backend/tests/scripts/test_run_claude_orchestrated_worker.py
Due: none

Refactor persona stream into focused modules
  backend/app/api/persona/stream.py
  backend/app/api/persona/stream_builders.py
  backend/app/api/persona/stream_queries.py
  backend/app/api/persona/stream_search.py
Due: mypy

Finalize Claude worker sessions on exit
  backend/scripts/run_claude_orchestrated_worker.py
  backend/tests/scripts/test_run_claude_orchestrated_worker.py
Due: none
