Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

fix: sync client SDK model constants with backend (REASONING_GEMINI, FAST_GEMINI drift)
  packages/agent-hub-client/agent_hub/__init__.py
  packages/agent-hub-client/agent_hub/constants.py
Due: none

checkpoint: preserve pre-native-runtime state
  backend/pyproject.toml
  backend/uv.lock
  docker/frontend.Dockerfile
  frontend/src/__tests__/sessions.test.tsx
  frontend/src/app/sessions/utils.ts
Due: eslint, tsc, prettier

fix: restore native runtime and frontend builds
  package.json
  packages/chat-ui/src/hooks/chat-stream/message-handlers.ts
  packages/passport-client/src/core/TranscriptionManager.ts
  packages/passport-client/src/hooks/transcription/utils.ts
  packages/passport-client/src/hooks/transcription/webSpeechEngine.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/systemd/agent-hub-backend.service
  scripts/systemd/agent-hub-frontend.service
  scripts/systemd/agent-hub-hatchet-worker.service
Due: none

chore: add renovate policy
  renovate.json
Due: none

fix: restore frontend auth headers for sessions
  frontend/src/lib/api-config.test.ts
  frontend/src/lib/api-config.ts
  scripts/systemd/agent-hub-frontend.service
Due: eslint, tsc, prettier

chore: sync agent-hub
  backend/scripts/generate_trading_strategy.py
Due: none

feat(feedback): add title validation to prevent placeholder text
  backend/app/api/schemas/feedback.py
  backend/scripts/seed_agents_data/seed_data.json
Due: mypy

fix(tests): restore access control bypass and isolate Gemini adapter init
  backend/tests/adapters/test_gemini.py
  backend/tests/adapters/test_interface.py
  backend/tests/conftest.py
Due: none

chore: gitignore generated strategy outputs and fix script lint
  .gitignore
  backend/scripts/generate_trading_strategy.py
Due: none

chore: remove unused bcrypt dependency
  backend/pyproject.toml
  backend/uv.lock
Due: none

chore: remove unused frontend dependencies
  frontend/package.json
  pnpm-lock.yaml
Due: prettier

refactor(frontend): consolidate API config into single source of truth
  frontend/src/app/api/memory/capture/stream/route.ts
  frontend/src/app/api/proxy/[...path]/route.ts
  frontend/src/lib/api-config.ts
Due: eslint, tsc, prettier

``` refactor(api-config): use buildInternalHeaders for INTERNAL_HEADERS export ```
  frontend/src/lib/api-config.ts
Due: eslint, tsc, prettier

fix(adapters): distinguish cancelled streams from clean end_turn
  backend/app/adapters/claude_streaming.py
Due: mypy

fix(memory): hybrid search with cross-scope default, UUID validation, and CLI improvements
  backend/app/api/memory_episodes.py
  backend/app/api/memory_episodes_search.py
  backend/app/services/memory/_repo_query.py
  backend/app/services/memory/search_semantic.py
  backend/app/services/memory/service_mixins.py
  backend/app/services/memory/service_search.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/test_memory.py
  backend/tests/api/test_memory_episodes_query.py
  backend/tests/tools/test_persona_integration.py
  backend/tests/tools/test_persona_tools.py
Due: mypy

chore: remove 29 tracked benchmark .tmp files and add backend/.tmp/ to gitignore
  .gitignore
  backend/.tmp/completion-review-reviewer-ab/baseline-4101.json
  backend/.tmp/completion-review-reviewer-ab/baseline-4102.json
  backend/.tmp/completion-review-reviewer-ab/baseline-4103.json
  backend/.tmp/completion-review-reviewer-ab/baseline-4104.json
  backend/.tmp/completion-review-reviewer-ab/baseline-4105.json
  backend/.tmp/completion-review-reviewer-ab/candidate-4201.json
  backend/.tmp/completion-review-reviewer-ab/candidate-4202.json
  backend/.tmp/completion-review-reviewer-ab/candidate-4203.json
  backend/.tmp/completion-review-reviewer-ab/candidate-4204.json
  backend/.tmp/completion-review-reviewer-ab/candidate-4205.json
  backend/.tmp/completion-review-smoke-codex.json
  backend/.tmp/completion-review-smoke-sonnet-v2.json
  backend/.tmp/completion-review-smoke-sonnet-v3.json
  backend/.tmp/completion-review-smoke-sonnet.json
  backend/.tmp/completion_review_current.json
  backend/.tmp/jenny-current-full-5101.json
  backend/.tmp/jenny-current-full-5102.json
  backend/.tmp/jenny-heartbeat-full-5301.json
  backend/.tmp/jenny-heartbeat-targeted-5201.json
  backend/.tmp/jenny-heartbeat-targeted-5202.json
  backend/.tmp/jenny-honing-loop/reports/iteration-01-jenny-benchmark-0fe01b08.md
  backend/.tmp/jenny-honing-loop/reports/iteration-01-jenny-benchmark-82ee472f.md
  backend/.tmp/jenny-honing-loop/reports/iteration-01-jenny-benchmark-bfa31fb9.md
  backend/.tmp/jenny-honing-loop/reports/iteration-02-jenny-benchmark-bdac5245.md
  backend/.tmp/jenny-targeted-5103.json
  backend/.tmp/jenny_full_battery_post_fix.json
  backend/.tmp/jenny_full_heartbeat_current.json
  backend/.tmp/jenny_targeted_heartbeat_current.json
  backend/.tmp/jenny_targeted_summary_cluster.json
Due: none

chore: delete 4 dead memory service modules (225 lines)
  backend/app/services/memory/health_operations.py
  backend/app/services/memory/memory_queries.py
  backend/app/services/memory/summary_db.py
  backend/app/services/memory/summary_storage.py
  frontend/src/app/admin/components/tableConfig.ts
Due: mypy, eslint, tsc, prettier

chore(frontend): delete 3 unused memory API functions and 3 dead types
  frontend/src/lib/memory-api.ts
  frontend/src/lib/memory-types.ts
  frontend/src/lib/memory/search.ts
Due: eslint, tsc, prettier

fix(streaming): persist memory_cite session events in streaming completion path
  backend/app/api/complete/streaming_persistence.py
Due: mypy

chore(frontend): delete dead eslint.config.mjs (ESLint not installed, Biome handles linting)
  frontend/eslint.config.mjs
Due: none

refactor: remove unused memory operations and test fixtures
  backend/app/services/memory/cleanup_operations.py
  backend/app/services/memory/tracking_operations.py
  backend/app/services/model_enrichment_service.py
  backend/app/services/request_queue.py
  backend/tests/conftest.py
  backend/tests/services/test_request_queue.py
  frontend/src/components/memory/BudgetUsageDisplay.tsx
  frontend/src/components/memory/memory-list.tsx
  frontend/src/components/memory/useMemorySettings.ts
  frontend/src/lib/api/memory-settings.ts
Due: mypy, eslint, tsc, prettier

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
