Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

Preserve session source attribution in session APIs
  backend/app/api/_session_request_identity.py
  backend/app/api/schemas/sessions.py
  backend/app/api/session_ingestion.py
  backend/app/api/sessions.py
  backend/app/services/session_ingestion/models.py
  backend/app/services/session_ingestion/service.py
  backend/app/services/session_transforms.py
  backend/tests/api/test_session_ingestion.py
  backend/tests/api/test_sessions.py
  backend/tests/services/session_ingestion/test_service.py
  frontend/src/lib/api/sessions.ts
  packages/agent-hub-client/agent_hub/models/session.py
Due: mypy, eslint, tsc, prettier

Unify narration tag startup prompts and standardize agent system prompts
  backend/app/api/memory_agent_context_builder.py
  backend/app/services/memory/context_injector_formatter.py
  backend/app/services/memory/context_profiles.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/test_progressive_context_metrics.py
  backend/tests/services/memory/test_context_builder_settings.py
Due: mypy

Own Claude stream cancellation in the session layer
  backend/app/adapters/claude_streaming.py
  backend/app/adapters/claude_tools_helpers.py
  backend/app/api/complete/streaming.py
  backend/tests/adapters/test_claude_streaming.py
  backend/tests/adapters/test_claude_tools_helpers.py
  backend/tests/api/test_complete_streaming.py
Due: mypy

Own Codex stream cancellation in the session layer
  backend/app/adapters/codex_oauth.py
  backend/tests/adapters/test_codex_oauth.py
Due: mypy

Unify Codex response lifecycle ownership
  backend/app/adapters/codex_oauth.py
  backend/tests/adapters/test_codex_oauth.py
Due: mypy

Make tool event timing state session local
  backend/app/api/complete/claude_event_adapter.py
  backend/app/api/complete/openai_event_adapter.py
  backend/tests/api/complete/test_openai_event_adapter.py
Due: mypy

Move tool event normalization to adapter boundary
  backend/alembic/versions/93da76ab0d27_canonicalize_disabled_memory_config.py
  backend/alembic/versions/b217f2377552_classify_global_prompts_and_repair_note_.py
  backend/alembic/versions/e960dc14ef2f_normalize_agent_memory_config.py
  backend/app/adapters/claude.py
  backend/app/adapters/claude_tool_events.py
  backend/app/adapters/codex_oauth.py
  backend/app/adapters/gemini.py
  backend/app/adapters/openai_compat.py
  backend/app/adapters/openai_tool_events.py
  backend/app/api/complete/tool_event_processor.py
  backend/app/api/complete/tool_stream_builder.py
  backend/tests/api/complete/test_claude_event_adapter.py
  backend/tests/api/complete/test_openai_event_adapter.py
  backend/tests/api/complete/test_tool_stream_builder.py
Due: mypy

Delete redundant tool stream builder layer
  backend/app/api/complete/tool_handler_utils.py
  backend/app/api/complete/tool_stream_builder.py
  backend/tests/api/complete/test_tool_stream_builder.py
Due: mypy

Simplify streaming tool closeout and execution
  backend/app/api/complete/closeout_policy.py
  backend/app/api/complete/streaming_tool_executor.py
  backend/app/api/complete/streaming_tool_loop.py
  backend/app/api/complete/streaming_tool_retry.py
  backend/tests/api/complete/test_finish_reason_handler.py
  backend/tests/api/complete/test_streaming_tool_executor.py
  backend/tests/api/complete/test_streaming_tool_loop.py
Due: mypy

Align Python streaming client with agentic SSE contract
  packages/agent-hub-client/agent_hub/_async_client.py
  packages/agent-hub-client/agent_hub/_completion.py
  packages/agent-hub-client/agent_hub/_streaming.py
  packages/agent-hub-client/agent_hub/models/core.py
  packages/agent-hub-client/tests/test_streaming.py
Due: none

Cache task progress-tag policy in tool execution state
  backend/app/api/complete/tool_event_processor.py
  backend/app/api/complete/tool_handler_utils.py
  backend/tests/api/complete/test_tool_event_processor.py
  backend/tests/api/complete/test_tool_handlers_partial.py
Due: mypy

Inline adapter tool-event stream creation
  backend/app/api/complete/tool_handler_utils.py
  backend/tests/api/complete/test_tool_handlers_partial.py
  backend/tests/api/complete/test_tool_stream_builder.py
Due: mypy

Normalize terminal summary tag near-miss handling
  backend/app/api/complete/closeout_policy.py
  backend/app/api/complete/tool_response_finalizer.py
  backend/app/services/memory/citation_parser.py
  backend/app/workflows/_session_postprocess.py
  backend/tests/api/complete/test_tool_response_finalizer.py
  backend/tests/services/memory/test_citation_parser.py
  backend/tests/workflows/test_session_postprocess.py
Due: mypy

Consolidate detached rebuild closeout policy
  backend/app/api/complete/closeout_policy.py
  backend/app/api/complete/tool_handler_utils.py
Due: mypy

Remove stale skip_cache plumbing from tool completion path
  backend/app/api/complete/tool_handlers.py
  backend/app/api/complete/tool_router.py
  backend/tests/api/complete/test_tool_handlers_partial.py
Due: mypy

Fix streaming inline tag persistence reuse
  backend/app/api/complete/streaming_persistence.py
  backend/app/api/complete/streaming_tool_loop.py
  backend/tests/api/complete/test_streaming_persistence.py
Due: mypy

Own streaming cancellation in StreamContext
  backend/app/api/complete/endpoints.py
  backend/app/api/complete/streaming.py
  backend/app/api/complete/streaming_context.py
  backend/tests/api/complete/test_streaming_context.py
  backend/tests/api/test_complete_streaming.py
Due: mypy

Inline tool loop error handling in completion handler
  backend/app/api/complete/tool_handlers.py
  backend/tests/api/complete/test_tool_handlers_partial.py
Due: mypy

Harden credential cache startup loading
  backend/app/main.py
  backend/app/services/credential_manager.py
  backend/app/worker_runtime.py
  backend/tests/storage/test_credential_manager.py
  frontend/src/app/agents/components/AgentRow.tsx
  frontend/src/app/agents/components/AgentsTable.tsx
  frontend/src/app/arena/components/ArenaCommandCenter.tsx
  frontend/src/app/sessions/components/StatusCell.tsx
Due: mypy, eslint, tsc, prettier

style: auto-format from pre-commit hooks
  frontend/src/app/arena/components/ArenaCommandCenter.tsx
Due: eslint, tsc, prettier

Arena command center polish + purge light-mode remnants
  frontend/src/app/arena/components/ArenaAgentCard.tsx
  frontend/src/app/arena/components/ArenaCommandCenter.tsx
Due: eslint, tsc, prettier
