Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

feat(settings): Add credential management UI for LLM providers
  frontend/src/components/settings-modal.tsx
Due: eslint, tsc, prettier

feat(credentials): add Claude OAuth status endpoint and UI
  backend/app/api/credentials.py
  frontend/src/components/settings-modal.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/api/credentials.ts
Due: mypy, eslint, tsc, prettier

refactor(gemini): Improve API key resolution and error handling
  .index.yaml
  backend/app/adapters/gemini_image.py
  backend/app/api/complete/error_handlers.py
  backend/app/api/complete/helpers.py
  backend/app/api/health_logic.py
  backend/app/api/image.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/memory/graphiti_client.py
  backend/app/services/memory/memory_rater.py
  backend/app/services/memory/summary_llm.py
  backend/app/services/tier_classifier.py
Due: mypy

refactor: reduce migration file from 327 to 168 lines
  backend/alembic/versions/cb33d77516d8_drop_unused_columns.py
Due: none

refactor: Extract MessageBubble.tsx into smaller components (353→134 lines)
  frontend/src/components/chat/EditableContent.tsx
  frontend/src/components/chat/MessageActions.tsx
  frontend/src/components/chat/MessageBubble.tsx
  frontend/src/components/chat/MessageContent.tsx
  frontend/src/components/chat/ProviderBadge.tsx
  frontend/src/components/chat/ThinkingBlock.tsx
  frontend/src/components/chat/message-bubble-utils.ts
Due: eslint, tsc, prettier

refactor: Reduce PermissionsTab.tsx from 381 to 74 lines
  backend/tests/adapters/test_credential_resolution.py
  backend/tests/adapters/test_interface.py
  backend/tests/adapters/test_openai_compat.py
  frontend/src/app/agents/[slug]/components/PermissionsTab.tsx
  frontend/src/app/agents/[slug]/components/permissions/EffectivePermissionsPreview.tsx
  frontend/src/app/agents/[slug]/components/permissions/ModeSelector.tsx
  frontend/src/app/agents/[slug]/components/permissions/ToolListManager.tsx
  frontend/src/app/agents/[slug]/components/permissions/constants.ts
  frontend/src/app/agents/[slug]/components/permissions/usePermissionConfig.ts
Due: eslint, tsc, prettier

refactor(client_auth): split into focused modules to reduce file size
  backend/app/services/client_auth.py
  backend/app/services/client_auth/__init__.py
  backend/app/services/client_auth/secret_utils.py
  backend/app/services/client_auth/status_manager.py
Due: mypy

refactor: Split analytics_service.py into focused modules (359→59 lines)
  backend/app/services/analytics/__init__.py
  backend/app/services/analytics/cost_queries.py
  backend/app/services/analytics/models.py
  backend/app/services/analytics/truncation_queries.py
  backend/app/services/analytics_service.py
Due: mypy

refactor(frontend): Reduce GlobalInstructionsPanel.tsx from 326 to 196 lines
  frontend/src/components/GlobalInstructionsPanel.tsx
Due: eslint, tsc, prettier

refactor(frontend): Extract settings-modal.tsx into sub-components
  frontend/src/components/settings-modal.tsx
  frontend/src/components/settings/PreferencesTab.tsx
  frontend/src/components/settings/ProviderCard.tsx
  frontend/src/components/settings/ProviderForm.tsx
  frontend/src/components/settings/ProvidersTab.tsx
  frontend/src/components/settings/constants.ts
Due: eslint, tsc, prettier

refactor(memory): Split session_analysis.py into focused modules (303→189 lines)
  backend/app/services/memory/session_analysis.py
  backend/app/services/memory/session_queries.py
  backend/tests/adapters/test_credential_resolution.py
  backend/tests/adapters/test_interface.py
  backend/tests/adapters/test_openai_compat.py
  backend/tests/services/memory/test_session_analysis.py
Due: mypy

chore: auto-fix formatting in tests
  backend/tests/adapters/test_credential_resolution.py
  backend/tests/adapters/test_interface.py
  backend/tests/adapters/test_openai_compat.py
Due: none

chore: auto-fix formatting
  backend/tests/adapters/test_credential_resolution.py
  backend/tests/adapters/test_interface.py
  backend/tests/adapters/test_openai_compat.py
Due: none

chore(.index.yaml): update generated timestamp and dev-tools folder count
  .index.yaml
Due: none

feat(memory): Add git digest to session summaries
  backend/alembic/versions/y2z3a4b5c6d7_add_summary_git_digest.py
  backend/app/api/memory_dashboard.py
  backend/app/models/session.py
  backend/app/services/memory/continuity_injector.py
  backend/app/services/memory/summary_generator.py
  backend/app/services/memory/summary_llm.py
  backend/app/worker.py
  backend/app/workflows/summary.py
  backend/scripts/seed_session_analysis_prompt.py
  backend/tests/services/memory/test_continuity_injection.py
  backend/tests/services/memory/test_summary_generator.py
Due: mypy

chore(.index.yaml): update generated_at timestamp
  .index.yaml
Due: none
