Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

refactor(citation_tracker): Split large functions for maintainability
  backend/app/api/complete/_citation_helpers.py
  backend/app/api/complete/citation_tracker.py
Due: mypy

refactor(claude_utils): Flatten nesting with early returns
  backend/app/adapters/claude_utils.py
Due: mypy

refactor(claude_oauth): Flatten nesting with early returns
  backend/app/adapters/claude_oauth.py
Due: mypy

chore(prompts): Replace verify_command references with quality checks
  backend/app/services/memory/scorecard_component_map.py
  backend/scripts/seed_agents_data/core_agents.py
Due: mypy

feat(memory): Implement continuous lifecycle scoring and retirement
  backend/alembic/versions/c8113ded1ed2_add_lifecycle_columns.py
  backend/app/models/memory_unified.py
  backend/app/services/memory/_repo_helpers.py
  backend/app/services/memory/_repo_tier.py
  backend/app/services/memory/cleanup_operations.py
  backend/app/services/memory/cleanup_ttl.py
  backend/app/services/memory/lifecycle_score.py
  backend/app/services/memory/redundancy.py
  backend/app/services/memory/retirement.py
  backend/app/services/memory/self_heal.py
  backend/app/services/memory/tier_operations.py
  backend/app/services/memory/tier_optimizer.py
  backend/app/services/memory/tier_queries.py
  backend/app/services/project_permission_service.py
  backend/app/workflows/scheduled.py
  backend/tests/services/memory/test_lifecycle_score.py
  backend/tests/services/memory/test_redundancy.py
  backend/tests/services/memory/test_retirement.py
  backend/tests/services/memory/test_self_heal.py
  backend/tests/services/test_persona_service.py
  backend/tests/tools/test_persona_integration.py
Due: mypy

feat(memory): introduce lifecycle score and tier changes analytics
  .index.yaml
  backend/app/api/memory_dashboard.py
  backend/app/api/memory_schemas_episodes.py
  backend/app/services/memory/analytics_models.py
  backend/app/services/memory/analytics_queries.py
  backend/app/services/memory/analytics_service.py
  frontend/src/components/dashboard/tabs/HealthTabContent.tsx
  frontend/src/components/memory/ExpandedRowContent.tsx
  frontend/src/components/memory/UsageStatsPane.tsx
  frontend/src/components/memory/tabs/AnalyticsTab.tsx
  frontend/src/components/memory/tabs/charts/top-memories-table.tsx
  frontend/src/lib/memory-api.ts
  frontend/src/lib/memory-types.ts
  frontend/src/lib/memory/search.ts
Due: mypy, eslint, tsc, prettier

chore(deps): update generated_at timestamp and usage stats layout
  .index.yaml
  frontend/src/components/memory/UsageStatsPane.tsx
Due: eslint, tsc, prettier

fix(frontend): Adjust usage stats layout for better responsiveness
  .index.yaml
  frontend/src/components/memory/UsageStatsPane.tsx
  frontend/src/components/memory/tabs/charts/usage-stats.tsx
Due: eslint, tsc, prettier

feat(models): add gemini image models and worktree boundary hook
  backend/app/constants/catalog.py
  backend/app/constants/models.py
  backend/app/services/tools/_worktree_boundary_hook.py
  backend/tests/tools/test_worktree_boundary_hook.py
Due: mypy

style: auto-format from pre-commit hooks
  backend/app/adapters/gemini_image.py
Due: mypy

feat(gemini_image): Support OAuth for image generation
  backend/app/adapters/gemini_image.py
  backend/app/storage/__init__.py
  selfheal_test.txt
Due: mypy

refactor(permissions): add worktree boundary enforcement to tool hooks
  backend/app/adapters/claude_tools_helpers.py
  backend/app/adapters/claude_tools_permissions.py
  backend/app/adapters/gemini_image.py
  backend/app/constants/__init__.py
  backend/app/services/tools/_worktree_boundary_hook.py
  backend/app/services/tools/tool_handler.py
  backend/app/storage/__init__.py
  backend/tests/tools/test_worktree_boundary_hook.py
Due: mypy

refactor(claude): Implement settings-based write boundary enforcement
  backend/app/adapters/_claude_sdk_builder.py
  backend/app/adapters/_claude_settings.py
  backend/app/adapters/claude_tools_helpers.py
  backend/app/adapters/claude_tools_permissions.py
  backend/tests/adapters/test_claude_settings.py
  backend/tests/adapters/test_claude_tools_permissions.py
Due: mypy

feat(nvidia): add NVIDIA NIM adapter and model support
  backend/app/adapters/_openai_compat_helpers.py
  backend/app/adapters/nvidia.py
  backend/app/adapters/registry.py
  backend/app/api/complete/tool_stream_builder.py
  backend/app/api/credentials.py
  backend/app/config.py
  backend/app/constants/__init__.py
  backend/app/constants/catalog.py
  backend/app/constants/models.py
  backend/app/constants/projects.py
  backend/app/services/provider_chain.py
Due: mypy

feat(gemini): Implement OAuth fallback to API key on rate limit
  backend/app/adapters/gemini.py
  backend/tests/adapters/test_gemini.py
  frontend/src/components/settings/constants.ts
Due: mypy, eslint, tsc, prettier

feat(agent-hub): add get_tier_changes endpoint and update file counts
  .index.yaml
Due: none

feat(nvidia): Add model mapping and resolution logic
  backend/app/adapters/nvidia.py
Due: mypy

refactor(memory): Improve continuity session details and query
  backend/app/services/memory/continuity_format.py
  backend/app/services/memory/continuity_query.py
  backend/app/workflows/persona_heartbeat.py
Due: mypy

feat(tools): Add list_active action and active work summary to heartbeat
  backend/app/services/tools/_executor_io.py
  backend/app/services/tools/_persona_ops_tools.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/scripts/seed_agents_data/concierge_agents.py
Due: mypy

fix(memory): Add session_id to inject_memory_context and update heartbeat memory group
  backend/app/api/complete/memory_handler.py
  backend/app/workflows/persona_heartbeat.py
Due: mypy
