Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

checkpoint: auto-save from previous session
  CLAUDE.md
  tasks/agent-hub-phase-2/plan.json
  tasks/agent-hub-phase-2/planning-state.json
Due: none

chore: next-session-prompt.md,CLAUDE.md
  .claude/next-session-prompt.md
  CLAUDE.md
Due: none

chore: next-session-prompt.md,CLAUDE.md
  CLAUDE.md
Due: none

fix(complete): resolve model aliases before routing
  .index.yaml
  backend/app/api/complete.py
  backend/app/constants.py
Due: mypy

refactor: use existing MODEL_MAPPING instead of duplicate
  backend/app/api/complete.py
  backend/app/constants.py
Due: mypy

chore: rebuild.sh
  scripts/rebuild.sh
Due: none

chore: dev-standards.sh,dev-tools.sh
  scripts/dev-standards.sh
  scripts/dev-tools.sh
Due: none

chore: 1 file changed, 1 insertion(+)
  scripts/sf-commit.sh
Due: none

chore(backend): 5 files changed, 920 insertions(+), 9 deletions(-)
  backend/app/api/orchestration.py
  backend/app/services/agent_runner.py
  packages/agent-hub-client/agent_hub/__init__.py
  packages/agent-hub-client/agent_hub/client.py
  packages/agent-hub-client/agent_hub/models.py
Due: mypy

test(backend): 5 files changed, 462 insertions(+), 4 deletions(-)
  backend/app/api/orchestration.py
  backend/app/services/agent_runner.py
  backend/app/services/tools/sandboxed_executor.py
  backend/tests/tools/test_sandboxed_executor.py
  packages/agent-hub-client/agent_hub/client.py
Due: mypy

feat(backend): Add tool calling support to Gemini adapter
  backend/app/adapters/gemini.py
  backend/app/api/orchestration.py
  backend/app/services/agent_runner.py
Due: mypy

chore(frontend): 12 files changed, 209 insertions(+), 88 deletions(-)
  frontend/src/app/chat/page.tsx
  frontend/src/components/chat/context-panel.tsx
  frontend/src/components/chat/message-list.tsx
  frontend/src/components/chat/multi-agent/agent-selector.tsx
  frontend/src/components/chat/multi-agent/deliberation-panel.tsx
  frontend/src/components/chat/truncation-indicator.tsx
  frontend/src/components/feedback/feedback-buttons.tsx
  frontend/src/components/feedback/feedback-modal.tsx
  frontend/src/components/output/code-block.tsx
  frontend/src/components/output/collapsible-output.tsx
  frontend/src/components/output/export-button.tsx
  frontend/src/components/tool-approval/tool-approval-modal.tsx
Due: eslint, tsc, prettier

chore(backend): 1 file changed, 18 insertions(+)
  backend/app/adapters/gemini.py
Due: mypy

chore(backend): 2 files changed, 57 deletions(-)
  .pre-commit-config.yaml
  backend/pyproject.toml
Due: none

chore(frontend): 3 files changed, 2 insertions(+), 12331 deletions(-)
  frontend/package-lock.json
  packages/passport-client/package-lock.json
  packages/passport-client/package.json
Due: prettier

chore(frontend): 4 files changed, 100 insertions(+), 66 deletions(-)
  frontend/biome.json
  frontend/next.config.ts
  frontend/playwright.config.ts
  frontend/vitest.config.ts
Due: eslint, tsc, prettier

chore(fullstack): 10 files changed, 885 insertions(+), 98 deletions(-)
  backend/app/adapters/gemini.py
  backend/app/api/stream.py
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/src/hooks/use-chat-stream.ts
  frontend/src/types/chat.ts
  frontend/tsconfig.json
  packages/passport-client/package.json
  tasks/coding-agent-chat/plan.json
  tasks/coding-agent-chat/planning-state.json
Due: mypy, eslint, tsc, prettier

chore(frontend): format use-chat-stream hook
  frontend/src/hooks/use-chat-stream.ts
Due: eslint, tsc, prettier
