Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

fix: type annotations and lint fixes
  backend/app/adapters/claude_oauth.py
  backend/app/api/complete/session_setup.py
  backend/app/api/complete/tool_result_builder.py
  backend/app/api/complete/turn_processor.py
Due: mypy

fix: type annotations and lint fixes
  backend/app/api/complete/tool_result_builder.py
Due: mypy

fix: type annotations and lint fixes
  backend/app/adapters/claude_oauth.py
  backend/app/api/complete/tool_result_builder.py
Due: mypy

fix: combine nested if (SIM102)
  backend/app/adapters/claude_oauth.py
Due: mypy

refactor: extract helpers from memory_agent_handlers to reduce size
  backend/app/api/memory_agent_handlers.py
  backend/app/api/memory_agent_helpers.py
Due: mypy

Refactor cleanup_legacy.py from 336 to 174 lines
  backend/scripts/memory/cleanup_legacy.py
  backend/scripts/memory/cleanup_legacy_queries.py
  backend/scripts/memory/cleanup_legacy_ui.py
Due: none

refactor: split tool_handlers.py into focused modules (268→145 lines)
  backend/app/api/complete/tool_claude_processor.py
  backend/app/api/complete/tool_gemini_processor.py
  backend/app/api/complete/tool_handlers.py
  backend/app/api/complete/tool_permission_parser.py
  backend/app/api/complete/tool_response_finalizer.py
Due: mypy

refactor: extract session detail page components (414→95 lines)
  frontend/src/app/sessions/[id]/components/ContextUsageBar.tsx
  frontend/src/app/sessions/[id]/components/SessionHeader.tsx
  frontend/src/app/sessions/[id]/components/SessionInfo.tsx
  frontend/src/app/sessions/[id]/components/StatCard.tsx
  frontend/src/app/sessions/[id]/components/utils.tsx
  frontend/src/app/sessions/[id]/page.tsx
Due: eslint, tsc, prettier

refactor: split events.py into focused modules (440→197 lines)
  backend/app/services/events.py
  backend/app/services/events_hatchet_bridge.py
  backend/app/services/events_models.py
  backend/app/services/events_publishers.py
Due: mypy

refactor: split agent-hub-client models.py into modular package
  packages/agent-hub-client/agent_hub/models.py
  packages/agent-hub-client/agent_hub/models/__init__.py
  packages/agent-hub-client/agent_hub/models/agent.py
  packages/agent-hub-client/agent_hub/models/content.py
  packages/agent-hub-client/agent_hub/models/core.py
  packages/agent-hub-client/agent_hub/models/image.py
  packages/agent-hub-client/agent_hub/models/session.py
  packages/agent-hub-client/agent_hub/models/tools.py
  packages/agent-hub-client/agent_hub/models/usage.py
Due: none

Refactor usage_tracker.py: extract database flush logic
  backend/app/services/memory/__init__.py
  backend/app/services/memory/usage_flushers.py
  backend/app/services/memory/usage_tracker.py
Due: mypy

chore: update .index.yaml file counts
  .index.yaml
Due: none

refactor: split access_control.py into focused modules (303→25 lines)
  backend/app/api/access_control.py
  backend/app/api/access_control_clients.py
  backend/app/api/access_control_stats.py
Due: mypy

refactor: split audit_episodes.py into focused modules (218→94 lines)
  backend/scripts/memory/audit_analyzer.py
  backend/scripts/memory/audit_episodes.py
  backend/scripts/memory/audit_queries.py
  backend/scripts/memory/audit_reporter.py
Due: none

refactor: split gemini_utils.py into focused modules
  backend/app/adapters/gemini_config.py
  backend/app/adapters/gemini_errors.py
  backend/app/adapters/gemini_messages.py
  backend/app/adapters/gemini_response.py
  backend/app/adapters/gemini_utils.py
Due: mypy

refactor: split maker_checker.py into focused modules (333 -> 196 lines)
  backend/app/services/orchestration/__init__.py
  backend/app/services/orchestration/code_review.py
  backend/app/services/orchestration/maker_checker.py
  backend/app/services/orchestration/maker_checker_parser.py
  backend/app/services/orchestration/maker_checker_types.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
