Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

refactor(permissions): Implement fail-closed security for permission checks
  backend/app/services/project_permission_service.py
  backend/app/services/tools/tool_handler.py
  backend/tests/services/test_project_permission_service.py
  backend/tests/services/test_tool_handler.py
Due: mypy

refactor(access_control): Remove client secret verification and rotation
  backend/app/api/access_control_clients.py
  backend/app/api/access_control_helpers.py
  backend/app/api/access_control_schemas.py
  backend/app/api/complete/_core_helpers.py
  backend/app/api/complete/complete_orchestrator.py
  backend/app/api/complete/handler_helpers.py
  backend/app/api/complete/result_finalizer.py
  backend/app/api/project_permissions.py
  backend/app/middleware/access_control.py
  backend/app/middleware/access_control_auth.py
  backend/app/middleware/access_control_constants.py
  backend/app/middleware/access_control_handler_helpers.py
  backend/app/middleware/access_control_handlers.py
  backend/app/middleware/access_control_responses.py
  backend/app/models/client.py
  backend/app/models/project_permission.py
  backend/app/services/client_auth/__init__.py
  backend/app/services/client_auth/secret_utils.py
  backend/app/services/client_rate_limiter.py
  backend/app/services/project_budget.py
  backend/app/services/project_permission_service.py
  backend/tests/api/test_access_control.py
  backend/tests/services/test_client_rate_limiter.py
  backend/tests/services/test_project_budget.py
Due: mypy

test(fullstack): 21 files changed, 2834 insertions(+), 159 deletions(-)
  .index.yaml
  backend/alembic/versions/31f7c68cf57f_option_d_drop_client_secrets_add_budgets.py
  backend/app/services/project_budget.py
  backend/tests/api/test_access_control.py
  backend/tests/api/test_project_permissions.py
  backend/tests/integration/test_enforcement_chain.py
  frontend/src/app/access-control/budgets/page.tsx
  frontend/src/app/access-control/clients/[id]/components/ActionButtons.tsx
  frontend/src/app/access-control/clients/[id]/components/ClientDetailsCard.tsx
  frontend/src/app/access-control/clients/[id]/components/NewSecretBanner.tsx
  frontend/src/app/access-control/clients/[id]/hooks/useClientMutations.ts
  frontend/src/app/access-control/clients/[id]/page.tsx
  frontend/src/app/access-control/clients/new/page.tsx
  frontend/src/app/access-control/clients/page.tsx
  frontend/src/app/access-control/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/api/budgets.ts
  packages/agent-hub-client/agent_hub/_async_client.py
  packages/agent-hub-client/agent_hub/_base.py
  packages/agent-hub-client/agent_hub/_sync_client.py
  packages/agent-hub-client/tests/test_credentials.py
Due: mypy, eslint, tsc, prettier

refactor(backend): Clean up unused imports and constants
  backend/app/api/__init__.py
  backend/app/services/tools/direct_executor_core.py
  backend/tests/services/test_project_budget.py
  backend/tests/services/test_project_permission_service.py
  backend/tests/services/test_tool_handler.py
Due: mypy

refactor(project_budget): Remove redundant cost recording and update cache invalidation logic
  backend/app/api/complete/result_finalizer.py
  backend/app/api/complete/streaming.py
  backend/app/services/project_budget.py
  backend/tests/api/test_async_completion.py
  backend/tests/services/test_project_budget.py
Due: mypy

refactor(backend): Remove client rate limiter service and tests
  backend/app/services/client_rate_limiter.py
  backend/app/services/voice/tts.py
  backend/tests/adapters/test_claude.py
  backend/tests/integration/test_enforcement_chain.py
  backend/tests/services/test_client_rate_limiter.py
Due: mypy

feat(concierge_agents): Add safety constraints to agent persona
  backend/scripts/seed_agents_data/concierge_agents.py
Due: none

fix(persona): drop unused tools_guidance field
  backend/alembic/versions/c2d3e4f5g6h7_drop_persona_tools_guidance.py
  backend/app/api/persona.py
  backend/app/models/persona.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/persona_service.py
  backend/scripts/seed_agents_data/concierge_agents.py
  backend/tests/api/test_persona.py
  backend/tests/services/test_persona_service.py
  backend/tests/tools/test_persona_tools.py
  frontend/src/app/persona/settings/components/PersonalityTab.tsx
  frontend/src/types/persona.ts
Due: mypy, eslint, tsc, prettier

fix(episode_creator): Handle Gemini API rate limit errors
  backend/app/services/memory/episode_creator_core.py
  backend/app/services/memory/graphiti_client.py
Due: mypy

feat(gemini): Improve rate limit error handling and logging
  backend/app/adapters/errors.py
  backend/app/adapters/gemini_cloudcode.py
  backend/app/adapters/gemini_errors.py
  backend/app/api/complete/error_handlers.py
  backend/app/services/memory/episode_creator_core.py
Due: mypy

feat(graphiti): Add CloudCode OAuth proxy for LLM and reranker
  backend/app/services/memory/cloudcode_genai_proxy.py
  backend/app/services/memory/graphiti_client.py
Due: mypy

refactor(graphiti): Remove CloudCode OAuth proxy logic
  backend/app/services/memory/cloudcode_genai_proxy.py
  backend/app/services/memory/graphiti_client.py
Due: mypy

chore(backend): 22 files changed, 2165 insertions(+), 673 deletions(-)
  backend/alembic/versions/d3e4f5g6h7i8_create_unified_memories_table.py
  backend/app/models/__init__.py
  backend/app/models/memory_unified.py
  backend/app/services/memory/adaptive_index_queries.py
  backend/app/services/memory/citation_parser.py
  backend/app/services/memory/context_injector_blocks.py
  backend/app/services/memory/context_injector_blocks_helpers.py
  backend/app/services/memory/context_injector_queries.py
  backend/app/services/memory/embedder.py
  backend/app/services/memory/episode_creator.py
  backend/app/services/memory/episode_creator_core.py
  backend/app/services/memory/episode_helpers.py
  backend/app/services/memory/memory_client.py
  backend/app/services/memory/repository.py
  backend/app/services/memory/search_context.py
  backend/app/services/memory/search_helpers.py
  backend/app/services/memory/search_patterns.py
  backend/app/services/memory/search_semantic.py
  backend/app/services/memory/tier_operations.py
  backend/app/services/memory/tier_optimizer.py
  backend/app/services/memory/tier_queries.py
  backend/app/services/memory/tracking_operations.py
Due: mypy

refactor(memory): Migrate Neo4j dependencies to PostgreSQL and update tests
  backend/app/api/memory_schemas.py
  backend/app/exception_handlers.py
  backend/app/services/memory/neo4j_queries.py
  backend/tests/api/test_memory.py
  backend/tests/api/test_memory_analysis.py
  backend/tests/api/test_persona.py
  backend/tests/services/memory/test_dedup.py
  backend/tests/services/memory/test_episode_formatter.py
  backend/tests/services/memory/test_memory_rater.py
  backend/tests/services/memory/test_usage_tracker.py
  backend/tests/services/memory/test_utility_scoring.py
  backend/tests/services/test_persona_service.py
  backend/tests/tools/test_persona_tools.py
  scripts/db.sh
  scripts/restart.sh
  scripts/setup-neo4j.sh
  scripts/systemd/neo4j.service
Due: mypy

feat(memory): Add script to migrate Neo4j memories to PostgreSQL
  backend/scripts/memory/migrate_neo4j_to_pg.py
Due: none

refactor(memory): Migrate from Neo4j to PostgreSQL and pgvector
  backend/alembic/versions/ff9d19d2c6d1_drop_dead_tables_neo4j_cleanup.py
  backend/app/api/memory_bulk_ops.py
  backend/app/api/memory_episodes.py
  backend/app/api/memory_observations.py
  backend/app/api/memory_rating.py
  backend/app/api/memory_schemas_episodes.py
  backend/app/api/memory_settings.py
  backend/app/api/schemas/sessions.py
  backend/app/api/sessions.py
  backend/app/models/memory_unified.py
  backend/app/services/memory/analytics_queries.py
  backend/app/services/memory/analytics_service.py
  backend/app/services/memory/cleanup_ttl.py
  backend/app/services/memory/continuity_injector.py
  backend/app/services/memory/crud_operations.py
  backend/app/services/memory/embedder.py
  backend/app/services/memory/episode_creator_core.py
  backend/app/services/memory/exceptions.py
  backend/app/services/memory/health_operations.py
  backend/app/services/memory/list_operations.py
  backend/app/services/memory/memory_models.py
  backend/app/services/memory/memory_queries.py
  backend/app/services/memory/memory_stats.py
  backend/app/services/memory/memory_utils.py
  backend/app/services/memory/promotion.py
  backend/app/services/memory/repository.py
  backend/app/services/memory/service_cleanup.py
  backend/app/services/memory/service_mixins.py
  backend/app/services/memory/service_stats.py
  backend/app/services/memory/tier_operations.py
  backend/app/services/memory/tier_optimizer.py
  backend/app/services/memory/tier_queries.py
  backend/app/services/memory/tracking_operations.py
  backend/app/workflows/scheduled.py
  backend/scripts/memory/audit_analyzer.py
  backend/scripts/memory/audit_episodes.py
  backend/scripts/memory/audit_queries.py
  backend/tests/services/memory/test_learning_extractor.py
  backend/uv.lock
  frontend/src/lib/api/memory-settings.ts
Due: mypy, eslint, tsc, prettier

chore(frontend): 7 files changed, 9 insertions(+), 63 deletions(-)
  .index.yaml
  frontend/src/components/memory/ExpandedRowContent.tsx
  frontend/src/components/memory/LLMConfigDisplay.tsx
  frontend/src/components/memory/TimelineItem.tsx
  frontend/src/components/memory/memory-card.tsx
  frontend/src/lib/api/memory-settings.ts
  frontend/src/lib/memory-types.ts
Due: eslint, tsc, prettier

fix(feedback_storage): Ensure vote persistence before incrementing count
  backend/app/services/feedback_storage.py
Due: mypy
