Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

fix(memory): disable all_groups for scoped memory search
  backend/app/api/memory_episodes_search.py
  backend/app/services/git_status_summary.py
  backend/app/services/memory/_repo_query.py
  backend/app/services/memory/crud_operations.py
  backend/app/services/memory/episode_operations_helpers.py
  backend/app/services/memory/list_operations.py
  backend/app/services/tools/_executor_io.py
  backend/app/services/tools/_executor_io_tasks.py
  backend/app/services/tools/_persona_ops_tools.py
  backend/app/workflows/_heartbeat_data.py
  backend/tests/api/test_memory_episodes_query.py
  backend/tests/services/memory/test_crud_operations.py
  backend/tests/services/memory/test_episode_operations_helpers.py
  backend/tests/services/memory/test_repo_pagination.py
  backend/tests/services/memory/test_scope_mapping.py
  backend/tests/services/test_git_status_summary.py
  backend/tests/tools/test_persona_tools.py
  backend/tests/workflows/test_heartbeat_prompt.py
  tmp/autocode-execution.yaml
  tmp/coder.yaml
  tmp/persona-heartbeat-instructions.yaml
  tmp/persona-heartbeat-orchestrator.yaml
  tmp/persona-safety.yaml
  tmp/planner.yaml
  tmp/qa.yaml
  tmp/refactor.yaml
  tmp/reviewer.yaml
Due: mypy

chore(prompts): remove exported audit artifacts
  tmp/autocode-execution.yaml
  tmp/coder.yaml
  tmp/persona-heartbeat-instructions.yaml
  tmp/persona-heartbeat-orchestrator.yaml
  tmp/persona-safety.yaml
  tmp/planner.yaml
  tmp/qa.yaml
  tmp/refactor.yaml
  tmp/reviewer.yaml
Due: none

autocode(task-84cb17be): complete subtask 1.1
  backend/app/workflows/_heartbeat_postprocess.py
Due: mypy

feat: add governance auditing workflow for Jenny
  backend/app/services/tools/_executor_feedback.py
  backend/app/services/tools/_persona_ops_tools.py
  backend/app/services/tools/tool_definitions.py
  backend/app/workflows/_heartbeat_data.py
  backend/scripts/seed_agents_data/concierge_agents.py
  backend/tests/tools/test_executor_feedback.py
  backend/tests/tools/test_tool_definitions.py
  reference/persona-heartbeat-instructions.md
Due: mypy

chore(governance): add governance-auditor efficiency guardrails to concierge config
  backend/scripts/seed_agents_data/concierge_agents.py
Due: none

fix: remove stale test import for _determine_activity_period
  backend/tests/services/memory/test_analytics_dashboard.py
Due: none

feat: add inspect_session tool for session introspection
  backend/app/services/project_permission_service.py
  backend/app/services/tools/_executor_consultation.py
  backend/app/services/tools/_executor_io_lanes.py
  backend/app/services/tools/_executor_registry.py
  backend/app/services/tools/_persona_ops_tools.py
  backend/app/services/tools/_persona_tools.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/services/tools/tool_definitions.py
  backend/tests/services/test_project_permission_service.py
  backend/tests/tools/test_executor_consultation.py
  backend/tests/tools/test_persona_integration.py
  backend/tests/tools/test_persona_tools.py
  backend/tests/tools/test_tool_definitions.py
  reference/persona-heartbeat-instructions.md
Due: mypy

``` refactor: add provider-aware tool name rendering for Claude MCP
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/app/workflows/persona_heartbeat.py
  backend/tests/workflows/test_heartbeat_prompt.py
  backend/tests/workflows/test_persona_heartbeat.py
Due: mypy

feat(persona): unify chat and activity workspace
  frontend/src/__tests__/persona-page.test.tsx
  frontend/src/app/persona/page.tsx
Due: eslint, tsc, prettier

refactor(persona): collapse activity into single feed
  frontend/src/__tests__/persona-activity-timeline.test.tsx
  frontend/src/app/persona/components/ActivityTimeline.tsx
Due: eslint, tsc, prettier

feat(persona): build unified timeline workspace
  backend/app/api/persona/__init__.py
  backend/app/api/persona/schemas.py
  backend/app/api/persona/stream.py
  backend/tests/api/test_persona.py
  frontend/src/__tests__/persona-activity-timeline.test.tsx
  frontend/src/__tests__/persona-page.test.tsx
  frontend/src/__tests__/unified-persona-workspace.test.tsx
  frontend/src/app/persona/components/ActivityTimeline.tsx
  frontend/src/app/persona/components/HeartbeatExpandedEvent.tsx
  frontend/src/app/persona/components/HeartbeatSessionCard.tsx
  frontend/src/app/persona/components/HeartbeatSessionCardTypes.ts
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
  frontend/src/app/persona/page.tsx
  frontend/src/lib/api/persona-stream.ts
  packages/chat-ui/src/hooks/use-chat-stream.ts
Due: mypy, eslint, tsc, prettier

feat(persona): add inline stream details and search navigation
  backend/app/api/persona/schemas.py
  backend/app/api/persona/stream.py
  backend/tests/api/test_persona.py
  frontend/src/__tests__/unified-persona-workspace.test.tsx
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
  frontend/src/lib/api/persona-stream.ts
Due: mypy, eslint, tsc, prettier

feat(persona): finish unified stream navigation
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
Due: eslint, tsc, prettier

fix(agent-hub): recognize task worktrees in cross-project guard
  backend/app/api/memory_episodes.py
  backend/app/api/memory_episodes_handlers.py
  backend/app/api/memory_schemas.py
  backend/app/api/memory_schemas_episodes.py
  backend/app/services/tools/_cross_project_hook.py
  backend/tests/api/test_memory.py
  backend/tests/tools/test_persona_integration.py
Due: mypy

test(memory): align update endpoint assertions
  backend/tests/api/test_memory.py
Due: none

feat(persona): preview tool payloads in stream cards
  backend/app/api/persona/schemas.py
  backend/app/api/persona/stream.py
  backend/tests/api/test_persona.py
  frontend/src/lib/api/persona-stream.ts
Due: mypy, eslint, tsc, prettier

feat(persona): surface spawned runs and payload previews
  frontend/src/__tests__/unified-persona-workspace.test.tsx
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
Due: eslint, tsc, prettier

fix(memory): enforce standard episode formatting and validation
  backend/app/api/memory_agent_learning_saver.py
  backend/app/api/memory_agent_tools.py
  backend/app/api/memory_episodes_handlers.py
  backend/app/api/memory_schemas_episodes.py
  backend/app/exception_handlers.py
  backend/app/services/memory/episode_validation.py
  backend/tests/api/test_memory.py
  backend/tests/services/memory/test_episode_creator.py
Due: mypy

feat(persona): surface runtime activity and session scope tracking
  backend/alembic/versions/cf39a0bccadf_add_session_scope_tracking_columns.py
  backend/app/api/schemas/ownership.py
  backend/app/api/schemas/sessions.py
  backend/app/api/session_ingestion.py
  backend/app/api/sessions.py
  backend/app/models/session.py
  backend/app/services/ownership_inventory.py
  backend/app/services/ownership_lanes.py
  backend/app/services/session_ingestion/__init__.py
  backend/app/services/session_ingestion/models.py
  backend/app/services/session_ingestion/service.py
  backend/app/services/session_live_activity.py
  backend/app/services/session_scope.py
  backend/app/services/session_transforms.py
  frontend/src/__tests__/persona-page.test.tsx
  frontend/src/__tests__/unified-persona-workspace.test.tsx
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
  frontend/src/app/persona/hooks/usePersonaRuntime.ts
  frontend/src/app/persona/page.tsx
  frontend/src/hooks/use-session-events.ts
  frontend/src/lib/api/sessions.ts
Due: mypy, eslint, tsc, prettier

fix(ownership): keep scope fields backward compatible
  backend/app/services/ownership_inventory.py
  backend/app/services/ownership_lanes.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
