Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

refactor(memory): Use datetime.UTC and remove timezone.utc
  backend/alembic/versions/ff9d19d2c6d1_drop_dead_tables_neo4j_cleanup.py
  backend/app/api/complete/streaming.py
  backend/app/services/memory/capture_handler.py
  backend/app/services/memory/embedder.py
  backend/app/services/memory/episode_creator.py
  backend/app/services/memory/learning_constants.py
  backend/app/services/memory/learning_extractor.py
  backend/app/services/memory/promotion.py
  backend/app/services/memory/repository.py
  backend/app/services/memory/summary_storage.py
  backend/app/services/memory/tier_operations.py
  backend/app/services/memory/timeline_service.py
  backend/app/services/memory/tools.py
  backend/app/services/tools/direct_executor_core.py
  backend/scripts/memory/migrate_neo4j_to_pg.py
  backend/tests/api/test_persona.py
  backend/tests/e2e/test_session_tracking.py
Due: mypy

feat(observation): add new observation types
  backend/app/services/memory/observation_schema.py
Due: mypy

refactor(persona): Improve onboarding and heartbeat logic
  backend/app/services/persona_service.py
  backend/app/workflows/persona_heartbeat.py
Due: mypy

feat(backend): Add persona-internal tool permission check
  backend/app/services/project_permission_service.py
Due: mypy

chore(backend): 4 files changed, 79 insertions(+), 9 deletions(-)
  backend/app/api/complete/complete_execution.py
  backend/app/api/complete/multi_turn_executor.py
  backend/app/services/persona_service.py
  backend/app/workflows/persona_heartbeat.py
Due: mypy

feat(persona): add onboarding attempts tracking and auto-approval
  backend/alembic/versions/aa1bb2cc3dd4_add_onboarding_attempts.py
  backend/app/models/persona.py
  backend/app/services/persona_service.py
  frontend/src/app/persona/settings/components/IdentityTab.tsx
  frontend/src/app/persona/settings/components/SessionLimitsTab.tsx
  frontend/src/types/persona.ts
Due: mypy, eslint, tsc, prettier

feat(catalog): Add new model capabilities and metadata fields
  backend/app/constants/catalog.py
Due: mypy

feat(models): add model enrichment and agent performance logging
  backend/alembic/versions/bb2cc3dd4ee5_add_model_enrichments_table.py
  backend/alembic/versions/cc3dd4ee5ff6_add_agent_performance_logs.py
  backend/app/api/models.py
  backend/app/models/__init__.py
  backend/app/models/agent_performance_log.py
  backend/app/models/model_enrichment.py
  backend/app/services/model_enrichment_service.py
  backend/app/services/persona_service.py
  backend/app/services/project_permission_service.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/services/tools/tool_definitions.py
  backend/app/services/tools/tool_handler.py
  backend/app/workflows/model_sync.py
  frontend/src/app/models/page.tsx
  frontend/src/components/chat/use-models.ts
  frontend/src/components/models/model-card.tsx
  frontend/src/components/models/model-comparison-sections.tsx
  frontend/src/components/models/model-filters.tsx
  frontend/src/lib/models.ts
  packages/chat-ui/src/components/use-models.ts
  packages/chat-ui/src/hooks/use-chat-stream.ts
  packages/chat-ui/src/index.ts
Due: mypy, eslint, tsc, prettier

feat(worker): add model enrichment sync task
  backend/app/worker.py
Due: mypy

feat(models): add last model review timestamp
  backend/app/api/models.py
  backend/app/workflows/persona_heartbeat.py
  frontend/src/app/models/page.tsx
  frontend/src/components/chat/use-models.ts
  frontend/src/lib/models.ts
Due: mypy, eslint, tsc, prettier

refactor(model_enrichment): Improve model matching logic
  backend/app/services/model_enrichment_service.py
  backend/app/worker.py
Due: mypy

refactor(models): enrich model scores with BFCL and LiveBench data
  .index.yaml
  backend/alembic/versions/dd4ee5ff6aa7_add_benchmark_enrichment_columns.py
  backend/app/api/models.py
  backend/app/models/model_enrichment.py
  backend/app/services/model_enrichment_service.py
  frontend/src/components/chat/use-models.ts
  frontend/src/lib/models.ts
Due: mypy, eslint, tsc, prettier

refactor(backend): Enhance model matching and listing
  .index.yaml
  backend/app/services/model_enrichment_service.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/workflows/persona_heartbeat.py
Due: mypy

fix(persona): handle persona onboarding continuation logic
  backend/app/services/persona_service.py
Due: mypy

chore(fullstack): 34 files changed, 64 insertions(+), 1217 deletions(-)
  backend/alembic/versions/536346caeff9_drop_auto_tier_column.py
  backend/app/api/complete/_core_helpers.py
  backend/app/api/complete/complete_execution.py
  backend/app/api/complete/complete_orchestrator.py
  backend/app/api/complete/core.py
  backend/app/api/complete/multi_turn_executor.py
  backend/app/api/complete/request_schemas.py
  backend/app/api/complete/resolution.py
  backend/app/api/preferences.py
  backend/app/models/agent.py
  backend/app/services/agent_dto.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/completion/types.py
  backend/app/services/model_mapping.py
  backend/app/services/model_selector.py
  backend/app/services/preferences.py
  backend/app/services/router.py
  backend/app/services/tier_selection.py
  backend/scripts/seed_agents.py
  backend/scripts/seed_agents_data/concierge_agents.py
  backend/tests/api/test_agents_api.py
  backend/tests/core/test_model_selector.py
  backend/tests/core/test_router.py
  backend/tests/services/test_agent_routing.py
  backend/tests/services/test_agent_service.py
  frontend/src/components/settings/PreferencesTab.tsx
  frontend/src/components/settings/tier-matrix-cell.tsx
  frontend/src/components/settings/tier-matrix-grid.tsx
  frontend/src/components/settings/tier-matrix-header.tsx
  frontend/src/components/settings/tier-matrix-selection.ts
  frontend/src/components/settings/tier-matrix-table.tsx
  frontend/src/hooks/chat-stream/send-message.ts
  frontend/src/hooks/chat-stream/types.ts
  frontend/src/lib/api/preferences.ts
Due: mypy, eslint, tsc, prettier

chore(.index.yaml): update generated_at timestamp
  .index.yaml
Due: none

fix(persona_service): Add onboarding_attempts to persona mock
  backend/tests/services/test_persona_service.py
Due: none

fix(claude_oauth): Gracefully handle unknown SDK message types
  backend/app/adapters/claude_oauth.py
Due: mypy

refactor(adapters): Apply SDK compatibility patches for unknown message types
  backend/app/adapters/__init__.py
  backend/app/adapters/claude_oauth.py
  backend/app/adapters/sdk_compat.py
  frontend/src/app/persona/page.tsx
Due: mypy, eslint, tsc, prettier

refactor(claude): Remove unused SDK compatibility patch
  backend/app/adapters/__init__.py
  backend/app/adapters/claude_streaming.py
  backend/app/adapters/sdk_compat.py
Due: mypy
