Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

refactor: remove unused memory operations and test fixtures
  backend/app/services/memory/cleanup_operations.py
  backend/app/services/memory/tracking_operations.py
  backend/app/services/model_enrichment_service.py
  backend/app/services/request_queue.py
  backend/tests/conftest.py
  backend/tests/services/test_request_queue.py
  frontend/src/components/memory/BudgetUsageDisplay.tsx
  frontend/src/components/memory/memory-list.tsx
  frontend/src/components/memory/useMemorySettings.ts
  frontend/src/lib/api/memory-settings.ts
Due: mypy, eslint, tsc, prettier

refactor: remove unused exports and legacy aliases
  backend/app/adapters/claude_utils.py
  backend/app/services/__init__.py
  frontend/src/lib/memory-api.ts
  frontend/src/lib/memory-types.ts
  frontend/src/lib/memory/episodes.ts
  frontend/src/lib/models.ts
Due: mypy, eslint, tsc, prettier

``` chore(config): remove unused concurrency and session timeout settings ```
  backend/app/config.py
Due: mypy

fix(completion): commit assistant_message event to persist final response in session_events
  backend/app/api/complete/tool_event_storage.py
Due: mypy

chore(fullstack): 19 files changed, 54 insertions(+), 85 deletions(-)
  backend/app/adapters/codex_sse.py
  backend/app/adapters/gemini_errors.py
  backend/app/api/complete/__init__.py
  backend/app/api/complete/agent_loop.py
  backend/app/api/complete/complete_orchestrator.py
  backend/app/api/complete/execution.py
  backend/app/api/complete/handlers.py
  backend/app/api/complete/helpers.py
  backend/app/api/complete/helpers_adapters.py
  backend/app/api/complete/streaming.py
  backend/app/api/complete/streaming_tool_loop.py
  backend/app/api/complete/tool_stream_builder.py
  backend/app/api/oauth.py
  backend/app/api/preferences.py
  backend/app/constants/__init__.py
  backend/app/constants/models.py
  backend/app/workflows/site_health_check.py
  backend/tests/api/test_access_control.py
  frontend/src/app/layout.tsx
Due: mypy, eslint, tsc, prettier

``` style: remove noqa comments and reformat multi-attribute type annotations ```
  backend/app/api/complete/core.py
  backend/app/services/memory/tier_optimizer.py
  backend/app/services/tools/_executor_io.py
  frontend/src/lib/api-config.ts
  frontend/src/lib/api.ts
  frontend/src/lib/api/budgets.ts
  frontend/src/lib/api/memory-tags.ts
  frontend/src/lib/api/project-permissions.ts
  frontend/src/lib/api/prompts.ts
Due: mypy, eslint, tsc, prettier

docs: update orchestration example to demonstrate subagent spawning and parallel execution
  examples/orchestration_example.py
Due: none

chore(seed): update generated_at timestamp in seed_data.json
  backend/scripts/seed_agents_data/seed_data.json
Due: none

fix: resolve AnyIO cancellation CPU spin in streaming endpoint
  backend/app/adapters/claude_tools_helpers.py
  backend/app/adapters/event_stream.py
  backend/app/api/persona/pulse/_constants.py
  backend/app/api/persona/pulse/_markers.py
  backend/app/api/persona/pulse/_text_helpers.py
Due: mypy

refactor: split pulse.py (835 lines) into pulse/ sub-package with 5 focused modules
  backend/app/api/persona/pulse.py
  backend/app/api/persona/pulse/__init__.py
  backend/app/api/persona/pulse/_classify.py
  backend/app/api/persona/pulse/_summary.py
Due: mypy

refactor: extract _executor_dispatch.py from _executor_consultation.py (714 lines → ~300 + ~260)
  backend/app/services/tools/_executor_consultation.py
  backend/app/services/tools/_executor_dispatch.py
  backend/tests/tools/test_executor_consultation.py
Due: mypy

refactor: split agent_benchmark_service.py (901 lines) into 4 focused modules
  backend/app/services/_benchmark_config.py
  backend/app/services/_benchmark_dashboard.py
  backend/app/services/_benchmark_persistence.py
  backend/app/services/agent_benchmark_service.py
Due: mypy

refactor: extract PromptsTab sub-components (859 lines → ~230 + 4 sub-components)
  frontend/src/app/agents/[slug]/components/PromptsTab.tsx
  frontend/src/app/agents/[slug]/components/prompts/AssignPromptForm.tsx
  frontend/src/app/agents/[slug]/components/prompts/CreatePromptForm.tsx
  frontend/src/app/agents/[slug]/components/prompts/LinkedPromptCard.tsx
  frontend/src/app/agents/[slug]/components/prompts/PromptAssignmentCard.tsx
Due: eslint, tsc, prettier

refactor: extract UnifiedPersonaWorkspace helpers into 6 sub-modules (3443 → 1356 lines)
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
  frontend/src/app/persona/components/workspace-cards.tsx
  frontend/src/app/persona/components/workspace-event-details.ts
  frontend/src/app/persona/components/workspace-feed.ts
  frontend/src/app/persona/components/workspace-live-events.ts
  frontend/src/app/persona/components/workspace-types.ts
  frontend/src/app/persona/components/workspace-utils.tsx
Due: eslint, tsc, prettier

refactor: extract event handlers and health classification in session_live_activity.py
  backend/app/services/session_live_activity.py
Due: mypy

refactor: break up generate_trading_strategy into focused helpers (586 → 487 lines, no function >50 lines)
  backend/scripts/generate_trading_strategy.py
Due: none

refactor: break up long functions in claude_tools_helpers.py — extract SDK query, result resolution, idle watchdog, and tool infra helpers
  backend/app/adapters/claude_tools_helpers.py
Due: mypy

refactor: extract schedule/runtime guards and completion context from persona_heartbeat.py
  backend/app/workflows/persona_heartbeat.py
Due: mypy

refactor: extract helpers from site_health_check.py — browser navigation, screenshot, model analysis, readiness polling
  backend/app/workflows/site_health_check.py
Due: mypy

style: auto-format from pre-commit hooks
  backend/app/services/_benchmark_dashboard.py
  backend/app/services/agent_benchmark_service.py
Due: mypy

fix: resolve circular import in benchmark service — move experiment stats to _benchmark_dashboard module
  backend/app/services/_benchmark_dashboard.py
  backend/app/services/agent_benchmark_service.py
  backend/scripts/seed_agents_data/seed_data.json
Due: mypy
