Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

chore(fullstack): 7 files changed, 2996 insertions(+), 9 deletions(-)
  backend/app/models/base.py
  backend/app/models/client.py
  backend/app/models/memory.py
  backend/app/models/telemetry.py
  backend/uv.lock
  frontend/src/app/globals.css
  frontend/src/app/loading.tsx
Due: mypy, eslint, tsc, prettier

chore(backend): 10 files changed, 244 insertions(+), 88 deletions(-)
  backend/alembic/versions/17cdcc56e5bd_initial_schema_sessions_messages_.py
  backend/alembic/versions/27229f433f34_add_truncation_events_table.py
  backend/alembic/versions/86bacf829f75_add_access_control_tables.py
  backend/alembic/versions/b9f50737450a_add_webhook_subscriptions_table.py
  backend/alembic/versions/e5f6g7h8i9j0_add_agents_table.py
  backend/app/api/admin.py
  backend/pyproject.toml
  backend/tests/adapters/test_claude.py
  backend/tests/conftest.py
  backend/tests/services/test_token_counter.py
Due: mypy

chore(backend): 7 files changed, 107 insertions(+), 63 deletions(-)
  backend/alembic/versions/2db02fafe6f7_add_roundtable_session_and_message_.py
  backend/alembic/versions/b9f50737450a_add_webhook_subscriptions_table.py
  backend/alembic/versions/ed13ea976211_add_purpose_and_session_type.py
  backend/alembic/versions/x1y2z3a4b5c6_add_session_events_table.py
  backend/app/api/admin.py
  backend/tests/core/test_tier_classifier.py
  backend/tests/services/memory/test_citation_parser.py
Due: mypy

fix: add missing await for async calls and fix test syntax
  backend/app/middleware/kill_switch.py
  backend/app/services/memory/context_injector_formatter.py
  backend/tests/core/test_router.py
  backend/tests/services/test_token_counter.py
Due: mypy

feat(frontend): add route segment files for loading, error, not-found states
  backend/tests/services/test_token_counter.py
  frontend/src/app/admin/error.tsx
  frontend/src/app/admin/loading.tsx
  frontend/src/app/agents/error.tsx
  frontend/src/app/agents/loading.tsx
  frontend/src/app/chat/error.tsx
  frontend/src/app/chat/loading.tsx
  frontend/src/app/dashboard/error.tsx
  frontend/src/app/dashboard/loading.tsx
  frontend/src/app/error.tsx
  frontend/src/app/memory/error.tsx
  frontend/src/app/memory/loading.tsx
  frontend/src/app/not-found.tsx
  frontend/src/app/sessions/error.tsx
  frontend/src/app/sessions/loading.tsx
  frontend/src/components/dynamic.tsx
Due: eslint, tsc, prettier

fix: resolve mypy type errors in admin.py and session_cleanup.py
  backend/app/api/admin.py
  backend/app/tasks/session_cleanup.py
Due: mypy

fix: update tests to use message field and preserve HTTP headers
  backend/app/main.py
  backend/tests/api/test_complete.py
  backend/tests/api/test_credentials.py
  backend/tests/api/test_memory.py
  backend/tests/api/test_sessions.py
  backend/tests/api/test_webhooks.py
Due: mypy

fix: add "use client" directive to not-found.tsx
  frontend/src/app/not-found.tsx
Due: eslint, tsc, prettier

feat(memory): wire task_type and phase into completion flow
  backend/app/api/complete/core.py
  backend/app/api/complete/endpoints.py
  backend/app/api/complete/schemas.py
  backend/app/api/memory_agent_tools.py
  backend/app/services/completion/service.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/context_injector_blocks.py
Due: mypy

feat(memory): wire phase through progressive-context handler
  backend/app/api/memory_agent_handlers.py
Due: mypy

feat(memory): add observation capture endpoint with privacy filtering
  backend/app/api/memory.py
  backend/app/services/memory/capture_handler.py
  backend/app/services/memory/observation_schema.py
  backend/app/services/memory/privacy_filter.py
  backend/tests/unit/services/memory/test_privacy_filter.py
Due: mypy

feat(memory): add tab navigation to /memory dashboard and observation endpoint
  backend/app/api/memory.py
  backend/tests/unit/__init__.py
  backend/tests/unit/services/__init__.py
  backend/tests/unit/services/memory/__init__.py
  frontend/src/app/memory/page.tsx
  frontend/src/components/memory/MemoryTabs.tsx
  frontend/src/components/memory/tabs/AnalyticsTab.tsx
  frontend/src/components/memory/tabs/CaptureTab.tsx
  frontend/src/components/memory/tabs/EpisodesTab.tsx
  frontend/src/components/memory/tabs/SessionsTab.tsx
  frontend/src/components/memory/tabs/TimelineTab.tsx
Due: mypy, eslint, tsc, prettier

fix(frontend): remove JSX.Element return types to fix TS2503 errors
  frontend/src/app/memory/page.tsx
  frontend/src/components/memory/MemoryTabs.tsx
  frontend/src/components/memory/tabs/AnalyticsTab.tsx
  frontend/src/components/memory/tabs/CaptureTab.tsx
  frontend/src/components/memory/tabs/EpisodesTab.tsx
  frontend/src/components/memory/tabs/SessionsTab.tsx
  frontend/src/components/memory/tabs/TimelineTab.tsx
Due: eslint, tsc, prettier

feat(memory): implement Sessions and Timeline tabs for /memory dashboard
  backend/app/services/memory/analytics_service.py
  backend/app/services/memory/session_memory_service.py
  backend/app/services/memory/timeline_service.py
  frontend/src/components/memory/SessionCard.tsx
  frontend/src/components/memory/TimelineItem.tsx
  frontend/src/components/memory/tabs/SessionsTab.tsx
  frontend/src/components/memory/tabs/TimelineTab.tsx
Due: mypy, eslint, tsc, prettier

feat(memory): implement AnalyticsTab and clean up SessionsTab unused import
  frontend/src/components/memory/tabs/AnalyticsTab.tsx
  frontend/src/components/memory/tabs/SessionsTab.tsx
Due: eslint, tsc, prettier

fix: remove unused AsyncSession import from session_memory_service
  backend/app/services/memory/session_memory_service.py
Due: mypy

fix(memory): add helpful/harmful to analytics model, clean up AnalyticsTab
  backend/app/services/memory/analytics_service.py
  frontend/src/components/memory/tabs/AnalyticsTab.tsx
Due: mypy, eslint, tsc, prettier

feat(memory): add timeline, sessions, analytics API endpoints and types
  backend/app/api/memory.py
  backend/app/services/memory/analytics_service.py
  frontend/src/lib/memory-api.ts
  frontend/src/lib/memory-types.ts
Due: mypy, eslint, tsc, prettier

chore(fullstack): 34 files changed, 1406 insertions(+), 10 deletions(-)
  backend/app/api/memory.py
  backend/app/services/memory/capture_handler.py
  backend/app/services/memory/capture_stream.py
  backend/app/services/memory/summary_generator.py
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/.highwatermark
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/.lock
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/39.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/40.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/41.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/42.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/43.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/44.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/45.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/46.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/47.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/48.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/49.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/50.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/51.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/52.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/53.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/54.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/55.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/56.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/57.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/58.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/59.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/60.json
  cc_native_tasks/194d416d-5d70-4c02-aae2-3d1bb26f238e/61.json
  cc_native_tasks/JOHNNY_IMPLEMENTATION_CONTEXT.md
  cc_native_tasks/JOHNNY_REVISED_PLAN.md
  frontend/src/components/memory/CaptureItem.tsx
  frontend/src/components/memory/tabs/CaptureTab.tsx
  frontend/src/hooks/use-memory-stream.ts
Due: mypy, eslint, tsc, prettier

fix: store asyncio.create_task reference to prevent GC (RUF006)
  backend/app/services/memory/capture_handler.py
Due: mypy
