Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

test(memory): Add tests for format_unified_timeline
  backend/tests/services/memory/test_continuity_injection.py
Due: none

chore(index): update file counts and generation time
  .index.yaml
Due: none

refactor(cloudcode_claude): Remove hardcoded default project ID
  backend/app/adapters/cloudcode_claude.py
Due: mypy

feat(styles): add custom scrollbar styles and apply to settings modal
  frontend/src/app/globals.css
  frontend/src/components/settings-modal.tsx
Due: eslint, tsc, prettier

fix(layout): Adjust sidebar width for collapsed and expanded states
  frontend/src/components/layout/app-shell.tsx
Due: eslint, tsc, prettier

refactor(sessions): Simplify header and refresh logic
  frontend/src/app/globals.css
  frontend/src/app/sessions/components/SessionsHeader.tsx
  frontend/src/app/sessions/page.tsx
  frontend/src/components/layout/app-shell.tsx
  frontend/src/components/layout/sidebar-footer.tsx
  frontend/src/components/layout/sidebar-logo.tsx
  frontend/src/components/layout/sidebar-nav.tsx
Due: eslint, tsc, prettier

chore(.index.yaml): update generated_at timestamp
  .index.yaml
Due: none

chore(styles): Apply global scrollbar styles and update modal width
  .index.yaml
  frontend/src/app/globals.css
  frontend/src/components/layout/sidebar-nav.tsx
  frontend/src/components/settings-modal.tsx
Due: eslint, tsc, prettier

feat(transcription): add resetAccumulated to webSpeechEngine
  packages/passport-client/src/hooks/transcription/webSpeechEngine.ts
  packages/passport-client/src/hooks/useTranscription.ts
Due: none

feat(backend): Add push notification service and wake API
  backend/alembic/versions/031faf39e26f_add_push_subscriptions_table.py
  backend/app/adapters/claude.py
  backend/app/adapters/cloudcode_claude.py
  backend/app/api/__init__.py
  backend/app/api/oauth.py
  backend/app/api/preferences.py
  backend/app/api/push.py
  backend/app/api/wake.py
  backend/app/config.py
  backend/app/middleware/access_control_paths.py
  backend/app/models/__init__.py
  backend/app/models/push_subscription.py
  backend/app/services/push_service.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/services/tools/tool_definitions.py
  backend/app/services/tools/tool_handler.py
  backend/app/worker.py
  backend/app/workflows/johnny_heartbeat.py
  backend/app/workflows/johnny_wake.py
  backend/pyproject.toml
  backend/scripts/seed_agents_data/concierge_agents.py
  backend/uv.lock
  scripts/systemd/agent-hub-backend.service
Due: mypy

refactor(claude): Remove unused after_tool_callback
  backend/app/adapters/claude.py
  backend/app/adapters/claude_tools.py
  backend/app/adapters/claude_tools_helpers.py
  backend/app/api/complete/tool_claude_processor.py
  backend/app/api/complete/tool_router.py
  backend/app/api/feedback.py
  backend/app/api/health.py
  backend/app/api/health_logic.py
  backend/app/api/schemas/feedback.py
  backend/app/services/memory/context_injector.py
  backend/app/services/push_service.py
  backend/app/workflows/johnny_heartbeat.py
  docs/adapter-registry-rewrite.md
Due: mypy

refactor(claude): Remove unused after_tool_callback
  backend/app/adapters/claude.py
  backend/app/adapters/claude_tools.py
  backend/app/adapters/claude_tools_helpers.py
  backend/app/api/complete/tool_claude_processor.py
  backend/app/api/complete/tool_router.py
  backend/app/api/feedback.py
  backend/app/api/health.py
  backend/app/api/health_logic.py
  backend/app/api/schemas/feedback.py
  backend/app/services/memory/context_injector.py
  backend/app/services/push_service.py
  backend/app/workflows/johnny_heartbeat.py
Due: mypy

feat(adapters): Introduce unified adapter registry
  backend/app/adapters/registry.py
  backend/app/api/complete/helpers_adapters.py
  backend/app/api/health_logic.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/completion/provider_utils.py
  backend/app/services/provider_chain.py
  backend/tests/adapters/test_registry.py
Due: mypy

style: auto-format from pre-commit hooks
  backend/app/adapters/registry.py
  backend/app/api/complete/helpers_adapters.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/provider_chain.py
Due: mypy

refactor(tooling): Unify tool event processing and handlers
  backend/app/adapters/gemini_events.py
  backend/app/api/complete/_core_helpers.py
  backend/app/api/complete/claude_event_adapter.py
  backend/app/api/complete/openai_event_adapter.py
  backend/app/api/complete/tool_event_processor.py
  backend/app/api/complete/tool_handler_utils.py
  backend/app/api/complete/tool_handlers.py
  backend/app/api/complete/tool_response_finalizer.py
  backend/app/api/complete/tool_router.py
Due: mypy

style: auto-format from pre-commit hooks
  backend/app/api/complete/tool_handlers.py
Due: mypy

refactor(cloudcode): Extract shared client logic to new module
  backend/app/adapters/cloudcode_claude.py
  backend/app/adapters/cloudcode_client.py
  backend/app/adapters/gemini.py
Due: mypy

style: auto-format from pre-commit hooks
  backend/app/api/complete/tool_router.py
Due: mypy

feat(registry): add provider capabilities and routing
  backend/app/adapters/registry.py
  backend/app/api/complete/tool_router.py
  backend/app/services/health_prober.py
  backend/tests/adapters/test_registry.py
  backend/tests/services/test_health_prober.py
Due: mypy

style: auto-format from pre-commit hooks
  backend/tests/api/complete/test_streaming_cost.py
Due: none

feat(api): Add cost and provenance fields to streaming events
  backend/app/adapters/types.py
  backend/app/api/complete/response_schemas.py
  backend/app/api/complete/streaming.py
  backend/tests/api/complete/test_streaming_cost.py
Due: mypy
