Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

refactor(frontend): reduce clients/[id]/page.tsx from 580 to 195 lines
  frontend/src/app/access-control/clients/[id]/components/ActionButtons.tsx
  frontend/src/app/access-control/clients/[id]/components/ClientDetailsCard.tsx
  frontend/src/app/access-control/clients/[id]/components/ConfirmationModal.tsx
  frontend/src/app/access-control/clients/[id]/components/EditClientModal.tsx
  frontend/src/app/access-control/clients/[id]/components/NewSecretBanner.tsx
  frontend/src/app/access-control/clients/[id]/hooks/useClientMutations.ts
  frontend/src/app/access-control/clients/[id]/page.tsx
Due: eslint, tsc, prettier

refactor(backend): reduce gemini_executor.py from 225 to 114 lines
  backend/app/services/agent_runner/executor_utils.py
  backend/app/services/agent_runner/gemini_executor.py
Due: mypy

refactor(memory): split memory_queries.py into focused modules
  backend/app/services/memory/cleanup_operations.py
  backend/app/services/memory/episode_operations.py
  backend/app/services/memory/memory_queries.py
  backend/app/services/memory/query_builders.py
  backend/app/services/memory/tracking_operations.py
Due: mypy

refactor(backend): split memory_agent_tools.py into 3 focused modules
  backend/app/api/memory_agent_handlers.py
  backend/app/api/memory_agent_schemas.py
  backend/app/api/memory_agent_tools.py
Due: mypy

refactor(backend): reduce claude_executor.py from 239 to 116 lines
  backend/app/services/agent_runner/claude_executor.py
Due: mypy

chore: 2 files changed, 6 insertions(+), 6 deletions(-)
  .index.yaml
  .summitflow/context.json
Due: none

chore: Add .st/ to gitignore (checkpoint data)
  .gitignore
Due: none

chore(backend): 8 files changed, 576 insertions(+), 12 deletions(-)
  .index.yaml
  backend/app/api/health.py
  backend/app/api/memory.py
  backend/app/api/memory_schemas.py
  backend/app/services/health_cache.py
  backend/app/services/memory/episode_creator.py
  backend/app/services/memory/episode_properties.py
  backend/app/services/memory/graphiti_client.py
Due: mypy

chore(backend): 3 files changed, 119 insertions(+), 152 deletions(-)
  backend/prompts/fixer.md
  backend/prompts/refactor.md
  backend/scripts/seed_agents.py
Due: none

chore(fullstack): 13 files changed, 166 insertions(+), 10 deletions(-)
  backend/app/api/agents.py
  backend/app/models/agent.py
  backend/app/services/agent_service.py
  backend/migrations/versions/u0v1w2x3y4z5_add_is_coding_agent_to_agents.py
  backend/scripts/seed_agents.py
  frontend/src/app/agents/[slug]/components/GeneralTab.tsx
  frontend/src/app/agents/[slug]/page.tsx
  frontend/src/app/agents/[slug]/types.ts
  frontend/src/app/agents/components/AgentRow.tsx
  frontend/src/app/agents/components/AgentsTable.tsx
  frontend/src/app/agents/components/AgentsTableHeader.tsx
  frontend/src/app/agents/lib/types.ts
  frontend/src/app/agents/page.tsx
Due: mypy, eslint, tsc, prettier

feat(session): Add session management for cross-provider compatibility
  backend/app/adapters/base.py
  backend/app/api/sessions.py
  backend/app/models/session.py
  backend/app/services/agent_runner/claude_executor.py
  backend/app/services/agent_runner/executor_utils.py
  backend/app/services/agent_runner/gemini_executor.py
  backend/app/services/message_transform.py
  backend/app/services/tools/base.py
  backend/migrations/versions/v1w2x3y4z5a6_add_session_branching_columns.py
  backend/tests/adapters/test_tool_call_id_normalizer.py
  backend/tests/api/test_session_branching.py
  backend/tests/services/test_message_transform.py
  packages/agent-hub-client/agent_hub/client.py
Due: mypy

feat(agents): Add tool_permissions column to Agent model
  backend/app/api/agents.py
  backend/app/models/agent.py
  backend/app/services/agent_service.py
  backend/migrations/versions/w2x3y4z5a6b7_add_tool_permissions_to_agents.py
  backend/tests/services/test_agent_service.py
Due: mypy

feat(agents): Apply tool permissions in run_agent execution
  backend/app/api/endpoints/agent_runner.py
  backend/app/services/agent_runner/executor_utils.py
  backend/app/services/agent_runner/models.py
  backend/app/services/agent_runner/runner.py
  backend/app/services/tools/direct_executor.py
  backend/tests/tools/test_permission_enforcement.py
Due: mypy

chore(backend): 8 files changed, 1813 insertions(+), 13 deletions(-)
  backend/app/adapters/claude.py
  backend/app/api/memory.py
  backend/app/api/memory_schemas.py
  backend/app/api/orchestration_models.py
  backend/app/services/health_cache.py
  backend/app/services/memory/context_injector.py
  backend/experiments/README.md
  backend/experiments/sdk_capabilities_test.py
Due: mypy

feat(permissions): Add agent permissions UI and fix SQLAlchemy connection pool leak
  backend/app/api/agents.py
  backend/app/api/memory_settings.py
  backend/app/db.py
  backend/app/main.py
  backend/app/middleware/access_control.py
  backend/app/middleware/kill_switch.py
  backend/app/services/agent_runner/runner.py
  backend/app/tasks/session_cleanup_task.py
  frontend/src/app/agents/[slug]/components/PermissionsTab.tsx
  frontend/src/app/agents/[slug]/components/Sidebar.tsx
  frontend/src/app/agents/[slug]/page.tsx
  frontend/src/app/agents/[slug]/types.ts
Due: mypy, eslint, tsc, prettier

feat(observability): Real-time agent event publishing to Redis
  backend/app/adapters/base.py
  backend/app/api/agents.py
  backend/app/api/endpoints/agent_runner.py
  backend/app/api/memory_settings.py
  backend/app/api/orchestration_models.py
  backend/app/db.py
  backend/app/middleware/access_control.py
  backend/app/services/agent_runner/executor_utils.py
  backend/app/services/agent_runner/gemini_executor.py
  backend/app/services/agent_runner/models.py
  backend/app/services/message_transform.py
  backend/tests/adapters/test_tool_call_id_normalizer.py
  backend/tests/api/test_session_branching.py
  backend/tests/services/test_agent_service.py
  backend/tests/services/test_message_transform.py
  backend/tests/tools/test_permission_enforcement.py
  packages/agent-hub-client/agent_hub/client.py
Due: mypy

chore(backend): 11 files changed, 872 insertions(+), 678 deletions(-)
  backend/app/adapters/gemini.py
  backend/app/api/complete.py
  backend/app/api/endpoints/agent_runner.py
  backend/app/api/orchestration.py
  backend/app/api/orchestration_models.py
  backend/app/services/agent_routing.py
  backend/app/services/agent_runner/gemini_executor.py
  backend/tests/api/test_complete.py
  packages/agent-hub-client/agent_hub/client.py
  packages/agent-hub-client/agent_hub/models.py
  scripts/db.sh
Due: mypy

chore(backend): 1 file changed, 55 insertions(+), 1 deletion(-)
  backend/tests/conftest.py
Due: none

refactor(middleware): Reduce access_control.py from 520 to 101 lines
  backend/app/middleware/access_control.py
  backend/app/middleware/access_control_auth.py
  backend/app/middleware/access_control_handlers.py
  backend/app/middleware/access_control_logging.py
  backend/app/middleware/access_control_paths.py
  backend/app/middleware/access_control_responses.py
Due: mypy

refactor(backend): Modularize API and service layers
  .index.yaml
  backend/app/api/agents.py
  backend/app/api/helpers/__init__.py
  backend/app/api/helpers/agent_metrics.py
  backend/app/api/helpers/agent_preview.py
  backend/app/api/schemas/__init__.py
  backend/app/api/schemas/agent_schemas.py
  backend/app/api/schemas/sessions.py
  backend/app/api/sessions.py
  backend/app/services/agent_cache.py
  backend/app/services/agent_crud.py
  backend/app/services/agent_dto.py
  backend/app/services/agent_runner/gemini_executor.py
  backend/app/services/agent_service.py
  backend/app/services/memory/episode_properties.py
  backend/app/services/memory/episode_property_queries.py
  backend/app/services/memory/episode_property_setters.py
  backend/app/services/session_helpers.py
  backend/tests/conftest.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
