Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

chore(fullstack): 5 files changed, 235 insertions(+), 17 deletions(-)
  backend/app/adapters/gemini.py
  backend/app/api/stream.py
  frontend/src/app/chat/page.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/chat/message-list.tsx
Due: mypy, eslint, tsc, prettier

deps: bump react-query, vitest, lucide-react versions
  frontend/package.json
  packages/passport-client/package.json
Due: prettier

chore(fullstack): 3 files changed, 44 insertions(+), 8 deletions(-)
  backend/app/api/stream.py
  backend/app/main.py
  frontend/src/components/chat/message-input.tsx
Due: mypy, eslint, tsc, prettier

chore(frontend): 1 file changed, 122 insertions(+), 7 deletions(-)
  frontend/src/app/chat/page.tsx
Due: eslint, tsc, prettier

chore(fullstack): 12 files changed, 435 insertions(+), 37 deletions(-)
  backend/app/api/endpoints/voice.py
  backend/app/api/stream.py
  backend/app/services/voice/tts.py
  backend/pyproject.toml
  frontend/package.json
  frontend/src/app/chat/page.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/chat/message-input.tsx
  frontend/src/components/chat/message-list.tsx
  frontend/src/hooks/use-chat-stream.ts
  frontend/src/types/chat.ts
  packages/passport-client/src/hooks/useVoice.ts
Due: mypy, eslint, tsc, prettier

chore: 1 file changed, 38 insertions(+)
  .qna-session/context.json
Due: none

chore: add continuation file for SOTA memory integration session
  tasks/continuation/task-20260117-sota-memory-integration.md
Due: none

chore(fullstack): 14 files changed, 916 insertions(+), 37 deletions(-)
  .qna-session/context.json
  backend/app/adapters/claude.py
  backend/app/adapters/gemini.py
  backend/app/api/analytics.py
  backend/app/api/complete.py
  backend/app/api/orchestration.py
  backend/app/api/stream.py
  backend/app/models.py
  backend/migrations/versions/c7a82f0e9b12_add_external_id_to_sessions.py
  backend/pyproject.toml
  backend/tests/api/test_complete.py
  frontend/src/hooks/use-chat-stream.ts
  frontend/src/types/chat.ts
  plan.json
Due: mypy, eslint, tsc, prettier

chore(backend): 5 files changed, 274 insertions(+)
  .gitignore
  backend/app/config.py
  backend/app/services/graphiti_service.py
  scripts/setup-neo4j.sh
  scripts/systemd/neo4j.service
Due: mypy

chore(backend): 5 files changed, 451 insertions(+)
  backend/app/api/__init__.py
  backend/app/api/memory.py
  backend/app/services/memory/__init__.py
  backend/app/services/memory/graphiti_client.py
  backend/app/services/memory/service.py
Due: mypy

chore(backend): 3 files changed, 160 insertions(+)
  backend/app/api/complete.py
  backend/app/services/memory/__init__.py
  backend/app/services/memory/context_injector.py
Due: mypy

chore(backend): 3 files changed, 17 insertions(+), 17 deletions(-)
  backend/app/api/memory.py
  backend/app/api/stream.py
  backend/app/main.py
Due: mypy

feat(backend): unified memory integration for voice and streaming
  backend/app/api/endpoints/voice.py
  backend/app/api/stream.py
  backend/app/services/completion.py
Due: mypy

chore(frontend): 7 files changed, 208 insertions(+)
  frontend/next.config.ts
  frontend/public/icons/icon-192.png
  frontend/public/icons/icon-512.png
  frontend/public/icons/icon.svg
  frontend/public/manifest.json
  frontend/public/sw.js
  frontend/src/app/layout.tsx
Due: eslint, tsc, prettier

chore(backend): 5 files changed, 121 insertions(+), 31 deletions(-)
  backend/app/adapters/claude.py
  backend/app/api/memory.py
  backend/app/api/stream.py
  backend/app/services/completion.py
  backend/app/services/memory/service.py
Due: mypy

chore(backend): 1 file changed, 81 insertions(+), 36 deletions(-)
  backend/app/adapters/claude.py
Due: mypy

chore: 5 files changed, 434 insertions(+), 26 deletions(-)
  scripts/restart.sh
  scripts/setup-neo4j.sh
  scripts/status.sh
  scripts/systemd/agent-hub-backend.service
  test-results/comprehensive-test-report.json
Due: none

chore(backend): 4 files changed, 370 insertions(+), 21 deletions(-)
  backend/app/api/complete.py
  backend/app/services/completion.py
  backend/app/services/memory/context_injector.py
  tasks/continuation/archive/task-20260117-comprehensive-testing.md
Due: mypy

docs: 1 file changed, 127 insertions(+)
  tasks/continuation/task-20260117-agent-hub-cleanup.md
Due: none

chore(backend): 10 files changed, 182 insertions(+), 147 deletions(-)
  backend/scripts/claude-pty-wrapper.py
  backend/tests/adapters/test_interface.py
  backend/tests/api/test_complete.py
  backend/tests/api/test_stream.py
  backend/tests/api/test_stream_cancel.py
  backend/tests/core/test_router.py
  backend/tests/core/test_tier_classifier.py
  backend/tests/services/test_context_manager.py
  backend/tests/tools/test_programmatic.py
  tasks/continuation/archive/task-20260117-agent-hub-cleanup.md
Due: none
