Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

feat(frontend): Refactor ActivityTimeline and related components
  .index.yaml
  frontend/src/app/persona/components/ActivityTimeline.tsx
  frontend/src/app/persona/components/HeartbeatExpandedEvent.tsx
  frontend/src/app/persona/page.tsx
Due: eslint, tsc, prettier

refactor(tools): Use Hatchet wake for dispatch_agent, add MCP retry
  backend/app/services/tools/_executor_consultation.py
  backend/app/workflows/_heartbeat_postprocess.py
  backend/app/workflows/persona_heartbeat.py
  backend/tests/workflows/test_heartbeat_mcp_recovery.py
  backend/tests/workflows/test_heartbeat_postprocess.py
Due: mypy

fix(workflows): Handle MCP tool names and dispatch_agent retries
  backend/app/workflows/_heartbeat_postprocess.py
  backend/tests/workflows/test_heartbeat_mcp_recovery.py
Due: mypy

feat(claude): Increase MCP timeouts for long sessions
  backend/app/adapters/_claude_sdk_builder.py
  backend/tests/adapters/test_claude_env_injection.py
Due: mypy

fix(claude): Increase stream close timeout for MCP sessions
  backend/app/adapters/_claude_sdk_builder.py
  backend/tests/adapters/test_claude_env_injection.py
Due: mypy

feat(task): Implement subtask routing and git awareness in heartbeat
  backend/alembic/versions/67f5caf9bb1f_update_heartbeat_instructions_for_task_.py
  backend/app/services/tools/_executor_io.py
  backend/app/services/tools/_persona_ops_tools.py
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/tests/tools/test_executor_io.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

chore(index): update generated_at and file counts
  .index.yaml
Due: none

fix(claude): persist refreshed token and update status display
  backend/app/adapters/claude_direct.py
  backend/app/api/oauth_status.py
  frontend/src/components/settings/ProviderStatusDisplay.tsx
  frontend/src/components/settings/useProvidersTab.ts
Due: mypy, eslint, tsc, prettier

feat(tools): Add cancel action to task management and update heartbeat check
  backend/app/adapters/cloudflare.py
  backend/app/services/tools/_executor_io.py
  backend/app/services/tools/_persona_ops_tools.py
  backend/app/workflows/_heartbeat_postprocess.py
  backend/scripts/seed_agents.py
Due: mypy

chore(.index.yaml): update generated timestamp
  .index.yaml
Due: none

feat(feedback): add manage_feedback tool and integrations
  backend/app/api/complete/_citation_helpers.py
  backend/app/services/tools/_executor_feedback.py
  backend/app/services/tools/_executor_registry.py
  backend/app/services/tools/_persona_ops_tools.py
  backend/app/services/tools/_persona_tools.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/app/workflows/_heartbeat_templates.py
  backend/tests/tools/test_executor_feedback.py
Due: mypy

fix(backend): Update heartbeat instructions for feedback triage
  backend/alembic/versions/1dd96b677795_update_heartbeat_instructions_for_.py
Due: none

chore: remove unused session event type and update agent prompts
  backend/app/models/session.py
  backend/scripts/seed_agents_data/_support_coordination.py
  backend/scripts/seed_agents_data/core_agents.py
Due: mypy

feat(agents): add premium_model_id for tier-aware model selection
  backend/alembic/versions/4bc9235ec01b_add_premium_model_id_to_agents.py
  backend/app/api/complete/complete_execution.py
  backend/app/api/complete/execution.py
  backend/app/api/complete/request_schemas.py
  backend/app/api/schemas/agent_schemas.py
  backend/app/models/agent.py
  backend/app/services/agent_dto.py
  backend/scripts/seed_agents_data/_execution_agents.py
  backend/scripts/seed_agents_data/core_agents.py
  frontend/src/app/agents/[slug]/components/ModelsTab.tsx
  frontend/src/app/agents/[slug]/types.ts
Due: mypy, eslint, tsc, prettier

feat(heartbeat): add failed work and backlog to summary
  backend/app/workflows/_heartbeat_data.py
Due: mypy

feat(validation): Add WS11 validation pass prompt
  prompts/next-session-ws11-validation.md
Due: none

docs(prompts): Add full plan review to next session prompt
  prompts/next-session-ws11-validation.md
Due: none

fix(persona_heartbeat): Change concurrency limit strategy to CANCEL_NEWEST
  backend/app/workflows/persona_heartbeat.py
Due: mypy

feat(multi_turn): Implement soft turn limit with checkpoint messages
  backend/app/api/complete/multi_turn_executor.py
  backend/app/api/complete/multi_turn_helpers.py
  backend/app/api/complete/multi_turn_loop.py
  backend/app/workflows/_heartbeat_postprocess.py
  backend/app/workflows/persona_heartbeat.py
  backend/app/workflows/persona_wake.py
Due: mypy

docs: Add WS11 validation pass v2 prompt
  prompts/next-session-ws11-validation-v2.md
Due: none

refactor(checkpoint): Improve multi-turn checkpoint message and validation
  backend/app/api/complete/multi_turn_loop.py
  prompts/next-session-ws11-validation-v2.md
Due: mypy

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
