Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

Retry empty closeouts through grace turns
  backend/app/api/complete/finish_reason_handler.py
  backend/tests/api/complete/test_finish_reason_handler.py
Due: mypy

Retry empty final responses in tool adapters
  backend/app/adapters/codex_oauth.py
  backend/app/adapters/openai_compat.py
  backend/tests/adapters/test_codex_oauth.py
  backend/tests/adapters/test_openai_compat.py
Due: mypy

Decouple OpenAI tool-loop turns from outer completion turns
  backend/app/api/complete/tool_stream_builder.py
  backend/tests/api/complete/test_tool_stream_builder.py
Due: mypy

Default memory episodes to recently changed ordering
  backend/app/api/memory_episodes.py
  backend/app/api/memory_episodes_query.py
  backend/app/services/memory/_repo_query.py
  backend/app/services/memory/episode_converters.py
  backend/app/services/memory/list_operations.py
  backend/app/services/memory/memory_models.py
  backend/app/services/memory/service.py
  backend/tests/api/test_memory_episodes_query.py
  backend/tests/services/memory/test_repo_pagination.py
  backend/tests/services/memory/test_scope_mapping.py
  frontend/src/components/memory/MemoryTable.tsx
  frontend/src/components/memory/MemoryTableRow.tsx
  frontend/src/components/memory/memory-filters.tsx
  frontend/src/components/memory/tabs/EpisodesTab.tsx
  frontend/src/components/memory/types.ts
  frontend/src/hooks/use-episodes-filters.ts
  frontend/src/hooks/use-memory.ts
  frontend/src/lib/memory-types.ts
Due: mypy, eslint, tsc, prettier

Add memory revisions and semantic audit tracking
  backend/alembic/versions/a0a088ae8f03_add_memory_revisions.py
  backend/app/api/memory_agent_helpers.py
  backend/app/api/memory_agent_learning_saver.py
  backend/app/api/memory_agent_schemas.py
  backend/app/api/memory_bulk_ops.py
  backend/app/api/memory_episodes.py
  backend/app/api/memory_episodes_handlers.py
  backend/app/api/memory_schemas.py
  backend/app/api/memory_schemas_bulk.py
  backend/app/api/memory_schemas_episodes.py
  backend/app/models/__init__.py
  backend/app/models/memory_unified.py
  backend/app/services/agent_benchmark_service.py
  backend/app/services/memory/_repo_crud.py
  backend/app/services/memory/_repo_helpers.py
  backend/app/services/memory/crud_operations.py
  backend/app/services/memory/episode_creator.py
  backend/app/services/memory/episode_creator_core.py
  backend/app/services/memory/episode_creator_helpers.py
  backend/app/services/memory/episode_operations_helpers.py
  backend/app/services/memory/episode_property_setters.py
  backend/app/services/memory/memory_models.py
  backend/app/services/memory/service_mixins.py
  backend/tests/api/test_memory.py
  backend/tests/services/memory/test_repo_crud.py
Due: mypy

Unify completion loop policy and salvage tool closeouts
  backend/app/api/complete/_core_helpers.py
  backend/app/api/complete/agent_loop.py
  backend/app/api/complete/tool_event_processor.py
  backend/app/api/complete/tool_handler_utils.py
  backend/app/api/complete/tool_handlers.py
  backend/app/api/complete/tool_response_finalizer.py
  backend/app/api/complete/tool_stream_builder.py
  backend/app/api/complete/turn_budget.py
  backend/tests/api/complete/test_agent_loop.py
  backend/tests/api/complete/test_precision_search_guidance.py
  backend/tests/api/complete/test_tool_handlers_partial.py
  backend/tests/api/complete/test_tool_response_finalizer.py
  backend/tests/api/complete/test_turn_budget.py
Due: mypy

Unify shared closeout recovery across completion paths
  backend/app/api/complete/closeout_policy.py
  backend/app/api/complete/finish_reason_handler.py
  backend/app/api/complete/multi_turn_helpers.py
  backend/app/api/complete/tool_handlers.py
  backend/app/api/complete/tool_models.py
  backend/app/api/complete/tool_progress.py
  backend/app/api/complete/tool_response_finalizer.py
  backend/app/api/complete/tool_result_builder.py
  backend/tests/api/complete/test_finish_reason_handler.py
  backend/tests/api/complete/test_tool_handlers_partial.py
  backend/tests/api/complete/test_tool_response_finalizer.py
Due: mypy

remove unused psycopg2 dev dependency
  .python-version
  backend/pyproject.toml
  backend/uv.lock
Due: none

Add completion observability and turn-cap attribution
  README.md
  backend/app/adapters/claude_tools_helpers.py
  backend/app/adapters/cloudcode_claude_streaming.py
  backend/app/adapters/gemini_events.py
  backend/app/api/complete/agent_loop.py
  backend/app/api/complete/claude_event_adapter.py
  backend/app/api/complete/execution_observability.py
  backend/app/api/complete/handler_helpers.py
  backend/app/api/complete/openai_event_adapter.py
  backend/app/api/complete/request_schemas.py
  backend/app/api/complete/result_finalizer.py
  backend/app/api/complete/tool_handler_utils.py
  backend/app/api/complete/tool_handlers.py
  backend/app/api/complete/tool_response_finalizer.py
  backend/app/api/complete/tool_result_builder.py
  backend/app/api/memory_episodes.py
  backend/app/api/memory_episodes_handlers.py
  backend/tests/adapters/test_claude_tools_helpers.py
  backend/tests/adapters/test_cloudcode_claude_streaming.py
  backend/tests/api/complete/test_agent_loop.py
  backend/tests/api/complete/test_claude_event_adapter.py
  backend/tests/api/complete/test_execution_observability.py
  backend/tests/api/complete/test_handler_helpers.py
  backend/tests/api/complete/test_openai_event_adapter.py
  backend/tests/api/complete/test_result_finalizer.py
  backend/tests/api/complete/test_tool_handlers_partial.py
  backend/tests/api/complete/test_tool_response_finalizer.py
  scripts/systemd/agent-hub-backend.service
Due: mypy

Unify agent loop finalization across tool and multi-turn paths
  backend/app/api/complete/agent_loop.py
  backend/app/api/complete/result_builder.py
  backend/app/api/complete/tool_response_finalizer.py
  backend/app/api/complete/tool_result_builder.py
  backend/tests/api/complete/test_agent_loop.py
  backend/tests/api/complete/test_tool_result_builder.py
Due: mypy

Normalize tool-loop provider turn counting
  backend/app/api/complete/tool_event_processor.py
  backend/app/api/complete/tool_handler_utils.py
  backend/tests/api/complete/test_tool_handlers_partial.py
Due: mypy

Normalize tool-loop turn reporting and Claude burst handling
  backend/app/api/complete/claude_event_adapter.py
  backend/app/api/complete/tool_event_processor.py
  backend/app/api/complete/tool_handler_utils.py
  backend/app/api/complete/tool_response_finalizer.py
  backend/tests/api/complete/test_claude_event_adapter.py
  backend/tests/api/complete/test_tool_handlers_partial.py
  backend/tests/api/complete/test_tool_response_finalizer.py
Due: mypy

fix: classify stale sessions and tighten completion turn reporting
  backend/app/api/complete/result_builder.py
  backend/app/api/schemas/sessions.py
  backend/app/api/sessions.py
  backend/app/services/session_live_activity.py
  backend/app/services/session_responses.py
  backend/app/services/session_transforms.py
  backend/app/tasks/session_cleanup.py
  backend/tests/api/complete/test_result_builder.py
  backend/tests/api/test_sessions.py
  backend/tests/services/test_session_live_activity.py
  backend/tests/tasks/test_session_cleanup.py
Due: mypy

feat: add sf.search component to feedback scorecard registry
  backend/app/services/memory/scorecard_component_map.py
Due: mypy

fix claude tool-loop finish reason inference
  backend/app/adapters/claude_tools_helpers.py
  backend/tests/adapters/test_claude_tools_helpers.py
Due: mypy

fix agentic response finish reason reporting
  backend/app/api/complete/execution.py
  backend/tests/api/complete/test_complete_execution.py
Due: mypy

upgrade claude sdk stop-reason handling
  backend/app/adapters/_claude_result_metadata.py
  backend/app/adapters/claude_tools_helpers.py
  backend/app/api/complete/claude_event_adapter.py
  backend/pyproject.toml
  backend/tests/adapters/test_claude_tools_helpers.py
  backend/tests/api/complete/test_claude_event_adapter.py
  backend/uv.lock
Due: mypy

Implement tiered memory rendering observability
  backend/app/api/agents.py
  backend/app/api/complete/memory_handler.py
  backend/app/api/helpers/agent_preview.py
  backend/app/api/schemas/agent_schemas.py
  backend/app/services/event_storage.py
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_builder_budget.py
  backend/app/services/memory/context_builder_processors.py
  backend/app/services/memory/context_builder_tiers.py
  backend/app/services/memory/context_injector_blocks_helpers.py
  backend/app/services/memory/context_injector_formatter.py
  backend/app/services/memory/memory_models.py
  backend/tests/api/test_agent_preview_helper.py
  backend/tests/services/memory/test_context_injector.py
  backend/tests/services/memory/test_reference_injection.py
  backend/tests/services/test_event_storage.py
Due: mypy

Unify preview scenarios and memory type labels
  frontend/src/__tests__/agent-preview-panel.test.tsx
  frontend/src/__tests__/budget-usage-display.test.tsx
  frontend/src/__tests__/preview-modal.test.tsx
  frontend/src/app/agents/[slug]/components/AgentPreviewPanel.tsx
  frontend/src/app/agents/[slug]/components/PreviewModal.tsx
  frontend/src/app/agents/[slug]/components/PromptsTab.tsx
  frontend/src/app/agents/[slug]/hooks/useAgentPreview.ts
  frontend/src/app/agents/[slug]/page.tsx
  frontend/src/app/agents/[slug]/types.ts
  frontend/src/app/persona/settings/hooks/usePersonaSettings.ts
  frontend/src/app/persona/settings/page.tsx
  frontend/src/components/memory/BudgetUsageDisplay.tsx
  frontend/src/components/memory/BulkToolbar.tsx
  frontend/src/components/memory/MemorySettingsModal.tsx
  frontend/src/components/memory/MemoryTable.tsx
  frontend/src/components/memory/TierSelector.tsx
  frontend/src/components/memory/tabs/analytics-content.tsx
  frontend/src/components/memory/tabs/charts/tier-chart.tsx
  frontend/src/components/memory/tabs/tier-changes-section.tsx
  frontend/src/types/agent-preview.ts
  frontend/src/types/agent.ts
Due: eslint, tsc, prettier

Simplify tiered memory injection controls
  backend/app/api/memory_agent_context_builder.py
  backend/app/api/memory_agent_handlers.py
  backend/app/api/memory_agent_helpers.py
  backend/app/api/memory_schemas_settings.py
  backend/app/api/memory_settings.py
  backend/app/services/memory/budget.py
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_builder_budget.py
  backend/app/services/memory/context_builder_fetcher.py
  backend/app/services/memory/context_builder_processors.py
  backend/app/services/memory/context_builder_settings.py
  backend/app/services/memory/context_builder_tiers.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/context_injector_formatter.py
  backend/app/services/memory/context_injector_queries.py
  backend/scripts/seed_agents_data/_ideator_agents.py
  backend/scripts/seed_agents_data/_support_analysis.py
  backend/scripts/seed_agents_data/concierge_agents.py
  backend/scripts/seed_agents_data/core_agents.py
  backend/scripts/seed_agents_data/portfolio_agents.py
  backend/tests/api/complete/test_request_setup.py
  backend/tests/api/test_agent_preview_helper.py
  backend/tests/services/memory/test_reference_injection.py
  backend/tests/services/memory/test_tag_filtering.py
  frontend/src/__tests__/agent-preview-panel.test.tsx
  frontend/src/__tests__/budget-usage-display.test.tsx
  frontend/src/app/agents/[slug]/components/AgentPreviewPanel.tsx
  frontend/src/app/agents/[slug]/components/MemoryTab.tsx
  frontend/src/app/agents/[slug]/components/memory/MemoryConfigSection.tsx
  frontend/src/app/agents/[slug]/components/memory/TagFilteringSection.tsx
  frontend/src/app/agents/[slug]/components/memory/constants.ts
  frontend/src/app/agents/[slug]/components/memory/types.ts
  frontend/src/app/agents/[slug]/components/memory/utils.ts
  frontend/src/components/memory/BudgetUsageDisplay.tsx
  frontend/src/components/memory/MemorySettingsModal.tsx
  frontend/src/components/memory/TierLimitSlider.tsx
  frontend/src/components/memory/TokenBudgetSlider.tsx
  frontend/src/components/memory/useMemorySettings.ts
  frontend/src/lib/api/memory-settings.ts
  frontend/src/types/agent-preview.ts
Due: mypy, eslint, tsc, prettier

Remove legacy include_tags memory fallback
  backend/app/services/memory/context_builder.py
  frontend/src/app/agents/[slug]/components/memory/utils.ts
Due: mypy, eslint, tsc, prettier
