Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

refactor(claude): Sanitize and strip extra fields from messages
  backend/app/adapters/claude.py
Due: mypy

refactor(claude, gemini): Improve tool handling and streaming logic
  .index.yaml
  backend/app/adapters/claude.py
  backend/app/adapters/claude_streaming.py
  backend/app/adapters/gemini_cloudcode.py
  backend/app/adapters/gemini_response.py
  backend/app/adapters/gemini_utils.py
  backend/app/api/complete/streaming.py
  frontend/src/app/chat/hooks/useAgentSelection.ts
  frontend/src/app/chat/hooks/useChatSession.ts
  frontend/src/components/chat/chat-panel.tsx
  packages/chat-ui/src/hooks/use-chat-stream.ts
Due: mypy, eslint, tsc, prettier

refactor(backend): Improve Claude streaming and tool handling
  .index.yaml
  backend/app/adapters/claude_streaming.py
  backend/app/api/complete/streaming.py
  backend/app/api/complete/streaming_handlers.py
  backend/app/services/tools/tool_handler.py
  frontend/src/app/chat/components/ChatHeader.tsx
  frontend/src/app/chat/hooks/useChatSession.ts
  frontend/src/app/chat/hooks/useProjectContext.ts
  frontend/src/app/chat/page.tsx
  frontend/src/components/chat/chat-panel.tsx
Due: mypy, eslint, tsc, prettier

feat(streaming): Add sequence numbers and reconnection logic
  backend/app/api/complete/response_schemas.py
  backend/app/api/complete/streaming.py
  backend/app/api/endpoints/subagent.py
  backend/app/api/orchestration_models.py
  backend/app/services/orchestration/subagent.py
  backend/app/services/orchestration/subagent_executor.py
  backend/app/services/orchestration/subagent_models.py
  packages/chat-ui/src/components/activity-indicator.tsx
  packages/chat-ui/src/components/chat-panel.tsx
  packages/chat-ui/src/components/use-message-input.ts
  packages/chat-ui/src/components/use-voice-input.ts
  packages/chat-ui/src/hooks/chat-stream/send-message.ts
  packages/chat-ui/src/hooks/chat-stream/stream-processor.ts
  packages/chat-ui/src/hooks/chat-stream/types.ts
  packages/chat-ui/src/hooks/use-chat-stream.ts
  packages/chat-ui/src/types/chat.ts
Due: mypy

feat(streaming): Add support for cancelling active streams
  backend/app/api/complete/endpoints.py
  backend/app/api/complete/streaming.py
  backend/app/api/endpoints/announce_back.py
  backend/app/api/endpoints/chain.py
  backend/app/api/endpoints/subagent.py
  backend/app/api/orchestration.py
  backend/app/api/orchestration_models.py
  backend/app/models/session.py
  backend/app/services/event_storage.py
  backend/app/services/orchestration/__init__.py
  backend/app/services/orchestration/chain.py
  packages/chat-ui/src/components/use-message-input.ts
  packages/chat-ui/src/hooks/chat-stream/message-handlers.ts
  packages/chat-ui/src/hooks/chat-stream/send-message.ts
  packages/chat-ui/src/hooks/use-chat-stream.ts
  packages/chat-ui/src/types/chat.ts
Due: mypy

feat(agents): Add concurrency and quota limits
  backend/alembic/versions/f7a8b9c0d1e2_add_agent_concurrency_limits.py
  backend/app/api/complete/complete_orchestrator.py
  backend/app/api/complete/handler_helpers.py
  backend/app/api/complete/streaming.py
  backend/app/api/endpoints/parallel.py
  backend/app/api/orchestration_models.py
  backend/app/api/schemas/agent_schemas.py
  backend/app/config.py
  backend/app/models/agent.py
  backend/app/models/session.py
  backend/app/services/agent_dto.py
  backend/app/services/orchestration/parallel.py
  backend/app/services/quota.py
  backend/app/services/tools/tool_handler.py
Due: mypy

feat(embed, transcription): Implement embeddable chat and transcription manager
  frontend/next.config.ts
  frontend/src/app/embed/layout.tsx
  frontend/src/app/embed/page.tsx
  frontend/src/lib/embed/postmessage-bridge.ts
  packages/passport-client/package.json
  packages/passport-client/src/core/TranscriptionManager.ts
  packages/passport-client/src/core/index.ts
  packages/passport-client/src/index.ts
  packages/push-client/package.json
  packages/push-client/src/index.ts
  packages/push-client/tsconfig.json
  packages/push-client/tsup.config.ts
Due: eslint, tsc, prettier

chore(.index.yaml): update generated_at and file counts
  .index.yaml
  backend/app/api/endpoints/announce_back.py
  backend/app/services/orchestration/subagent_models.py
Due: mypy

Fix ruff linting errors across Agent Hub
  backend/app/adapters/claude.py
  backend/app/api/complete/streaming.py
  backend/app/api/providers.py
  backend/app/services/tools/tool_definitions.py
Due: mypy

fix(chat-ui): Pass current session ID to useChatStream
  .index.yaml
  packages/chat-ui/src/hooks/use-chat-stream.ts
Due: none

feat(streaming): Update to /api/complete endpoint and SSE events
  examples/streaming_example.py
  scripts/load_test.py
Due: none

fix(chat-ui): Remove unnecessary voice message check
  .index.yaml
  packages/chat-ui/src/components/chat-panel.tsx
Due: none

feat(voice): Add TTS preferences and voice selection
  backend/app/api/endpoints/voice.py
  backend/app/api/preferences.py
  backend/app/services/voice/tts.py
  frontend/src/app/chat/components/ChatHeader.tsx
  frontend/src/app/chat/page.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/settings/PreferencesTab.tsx
  packages/chat-ui/src/components/chat-panel.tsx
  packages/chat-ui/src/components/message-input.tsx
  packages/chat-ui/src/components/speaker-button.tsx
  packages/chat-ui/src/components/use-message-input.ts
  packages/chat-ui/src/hooks/use-voice-preferences.ts
  packages/chat-ui/src/index.ts
Due: mypy, eslint, tsc, prettier

refactor(voice): improve personality parsing in tts.py
  .index.yaml
  backend/app/services/voice/tts.py
Due: mypy

feat(persona): Implement first-class persona identity layer
  backend/alembic/versions/a2b3c4d5e6f7_create_persona_table.py
  backend/app/api/__init__.py
  backend/app/api/persona.py
  backend/app/api/preferences.py
  backend/app/api/wake.py
  backend/app/models/__init__.py
  backend/app/models/persona.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/persona_service.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/services/tools/tool_definitions.py
  backend/app/services/tools/tool_handler.py
  backend/app/worker.py
  backend/app/workflows/persona_heartbeat.py
  backend/app/workflows/persona_wake.py
  backend/scripts/seed_agents_data/concierge_agents.py
  frontend/src/app/agents/[slug]/chat/page.tsx
  frontend/src/app/chat/page.tsx
  frontend/src/app/embed/page.tsx
  frontend/src/app/persona/hooks/usePersona.ts
  frontend/src/app/persona/page.tsx
  frontend/src/components/layout/sidebar-nav.tsx
  frontend/src/components/persona/PersonaSettingsPanel.tsx
  frontend/src/components/settings/PreferencesTab.tsx
  frontend/src/types/persona.ts
  packages/chat-ui/src/components/speaker-button.tsx
  packages/chat-ui/src/hooks/use-voice-preferences.ts
Due: mypy, eslint, tsc, prettier

chore(api): Reorder imports for consistency
  backend/alembic/versions/a2b3c4d5e6f7_create_persona_table.py
  backend/app/api/__init__.py
  backend/app/api/persona.py
  backend/app/worker.py
Due: mypy

chore(index): update generated_at and file counts
  .index.yaml
Due: none

refactor(persona): Rename soul to personality and add journal/context
  .index.yaml
  backend/alembic/versions/a2b3c4d5e6f7_create_persona_table.py
  backend/alembic/versions/b3c4d5e6f7g8_rename_soul_to_personality.py
  backend/alembic/versions/c4d5e6f7g8h9_create_persona_journal_table.py
  backend/alembic/versions/d5e6f7g8h9i0_enhance_persona_memory_config.py
  backend/app/api/persona.py
  backend/app/models/__init__.py
  backend/app/models/persona.py
  backend/app/models/persona_journal.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/persona_service.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/services/tools/tool_definitions.py
  backend/app/services/tools/tool_handler.py
  frontend/src/components/persona/PersonaSettingsPanel.tsx
  frontend/src/types/persona.ts
Due: mypy, eslint, tsc, prettier

feat(persona): enhance prompt injection and context management
  .index.yaml
  backend/alembic/versions/d5e6f7g8h9i0_enhance_persona_memory_config.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/persona_service.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/workflows/persona_heartbeat.py
  backend/tests/services/test_agent_routing.py
  frontend/src/components/persona/PersonaSettingsPanel.tsx
Due: mypy, eslint, tsc, prettier

feat(persona): Refactor persona settings UI and backend integration
  .index.yaml
  backend/app/services/persona_service.py
  frontend/src/app/agents/[slug]/page.tsx
  frontend/src/app/agents/hooks/useAgentFiltering.ts
  frontend/src/app/persona/page.tsx
  frontend/src/app/persona/settings/components/IdentityTab.tsx
  frontend/src/app/persona/settings/components/PersonaSettingsHeader.tsx
  frontend/src/app/persona/settings/components/PersonaSettingsSidebar.tsx
  frontend/src/app/persona/settings/components/PersonalityTab.tsx
  frontend/src/app/persona/settings/components/VoiceHeartbeatTab.tsx
  frontend/src/app/persona/settings/hooks/usePersonaSettings.ts
  frontend/src/app/persona/settings/page.tsx
  frontend/src/app/persona/settings/types.ts
  frontend/src/components/layout/app-shell.tsx
  frontend/src/components/layout/sidebar-nav.tsx
  frontend/src/components/persona/PersonaSettingsPanel.tsx
Due: mypy, eslint, tsc, prettier

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
