Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

style: auto-format from pre-commit hooks
  backend/app/api/__init__.py
Due: mypy

feat(ownership): add live ownership inventory api
  backend/app/api/__init__.py
  backend/app/api/ownership.py
  backend/app/api/schemas/ownership.py
  backend/app/services/ownership_inventory.py
  backend/tests/api/test_ownership.py
Due: mypy

feat(ownership): add worktree metadata to live inventory
  backend/app/api/schemas/ownership.py
  backend/app/services/ownership_inventory.py
  backend/tests/api/test_ownership.py
Due: mypy

feat(coordination): enrich live lane observability surfaces
  backend/app/services/tools/_executor_consultation.py
  backend/tests/tools/test_executor_consultation.py
Due: mypy

fix(ownership): limit live inventory to active lanes
  backend/app/services/ownership_inventory.py
Due: mypy

feat(heartbeat): surface active specialist inventory
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/app/workflows/_heartbeat_templates.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

feat(ownership): expose active specialists in live inventory
  backend/app/api/ownership.py
  backend/app/api/schemas/ownership.py
  backend/app/services/ownership_inventory.py
  backend/tests/api/test_ownership.py
Due: mypy

fix(ownership): normalize duplicate live lanes
  backend/app/services/ownership_inventory.py
  backend/app/services/ownership_lanes.py
  backend/app/workflows/_heartbeat_data.py
  backend/tests/services/test_ownership_lanes.py
Due: mypy

feat(memory): inject query-relevant references
  backend/app/services/memory/_repo_search.py
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_builder_budget.py
  backend/app/services/memory/context_builder_processors.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/context_injector_formatter.py
  backend/app/services/memory/context_injector_queries.py
  backend/tests/services/memory/test_reference_injection.py
Due: mypy

fix(memory): handle null-tag references in live injection
  backend/app/services/memory/context_injector_blocks_helpers.py
  backend/tests/services/memory/test_reference_injection.py
Due: mypy

feat(memory): split reference injection observability
  backend/alembic/versions/356c591a71de_split_reference_injection_metrics.py
  backend/app/api/complete/memory_handler.py
  backend/app/api/complete/request_setup.py
  backend/app/api/dashboard_stats.py
  backend/app/api/memory_agent_context_builder.py
  backend/app/models/memory.py
  backend/app/services/event_storage.py
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/metrics_collector.py
  backend/app/services/memory/metrics_collector_helpers.py
  backend/tests/api/complete/test_request_setup.py
  backend/tests/services/memory/test_context_injector.py
  backend/tests/services/memory/test_metrics_collector.py
  backend/tests/services/test_event_storage.py
  backend/tests/test_models.py
Due: mypy

feat(ui): expose session reference effectiveness
  frontend/src/__tests__/session-memory-observability.test.ts
  frontend/src/app/sessions/[id]/components/SessionHeader.tsx
  frontend/src/app/sessions/[id]/components/SessionInfo.tsx
  frontend/src/app/sessions/[id]/page.tsx
  frontend/src/lib/session-memory-observability.ts
Due: eslint, tsc, prettier

fix(memory): normalize utility score percentages
  backend/app/models/memory_unified.py
  backend/app/services/memory/_analytics_scores.py
  backend/app/services/memory/_analytics_top.py
  backend/app/services/memory_utility_score.py
  backend/tests/services/memory/test_utility_score_contract.py
  frontend/src/components/memory/memory-card.tsx
Due: mypy, eslint, tsc, prettier

fix(sessions): surface fallback execution and live session state
  backend/alembic/versions/356c591a71de_split_reference_injection_metrics.py
  backend/app/api/complete/_core_helpers.py
  backend/app/api/complete/_session_helpers.py
  backend/app/api/complete/complete_execution.py
  backend/app/api/complete/handler_helpers.py
  backend/app/api/complete/result_builder.py
  backend/app/api/complete/result_finalizer.py
  backend/app/api/complete/session_manager.py
  backend/app/api/complete/types.py
  backend/app/api/schemas/sessions.py
  backend/app/services/event_storage.py
  backend/app/services/session_responses.py
  backend/app/services/session_transforms.py
  backend/tests/api/complete/test_handler_helpers.py
  backend/tests/api/complete/test_result_finalizer.py
  backend/tests/api/test_sessions.py
  backend/tests/services/test_event_storage.py
  frontend/src/app/sessions/[id]/components/SessionHeader.tsx
  frontend/src/app/sessions/[id]/components/SessionInfo.tsx
  frontend/src/lib/api/sessions.ts
Due: mypy, eslint, tsc, prettier

style: auto-format from pre-commit hooks
  backend/tests/api/complete/test_complete_execution.py
Due: none

fix(fallback): preserve primary failure cause across fallback paths
  backend/app/api/complete/complete_execution.py
  backend/app/api/complete/execution.py
  backend/app/api/complete/handler_helpers.py
  backend/app/api/complete/handlers.py
  backend/app/api/complete/orchestration_helpers.py
  backend/app/api/complete/response_schemas.py
  backend/app/services/agent_routing_completion.py
  backend/app/services/agent_routing_models.py
  backend/tests/api/complete/test_complete_execution.py
  backend/tests/api/complete/test_handler_helpers.py
  backend/tests/services/test_agent_routing.py
Due: mypy

fix(heartbeat): clear stale running locks and block duplicate redispatch
  backend/app/api/heartbeat.py
  backend/app/workflows/_heartbeat_templates.py
  backend/tests/api/test_heartbeat.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

feat(image): add nvidia reference support and align stale lane ownership detection
  .pids/backend.pid
  .pids/frontend.pid
  backend/alembic/versions/6996cae6424b_drop_premium_model_from_agents.py
  backend/app/adapters/minimax_image.py
  backend/app/adapters/nvidia_image.py
  backend/app/services/ownership_inventory.py
  backend/tests/adapters/test_minimax_image.py
  backend/tests/adapters/test_nvidia_image.py
  backend/tests/services/test_ownership_inventory.py
  packages/agent-hub-client/agent_hub/_async_client.py
  packages/agent-hub-client/agent_hub/_image.py
  packages/agent-hub-client/agent_hub/_sync_client.py
Due: mypy

feat(image): add nvidia reference support and align stale lane ownership detection
  .pids/backend.pid
  .pids/frontend.pid
  backend/alembic/versions/6996cae6424b_drop_premium_model_from_agents.py
  backend/app/adapters/minimax_image.py
  backend/app/adapters/nvidia_image.py
  backend/app/services/ownership_inventory.py
  backend/tests/adapters/test_minimax_image.py
  backend/tests/adapters/test_nvidia_image.py
  backend/tests/services/test_ownership_inventory.py
  packages/agent-hub-client/agent_hub/_async_client.py
  packages/agent-hub-client/agent_hub/_image.py
  packages/agent-hub-client/agent_hub/_sync_client.py
  ports.json
Due: mypy

fix(heartbeat): keep persona queue maintenance inside tools and avoid dispatching draft tasks
  backend/app/workflows/_heartbeat_templates.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
