Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

consolidate: CompletionSource -> single canonical impl
  backend/app/services/completion/episode_storage.py
Due: mypy

publish project work
  backend/app/api/credentials.py
  backend/app/services/agent_routing_completion.py
  backend/app/services/credential_upsert.py
  backend/tests/services/test_credential_upsert.py
Due: mypy

Memory delivery: render ordering+footer, adaptive tools, lifecycle eviction
  backend/app/cli/runtime_context.py
  backend/app/services/memory/_repo_tier.py
  backend/app/services/memory/context_injector_ops.py
  backend/app/services/memory/st_usage_memory.py
  backend/app/services/memory/tier_optimizer.py
  backend/app/services/memory/tier_queries.py
  backend/app/services/memory/tool_capability_context.py
  backend/app/services/runtime_context.py
  backend/tests/services/memory/test_st_usage_memory.py
  backend/tests/services/memory/test_tier_lifecycle.py
Due: mypy

publish project work
  .fallow/cache.bin
  AGENT_AUDIT.md
Due: none

Backend prune complete: removed dead helpers/maps, shared direct tool runner, updated tests/comments; verified no refs, full backend pytest, changed gate, rebuild, and health; audit board updated.
  AGENT_AUDIT.md
  backend/app/api/complete/core.py
  backend/app/api/complete/streaming.py
  backend/app/api/complete/tool_provisioner.py
  backend/app/api/helpers/agent_preview.py
  backend/app/constants/__init__.py
  backend/app/constants/catalog.py
  backend/app/llm/utils/validation.py
  backend/app/services/agent_routing_completion.py
  backend/app/services/memory/_summary_parse.py
  backend/app/services/tools/_executor_dispatch.py
  backend/app/workflows/_heartbeat_postprocess.py
  backend/tests/api/complete/test_complete_internal_unified.py
  backend/tests/architecture/test_pimono_shape.py
Due: mypy

Backend prune complete: removed dead helpers/maps, shared direct tool runner, updated tests/comments; verified no refs, full backend pytest, changed gate, rebuild, and health; audit board updated.
  backend/app/api/complete/core.py
  backend/app/api/complete/streaming.py
  backend/app/api/complete/tool_provisioner.py
  backend/app/api/helpers/agent_preview.py
  backend/app/constants/__init__.py
  backend/app/constants/catalog.py
  backend/app/llm/utils/validation.py
  backend/app/services/agent_routing_completion.py
  backend/app/services/memory/_summary_parse.py
  backend/app/services/tools/_executor_dispatch.py
  backend/app/workflows/_heartbeat_postprocess.py
  backend/tests/api/complete/test_complete_internal_unified.py
  backend/tests/architecture/test_pimono_shape.py
Due: mypy

Persona heartbeat decision resolved: kept cron disabled, cancelled four dependent stale P1 tasks with DB/field-gate evidence, verified ready queue, audit board updated.
  AGENT_AUDIT.md
Due: none

Repair release pipeline: vendor notes-ui, gate CI, and verify Docker/runtime
  .github/workflows/docker-build.yml
  .gitignore
  docker/frontend.Dockerfile
  docker/workspace-packages/agent-hub-chat-ui-0.1.0.tgz
  docker/workspace-packages/agent-hub-passport-client-0.1.0.tgz
  docker/workspace-packages/summitflow-notes-ui-0.1.0.tgz
  frontend/package.json
  packages/notes-ui/dist/index.cjs
  packages/notes-ui/dist/index.d.cts
  packages/notes-ui/dist/index.d.ts
  packages/notes-ui/dist/index.js
  packages/notes-ui/package.json
  packages/notes-ui/src/NoteEditor.tsx
  packages/notes-ui/src/NoteEditorContent.tsx
  packages/notes-ui/src/NoteEditorDiffView.tsx
  packages/notes-ui/src/NoteEditorHeader.tsx
  packages/notes-ui/src/NoteEditorHistoryView.tsx
  packages/notes-ui/src/NoteEditorTagsBar.tsx
  packages/notes-ui/src/NoteItem.tsx
  packages/notes-ui/src/NotesButton.tsx
  packages/notes-ui/src/NotesList.tsx
  packages/notes-ui/src/NotesPanel.tsx
  packages/notes-ui/src/NotesProvider.tsx
  packages/notes-ui/src/NotesWorkspace.tsx
  packages/notes-ui/src/PromptActions.tsx
  packages/notes-ui/src/api.ts
  packages/notes-ui/src/index.ts
  packages/notes-ui/src/types.ts
  packages/notes-ui/src/useFormatProposal.ts
  packages/notes-ui/src/useNoteEditorState.ts
  packages/notes-ui/src/useNotes.ts
  packages/notes-ui/src/useVersionHistory.ts
  packages/notes-ui/tsconfig.json
  packages/notes-ui/tsup.config.ts
  pnpm-lock.yaml
Due: prettier

Repair release pipeline: vendor notes-ui, gate CI, and verify Docker/runtime
  .github/workflows/docker-build.yml
  .gitignore
  AGENT_AUDIT.md
  docker/frontend.Dockerfile
  docker/workspace-packages/agent-hub-chat-ui-0.1.0.tgz
  docker/workspace-packages/agent-hub-passport-client-0.1.0.tgz
  docker/workspace-packages/summitflow-notes-ui-0.1.0.tgz
  frontend/package.json
  packages/notes-ui/dist/index.cjs
  packages/notes-ui/dist/index.d.cts
  packages/notes-ui/dist/index.d.ts
  packages/notes-ui/dist/index.js
  packages/notes-ui/package.json
  packages/notes-ui/src/NoteEditor.tsx
  packages/notes-ui/src/NoteEditorContent.tsx
  packages/notes-ui/src/NoteEditorDiffView.tsx
  packages/notes-ui/src/NoteEditorHeader.tsx
  packages/notes-ui/src/NoteEditorHistoryView.tsx
  packages/notes-ui/src/NoteEditorTagsBar.tsx
  packages/notes-ui/src/NoteItem.tsx
  packages/notes-ui/src/NotesButton.tsx
  packages/notes-ui/src/NotesList.tsx
  packages/notes-ui/src/NotesPanel.tsx
  packages/notes-ui/src/NotesProvider.tsx
  packages/notes-ui/src/NotesWorkspace.tsx
  packages/notes-ui/src/PromptActions.tsx
  packages/notes-ui/src/api.ts
  packages/notes-ui/src/index.ts
  packages/notes-ui/src/types.ts
  packages/notes-ui/src/useFormatProposal.ts
  packages/notes-ui/src/useNoteEditorState.ts
  packages/notes-ui/src/useNotes.ts
  packages/notes-ui/src/useVersionHistory.ts
  packages/notes-ui/tsconfig.json
  packages/notes-ui/tsup.config.ts
  pnpm-lock.yaml
Due: prettier

Collapse memory context DB session fan-out
  AGENT_AUDIT.md
  backend/app/api/memory_agent_context_builder.py
  backend/app/services/memory/adaptive_index.py
  backend/app/services/memory/adaptive_index_queries.py
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_injector_blocks.py
  backend/app/services/memory/context_injector_queries.py
  backend/app/services/runtime_context.py
  backend/tests/services/memory/test_context_builder_fetcher.py
Due: mypy

Collapse memory context DB session fan-out
  backend/app/api/memory_agent_context_builder.py
  backend/app/services/memory/adaptive_index.py
  backend/app/services/memory/adaptive_index_queries.py
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_injector_blocks.py
  backend/app/services/memory/context_injector_queries.py
  backend/app/services/runtime_context.py
  backend/tests/services/memory/test_context_builder_fetcher.py
Due: mypy

Tighten data retention cleanup
  backend/app/tasks/data_retention.py
  backend/app/workflows/scheduled.py
  backend/tests/tasks/test_data_retention.py
Due: mypy

Wire local Gemma 4 12B QAT into Agent Hub via Ollama
  backend/app/constants/__init__.py
  backend/app/constants/catalog_entries.py
  backend/app/constants/models.py
  backend/app/llm/env_api_keys.py
  backend/app/llm/model_resolver.py
  backend/scripts/seed_agents_data/seed_data.json
Due: mypy

Give gemma-local-test agent read-only web tools
  backend/app/services/tools/tool_definitions.py
Due: mypy

Fix chat Clear resetting agent to Jenny; add prompt history recall
  frontend/src/app/chat/hooks/useChatSession.ts
  packages/chat-ui/src/components/use-message-input.ts
  packages/chat-ui/src/components/use-prompt-history.ts
Due: eslint, tsc, prettier

Scope chat prompt-history recall per agent
  packages/chat-ui/src/components/chat-panel.tsx
  packages/chat-ui/src/components/use-message-input.ts
  packages/chat-ui/src/components/use-prompt-history.ts
Due: none

chore: save agent hub residue
  backend/scripts/seed_agents_data/seed_data.json
Due: none

Resolve public release dependency alerts
  backend/uv.lock
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: prettier

Add animated demo GIF as README hero
  README.md
  docs/images/agent-hub-demo.gif
Due: none

fix(ci): pin setup-uv to v8.2.0 and drop duplicate pnpm version override
  .github/workflows/ci.yml
Due: none

fix(ci): pin setup-uv python-version to 3.13 to keep onnxruntime wheels
  .github/workflows/ci.yml
Due: none

fix(ci): add postgres service + test DB env vars for backend test job
  .github/workflows/ci.yml
Due: none

fix(ci): use a structurally-valid dummy JWT for HATCHET_CLIENT_TOKEN
  .github/workflows/ci.yml
Due: none

Prototype: flag-gated Headroom tool-result compression in tool loop
  backend/app/llm/headroom_compress.py
  backend/app/llm/tool_loop.py
Due: mypy

fix(ci): drop malformed HATCHET_CLIENT_TOKEN override
  .github/workflows/ci.yml
Due: none

fix(ci): migrate test database before running backend tests
  .github/workflows/ci.yml
Due: none

fix(ci): use pgvector postgres image for the test database service
  .github/workflows/ci.yml
Due: none

test(ci): make tool-executor, db-cli, and scope-inference tests hermetic
  backend/tests/scripts/test_db_cli.py
  backend/tests/services/session_ingestion/test_service.py
  backend/tests/services/test_event_storage.py
  backend/tests/services/test_ownership_inventory.py
  backend/tests/services/test_session_live_activity.py
  backend/tests/tools/test_direct_executor.py
  backend/tests/tools/test_executor_bash_cancel.py
  backend/tests/tools/test_persona_integration.py
Due: none

fix(tools): allow bash when shared command guard is absent
  backend/app/services/tools/command_guard.py
  backend/tests/services/tools/test_command_guard_resolution.py
Due: mypy

Add 'How it compares' (integrated memory-first control plane vs Langfuse/LiteLLM/OpenRouter) to README
  README.md
  backend/app/llm/headroom_compress.py
  backend/pyproject.toml
  backend/uv.lock
Due: mypy

feat(llm): productionize Headroom tool-result compression (transforms-only, gated, telemetered)
  backend/alembic/versions/c4a1b2d3e5f6_cost_logs_cache_and_compression_cols.py
  backend/app/api/complete/core.py
  backend/app/api/complete/handler_helpers.py
  backend/app/api/complete/orchestrator.py
  backend/app/api/complete/streaming.py
  backend/app/api/complete/types.py
  backend/app/config.py
  backend/app/llm/headroom_compress.py
  backend/app/llm/tool_loop.py
  backend/app/models/session.py
  backend/app/services/context_tracker.py
  backend/tests/llm/test_headroom_compress.py
  backend/tests/llm/test_pipeline_smoke.py
Due: mypy

Expand README: full provider list, multi-agent orchestration, server-side tools, image gen, benchmark catalog, persona, budgets, SDK
  README.md
Due: none

feat(auth): register hermes as first-party client
  backend/app/config.py
  backend/app/services/first_party_client_service.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
