Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

chore(backend): 6 files changed, 207 insertions(+), 12 deletions(-)
  backend/app/api/complete/citation_tracker.py
  backend/app/api/complete/streaming_handlers.py
  backend/app/api/complete/streaming_persistence.py
  backend/app/api/complete/tool_handlers.py
  backend/tests/api/complete/test_synthetic_summary.py
  backend/tests/api/complete/test_tool_handlers_partial.py
Due: mypy

refactor(site_health_check): Improve multi-page checks and analysis
  backend/app/workflows/site_health_check.py
Due: mypy

fix(site_health_check): Adjust cron schedule to twice daily
  backend/app/workflows/site_health_check.py
Due: mypy

chore(site_health_check): Update cron schedule
  backend/app/workflows/site_health_check.py
Due: mypy

refactor(citation_tracker): Extract chat summary logic and improve synthetic summary generation
  backend/app/api/complete/citation_tracker.py
  backend/tests/api/complete/test_synthetic_summary.py
Due: mypy

refactor(citation_tracker): Simplify _extract_chat_summary logic
  backend/app/api/complete/citation_tracker.py
  backend/tests/api/complete/test_synthetic_summary.py
Due: mypy

refactor(frontend): Improve UI layout and text truncation
  .index.yaml
  frontend/src/app/persona/components/ActivityTimeline.tsx
  frontend/src/app/persona/components/HeartbeatSessionCard.tsx
Due: eslint, tsc, prettier

refactor(tool_event_processor): Store thinking events immediately in DB
  backend/app/api/complete/tool_event_processor.py
  backend/app/api/complete/tool_event_storage.py
  backend/app/api/complete/tool_handlers.py
  backend/app/api/complete/tool_response_finalizer.py
  backend/tests/api/complete/test_tool_handlers_partial.py
Due: mypy

style: auto-format from pre-commit hooks
  backend/app/api/complete/tool_event_storage.py
Due: mypy

feat(tools): Add agent roster and compact list format
  backend/app/services/tools/_executor_model_mgmt.py
  backend/app/services/tools/_executor_registry.py
  backend/app/services/tools/_persona_ops_tools.py
  backend/app/services/tools/_persona_schedule_tools.py
  backend/app/services/tools/_standard_tools.py
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_prompt.py
Due: mypy

feat(settings): Add local settings for permissions and reduced motion
  .claude/settings.local.json
Due: none

refactor(limits): increase default limits and timeouts
  backend/app/adapters/_claude_sdk_builder.py
  backend/app/adapters/claude_utils.py
  backend/app/api/complete/request_schemas.py
  backend/app/services/_persona_crud.py
  backend/app/services/tools/_executor_consultation.py
  backend/app/services/tools/_persona_schedule_tools.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/workflows/persona_heartbeat.py
  backend/app/workflows/persona_scheduler.py
  backend/app/workflows/persona_wake.py
  backend/tests/adapters/test_claude_env_injection.py
Due: mypy

docs(next-session-prompt): Add prompt for verifying st complete fixes
  .claude/next-session-prompt.md
Due: none

docs(cli): Document st complete project auto-detection
  .claude/next-session-prompt.md
Due: none

fix(openai_compat): Yield tool_result stream events
  backend/app/adapters/openai_compat.py
  backend/app/api/complete/openai_event_adapter.py
  backend/tests/adapters/test_openai_compat.py
  backend/tests/api/complete/test_openai_event_adapter.py
Due: mypy

feat(heartbeat): add heartbeat API and workflow
  .index.yaml
  backend/app/api/__init__.py
  backend/app/api/heartbeat.py
  backend/app/workflows/_heartbeat_redis.py
  backend/app/workflows/persona_heartbeat.py
  backend/tests/api/test_heartbeat.py
  backend/tests/integration/test_status_endpoint.py
  frontend/src/__tests__/degraded-mode.test.tsx
  frontend/src/app/persona/hooks/useHeartbeat.ts
  frontend/src/app/persona/page.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/degraded-mode-banner.tsx
  frontend/src/hooks/use-provider-status.ts
  frontend/src/lib/api/dashboard.ts
Due: mypy, eslint, tsc, prettier

refactor(backend): Improve claude_utils, heartbeat, and site_health_check
  backend/app/adapters/claude_utils.py
  backend/app/api/heartbeat.py
  backend/app/services/completion/service.py
  backend/app/services/tools/_executor_consultation.py
  backend/app/services/tools/_executor_registry.py
  backend/app/workflows/persona_heartbeat.py
  backend/app/workflows/site_health_check.py
  backend/tests/api/complete/test_synthetic_summary.py
  backend/tests/api/test_heartbeat.py
  frontend/src/app/persona/hooks/useHeartbeat.ts
  frontend/src/app/persona/page.tsx
Due: mypy, eslint, tsc, prettier

refactor(api): Update heartbeat test mocks to use public functions
  .index.yaml
  backend/tests/api/test_heartbeat.py
Due: none

chore(backend): Improve error handling and logging robustness
  backend/app/adapters/claude_utils.py
  backend/app/api/complete/citation_tracker.py
  backend/app/api/complete/openai_event_adapter.py
  backend/app/api/complete/tool_event_processor.py
  backend/app/api/complete/tool_handlers.py
  backend/app/api/heartbeat.py
  backend/app/workflows/_heartbeat_redis.py
  backend/app/workflows/persona_heartbeat.py
  backend/app/workflows/site_health_check.py
  backend/tests/adapters/test_claude_env_injection.py
  backend/tests/api/complete/test_openai_event_adapter.py
  backend/tests/api/complete/test_synthetic_summary.py
  frontend/src/app/persona/hooks/useHeartbeat.ts
  frontend/src/app/persona/page.tsx
Due: mypy, eslint, tsc, prettier

feat(api): add site health check endpoint
  backend/app/api/__init__.py
  backend/app/api/site_health_check.py
  backend/app/worker.py
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/app/workflows/completion.py
  backend/app/workflows/site_health_check.py
Due: mypy

fix(tests): Update error message key and mock session in completion tests
  backend/tests/api/test_heartbeat.py
  backend/tests/services/test_completion_service.py
Due: none

feat(frontend): Refactor ActivityTimeline and related components
  .index.yaml
  frontend/src/app/persona/components/ActivityTimeline.tsx
  frontend/src/app/persona/components/HeartbeatExpandedEvent.tsx
  frontend/src/app/persona/page.tsx
Due: eslint, tsc, prettier
