Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

Fix Codex Responses replay IDs
  backend/app/llm/providers/openai_codex_responses.py
  backend/tests/llm/test_openai_codex_responses.py
Due: mypy

Sync Agent Hub seed data
  backend/scripts/seed_agents_data/seed_data.json
Due: none

Update Gemini model catalog
  backend/alembic/versions/r4s5t6u7v8w9_update_gemini_catalog.py
  backend/app/constants/catalog_entries.py
  backend/app/constants/models.py
  backend/tests/api/test_models_api.py
  frontend/src/app/models/page.tsx
  frontend/src/components/models/model-card.tsx
  frontend/src/lib/model-pricing.ts
Due: mypy, eslint, tsc, prettier

Expose compact agent activity endpoint
  backend/app/api/agents.py
  backend/tests/api/test_agents_api.py
Due: mypy

Route refactor agent to tested low-cost models
  backend/scripts/seed_agents_data/seed_data.json
Due: none

Align refactor model adapters with pi-mono
  backend/app/llm/model_resolver.py
  backend/app/llm/providers/openai_completions.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/llm/test_model_resolver.py
  backend/tests/llm/test_openai_completions_params.py
Due: mypy

autocode(task-d13040f9): complete subtask task
  docker-compose.yml
Due: none

Remove site health checker workflow
  backend/alembic/versions/t5u6v7w8x9y0_remove_site_health_checker.py
  backend/app/api/__init__.py
  backend/app/api/site_health_check.py
  backend/app/services/tools/_persona_schedule_tools.py
  backend/app/services/workflow_schedule_registry.py
  backend/app/worker_runtime.py
  backend/app/workflows/site_health_check.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/test_admin_api.py
  backend/tests/api/test_site_health_check_api.py
  backend/tests/unit/test_worker_runtime.py
  backend/tests/workflows/test_site_health_check.py
Due: mypy

Subtask task: Verified CLI infrastructure bug while reconciling
  artifacts/closeout/task-695cf1f9-reconcile-failure-note-20260504.md
Due: none

autocode(task-95025f86): complete subtask task
  .coderabbit.yaml
  backend/app/services/task_overview_summary.py
  backend/tests/services/test_reconcile_helpers_temp.py
  backend/tests/services/test_task_overview_summary.py
Due: mypy

autocode(task-991d6368): complete subtask task
  scripts/health-check-diff.py
Due: none

autocode(task-991d6368): complete subtask task
  logs/health-observations.jsonl
  scripts/health-check-diff.py
Due: none

autocode(task-82e39f66): complete subtask task
  .dev-tools-list.json
  .dev-tools-task45.txt
Due: none

autocode(task-d1c297a2): complete subtask task
  VOICE_ARCHITECTURE_PLAN.md
  docs/voice-architecture-plan.md
Due: none

autocode(task-a1260c6b): complete subtask task
  CODERABBIT_REVIEW_SCOPE_PLAN.md
Due: none

autocode(task-a39c7b1a): complete subtask task
  frontend/src/app/persona/arena/page.tsx
Due: eslint, tsc, prettier

publish existing work
  backend/scripts/seed_agents_data/seed_data.json
Due: none

Refactor context_builder.py: reduce 24 functions to 16 by inlining single-use helpers. Preserves all behavior; 639 memory tests pass.
  backend/app/api/complete/complete_execution.py
  backend/app/api/complete/core.py
  backend/app/api/complete/execution_observability.py
  backend/app/api/complete/handler_helpers.py
  backend/app/api/complete/orchestration_helpers.py
  backend/app/api/complete/orchestrator.py
  backend/app/api/complete/request_schemas.py
  backend/app/api/complete/streaming.py
  backend/app/api/complete/turn_budget.py
  backend/app/api/orchestration_models.py
  backend/app/constants/agent_limits.py
  backend/app/llm/tool_loop.py
  backend/app/services/memory/context_builder.py
  backend/app/services/tools/_executor_consultation_helpers.py
  backend/app/workflows/_heartbeat_steps.py
  backend/app/workflows/completion.py
  backend/app/workflows/persona_wake.py
Due: mypy

Subtask task: Refactor backend/app/services/memory/context_build
  backend/app/api/endpoints/parallel.py
  backend/app/llm/simple_options.py
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_builder_ops.py
  backend/app/services/orchestration/chain.py
  backend/app/services/orchestration/parallel.py
  backend/app/services/orchestration/parallel_helpers.py
  backend/app/services/orchestration/subagent.py
  backend/app/services/orchestration/subagent_executor.py
  backend/app/services/orchestration/subagent_models.py
  backend/app/workflows/session_reaper.py
  backend/tests/api/complete/test_complete_execution.py
  backend/tests/api/complete/test_execution_observability.py
  backend/tests/api/complete/test_handler_helpers.py
  backend/tests/api/complete/test_turn_budget.py
  backend/tests/llm/test_simple_options.py
  backend/tests/orchestration/test_parallel.py
  backend/tests/orchestration/test_subagent.py
  backend/tests/workflows/test_persona_heartbeat.py
  backend/tests/workflows/test_session_reaper.py
  backend/tests/workflows/test_timeout_policy.py
Due: mypy

autocode(task-9642ab9b): complete subtask task
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
Due: eslint, tsc, prettier

Refactor PersonaOperatorDeck: extract usePersonaOperatorData hook, reduce component functions from 19 to 3, preserve all behavior
  frontend/src/app/persona/components/PersonaOperatorDeck.tsx
  frontend/src/app/persona/hooks/usePersonaOperatorData.ts
Due: eslint, tsc, prettier

wip(task-547d4016): recover prior shared-checkout changes
  frontend/src/app/persona/components/workspace-transcript.tsx
Due: eslint, tsc, prettier

complete task-547d4016
  frontend/src/app/persona/components/workspace-transcript.tsx
Due: eslint, tsc, prettier
