Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

chore(frontend): 1 file changed, 6 insertions(+), 6 deletions(-)
  frontend/src/components/memory/MemorySettingsModal.tsx
Due: eslint, tsc, prettier

fix(security): move INTERNAL_SERVICE_SECRET to environment variable
  backend/.env.example
  backend/app/config.py
  backend/app/middleware/access_control.py
  backend/app/middleware/kill_switch.py
Due: mypy

refactor(frontend): reduce monitoring requests page from 855 to 295 lines
  backend/app/services/session_cleanup.py
  backend/migrations/versions/07e7336a2688_add_per_tier_limits_to_memory_settings.py
  frontend/src/app/monitoring/requests/api.ts
  frontend/src/app/monitoring/requests/components/Badges.tsx
  frontend/src/app/monitoring/requests/components/Filters.tsx
  frontend/src/app/monitoring/requests/components/MetricCard.tsx
  frontend/src/app/monitoring/requests/components/RequestTable.tsx
  frontend/src/app/monitoring/requests/components/SortableHeader.tsx
  frontend/src/app/monitoring/requests/components/ToolTypeDistribution.tsx
  frontend/src/app/monitoring/requests/components/TopEndpoints.tsx
  frontend/src/app/monitoring/requests/components/TopTools.tsx
  frontend/src/app/monitoring/requests/page.tsx
  frontend/src/app/monitoring/requests/types.ts
  frontend/src/app/monitoring/requests/utils.ts
Due: mypy, eslint, tsc, prettier

refactor(frontend): extract playground page components and hooks
  backend/app/services/memory/tier_corrections.py
  backend/app/services/memory/tier_operations.py
  backend/app/services/memory/tier_optimizer.py
  backend/app/services/memory/tier_queries.py
  frontend/src/app/agents/[slug]/playground/api.ts
  frontend/src/app/agents/[slug]/playground/components/ChatInterface.tsx
  frontend/src/app/agents/[slug]/playground/components/DebugPanel.tsx
  frontend/src/app/agents/[slug]/playground/components/DebugSection.tsx
  frontend/src/app/agents/[slug]/playground/components/MessageBubble.tsx
  frontend/src/app/agents/[slug]/playground/components/PlaygroundHeader.tsx
  frontend/src/app/agents/[slug]/playground/components/StatItem.tsx
  frontend/src/app/agents/[slug]/playground/hooks/useAutoScroll.ts
  frontend/src/app/agents/[slug]/playground/hooks/usePlaygroundChat.ts
  frontend/src/app/agents/[slug]/playground/page.tsx
  frontend/src/app/agents/[slug]/playground/types.ts
Due: mypy, eslint, tsc, prettier

refactor(fullstack): multiple file size reductions
  backend/app/services/circuit_breaker.py
  backend/app/services/error_tracking.py
  backend/app/services/model_mapping.py
  backend/app/services/router.py
  backend/app/services/tier_selection.py
Due: mypy

fix(memory): update tier_corrections import to use collections.abc
  .index.yaml
  backend/app/api/memory.py
  backend/app/services/memory/__init__.py
  backend/app/services/memory/episode_chunking.py
  backend/app/services/memory/episode_formatter.py
  backend/app/services/memory/episode_helpers.py
  backend/app/services/memory/episode_types.py
  backend/app/services/memory/episode_validation.py
  backend/app/services/memory/learning_extractor.py
  backend/app/services/memory/tier_corrections.py
Due: mypy

test(fullstack): 21 files changed, 1573 insertions(+), 371 deletions(-)
  .index.yaml
  backend/app/api/memory.py
  backend/app/middleware/access_control.py
  backend/app/models/memory.py
  backend/app/services/client_auth.py
  backend/app/services/memory/adaptive_index.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/episode_creator.py
  backend/app/services/memory/graphiti_client.py
  backend/app/services/memory/service.py
  backend/app/services/memory/settings.py
  backend/app/services/router.py
  backend/app/services/session_cleanup.py
  backend/migrations/versions/s8t9u0v1w2x3_add_reference_index_enabled.py
  backend/tests/services/test_adaptive_index.py
  frontend/src/components/memory/EditEpisodeModal.tsx
  frontend/src/components/memory/ExpandedRowContent.tsx
  frontend/src/components/memory/MemorySettingsModal.tsx
  frontend/src/components/memory/MemoryTableRow.tsx
  frontend/src/lib/api/memory-settings.ts
  frontend/src/lib/memory-api.ts
Due: mypy, eslint, tsc, prettier

chore(backend): 15 files changed, 1505 insertions(+), 1619 deletions(-)
  backend/app/api/access_control.py
  backend/app/api/access_control_helpers.py
  backend/app/api/access_control_metrics.py
  backend/app/api/access_control_schemas.py
  backend/app/services/memory/adaptive_index.py
  backend/app/services/memory/adaptive_index_queries.py
  backend/app/services/memory/adaptive_index_scoring.py
  backend/app/services/memory/adaptive_index_toon.py
  backend/app/services/memory/episode_properties.py
  backend/app/services/memory/graphiti_client.py
  backend/app/services/memory/neo4j_queries.py
  backend/scripts/run_parameter_sweep.py
  backend/scripts/sweep_config.py
  backend/scripts/sweep_evaluation.py
  backend/scripts/sweep_report.py
Due: mypy

chore(backend): 2 files changed, 91 insertions(+), 78 deletions(-)
  backend/app/api/access_control.py
  backend/app/api/access_control_logs.py
Due: mypy

chore(fullstack): 19 files changed, 771 insertions(+), 152 deletions(-)
  backend/app/api/access_control_metrics.py
  backend/app/api/memory.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/episode_properties.py
  backend/app/services/provider_chain.py
  backend/app/services/request_executor.py
  backend/app/services/router.py
  backend/app/services/session_cleanup.py
  backend/scripts/run_parameter_sweep.py
  backend/scripts/sweep_config.py
  backend/scripts/sweep_evaluation.py
  frontend/src/app/agents/[slug]/api.ts
  frontend/src/app/agents/[slug]/components/FallbackModelsList.tsx
  frontend/src/app/agents/[slug]/components/GeneralTab.tsx
  frontend/src/app/agents/[slug]/components/ModelSelect.tsx
  frontend/src/app/agents/[slug]/components/ModelsTab.tsx
  frontend/src/app/agents/[slug]/components/PromptEditor.tsx
  frontend/src/app/agents/[slug]/components/PromptTab.tsx
  frontend/src/app/agents/[slug]/types.ts
Due: mypy, eslint, tsc, prettier

refactor(frontend): reduce agents/[slug]/page.tsx from 787 to 191 lines
  frontend/src/app/agents/[slug]/components/AgentEditorHeader.tsx
  frontend/src/app/agents/[slug]/components/ParametersTab.tsx
  frontend/src/app/agents/[slug]/components/PreviewModal.tsx
  frontend/src/app/agents/[slug]/components/PromptTab.tsx
  frontend/src/app/agents/[slug]/components/Sidebar.tsx
  frontend/src/app/agents/[slug]/page.tsx
Due: eslint, tsc, prettier

refactor(frontend): reduce message-list.tsx from 622 to 103 lines
  frontend/src/components/chat/MessageBubble.tsx
  frontend/src/components/chat/ToolExecutionDisplay.tsx
  frontend/src/components/chat/ToolExecutionItem.tsx
  frontend/src/components/chat/message-list.tsx
  frontend/src/components/chat/message-utils.ts
Due: eslint, tsc, prettier

refactor(backend): reduce agent_runner.py from 818 to 29 lines
  backend/app/services/agent_runner.py
  backend/app/services/agent_runner/__init__.py
  backend/app/services/agent_runner/claude_executor.py
  backend/app/services/agent_runner/debug_logging.py
  backend/app/services/agent_runner/gemini_executor.py
  backend/app/services/agent_runner/models.py
  backend/app/services/agent_runner/runner.py
Due: mypy

refactor(frontend): reduce admin page from 1095 to 245 lines
  frontend/src/app/admin/api.ts
  frontend/src/app/admin/components/BlockedRequestsTable.tsx
  frontend/src/app/admin/components/CopyButton.tsx
  frontend/src/app/admin/components/ExpandedRowContent.tsx
  frontend/src/app/admin/components/KillSwitchToggle.tsx
  frontend/src/app/admin/components/SortableHeader.tsx
  frontend/src/app/admin/hooks.ts
  frontend/src/app/admin/page.tsx
  frontend/src/app/admin/utils.ts
Due: eslint, tsc, prettier

style: apply ruff auto-fixes
  backend/app/services/memory/__init__.py
  backend/app/services/memory/service.py
  packages/agent-hub-client/tests/test_client.py
  packages/agent-hub-client/tests/test_credentials.py
  packages/agent-hub-client/tests/test_sessions.py
  packages/agent-hub-client/tests/test_streaming.py
  tasks/adapter-timeout-retry/profile_adapters.py
  tasks/adapter-timeout-retry/test_timeout_patterns.py
Due: mypy

refactor(backend): reduce memory.py from 2112 to 441 lines
  .index.yaml
  .summitflow/context.json
  backend/app/api/memory.py
  backend/app/api/memory_agent_tools.py
  backend/app/api/memory_bulk_ops.py
  backend/app/api/memory_metrics.py
  backend/app/api/memory_rating.py
  backend/app/api/memory_schemas.py
  backend/app/api/memory_settings.py
  backend/app/services/agent_runner.py.bak
  backend/app/services/memory/memory_models.py
  backend/app/services/memory/memory_queries.py
  backend/app/services/memory/memory_stats.py
  backend/app/services/memory/memory_utils.py
  backend/app/services/memory/search_operations.py
  backend/app/services/memory/service.py
Due: mypy

chore(memory): consolidate APIs and improve validation
  backend/app/api/memory.py
  backend/app/api/memory_bulk_ops.py
  backend/app/api/memory_schemas.py
  backend/app/services/memory/episode_creator.py
  frontend/src/lib/memory-api.ts
Due: mypy, eslint, tsc, prettier

deps(fullstack): 22 files changed, 373 insertions(+), 218 deletions(-)
  CLAUDE.md
  backend/app/api/complete.py
  backend/app/api/memory.py
  backend/app/api/memory_agent_tools.py
  backend/app/api/memory_bulk_ops.py
  backend/app/api/memory_settings.py
  backend/app/middleware/access_control.py
  backend/app/services/agent_runner/claude_executor.py
  backend/app/services/agent_runner/gemini_executor.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/memory_models.py
  backend/app/services/memory/memory_queries.py
  backend/app/services/memory/memory_stats.py
  backend/app/services/memory/service.py
  frontend/src/app/memory/page.tsx
  frontend/src/components/memory/MemoryTable.tsx
  frontend/src/components/memory/MemoryTableRow.tsx
  frontend/src/hooks/use-memory.ts
  frontend/src/lib/memory-api.ts
  frontend/src/lib/memory-config.ts
  packages/agent-hub-client/agent_hub/client.py
  packages/agent-hub-client/pyproject.toml
Due: mypy, eslint, tsc, prettier

chore: 1 file changed, 382 insertions(+)
  docs/agentic-workflow-audit-2026-01-30.md
Due: none

chore(backend): 5 files changed, 81 insertions(+), 2 deletions(-)
  backend/app/api/complete.py
  backend/app/middleware/access_control.py
  backend/app/models/client.py
  backend/app/services/memory/context_injector.py
  backend/migrations/versions/t9u0v1w2x3y4_add_allowed_projects_to_clients.py
Due: mypy

chore(fullstack): 11 files changed, 315 insertions(+), 19 deletions(-)
  backend/app/api/access_control.py
  backend/app/api/access_control_helpers.py
  backend/app/api/access_control_schemas.py
  backend/app/api/complete.py
  backend/app/middleware/access_control.py
  frontend/src/__tests__/sessions.test.tsx
  frontend/src/app/access-control/clients/[id]/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/sessions/page.tsx
  frontend/src/components/chat/session-sidebar.tsx
  frontend/src/lib/api.ts
Due: mypy, eslint, tsc, prettier

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
