Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

debug: add mention override logging
  backend/app/api/complete/resolution.py
Due: mypy

fix(cloudflare): Correct model IDs, handle raw image bytes and non-string content
  backend/app/adapters/_openai_compat_helpers.py
  backend/app/adapters/cloudflare.py
  backend/app/adapters/cloudflare_image.py
  backend/app/api/complete/resolution.py
Due: mypy

fix(cloudflare): FLUX.2-dev always requires multipart form data
  backend/app/adapters/cloudflare_image.py
Due: mypy

fix(cloudflare): Handle None reference_image in multipart upload
  backend/app/adapters/cloudflare_image.py
Due: mypy

feat(cloudflare_image): Add img2img support for SD models
  backend/app/adapters/cloudflare_image.py
  backend/app/constants/models.py
Due: mypy

fix(cloudflare_image): Use image_b64 for reference image and add num_steps
  backend/app/adapters/cloudflare_image.py
Due: mypy

fix(health_prober, cache): Circuit breaker + probe timeout, strip @mention from messages
  backend/app/api/complete/resolution.py
  backend/app/services/health_prober.py
  backend/tests/api/complete/test_parse_mention.py
  backend/tests/services/test_health_prober.py
Due: mypy

fix(mention): Pass @mention-overridden model through fallback chain
  backend/app/api/complete/complete_execution.py
  backend/app/api/complete/execution.py
  backend/app/services/agent_routing_completion.py
Due: mypy

fix(persona): Improve activity display and filtering
  .index.yaml
  backend/app/api/persona/activity.py
  frontend/src/app/persona/components/ActivityTimeline.tsx
  frontend/src/app/persona/components/HeartbeatSessionCard.tsx
Due: mypy, eslint, tsc, prettier

chore(fullstack): 6 files changed, 44 insertions(+), 3 deletions(-)
  .index.yaml
  backend/app/adapters/_claude_constants.py
  backend/app/adapters/_claude_sdk_builder.py
  backend/app/adapters/claude_streaming.py
  backend/app/adapters/claude_tools_helpers.py
  frontend/src/app/persona/settings/hooks/usePersonaSettings.ts
Due: mypy, eslint, tsc, prettier

feat(event_storage): Add tool result content extraction and storage
  backend/app/services/event_storage.py
  backend/app/workflows/_heartbeat_postprocess.py
  backend/scripts/seed_agents_data/_support_coordination.py
Due: mypy

fix(persona): Add text spacing utility and update heartbeat summary test
  backend/tests/workflows/test_heartbeat_postprocess.py
  frontend/src/app/persona/utils/text.ts
Due: eslint, tsc, prettier

style: auto-format from pre-commit hooks
  backend/app/models/__init__.py
  backend/app/services/session_responses.py
  backend/tests/services/test_event_storage.py
Due: mypy

refactor(tool_event_processor): Track tool_use_id to tool_name mapping
  backend/app/api/complete/tool_event_processor.py
  backend/app/api/persona/activity.py
  backend/app/models/__init__.py
  backend/app/models/persona.py
  backend/app/services/event_storage.py
  backend/tests/services/test_event_storage.py
  frontend/src/app/persona/components/ActivityTimeline.tsx
  frontend/src/app/persona/components/HeartbeatSessionCard.tsx
  frontend/src/app/persona/settings/components/VoiceHeartbeatTab.tsx
Due: mypy, eslint, tsc, prettier

chore(deps): update alembic migrations and tool event processing
  backend/alembic/versions/163e34a7c829_backfill_tool_result_content_from_tool_.py
  backend/alembic/versions/4181a970370b_drop_abandoned_persona_journal_table.py
  backend/app/api/complete/tool_event_processor.py
  backend/app/api/complete/tool_event_storage.py
  backend/app/api/complete/tool_handler_utils.py
  backend/app/api/persona/__init__.py
  backend/app/models/session.py
  backend/app/services/_persona_onboarding.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/tests/api/test_persona.py
  backend/tests/services/test_event_storage.py
  frontend/src/app/persona/hooks/usePersona.ts
  frontend/src/app/persona/page.tsx
  frontend/src/app/persona/settings/hooks/usePersonaSettings.ts
Due: mypy, eslint, tsc, prettier

style: auto-format from pre-commit hooks
  frontend/src/app/persona/settings/hooks/usePersonaSettings.ts
Due: eslint, tsc, prettier

refactor(journal): Remove unused id field from JournalEntryResponse
  backend/app/api/persona/journal.py
  backend/app/api/persona/schemas.py
  backend/tests/api/test_persona.py
  frontend/src/app/persona/settings/components/PersonaSettingsSidebar.tsx
  frontend/src/app/persona/settings/components/PersonalityTab.tsx.tmp.706940.1772464114488
  frontend/src/app/persona/settings/hooks/usePersonaSettings.ts
Due: mypy, eslint, tsc, prettier

style: auto-format from pre-commit hooks
  frontend/src/app/persona/settings/components/PersonalityTab.tsx
  frontend/src/app/persona/settings/components/PersonalityTab.tsx.tmp.706940.1772464114488
  frontend/src/app/persona/settings/page.tsx
Due: eslint, tsc, prettier

test(persona): add tests for _build_session_query
  backend/tests/api/test_persona.py
  backend/tests/api/test_sessions.py
  frontend/src/app/persona/settings/page.tsx
Due: eslint, tsc, prettier

test(backend): refine _extract_tool_result_content tests
  backend/tests/services/test_event_storage.py
  frontend/src/app/persona/settings/page.tsx
Due: eslint, tsc, prettier

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
