Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

refactor(_heartbeat_prompt): split into focused sub-modules under 150 lines
  backend/alembic/versions/4df8bb79ca83_add_timeout_and_fallback_tracking_to_.py
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/app/workflows/_heartbeat_templates.py
Due: mypy

refactor(streaming): Extract streaming tool logic into separate modules
  backend/alembic/versions/4df8bb79ca83_add_timeout_and_fallback_tracking_to_.py
  backend/app/api/complete/streaming_tool_executor.py
  backend/app/api/complete/streaming_tool_loop.py
  backend/app/api/complete/streaming_tool_messages.py
  backend/app/api/complete/streaming_tool_retry.py
Due: mypy

refactor(api): Simplify completion execution logic
  backend/alembic/versions/4df8bb79ca83_add_timeout_and_fallback_tracking_to_.py
  backend/app/api/complete/complete_execution.py
Due: mypy

chore(backend): 3 files changed, 114 insertions(+), 131 deletions(-)
  backend/alembic/versions/4df8bb79ca83_add_timeout_and_fallback_tracking_to_.py
  backend/app/api/complete/_session_helpers.py
  backend/app/api/complete/session_manager.py
Due: mypy

refactor(tier_optimizer): reduce to 149 lines, replace Any with proper Callable/TypedDict types
  backend/alembic/versions/4df8bb79ca83_add_timeout_and_fallback_tracking_to_.py
  backend/app/services/memory/tier_optimizer.py
Due: mypy

refactor(tier_optimizer): trim to 147 lines, optimize_tiers to 50 lines, no Any types
  backend/app/services/memory/tier_optimizer.py
Due: mypy

chore(index): update file counts and generation time
  .index.yaml
Due: none

feat(image): Add NVIDIA and MiniMax image generation adapters
  backend/app/adapters/minimax_image.py
  backend/app/adapters/nvidia_image.py
  backend/app/api/image.py
  backend/app/constants/__init__.py
  backend/app/constants/catalog.py
  backend/app/constants/models.py
Due: mypy

feat(agent-hub): add sync_timeouts endpoint and update file counts
  .index.yaml
Due: none

feat(models): Add NVIDIA provider to model selection
  frontend/src/app/models/page.tsx
  frontend/src/components/models/model-filters.tsx
Due: eslint, tsc, prettier

chore(.index.yaml): update generated timestamp
  .index.yaml
Due: none

feat(models): Add provider display names to model list response
  backend/app/api/models.py
  backend/app/constants/__init__.py
  backend/app/constants/models.py
  frontend/src/app/models/page.tsx
  frontend/src/components/chat/use-models.ts
  frontend/src/components/models/model-filters.tsx
  frontend/src/components/models/model-radar.tsx
  packages/chat-ui/src/components/use-models.ts
  packages/chat-ui/src/types/chat.ts
Due: mypy, eslint, tsc, prettier

chore(.index.yaml): update generated_at timestamp
  .index.yaml
Due: none

fix: Remove env var fallbacks from all adapters — credential manager is single source of truth
  backend/app/adapters/gemini.py
  backend/app/adapters/gemini_image.py
  backend/app/adapters/minimax.py
  backend/app/adapters/minimax_image.py
  backend/app/adapters/nvidia.py
  backend/app/adapters/nvidia_image.py
  backend/app/adapters/openai.py
  backend/app/adapters/openrouter.py
  backend/app/adapters/xai.py
  backend/app/adapters/zhipu.py
  backend/app/api/providers.py
  backend/app/config.py
  backend/app/services/memory/embedder.py
  backend/tests/adapters/test_credential_resolution.py
  backend/tests/adapters/test_gemini.py
  backend/tests/adapters/test_gemini_cloudcode.py
  backend/tests/adapters/test_interface.py
  backend/tests/adapters/test_openai.py
  backend/tests/adapters/test_openrouter.py
  backend/tests/adapters/test_xai.py
  backend/tests/adapters/test_zhipu.py
  backend/tests/integration/test_status_endpoint.py
  backend/tests/services/test_agent_routing.py
Due: mypy

feat(image): Add reference image support for image generation
  backend/app/adapters/gemini_image.py
  backend/app/adapters/image_base.py
  backend/app/adapters/minimax_image.py
  backend/app/adapters/nvidia_image.py
  backend/app/api/image.py
  backend/app/constants/__init__.py
  backend/app/constants/catalog.py
  backend/app/constants/models.py
Due: mypy

refactor(persona, image): Update persona prompt and image generation handling
  backend/alembic/versions/65a08072c8a0_update_persona_prompt_explicit_project.py
  backend/app/api/image.py
  backend/tests/api/test_image.py
Due: mypy

feat(cloudflare): add Cloudflare Workers AI adapter
  backend/app/adapters/cloudflare.py
  backend/app/adapters/cloudflare_image.py
  backend/app/adapters/nvidia_image.py
  backend/app/adapters/registry.py
  backend/app/api/image.py
  backend/app/constants/catalog.py
  backend/app/constants/models.py
  backend/tests/adapters/test_cloudflare.py
  backend/tests/adapters/test_registry.py
  frontend/src/components/settings/ProviderActionButtons.tsx
  frontend/src/components/settings/ProviderCard.tsx
  frontend/src/components/settings/ProviderCardTypes.ts
  frontend/src/components/settings/ProviderForm.tsx
  frontend/src/components/settings/ProviderStatusDisplay.tsx
  frontend/src/components/settings/ProvidersTab.tsx
  frontend/src/components/settings/constants.ts
Due: mypy, eslint, tsc, prettier

chore(index): update generated_at timestamp
  .index.yaml
Due: none

fix(credentials): Add account_id to valid types and dynamically list providers
  backend/app/api/credentials.py
Due: mypy

feat(mention): Derive @mention provider prefixes dynamically from PROVIDER_NAMES
  backend/app/api/complete/helpers.py
  backend/tests/api/complete/test_parse_mention.py
Due: mypy
