Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

fix(cli): improve db command error handling
  scripts/db.sh
Due: none

fix: resolve lint and type errors in backend
  backend/agent_hub.db
  backend/app/api/__init__.py
  backend/app/api/complete.py
  backend/app/api/db.py
  backend/app/api/memory.py
  backend/app/api/orchestration.py
  backend/app/services/memory/graphiti_client.py
  backend/app/services/memory/tier_optimizer.py
  tasks/self-reflection-system/plan.json
Due: mypy

test(fullstack): 5 files changed, 1 insertion(+), 367 deletions(-)
  backend/tests/services/test_contextual_surfacing.py
  backend/tests/services/test_mem_it_command.py
  backend/tests/services/test_response_cache.py
  backend/tests/services/test_token_counter.py
  frontend/src/__tests__/multi-agent.test.tsx
Due: eslint, tsc, prettier

chore(tasks): add revised plan for task-181399fe
  tasks/task-181399fe/plan.json
Due: none

feat(api): extract complete_internal() for unified completion path
  backend/app/api/complete.py
Due: mypy

feat(cleanup): remove user feedback system (API, storage, model, tests)
  .index.yaml
  .summitflow/context.json
  backend/app/api/__init__.py
  backend/app/api/complete.py
  backend/app/api/feedback.py
  backend/app/models.py
  backend/app/storage/feedback.py
  backend/pyproject.toml
  backend/tests/api/test_feedback.py
  backend/uv.lock
Due: mypy

feat(cleanup): remove user feedback UI components from frontend
  frontend/src/__tests__/feedback.test.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/chat/message-list.tsx
  frontend/src/components/feedback/feedback-buttons.tsx
  frontend/src/components/feedback/feedback-modal.tsx
  frontend/src/components/feedback/index.ts
  frontend/src/lib/api.ts
Due: eslint, tsc, prettier

feat(memory): add helpful_count/harmful_count fields for ACE-aligned ratings
  backend/app/services/memory/__init__.py
  backend/app/services/memory/usage_tracker.py
Due: mypy

feat(api): add episode rating endpoint for ACE-aligned agent feedback
  backend/app/api/memory.py
  packages/agent-hub-client/agent_hub/client.py
Due: mypy

feat(memory): update tier_optimizer to use helpful_count/harmful_count
  backend/app/services/memory/tier_optimizer.py
Due: mypy

feat(sdk): add session_id, memory_uuids, cited_uuids to AgentRunResponse
  packages/agent-hub-client/agent_hub/models.py
  packages/agent-hub-client/pyproject.toml
Due: none

chore(backend): 3 files changed, 154 insertions(+), 78 deletions(-)
  .summitflow/context.json
  backend/app/api/memory.py
  backend/app/services/agent_runner.py
Due: mypy

chore(backend): 1 file changed, 20 insertions(+), 2 deletions(-)
  backend/app/api/orchestration.py
Due: mypy

chore(backend): 2 files changed, 2 insertions(+), 2 deletions(-)
  backend/app/api/orchestration.py
  backend/app/services/agent_runner.py
Due: mypy

chore: 1 file changed, 250 insertions(+)
  docs/test-results-citation-feedback-loop.md
Due: none

chore(backend): 4 files changed, 72 insertions(+), 28 deletions(-)
  backend/app/api/memory.py
  backend/app/services/agent_runner.py
  packages/agent-hub-client/agent_hub/client.py
Due: mypy

chore(backend): 4 files changed, 72 insertions(+), 28 deletions(-)
  backend/app/api/memory.py
  backend/app/services/agent_runner.py
  docs/test-results-citation-feedback-loop.md
  packages/agent-hub-client/agent_hub/client.py
Due: mypy

test(backend): 11 files changed, 384 insertions(+), 2134 deletions(-)
  .summitflow/context.json
  backend/app/api/orchestration.py
  backend/app/services/completion.py
  backend/app/services/memory/__init__.py
  backend/app/services/memory/context_injector.py
  backend/app/services/orchestration/__init__.py
  backend/app/services/orchestration/roundtable.py
  backend/tests/integration/test_learning_loop.py
  backend/tests/orchestration/test_roundtable.py
  backend/tests/services/memory/test_context_injector.py
  tasks/memory-system-alignment/plan.json
Due: mypy

chore(backend): 1 file changed, 83 insertions(+), 20 deletions(-)
  backend/app/services/agent_runner.py
Due: mypy

chore(backend): 5 files changed, 5 insertions(+), 66 deletions(-)
  backend/app/services/memory/scoring.py
  backend/app/services/memory/selection.py
  backend/app/services/memory/variants.py
  backend/scripts/seed_agents.py
  backend/tests/services/memory/test_variants.py
Due: mypy

chore(frontend): 3 files changed, 4 insertions(+), 170 deletions(-)
  frontend/src/app/agents/[slug]/page.tsx
  frontend/src/app/agents/[slug]/playground/page.tsx
  frontend/src/app/agents/page.tsx
Due: eslint, tsc, prettier

chore: 1 file changed, 1 insertion(+), 1 deletion(-)
  .summitflow/context.json
Due: none
