Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

chore: 1 file changed, 1 insertion(+), 1 deletion(-)
  .summitflow/context.json
Due: none

chore(fullstack): 2 files changed, 130 insertions(+), 10 deletions(-)
  backend/app/api/agents.py
  frontend/src/app/agents/[slug]/page.tsx
Due: mypy, eslint, tsc, prettier

fix(memory): rating flush for EntityEdge UUIDs and enum values
  backend/app/services/memory/usage_tracker.py
  backend/migrations/versions/l1m2n3o4p5q6_add_usage_metric_types.py
Due: mypy

chore(fullstack): 20 files changed, 1019 insertions(+), 25 deletions(-)
  .summitflow/context.json
  backend/app/api/__init__.py
  backend/app/api/agents.py
  backend/app/api/complete.py
  backend/app/api/global_instructions.py
  backend/app/api/orchestration.py
  backend/app/middleware/access_control.py
  backend/app/services/agent_routing.py
  backend/app/services/agent_runner.py
  backend/app/services/memory/context_injector.py
  backend/migrations/versions/m2n3o4p5q6r7_add_global_instructions_table.py
  backend/pyproject.toml
  backend/pytest.ini
  frontend/src/app/agents/[slug]/page.tsx
  frontend/src/app/agents/page.tsx
  frontend/src/components/GlobalInstructionsPanel.tsx
  frontend/src/components/InheritedContextPreview.tsx
  frontend/tsconfig.json
  frontend/vitest.config.ts
  tasks/dev-standards-enforcement/plan.json
Due: mypy, eslint, tsc, prettier

feat(sdk): add memory methods to AgentHubClient
  packages/agent-hub-client/agent_hub/client.py
Due: none

chore(backend): 5 files changed, 830 insertions(+), 28 deletions(-)
  backend/app/api/complete.py
  backend/app/services/memory/context_injector.py
  backend/app/services/tools/claude_tools.py
  backend/pyproject.toml
  tasks/type-safety-cleanup/plan.json
Due: mypy

feat(debug): add debug logging module for LLM observability
  backend/app/api/complete.py
  backend/app/core/__init__.py
  backend/app/core/debug.py
Due: mypy

chore(backend): 1 file changed, 36 insertions(+), 9 deletions(-)
  backend/app/middleware/access_control.py
Due: mypy

chore(fullstack): 4 files changed, 14 insertions(+), 38 deletions(-)
  backend/app/api/admin.py
  backend/app/middleware/kill_switch.py
  frontend/src/app/admin/page.tsx
  frontend/src/lib/memory-api.ts
Due: mypy, eslint, tsc, prettier

chore(backend): remove dead code detected by vulture
  backend/app/adapters/claude.py
  backend/app/adapters/gemini.py
  backend/app/adapters/openai.py
  backend/app/api/analytics.py
  backend/app/services/memory/episode_formatter.py
  backend/app/services/session_cleanup.py
  backend/app/services/telemetry.py
Due: mypy

chore(backend): 2 files changed, 90 insertions(+), 8 deletions(-)
  backend/app/api/memory.py
  backend/app/services/memory/service.py
Due: mypy

refactor(backend): reduce migrate_rules_to_graphiti.py from 932 to 261 lines
  backend/scripts/memory/__init__.py
  backend/scripts/memory/rule_categorization.py
  backend/scripts/memory/rule_parser.py
  backend/scripts/memory/st_cli_splitter.py
  backend/scripts/migrate_rules_to_graphiti.py
Due: none

refactor(frontend): reduce agents/page.tsx from 702 to 206 lines (70% reduction)
  frontend/src/app/agents/components/AgentActionsMenu.tsx
  frontend/src/app/agents/components/AgentRow.tsx
  frontend/src/app/agents/components/AgentsTable.tsx
  frontend/src/app/agents/components/AgentsTableHeader.tsx
  frontend/src/app/agents/components/MetricCell.tsx
  frontend/src/app/agents/components/ModelPill.tsx
  frontend/src/app/agents/components/SortableHeader.tsx
  frontend/src/app/agents/components/Sparkline.tsx
  frontend/src/app/agents/components/StatusBadge.tsx
  frontend/src/app/agents/hooks/useAgentFiltering.ts
  frontend/src/app/agents/lib/api.ts
  frontend/src/app/agents/lib/types.ts
  frontend/src/app/agents/page.tsx
Due: eslint, tsc, prettier

refactor(backend): split orchestration.py into focused modules (582→46 lines)
  backend/app/api/endpoints/agent_runner.py
  backend/app/api/endpoints/maker_checker.py
  backend/app/api/endpoints/parallel.py
  backend/app/api/endpoints/subagent.py
  backend/app/api/orchestration.py
  backend/app/api/orchestration_models.py
Due: mypy

chore(fullstack): 17 files changed, 1349 insertions(+), 1027 deletions(-)
  backend/app/models/__init__.py
  backend/app/models/agent.py
  backend/app/models/base.py
  backend/app/models/client.py
  backend/app/models/config.py
  backend/app/models/memory.py
  backend/app/models/roundtable.py
  backend/app/models/session.py
  backend/app/models/telemetry.py
  frontend/src/components/chat/input-buttons.tsx
  frontend/src/components/chat/mention-chip.tsx
  frontend/src/components/chat/mention-popup.tsx
  frontend/src/components/chat/message-input.tsx
  frontend/src/components/chat/model-options.ts
  frontend/src/components/chat/use-mention-popup.ts
  frontend/src/components/chat/use-voice-input.ts
Due: mypy, eslint, tsc, prettier

chore(fullstack): 17 files changed, 1560 insertions(+), 55 deletions(-)
  .index.yaml
  .summitflow/context.json
  backend/app/api/memory.py
  backend/app/models/memory.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/graphiti_client.py
  backend/app/services/memory/service.py
  backend/app/services/memory/settings.py
  backend/app/services/memory/tier_optimizer.py
  frontend/src/app/memory/page.tsx
  frontend/src/components/memory/EditEpisodeModal.tsx
  frontend/src/components/memory/ExpandedRowContent.tsx
  frontend/src/components/memory/MemorySettingsModal.tsx
  frontend/src/components/memory/MemoryTable.tsx
  frontend/src/components/memory/MemoryTableRow.tsx
  frontend/src/lib/api/memory-settings.ts
  frontend/src/lib/memory-api.ts
Due: mypy, eslint, tsc, prettier

chore(backend): 2 files changed, 4 insertions(+), 1 deletion(-)
  .index.yaml
  backend/app/services/memory/service.py
Due: mypy

chore(backend): 3 files changed, 33 insertions(+), 2 deletions(-)
  .index.yaml
  backend/app/services/memory/tier_optimizer.py
  backend/migrations/versions/07e7336a2688_add_per_tier_limits_to_memory_settings.py
Due: mypy

chore(frontend): 1 file changed, 6 insertions(+), 6 deletions(-)
  frontend/src/components/memory/MemorySettingsModal.tsx
Due: eslint, tsc, prettier

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
