Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

feat(claude): Implement cache control and abort event
  backend/app/adapters/base.py
  backend/app/adapters/claude.py
  backend/app/adapters/gemini.py
  backend/app/api/wake.py
  backend/app/workflows/johnny_heartbeat.py
  backend/app/workflows/johnny_wake.py
Due: mypy

feat(adapters): Implement dual-interface EventStream
  backend/app/adapters/event_stream.py
  backend/tests/adapters/test_event_stream.py
Due: mypy

refactor(adapters): Use ToolEvent, ToolMessage, ToolContentBlock consistently
  backend/app/adapters/cloudcode_claude.py
  backend/app/adapters/gemini_cloudcode.py
  backend/app/adapters/gemini_events.py
  backend/app/adapters/gemini_tools.py
  backend/app/api/complete/tool_claude_processor.py
  backend/app/api/complete/tool_gemini_processor.py
  backend/app/api/complete/tool_handler_utils.py
  backend/app/api/complete/tool_handlers.py
  backend/app/api/complete/tool_response_finalizer.py
Due: mypy

docs(adapter-registry): Document adapter registry rewrite
  backend/docs/adapter-registry-rewrite.md
Due: none

refactor(tools): Preserve thoughtSignature and adjust max_turns for tool execution
  backend/app/adapters/cloudcode_claude.py
  backend/app/adapters/gemini_cloudcode.py
  backend/app/api/complete/_core_helpers.py
  backend/app/api/complete/tool_handler_utils.py
  backend/tests/adapters/test_claude_tools_permissions.py
Due: mypy

style: auto-format from pre-commit hooks
  backend/app/api/complete/async_dispatch.py
Due: mypy

refactor(completion): Improve thinking_level resolution and passing
  backend/app/adapters/gemini_cloudcode.py
  backend/app/api/complete/async_dispatch.py
  backend/app/api/complete/complete_execution.py
  backend/app/api/complete/complete_orchestrator.py
  backend/app/api/complete/execution.py
  backend/app/services/agent_routing_completion.py
Due: mypy

refactor(gemini): Remove unused logging and update thinking info logic
  backend/app/adapters/gemini_cloudcode.py
  backend/app/api/complete/handler_helpers.py
Due: mypy

fix(claude_oauth): Use .get() for dict access in cache metrics
  backend/app/adapters/claude_oauth.py
Due: mypy

fix(gemini_cloudcode): Add error handling for CloudCode completion
  backend/app/adapters/gemini_cloudcode.py
  backend/app/services/agent_routing_completion.py
Due: mypy

feat(agent): add escalation model to agent routing
  backend/app/api/complete/complete_orchestrator.py
  backend/app/api/complete/handlers.py
  backend/app/services/agent_routing_completion.py
  backend/tests/services/test_agent_routing.py
Due: mypy

feat(push): add push notification endpoints and update index
  .index.yaml
  backend/app/middleware/access_control_paths.py
Due: mypy

feat(chat-ui): add alwaysSpeak prop to ChatPanel
  .index.yaml
  packages/chat-ui/src/components/chat-panel.tsx
Due: none

fix(streaming_handlers): Correct import order for consistency
  backend/app/api/complete/streaming_handlers.py
Due: mypy

fix(streaming_handlers): Reorder import for tool definitions
  backend/app/api/complete/streaming_handlers.py
Due: mypy

feat(claude): Support tool use and streaming execution
  backend/app/adapters/claude.py
  backend/app/adapters/types.py
  backend/app/api/complete/response_schemas.py
  backend/app/api/complete/streaming.py
  backend/app/api/complete/streaming_handlers.py
  frontend/src/components/chat/chat-panel.tsx
Due: mypy, eslint, tsc, prettier

chore(index): update generated_at timestamp and file counts
  .index.yaml
Due: none

chore(.index.yaml): update generated timestamp
  .index.yaml
Due: none

feat(gemini): adapt tool use and tool result for Gemini
  .index.yaml
  backend/app/adapters/gemini_cloudcode.py
  backend/app/adapters/gemini_messages.py
  backend/app/api/complete/streaming.py
  frontend/src/components/chat/chat-panel.tsx
Due: mypy, eslint, tsc, prettier

refactor(gemini): Preserve thoughtSignature for tool calls
  .index.yaml
  backend/app/adapters/gemini_cloudcode.py
  backend/app/adapters/gemini_utils.py
  backend/app/adapters/types.py
  backend/app/api/complete/streaming.py
  backend/app/services/tools/tool_definitions.py
  frontend/src/app/chat/components/ChatHeader.tsx
  frontend/src/app/chat/page.tsx
  frontend/src/components/chat/chat-panel.tsx
Due: mypy, eslint, tsc, prettier

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
