Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

fix(chat): honor agent query selection
  frontend/src/app/chat/hooks/useAgentSelection.ts
Due: eslint, tsc, prettier

chore(refactor-agent): accept natural chat task requests
  backend/scripts/seed_agents_data/seed_data.json
Due: none

fix(chat): keep tool sessions bound to context
  frontend/src/__tests__/chat-page-context-binding.test.tsx
  frontend/src/__tests__/chat-stream-send-message.test.ts
  frontend/src/app/chat/page.tsx
  packages/chat-ui/src/hooks/chat-stream/send-message.ts
Due: eslint, tsc, prettier

chore(refactor-agent): use stronger primary model
  backend/scripts/seed_agents_data/seed_data.json
Due: none

chore(refactor-agent): restore codex fallback
  backend/scripts/seed_agents_data/seed_data.json
Due: none

fix(chat): allow longer tool task runs
  frontend/src/__tests__/chat-stream-send-message.test.ts
  packages/chat-ui/src/hooks/chat-stream/send-message.ts
Due: eslint, tsc, prettier

fix(agents): preserve refactor model assignment
  backend/app/services/agent_model_reconciliation_service.py
  backend/tests/services/test_agent_model_reconciliation_service.py
Due: mypy

refactor: simplify agent routing completion
  backend/app/services/agent_routing_completion.py
Due: mypy

Refactor heartbeat orchestrator helpers
  backend/app/workflows/_heartbeat_orchestrators.py
Due: mypy

Refactor consultation helper structure
  backend/app/services/tools/_executor_consultation_helpers.py
Due: mypy

feat: inject compact st usage guidance
  backend/app/api/helpers/agent_preview.py
  backend/app/services/memory/context_injector_ops.py
  backend/app/services/memory/st_usage_memory.py
  backend/app/services/memory/tool_capability_context.py
  backend/tests/api/test_agent_preview_helper.py
  backend/tests/services/memory/test_st_usage_memory.py
  backend/tests/services/memory/test_tool_capability_context.py
Due: mypy

test: cover st usage guidance injection
  backend/tests/services/memory/test_context_injector.py
Due: none

feat: surface st usage analytics
  .gitignore
  backend/app/services/memory/analytics_models.py
  backend/app/services/memory/analytics_service.py
  backend/app/services/memory/st_usage_memory.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/services/memory/test_analytics_dashboard.py
  frontend/src/components/memory/tabs/analytics-content.tsx
  frontend/src/lib/memory-types.ts
Due: mypy, eslint, tsc, prettier

feat: surface st usage analytics
  .gitignore
  backend/app/services/memory/analytics_models.py
  backend/app/services/memory/analytics_service.py
  backend/app/services/memory/st_usage_memory.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/services/memory/test_analytics_dashboard.py
  frontend/src/components/memory/tabs/analytics-content.tsx
  frontend/src/lib/memory-types.ts
  graphify-out/GRAPH_REPORT.md
Due: mypy, eslint, tsc, prettier

chore: refresh graphify report
  graphify-out/GRAPH_REPORT.md
Due: none

Fix feedback duplicate matching
  backend/app/services/feedback_storage.py
  backend/tests/services/test_feedback_storage.py
Due: mypy

Refresh graphify report
  graphify-out/GRAPH_REPORT.md
Due: none

Enable GitNexus repo context
  .claude/skills/gitnexus/gitnexus-cli/SKILL.md
  .claude/skills/gitnexus/gitnexus-debugging/SKILL.md
  .claude/skills/gitnexus/gitnexus-exploring/SKILL.md
  .claude/skills/gitnexus/gitnexus-guide/SKILL.md
  .claude/skills/gitnexus/gitnexus-impact-analysis/SKILL.md
  .claude/skills/gitnexus/gitnexus-refactoring/SKILL.md
  .gitignore
Due: none

Enable GitNexus repo context
  .gitignore
Due: none

chore: publish agent-hub workspace state
  frontend/src/app/persona/components/TimeRangeDropdown.tsx
  frontend/src/app/persona/components/WorkspaceToolbar.tsx
Due: eslint, tsc, prettier

Cover persona toolbar mobile wrapping
  frontend/src/__tests__/workspace-toolbar.test.tsx
Due: eslint, tsc, prettier

Publish native Telegram cutover
  backend/app/config.py
  backend/app/db.py
  backend/app/services/telegram_bot_service.py
  backend/app/services/telegram_config_service.py
  backend/app/services/tools/command_guard.py
  backend/app/workflows/persona_scheduler.py
  backend/pyproject.toml
  backend/tests/services/test_telegram_bot_service.py
  backend/tests/services/test_telegram_config_service.py
  backend/tests/services/tools/test_command_guard_resolution.py
  backend/tests/test_config.py
  backend/tests/test_db_config.py
  backend/tests/workflows/test_persona_scheduler_telegram.py
  docs/telegram-native-operator-setup.md
Due: mypy

Publish native Telegram cutover
  backend/app/config.py
  backend/app/db.py
  backend/app/services/telegram_bot_service.py
  backend/app/services/telegram_config_service.py
  backend/app/services/tools/command_guard.py
  backend/app/workflows/persona_scheduler.py
  backend/pyproject.toml
  backend/tests/services/test_telegram_bot_service.py
  backend/tests/services/test_telegram_config_service.py
  backend/tests/services/tools/test_command_guard_resolution.py
  backend/tests/test_config.py
  backend/tests/test_db_config.py
  backend/tests/workflows/test_persona_scheduler_telegram.py
Due: mypy

test: preserve subtask dependency metadata
  backend/tests/tools/test_executor_io_tasks.py
Due: none

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
