Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

chore(frontend): 2 files changed, 359 insertions(+), 64 deletions(-)
  frontend/src/app/globals.css
  frontend/src/app/sessions/page.tsx
Due: eslint, tsc, prettier

chore(backend): 4 files changed, 75 insertions(+), 16 deletions(-)
  backend/app/api/memory.py
  backend/app/services/memory/context_injector.py
  backend/tests/api/test_sessions.py
  backend/tests/e2e/test_session_tracking.py
Due: mypy

chore(backend): 2 files changed, 30 insertions(+), 136 deletions(-)
  CLAUDE.md
  backend/app/services/memory/service.py
Due: mypy

chore(backend): 20 files changed, 2729 insertions(+), 21 deletions(-)
  backend/app/api/__init__.py
  backend/app/api/admin.py
  backend/app/api/sessions.py
  backend/app/celery_app.py
  backend/app/config.py
  backend/app/main.py
  backend/app/middleware/__init__.py
  backend/app/middleware/kill_switch.py
  backend/app/models.py
  backend/app/tasks/session_cleanup.py
  backend/app/tasks/session_cleanup_task.py
  backend/migrations/versions/c3d4e5f6g7h8_add_client_purpose_control_tables.py
  backend/migrations/versions/d4e5f6g7h8i9_add_agent_session_type.py
  backend/tests/api/test_kill_switch.py
  backend/tests/conftest.py
  frontend/src/app/admin/page.tsx
  packages/agent-hub-client/agent_hub/__init__.py
  packages/agent-hub-client/agent_hub/client.py
  packages/agent-hub-client/agent_hub/exceptions.py
  tasks/usage-control-kill-switch/plan.json
Due: mypy, eslint, tsc, prettier

feat(memory): redesign page with master-detail layout and high-density table
  frontend/src/app/memory/page.tsx
Due: eslint, tsc, prettier

feat(memory): inline accordion expansion replacing sidebar
  frontend/src/app/memory/page.tsx
Due: eslint, tsc, prettier

fix(sessions): add session_type parameter to session creation API
  backend/app/api/sessions.py
Due: mypy

fix(kill-switch): exempt dashboard endpoints from header requirement
  backend/app/middleware/kill_switch.py
Due: mypy

fix(nav): add Admin page to sidebar navigation
  frontend/src/components/layout/app-shell.tsx
Due: eslint, tsc, prettier

feat(kill-switch): auto-register new clients on first request
  backend/app/middleware/kill_switch.py
Due: mypy

feat(admin): redesign blocked requests with sortable table
  frontend/src/app/admin/page.tsx
Due: eslint, tsc, prettier

chore(fullstack): 2 files changed, 66 insertions(+), 9 deletions(-)
  backend/app/middleware/kill_switch.py
  frontend/src/app/admin/page.tsx
Due: mypy, eslint, tsc, prettier

docs(backend): 3 files changed, 202 insertions(+), 8 deletions(-)
  backend/app/services/memory/service.py
  backend/scripts/fix_episode_timestamps.py
  tasks/memory-system-validation.md
Due: mypy

docs(backend): 7 files changed, 295 insertions(+), 73 deletions(-)
  backend/app/services/completion.py
  backend/app/services/memory/consolidation.py
  backend/app/services/memory/learning_extractor.py
  backend/app/services/memory/tools.py
  backend/app/services/memory_webhook_handler.py
  tasks/memory-system-validation.md
  tasks/timestamp-consistency-fixes.md
Due: mypy

chore(backend): 14 files changed, 58 insertions(+), 57 deletions(-)
  backend/app/api/admin.py
  backend/app/api/analytics.py
  backend/app/api/api_keys.py
  backend/app/api/complete.py
  backend/app/services/api_key_auth.py
  backend/app/services/memory/learning_extractor.py
  backend/app/services/orchestration/parallel.py
  backend/app/services/orchestration/roundtable.py
  backend/app/services/orchestration/subagent.py
  backend/app/services/response_cache.py
  backend/app/services/stream_registry.py
  backend/app/storage/feedback.py
  backend/app/tasks/session_cleanup.py
  backend/scripts/migrate_rules_to_graphiti.py
Due: mypy

feat(backend): Add OpenAI placeholder adapter and constants
  backend/app/adapters/openai.py
  backend/app/api/complete.py
  backend/app/constants.py
Due: mypy

fix(memory): Return episodes in newest-first order for list view
  backend/app/services/memory/service.py
Due: mypy

feat(agents): Add Agent management system (Phase 1-2)
  backend/app/api/__init__.py
  backend/app/api/agents.py
  backend/app/api/openai_compat.py
  backend/app/models.py
  backend/app/services/agent_service.py
  backend/app/services/memory/__init__.py
  backend/app/services/memory/context_injector.py
  backend/migrations/versions/e5f6g7h8i9j0_add_agents_table.py
  backend/scripts/seed_agents.py
Due: mypy

feat(frontend): Add initial Agents list page
  frontend/src/app/agents/page.tsx
Due: eslint, tsc, prettier

fix(memory): Add build_agent_mandate_context to __all__
  backend/app/services/memory/__init__.py
Due: mypy
