Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

feat(sessions): Add model and agent info to session events
  .index.yaml
  backend/app/api/schemas/sessions.py
  backend/app/api/sessions.py
  backend/app/services/session_operations.py
  backend/app/services/tools/base.py
  backend/app/services/tools/tool_handler.py
Due: mypy

feat(adapters): Add tool execution duration to callbacks
  .index.yaml
  backend/app/adapters/claude.py
  backend/app/adapters/claude_tools.py
  backend/app/adapters/gemini.py
  backend/app/adapters/gemini_events.py
  backend/app/adapters/gemini_tools.py
  backend/app/api/complete/complete_orchestrator.py
  backend/app/api/complete/error_handlers.py
  backend/app/api/complete/handlers.py
  backend/app/api/complete/tool_gemini_processor.py
  backend/app/api/complete/tool_router.py
  skills/context-injection-rules.md
  skills/memory-management.md
Due: mypy

fix(orchestration): Import MakerChecker from correct module
  backend/tests/orchestration/test_maker_checker.py
Due: none

refactor(api): Update test mocks and imports for clarity and correctness
  backend/tests/adapters/test_openrouter.py
  backend/tests/api/test_async_completion.py
  backend/tests/api/test_complete_streaming.py
  backend/tests/api/test_health.py
  backend/tests/api/test_progressive_context_metrics.py
  backend/tests/core/test_router.py
  backend/tests/orchestration/test_maker_checker.py
  backend/tests/services/test_agent_routing.py
  backend/tests/services/test_cache_fallback.py
  backend/tests/services/test_completion_events.py
  backend/tests/services/test_cost_optimization.py
  backend/tests/services/test_message_transform.py
  backend/tests/services/test_response_cache.py
Due: none

feat(voice): Add transcription mode and client-side hook
  backend/app/api/endpoints/voice.py
  packages/passport-client/src/hooks/useTranscription.ts
  packages/passport-client/src/index.ts
  packages/passport-client/src/types/web-speech.d.ts
Due: mypy

feat(passport-client): Improve Web Speech API handling
  packages/passport-client/src/hooks/useTranscription.ts
  packages/passport-client/src/types/web-speech.d.ts
  scripts/db.sh
Due: none

fix(api): Validate project IDs at session creation and access
  backend/app/api/complete/complete_orchestrator.py
  backend/app/api/complete/session_manager.py
  backend/app/api/complete/validation.py
  backend/app/api/sessions.py
  backend/app/constants.py
  backend/app/middleware/access_control_handlers.py
  backend/app/services/session_operations.py
Due: mypy

feat(agents): Add Johnny concierge agent and chat deep-linking
  backend/scripts/seed_agents_data/__init__.py
  backend/scripts/seed_agents_data/concierge_agents.py
  frontend/src/app/chat/page.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/chat/message-input.tsx
Due: eslint, tsc, prettier

refactor(frontend): Extract model-comparison sections into separate components
  frontend/src/components/models/model-comparison-sections.tsx
  frontend/src/components/models/model-comparison.tsx
Due: eslint, tsc, prettier

refactor(settings): Extract tier matrix components and logic
  backend/app/api/complete/validation.py
  frontend/src/components/settings/tier-matrix-cell.tsx
  frontend/src/components/settings/tier-matrix-grid.tsx
  frontend/src/components/settings/tier-matrix-header.tsx
  frontend/src/components/settings/tier-matrix-selection.ts
  frontend/src/components/settings/tier-matrix-table.tsx
Due: mypy, eslint, tsc, prettier

refactor(passport-client): Split useTranscription hook into focused modules
  backend/app/api/complete/validation.py
  packages/passport-client/src/hooks/transcription/types.ts
  packages/passport-client/src/hooks/transcription/utils.ts
  packages/passport-client/src/hooks/transcription/webSpeechEngine.ts
  packages/passport-client/src/hooks/transcription/whisperEngine.ts
  packages/passport-client/src/hooks/useTranscription.ts
Due: mypy

feat(memory): Extract continuity query and formatting logic
  backend/app/api/complete/validation.py
  backend/app/services/memory/continuity_format.py
  backend/app/services/memory/continuity_injector.py
  backend/app/services/memory/continuity_query.py
Due: mypy

refactor(constants): Restructure constants into modules
  backend/app/api/complete/validation.py
  backend/app/constants/__init__.py
  backend/app/constants/catalog.py
  backend/app/constants/models.py
  backend/app/constants/projects.py
Due: mypy

chore: Remove unused Any import (auto-fix)
  backend/app/api/complete/validation.py
Due: mypy

chore(index): update project metadata and file counts
  .index.yaml
Due: none

feat(memory): Add alternative keys for budget and injection settings
  backend/app/services/memory/context_builder_settings.py
  backend/app/services/memory/context_injector.py
Due: mypy

refactor(chat-ui): Improve fetchFn type definition
  packages/chat-ui/src/components/chat-panel.tsx
  packages/chat-ui/src/components/message-input.tsx
  packages/chat-ui/src/components/use-models.ts
  packages/chat-ui/src/hooks/use-chat-stream.ts
Due: none

refactor(agents): Consolidate ideation agents and add ideator-public
  .index.yaml
  backend/agents/base.py
  backend/agents/registry.py
  backend/alembic/versions/957c414d0a1a_consolidate_ideation_agents.py
  backend/alembic/versions/eb3f732bc0d0_add_ideator_public_agent.py
  backend/app/adapters/gemini.py
  backend/app/adapters/types.py
  backend/app/api/complete/response_schemas.py
  backend/app/api/complete/streaming.py
  backend/app/api/complete/streaming_handlers.py
  backend/app/services/tools/tool_definitions.py
  backend/prompts/ideator-public.md
  backend/prompts/task-ideator.md
  backend/scripts/seed_agents_data/pipeline_agents.py
Due: mypy

feat(backend): Update agent seeding and CORS configuration
  backend/app/config.py
  backend/app/middleware/access_control.py
  backend/app/services/memory/metrics_collector.py
  backend/scripts/seed_agents.py
  backend/scripts/seed_agents_data.py
  backend/scripts/seed_agents_data/__init__.py
  backend/scripts/seed_agents_data/concierge_agents.py
  backend/scripts/seed_agents_data/core_agents.py
  backend/scripts/seed_agents_data/pipeline_agents.py
  backend/scripts/seed_agents_data/support_agents.py
Due: mypy
