Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

Accept heartbeat closeouts with progress tags
  backend/app/api/complete/closeout_policy.py
  backend/tests/api/complete/test_streaming_tool_loop.py
  backend/tests/api/complete/test_tool_response_finalizer.py
Due: mypy

wip(task-9c551975): recover prior shared-checkout changes
  backend/app/api/session_ingestion.py
  frontend/src/app/persona/page.tsx
Due: mypy, eslint, tsc, prettier

fix: 2.2 self-fix attempt 1
  backend/app/api/session_ingestion.py
Due: mypy

fix: 2.2 self-fix attempt 2
  backend/app/services/session_responses.py
Due: mypy

fix: 1.1 self-fix attempt 2
  backend/app/services/session_responses.py
  backend/app/services/session_tokens.py
  backend/app/services/session_transforms.py
Due: mypy

fix: 2.2 self-fix attempt 3
  backend/app/services/session_responses.py
Due: mypy

fix: 1.1 self-fix attempt 3
  frontend/src/app/persona/components/PersonaRunHud.tsx
  frontend/src/app/persona/components/persona-operator-chrome.tsx
Due: eslint, tsc, prettier

fix: 1.1 self-fix attempt 3
  frontend/src/app/persona/components/PersonaPromptBudgetPanel.tsx
  frontend/src/app/persona/components/PersonaThreadHeader.tsx
Due: eslint, tsc, prettier

fix: 1.1 self-fix attempt 3
  frontend/src/app/persona/components/PersonaBackgroundInbox.tsx
  frontend/src/app/persona/components/PersonaBlockerPanel.tsx
Due: eslint, tsc, prettier

fix: 1.1 self-fix attempt 1
  backend/app/services/_session_message_helpers.py
  backend/app/services/session_responses.py
  docs/tasks/agent-hub-sessions-persona-operator-refactor-reference.md
  frontend/src/app/persona/components/PersonaWorkflowComposer.tsx
  frontend/src/app/persona/components/WorkspaceChatFooter.tsx
  frontend/src/app/persona/page.tsx
Due: mypy, eslint, tsc, prettier

fix: 1.1 self-fix attempt 1
  backend/app/services/_session_message_helpers.py
  backend/app/services/session_responses.py
  frontend/src/app/persona/components/PersonaWorkflowComposer.tsx
  frontend/src/app/persona/components/WorkspaceChatFooter.tsx
  frontend/src/app/persona/page.tsx
Due: mypy, eslint, tsc, prettier

fix: 1.1 self-fix attempt 2
  backend/app/api/session_ingestion.py
Due: mypy

fix: 1.1 self-fix attempt 3
  backend/app/services/session_responses.py
Due: mypy

Subtask 1.1: Lock the shared truth model and current UX deficie
  backend/app/services/session_queries.py
Due: mypy

[FAILED] Subtask 3.1: Lock the refactor with focused tests, runtime/brow
  frontend/src/__tests__/persona-background-inbox.test.tsx
  frontend/src/__tests__/persona-operator-deck.test.tsx
  frontend/src/__tests__/persona-prompt-budget-panel.test.tsx
  frontend/src/__tests__/unified-persona-workspace-chat-state.test.tsx
  frontend/src/__tests__/workspace-chat-footer.test.tsx
Due: eslint, tsc, prettier

[FAILED] Subtask 3.1: Lock the refactor with focused tests, runtime/brow
  frontend/src/__tests__/unified-persona-workspace.test.tsx
Due: eslint, tsc, prettier

[FAILED] Subtask 3.1: Lock the refactor with focused tests, runtime/brow
  frontend/src/__tests__/persona-blocker-panel.test.tsx
  frontend/src/__tests__/persona-operator-deck.test.tsx
  frontend/src/__tests__/persona-page.test.tsx
  frontend/src/__tests__/persona-run-hud.test.tsx
  frontend/src/__tests__/persona-thread-header.test.tsx
  frontend/src/__tests__/persona-workflow-composer.test.tsx
Due: eslint, tsc, prettier

fix: 2.1 self-fix attempt 1
  backend/app/api/persona/activity.py
  backend/app/api/persona/schemas.py
  backend/app/api/schemas/sessions.py
  backend/app/api/sessions.py
  backend/app/services/session_live_activity.py
  backend/app/services/session_operations.py
  backend/app/services/session_queries.py
  backend/app/services/session_responses.py
  backend/app/services/session_transforms.py
  backend/tests/api/test_persona_activity.py
  backend/tests/api/test_sessions.py
  backend/tests/services/test_session_transforms.py
Due: mypy

fix: 2.1 self-fix attempt 2
  backend/tests/api/test_sessions.py
Due: none

test: restore operator command-center closeout verification
  backend/tests/api/test_persona.py
  backend/tests/api/test_persona_activity.py
  backend/tests/api/test_sessions.py
  backend/tests/e2e/test_session_tracking.py
Due: none

test: finalize operator surface closeout proof bundle
  artifacts/closeout/task-9c551975-api-list-row-proof-20260422T1012Z.md
  artifacts/closeout/task-9c551975-closeout-proof-summary-20260422T0955Z.md
  artifacts/closeout/task-9c551975-degraded-proof-vitest-20260422T095407Z.txt
  artifacts/closeout/task-9c551975-full-dt-check-20260422T095420Z.txt
  artifacts/closeout/task-9c551975-full-dt-check-20260422T100529Z.txt
  artifacts/closeout/task-9c551975-negative-proof-suite-20260422T100515Z.txt
  artifacts/closeout/task-9c551975-persona-handoff-draft.png
  artifacts/closeout/task-9c551975-persona-live-mobile.png
  artifacts/closeout/task-9c551975-persona-live-narrow.png
  artifacts/closeout/task-9c551975-persona-live.png
  artifacts/closeout/task-9c551975-sessions-live-mobile.png
  artifacts/closeout/task-9c551975-sessions-live-narrow.png
  artifacts/closeout/task-9c551975-sessions-live.png
  artifacts/closeout/task-9c551975-workflow-link-proof-20260422T1012Z.md
  frontend/src/__tests__/persona-workflow-composer.test.tsx
  frontend/src/__tests__/session-keyboard.test.tsx
  frontend/src/__tests__/unified-persona-workspace-chat-state.test.tsx
  frontend/src/__tests__/workspace-cards-keyboard.test.tsx
Due: eslint, tsc, prettier

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
