Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

refactor(memory): reduce session_analysis.py from 351 to 195 lines
  backend/app/services/memory/session_analysis.py
  backend/app/services/memory/session_analysis_feedback.py
  backend/app/services/memory/session_analysis_summary.py
Due: mypy

refactor(persona_service): split 329-line service into focused sub-modules
  backend/alembic/versions/61e8ed756630_add_previous_backup_columns_to_persona.py
  backend/app/services/_persona_context.py
  backend/app/services/_persona_crud.py
  backend/app/services/_persona_onboarding.py
  backend/app/services/persona_service.py
  backend/tests/adapters/test_claude_tools_permissions.py
  backend/tests/services/test_persona_tools.py
Due: mypy

feat(claude): Add Claude adapter core utilities
  backend/app/adapters/_claude_constants.py
  backend/app/adapters/_claude_json_utils.py
  backend/app/adapters/_claude_sdk_builder.py
  backend/app/adapters/claude_utils.py
Due: mypy

refactor(tools): split direct_executor_core into focused submodules
  backend/alembic/versions/61e8ed756630_add_previous_backup_columns_to_persona.py
  backend/app/services/tools/_executor_bash.py
  backend/app/services/tools/_executor_file_io.py
  backend/app/services/tools/_executor_registry.py
  backend/app/services/tools/direct_executor_core.py
  backend/tests/adapters/test_claude_tools_permissions.py
  backend/tests/services/test_persona_tools.py
Due: mypy

refactor(deps): update type hints for alembic and remove unused import
  backend/alembic/versions/61e8ed756630_add_previous_backup_columns_to_persona.py
  backend/tests/adapters/test_claude_tools_permissions.py
  backend/tests/services/test_persona_tools.py
Due: none

refactor(claude_oauth): reduce to 149 lines by extracting helpers and flattening nesting
  backend/alembic/versions/61e8ed756630_add_previous_backup_columns_to_persona.py
  backend/app/adapters/claude_oauth.py
  backend/tests/adapters/test_claude_tools_permissions.py
  backend/tests/services/test_persona_tools.py
Due: mypy

refactor(complete): Extract orchestration helpers
  backend/alembic/versions/61e8ed756630_add_previous_backup_columns_to_persona.py
  backend/app/api/complete/complete_orchestrator.py
  backend/app/api/complete/orchestration_helpers.py
  backend/tests/adapters/test_claude_tools_permissions.py
  backend/tests/services/test_persona_tools.py
  backend/tests/tools/test_persona_integration.py
Due: mypy

refactor(persona_heartbeat): extract prompt and redis helpers, reduce to 193 lines
  backend/alembic/versions/61e8ed756630_add_previous_backup_columns_to_persona.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/app/workflows/_heartbeat_redis.py
  backend/app/workflows/persona_heartbeat.py
  backend/tests/adapters/test_claude_tools_permissions.py
  backend/tests/services/test_persona_tools.py
Due: mypy

fix(claude): remove _sanitize_content from ClaudeAdapter to satisfy <=10 methods gate
  backend/app/adapters/claude.py
Due: mypy

fix(heartbeat): extract _execute_heartbeat to bring persona_heartbeat_task under 50 lines
  backend/app/workflows/persona_heartbeat.py
Due: mypy

fix(tools): re-export BLOCKED_COMMANDS from direct_executor_core for callers
  backend/app/services/tools/direct_executor_core.py
Due: mypy

fix(direct_executor_core): Import MAX_OUTPUT_SIZE
  backend/app/services/tools/direct_executor_core.py
Due: mypy

style: auto-format from pre-commit hooks
  backend/app/services/tools/direct_executor_core.py
Due: mypy

fix(direct_executor_core): Import constants from _executor_bash
  backend/app/services/tools/direct_executor_core.py
Due: mypy

refactor(persona_heartbeat): remove active hours check
  backend/app/workflows/persona_heartbeat.py
Due: mypy

feat(prompts): Add exclude_agents field to prompts and related logic
  .index.yaml
  backend/alembic/versions/e2a476ce0825_add_exclude_agents_to_prompts.py
  backend/app/api/complete/resolution.py
  backend/app/api/persona.py
  backend/app/api/prompts.py
  backend/app/api/schemas/prompt_schemas.py
  backend/app/models/prompt.py
  backend/app/services/_persona_context.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/prompt_service.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/app/workflows/persona_heartbeat.py
  frontend/src/app/persona/components/ActivityTimeline.tsx
  frontend/src/app/persona/components/HeartbeatSessionCard.tsx
  frontend/src/app/persona/components/TimeRangeDropdown.tsx
  frontend/src/app/persona/page.tsx
  frontend/src/app/persona/settings/components/PersonalityTab.tsx
  frontend/src/app/persona/settings/components/VoiceHeartbeatTab.tsx
  frontend/src/app/persona/settings/page.tsx
  frontend/src/app/prompts/[slug]/page.tsx
  frontend/src/components/GlobalInstructionsPanel.tsx
  frontend/src/lib/api/prompts.ts
Due: mypy, eslint, tsc, prettier

feat(config): Add .coderabbit.yaml for code review configuration
  .coderabbit.yaml
Due: none

refactor(workflows): Add heartbeat post-processing and session reaper
  backend/app/api/complete/result_finalizer.py
  backend/app/api/complete/tool_result_builder.py
  backend/app/workflows/_heartbeat_postprocess.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/app/workflows/_heartbeat_redis.py
  backend/app/workflows/persona_heartbeat.py
  backend/app/workflows/persona_scheduler.py
  backend/app/workflows/persona_wake.py
  backend/app/workflows/session_reaper.py
  backend/scripts/seed_agents_data/concierge_agents.py
  backend/tests/api/complete/test_result_finalizer.py
  backend/tests/workflows/test_heartbeat_active_hours.py
  backend/tests/workflows/test_heartbeat_postprocess.py
  frontend/src/app/persona/components/HeartbeatSessionCard.tsx
Due: mypy, eslint, tsc, prettier
