Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

chore(scripts): remove unused seed_agents_data.py
  backend/scripts/seed_agents_data.py
Due: none

feat(proxy): add proxy package for agent hub integration
  packages/proxy/package.json
  packages/proxy/src/config.ts
  packages/proxy/src/express.ts
  packages/proxy/src/headers.ts
  packages/proxy/src/index.ts
  packages/proxy/src/next.ts
  packages/proxy/tsconfig.json
  packages/proxy/tsup.config.ts
Due: none

feat(session): Add current_branch column and related logic
  backend/alembic/versions/a1ff58549daa_add_current_branch_column_to_sessions.py
  backend/app/api/complete/request_setup.py
  backend/app/api/complete/session_manager.py
  backend/app/models/session.py
  backend/app/services/memory/continuity_injector.py
  backend/app/services/memory/continuity_query.py
  backend/app/services/session_operations.py
Due: mypy

feat(memory): Add cross-project and live session awareness to continuity
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/continuity_format.py
  backend/app/services/memory/continuity_injector.py
  backend/app/services/memory/continuity_query.py
  backend/scripts/backfill_summaries.py
Due: mypy

refactor(memory): Route summary generation through complete_internal
  backend/app/services/memory/summary_llm.py
  backend/app/services/session_operations.py
  backend/scripts/seed_agents_data/support_agents.py
Due: mypy

refactor(agents): Integrate new and updated agents and models
  .index.yaml
  backend/alembic/versions/957c414d0a1a_consolidate_ideation_agents.py
  backend/alembic/versions/a1ff58549daa_add_current_branch_column_to_sessions.py
  backend/app/api/endpoints/voice.py
  backend/app/services/memory/graphiti_client.py
  backend/app/services/memory/learning_extractor.py
  backend/app/services/memory/memory_rater.py
  backend/app/services/session_operations.py
  backend/scripts/backfill_summaries.py
  backend/scripts/seed_agents_data/support_agents.py
Due: mypy

feat(api): Auto-derive user messages for event storage
  .index.yaml
  backend/app/api/complete/core.py
  backend/app/api/complete/event_helpers.py
Due: mypy

refactor(config): Centralize configuration loading and validation
  backend/app/config.py
  backend/app/exception_handlers.py
  backend/app/hatchet_app.py
  backend/app/main.py
  frontend/src/app/access-control/clients/page.tsx
  frontend/src/app/admin/utils.ts
  frontend/src/app/sessions/utils.ts
  frontend/src/components/memory/CaptureItem.tsx
  frontend/src/components/memory/TimelineItem.tsx
  frontend/src/components/memory/tabs/EpisodesTab.tsx
  frontend/src/components/monitoring/session-card.tsx
  frontend/src/lib/format-utils.ts
  frontend/src/lib/formatters.ts
Due: mypy, eslint, tsc, prettier

refactor(continuity): Rename and restructure continuity modules
  backend/tests/services/memory/test_continuity_injection.py
Due: none

feat(access_control): Add /api/models to auth bypass prefixes
  backend/app/middleware/access_control_paths.py
Due: mypy

fix(sdk+backend): Cross-project review fixes — P0 bugs, dead code removal
  backend/app/api/agents.py
  backend/app/api/complete/complete_execution.py
  backend/app/api/complete/complete_orchestrator.py
  backend/app/api/complete/core.py
  backend/app/api/complete/resolution.py
  backend/app/api/complete/session_manager.py
  backend/app/api/db.py
  backend/app/api/sessions.py
  backend/app/services/context_tracker.py
  frontend/src/components/memory/bulk-actions-toolbar.tsx
  frontend/src/hooks/use-truncation-toast.ts
  frontend/src/lib/format-utils.ts
  packages/agent-hub-client/agent_hub/__init__.py
  packages/agent-hub-client/agent_hub/_async_client.py
  packages/agent-hub-client/agent_hub/_completion.py
  packages/agent-hub-client/agent_hub/_memory.py
  packages/agent-hub-client/agent_hub/_sessions.py
  packages/agent-hub-client/agent_hub/_sync_client.py
  packages/agent-hub-client/agent_hub/models/__init__.py
  packages/agent-hub-client/agent_hub/models/agent.py
  packages/agent-hub-client/agent_hub/models/content.py
  packages/agent-hub-client/agent_hub/models/core.py
Due: mypy, eslint, tsc, prettier

refactor(adapters): Centralize model resolution logic
  backend/app/adapters/minimax.py
  backend/app/adapters/openai.py
  backend/app/adapters/openai_compat.py
  backend/app/adapters/xai.py
  backend/app/adapters/zhipu.py
  backend/app/services/memory/episode_property_setters.py
  backend/scripts/seed_agents_data/support_agents.py
  frontend/src/app/admin/components/BlockedRequestsTable.tsx
  frontend/src/app/admin/components/SortableHeader.tsx
  frontend/src/app/admin/components/useBlockedRequestsTable.ts
  frontend/src/app/admin/types.ts
  frontend/src/app/agents/components/AgentsTableHeader.tsx
  frontend/src/app/agents/components/SortableHeader.tsx
  frontend/src/app/monitoring/requests/components/RequestTable.tsx
  frontend/src/app/monitoring/requests/components/SortableHeader.tsx
  frontend/src/app/sessions/components/SessionTable.tsx
  frontend/src/app/sessions/components/SortableHeader.tsx
  frontend/src/components/memory/MemoryTable.tsx
  frontend/src/components/memory/tabs/EpisodesTab.tsx
  frontend/src/components/memory/types.ts
  frontend/src/components/ui/SortableHeader.tsx
  frontend/src/hooks/use-episodes-filters.ts
Due: mypy, eslint, tsc, prettier

refactor(agents): Improve support agent system prompt
  backend/scripts/seed_agents_data/support_agents.py
Due: none

chore(index): update file counts and generation time
  .index.yaml
Due: none

chore(.index.yaml): update generated_at timestamp
  .index.yaml
Due: none

chore(.index.yaml): update file counts
  .index.yaml
Due: none

refactor(registry): Load safety directive from DB and improve prompt injection
  backend/agents/registry.py
  backend/scripts/seed_agents_data/core_agents.py
  packages/agent-hub-client/tests/test_client.py
  scripts/db.sh
Due: none

test(backend): add type hints and remove unused fields in tests
  backend/tests/test_models.py
Due: none
