Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

feat(persona): anchor search matches and stop scroll snap-backs
  backend/app/api/persona/schemas.py
  backend/app/api/persona/stream.py
  backend/tests/api/test_ownership.py
  backend/tests/api/test_persona.py
  backend/tests/api/test_session_ingestion.py
  backend/tests/services/test_ownership_inventory.py
  backend/tests/services/test_session_live_activity.py
  frontend/src/__tests__/unified-persona-workspace.test.tsx
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
  frontend/src/lib/api/persona-stream.ts
Due: mypy, eslint, tsc, prettier

fix(persona): land refresh at the latest timeline entry
  frontend/src/__tests__/unified-persona-workspace.test.tsx
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
Due: eslint, tsc, prettier

feat(persona): tighten live stream controls and pause state
  backend/alembic/versions/706345626a08_add_persona_execution_state.py
  backend/app/api/complete/tool_event_storage.py
  backend/app/api/heartbeat.py
  backend/app/api/persona/helpers.py
  backend/app/api/persona/schemas.py
  backend/app/models/persona.py
  backend/app/services/events.py
  backend/app/services/events_models.py
  backend/app/services/events_publishers.py
  backend/app/services/persona_service.py
  backend/app/workflows/persona_heartbeat.py
  backend/tests/api/test_heartbeat.py
  backend/tests/api/test_persona.py
  backend/tests/events/test_websocket.py
  backend/tests/workflows/test_persona_heartbeat.py
  frontend/src/__tests__/persona-page.test.tsx
  frontend/src/__tests__/persona-settings-tabs.test.tsx
  frontend/src/__tests__/unified-persona-workspace.test.tsx
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
  frontend/src/app/persona/hooks/usePersonaRuntime.ts
  frontend/src/app/persona/page.tsx
  frontend/src/components/chat/session-dropdown.tsx
  frontend/src/components/monitoring/event-stream.tsx
  frontend/src/types/events.ts
  frontend/src/types/persona.ts
Due: mypy, eslint, tsc, prettier

feat(persona): humanize Jenny unified stream details
  backend/app/api/persona/stream.py
  backend/tests/api/test_persona.py
  frontend/src/__tests__/persona-page.test.tsx
  frontend/src/__tests__/unified-persona-workspace.test.tsx
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
  frontend/src/app/persona/hooks/usePersonaRuntime.ts
  frontend/src/app/persona/page.tsx
Due: mypy, eslint, tsc, prettier

fix(persona): keep heartbeat detail expansion in flow
  frontend/src/__tests__/unified-persona-workspace.test.tsx
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
Due: eslint, tsc, prettier

feat(persona): prioritize heartbeat detail signal
  frontend/src/__tests__/unified-persona-workspace.test.tsx
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
Due: eslint, tsc, prettier

feat(persona): add Jenny pulse and friction views
  backend/app/api/persona/pulse.py
  backend/app/api/persona/schemas.py
  backend/app/api/persona/stream.py
  backend/tests/api/test_persona.py
  frontend/src/__tests__/unified-persona-workspace.test.tsx
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
  frontend/src/app/persona/components/pulse-helpers.ts
  frontend/src/lib/api/persona-stream.ts
Due: mypy, eslint, tsc, prettier

fix(prompts): remove legacy file-backed agent loaders
  backend/agents/__init__.py
  backend/agents/base.py
  backend/agents/registry.py
  backend/prompts/ideator-public.md
Due: none

fix(persona): make Jenny pulse issue-first
  backend/app/api/persona/pulse.py
  backend/app/api/persona/schemas.py
  backend/app/api/persona/stream.py
  backend/tests/api/test_persona.py
  frontend/src/__tests__/unified-persona-workspace.test.tsx
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
  frontend/src/app/persona/components/pulse-helpers.ts
  frontend/src/lib/api/persona-stream.ts
Due: mypy, eslint, tsc, prettier

fix(persona): keep pulse panels in the unified scroll
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
Due: eslint, tsc, prettier

feat(persona): expand truncated Jenny details inline
  frontend/src/__tests__/unified-persona-workspace.test.tsx
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
Due: eslint, tsc, prettier

fix(persona): reveal full Jenny issue details
  backend/app/api/persona/pulse.py
  backend/app/api/persona/schemas.py
  backend/app/api/persona/stream.py
  backend/tests/api/test_persona.py
  frontend/src/__tests__/unified-persona-workspace.test.tsx
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
  frontend/src/lib/api/persona-stream.ts
Due: mypy, eslint, tsc, prettier

feat(feedback): archive stale items and merge duplicates
  backend/alembic/versions/a8257e5c28c8_feedback_lifecycle_archive_and_merge.py
  backend/app/api/complete/_citation_helpers.py
  backend/app/api/complete/citation_tracker.py
  backend/app/api/feedback/__init__.py
  backend/app/api/feedback/_validators.py
  backend/app/api/schemas/feedback.py
  backend/app/models/feedback.py
  backend/app/services/feedback_storage.py
  backend/app/services/memory/session_analysis_feedback.py
  backend/app/services/tools/_executor_feedback.py
  backend/app/services/tools/_persona_ops_tools.py
  backend/app/tasks/feedback_cleanup.py
  backend/app/worker.py
  backend/app/workflows/scheduled.py
  backend/tests/api/complete/test_citation_tracker.py
  backend/tests/services/test_feedback_storage.py
  backend/tests/tools/test_executor_feedback.py
Due: mypy

refactor(persona): dedupe Jenny issue summaries
  backend/app/api/persona/pulse.py
  backend/tests/api/test_persona.py
  frontend/src/__tests__/unified-persona-workspace.test.tsx
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
  frontend/src/app/persona/components/pulse-helpers.ts
Due: mypy, eslint, tsc, prettier

Fix: skip pulse summary when issue markers present
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
Due: eslint, tsc, prettier

refactor(heartbeat_data): extract helpers to eliminate long functions and deep nesting
  backend/alembic/versions/706345626a08_add_persona_execution_state.py
  backend/alembic/versions/a8257e5c28c8_feedback_lifecycle_archive_and_merge.py
  backend/alembic/versions/cf39a0bccadf_add_session_scope_tracking_columns.py
  backend/app/workflows/_heartbeat_data.py
Due: mypy

fix(persona): harden heartbeat git workflow and follow-up policy
  backend/alembic/versions/706345626a08_add_persona_execution_state.py
  backend/alembic/versions/a8257e5c28c8_feedback_lifecycle_archive_and_merge.py
  backend/alembic/versions/cf39a0bccadf_add_session_scope_tracking_columns.py
  backend/app/adapters/_gemini_cloudcode_ops.py
  backend/app/adapters/claude_streaming.py
  backend/app/adapters/claude_tools_helpers.py
  backend/app/adapters/claude_tools_mcp.py
  backend/app/adapters/cloudcode_claude.py
  backend/app/adapters/gemini_tools.py
  backend/app/api/complete/openai_event_adapter.py
  backend/app/api/complete/tool_handler_utils.py
  backend/app/api/complete/tool_stream_builder.py
  backend/app/services/session_live_activity.py
  backend/app/services/tools/_executor_bash.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/services/tools/tool_handler.py
  backend/tests/tools/test_persona_integration.py
  reference/persona-heartbeat-instructions.md
Due: mypy

fix(persona): block raw git publish in Claude bash hook
  backend/app/adapters/_claude_sdk_builder.py
  backend/app/adapters/_claude_settings.py
  backend/app/adapters/claude_tools_helpers.py
  backend/tests/adapters/test_claude_settings.py
Due: mypy

fix(persona): enforce raw git bash policy without working_dir
  backend/app/adapters/claude_tools_helpers.py
  backend/app/adapters/claude_tools_permissions.py
  backend/tests/adapters/test_claude_tools_permissions.py
Due: mypy

fix(persona): keep heartbeat tools loaded in deferred mode
  backend/app/services/tools/_persona_ops_tools.py
  backend/app/services/tools/_persona_schedule_tools.py
  backend/tests/tools/test_deferred_tool_loading.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
