Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

feat(observability): add tool result callback infrastructure
  backend/app/api/complete/core.py
  backend/app/services/agent_runner/claude_executor.py
  backend/app/services/agent_runner/runner.py
Due: mypy

feat(complete): full tool observability with execute_tools support
  backend/app/adapters/gemini.py
  backend/app/api/complete/core.py
  backend/app/api/complete/endpoints.py
  backend/app/api/complete/handlers.py
  backend/app/services/agent_runner.py
  backend/app/services/agent_runner.py.bak
  backend/app/services/agent_runner/__init__.py
  backend/app/services/agent_runner/claude_executor.py
  backend/app/services/agent_runner/debug_logging.py
  backend/app/services/agent_runner/executor_utils.py
  backend/app/services/agent_runner/gemini_executor.py
  backend/app/services/agent_runner/models.py
  backend/app/services/agent_runner/runner.py
  backend/tests/api/test_complete.py
  backend/tests/tools/test_permission_enforcement.py
Due: mypy

feat(complete): wire permission_config through tool execution
  backend/app/adapters/gemini_tools.py
  backend/app/api/complete/core.py
  backend/app/api/complete/endpoints.py
  backend/app/api/complete/schemas.py
Due: mypy

fix(observability): store tool_use events in Claude path
  backend/app/adapters/claude.py
  backend/app/api/complete/core.py
Due: mypy

fix(observability): capture tool_result from Claude SDK UserMessage
  backend/app/api/complete/core.py
Due: mypy

docs: Add AGENTS.md with project documentation and workflows
  AGENTS.md
Due: none

fix(api): prevent double memory injection and use resolved session_id
  backend/app/api/complete/endpoints.py
Due: mypy

feat(permissions): add client permission scripts and apply formatting
  backend/app/api/complete/core.py
  backend/app/services/memory/crud_operations.py
  backend/app/services/memory/episode_converters.py
  backend/app/services/memory/service.py
  backend/app/services/memory/service_cleanup.py
  backend/app/services/memory/service_search.py
  backend/app/services/orchestration/parallel.py
  backend/scripts/check_client_permissions.py
  backend/scripts/update_client_permissions.py
  backend/uv.lock
Due: mypy

refactor: clean up OpenRouter models
  backend/app/adapters/openrouter.py
  backend/app/api/complete/helpers.py
  backend/app/config.py
  backend/app/constants.py
  backend/pyproject.toml
  backend/test_openrouter.sh
  backend/tests/adapters/test_openrouter.py
  backend/uv.lock
  frontend/src/app/sessions/page.tsx
  frontend/src/components/chat/model-options.ts
  frontend/src/types/chat.ts
Due: mypy, eslint, tsc, prettier

fix(chat): migrate chat to agent-slug routing
  backend/app/adapters/openrouter.py
  backend/app/api/complete/endpoints.py
  backend/app/api/complete/helpers.py
  backend/app/api/models.py
  backend/app/constants.py
  backend/app/services/agent_routing.py
  backend/pyproject.toml
  backend/test_openrouter.sh
  backend/uv.lock
  frontend/src/app/agents/[slug]/api.ts
  frontend/src/app/chat/page.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/chat/model-options.ts
  frontend/src/hooks/use-chat-stream.ts
Due: mypy, eslint, tsc, prettier

chore: add backup-index.json to gitignore
  frontend/.gitignore
Due: none

feat: refactor agent playground into a general chat page with a new debug panel and memory support
  backend/app/api/complete/core.py
  backend/app/api/complete/endpoints.py
  backend/app/services/completion/service.py
  frontend/src/app/agents/[slug]/components/AgentEditorHeader.tsx
  frontend/src/app/agents/[slug]/playground/api.ts
  frontend/src/app/agents/[slug]/playground/components/ChatInterface.tsx
  frontend/src/app/agents/[slug]/playground/components/DebugPanel.tsx
  frontend/src/app/agents/[slug]/playground/components/DebugSection.tsx
  frontend/src/app/agents/[slug]/playground/components/MessageBubble.tsx
  frontend/src/app/agents/[slug]/playground/components/PlaygroundHeader.tsx
  frontend/src/app/agents/[slug]/playground/components/StatItem.tsx
  frontend/src/app/agents/[slug]/playground/hooks/useAutoScroll.ts
  frontend/src/app/agents/[slug]/playground/hooks/usePlaygroundChat.ts
  frontend/src/app/agents/[slug]/playground/page.tsx
  frontend/src/app/agents/[slug]/playground/types.ts
  frontend/src/app/chat/page.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/chat/debug-panel/debug-panel.tsx
  frontend/src/components/chat/debug-panel/debug-section.tsx
  frontend/src/components/chat/debug-panel/stat-item.tsx
  frontend/src/hooks/use-chat-stream.ts
  frontend/src/types/agent.ts
  frontend/src/types/chat.ts
Due: mypy, eslint, tsc, prettier

fix: dark mode only + session delete + rebuild script
  .index.yaml
  backend/app/api/complete/core.py
  backend/app/api/memory_agent_handlers.py
  backend/app/api/memory_agent_tools.py
  backend/app/services/memory/episode_validation.py
  backend/mcp_server.py
  backend/uv.lock
  frontend/src/app/chat/page.tsx
  frontend/src/app/layout.tsx
  scripts/update_gemini_context.sh
Due: mypy, eslint, tsc, prettier

fix(memory): remove checkbox from delete confirmation modal
  .index.yaml
  backend/alembic/versions/a84930c276eb_add_thinking_level_to_agents.py
  backend/app/adapters/openrouter.py
  backend/app/api/complete/core.py
  backend/app/api/complete/endpoints.py
  backend/app/api/schemas/agent_schemas.py
  backend/app/api/sessions.py
  backend/app/models/agent.py
  backend/app/services/agent_crud.py
  backend/app/services/agent_dto.py
  backend/app/services/agent_service.py
  backend/app/services/completion/service.py
  backend/app/services/memory/episode_chunking.py
  backend/app/services/memory/episode_creator.py
  backend/app/services/memory/episode_formatter.py
  backend/app/services/memory/episode_validation.py
  backend/app/services/memory/memory_models.py
  backend/app/services/memory/types.py
  backend/app/services/memory/usage_tracker.py
  backend/app/services/memory/variants.py
  backend/mcp_server.py
  backend/scripts/update_client_permissions.py
  backend/tests/api/test_agents_api.py
  backend/tests/api/test_complete_streaming.py
  backend/tests/conftest.py
  backend/tests/services/memory/test_episode_creator.py
  backend/tests/services/memory/test_episode_formatter.py
  backend/tests/services/test_agent_routing.py
  frontend/src/app/chat/page.tsx
  frontend/src/components/chat/session-sidebar.tsx
  frontend/src/components/memory/DeleteModal.tsx
  frontend/src/components/memory/delete-confirmation-modal.tsx
Due: mypy, eslint, tsc, prettier

feat(dashboard): add interactive time range selector and fix metrics
  frontend/src/app/dashboard/page.tsx
Due: eslint, tsc, prettier

chore(fullstack): 6 files changed, 476 insertions(+), 40 deletions(-)
  .index.yaml
  backend/app/api/__init__.py
  backend/app/api/dashboard_stats.py
  backend/app/middleware/access_control_paths.py
  frontend/src/app/dashboard/page.tsx
  frontend/src/lib/api.ts
Due: mypy, eslint, tsc, prettier

chore(backend): 2 files changed, 44 insertions(+), 6 deletions(-)
  backend/pyproject.toml
  backend/pytest.ini
Due: none

chore: remove duplicate pytest config from pyproject.toml
  backend/pyproject.toml
Due: none

fix: convert str+Enum to StrEnum and fix failing tests
  backend/agents/registry.py
  backend/app/adapters/openrouter.py
  backend/app/api/analytics.py
  backend/app/api/memory_schemas.py
  backend/app/services/completion/service.py
  backend/app/services/events.py
  backend/app/services/health_prober.py
  backend/app/services/memory/citation_parser.py
  backend/app/services/memory/context_injector_formatter.py
  backend/app/services/memory/episode_helpers.py
  backend/app/services/memory/learning_extractor.py
  backend/tests/adapters/test_gemini.py
  backend/tests/adapters/test_openrouter.py
  backend/tests/api/test_access_control.py
  backend/tests/api/test_agents_api.py
  backend/tests/api/test_complete_streaming.py
  backend/tests/api/test_memory.py
  backend/tests/api/test_sessions.py
  backend/tests/core/test_router.py
  backend/tests/orchestration/test_telemetry.py
  backend/tests/services/memory/test_dedup.py
  backend/tests/services/memory/test_episode_creator.py
  backend/tests/services/memory/test_variants.py
  backend/tests/services/test_agent_service.py
Due: mypy

refactor: improve performance and add task deduplication
  backend/app/api/admin.py
  backend/app/api/endpoints/voice.py
  backend/app/db.py
  backend/app/main.py
  backend/app/models/agent.py
  backend/app/models/session.py
  backend/app/tasks/session_cleanup.py
  backend/app/tasks/session_cleanup_task.py
  backend/app/tasks/tier_optimizer_task.py
  frontend/src/app/layout.tsx
Due: mypy, eslint, tsc, prettier

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
