Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

memory: advertise graph tool capabilities
  backend/alembic/versions/c8113ded1ed2_add_lifecycle_columns.py
  backend/app/services/memory/st_usage_memory.py
  backend/app/services/memory/tool_capability_context.py
  backend/tests/services/memory/test_st_usage_memory.py
  backend/tests/services/memory/test_tool_capability_context.py
Due: mypy

chore: refresh agent-hub graph artifacts
  graphify-out/GRAPH_REPORT.md
Due: none

memory: compact agent preview policies
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_profiles.py
  backend/tests/services/memory/test_context_builder_settings.py
Due: mypy

Tighten Arena overview scoping
  backend/app/services/arena_overview.py
  backend/tests/services/test_arena_overview.py
  frontend/src/app/arena/components/ArenaCommandCenter.tsx
Due: mypy, eslint, tsc, prettier

Fix frontend Biome include paths
  frontend/biome.json
  frontend/src/app/arena/components/ArenaCommandCenter.tsx
Due: eslint, tsc, prettier

Finalize chat session persistence
  frontend/src/__tests__/chat-page-context-binding.test.tsx
  frontend/src/__tests__/message-actions.test.tsx
  frontend/src/__tests__/session-loader.test.ts
  frontend/src/app/chat/hooks/useChatSession.ts
  frontend/src/app/chat/page.tsx
  packages/chat-ui/src/components/MarkdownContent.tsx
  packages/chat-ui/src/components/MessageBubble.tsx
  packages/chat-ui/src/components/ToolExecutionDisplay.tsx
  packages/chat-ui/src/components/message-bubble-utils.ts
  packages/chat-ui/src/hooks/chat-stream/session-loader.ts
Due: eslint, tsc, prettier

Persist agent chat sessions by context
  frontend/src/app/agents/[slug]/chat/page.tsx
Due: eslint, tsc, prettier

Refresh graph report artifact
  graphify-out/GRAPH_REPORT.md
Due: none

Use all Gemini keys for tool loops
  backend/app/adapters/gemini.py
  backend/app/adapters/gemini_adapter_ops.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/adapters/test_gemini.py
Due: mypy

Remove Grok defaults from agent routing
  backend/app/constants/catalog_entries.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/test_models_api.py
  backend/tests/scripts/test_seed_agent_model_policy.py
Due: mypy

Fix disabled manual heartbeat truth
  backend/app/api/heartbeat.py
  backend/tests/api/test_heartbeat.py
Due: mypy

Use relative persona_honing imports
  backend/scripts/persona_honing/__init__.py
Due: none

Update browser and agent workflow guardrails
  README.md
  backend/app/config.py
  backend/app/services/memory/st_usage_memory.py
  backend/app/services/memory/tool_capability_context.py
  backend/app/services/tools/_executor_web_html.py
  backend/app/services/tools/_executor_web_search.py
  backend/app/workflows/site_health_check.py
  backend/tests/services/memory/test_st_usage_memory.py
  backend/tests/services/memory/test_tool_capability_context.py
  backend/tests/workflows/test_site_health_check.py
  docker-compose.yml
  frontend/screenshot-scripts/all.js
  scripts/web-research/deploy-vm100-searxng.sh
Due: mypy, eslint, prettier

Update browser and agent workflow guardrails
  README.md
  backend/app/config.py
  backend/app/services/memory/st_usage_memory.py
  backend/app/services/memory/tool_capability_context.py
  backend/app/services/tools/_executor_web_html.py
  backend/app/services/tools/_executor_web_search.py
  backend/app/workflows/site_health_check.py
  backend/tests/services/memory/test_st_usage_memory.py
  backend/tests/services/memory/test_tool_capability_context.py
  backend/tests/workflows/test_site_health_check.py
  docker-compose.yml
  docs/tasks/agent-hub-memory-governance-cleanup-export.json
  frontend/screenshot-scripts/all.js
  scripts/web-research/deploy-vm100-searxng.sh
Due: mypy, eslint, prettier

Checkpoint agent-hub workspace changes
  backend/app/services/tools/tool_definitions.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/complete/test_tool_provisioner.py
  backend/tests/tools/test_tool_definitions.py
  frontend/src/__tests__/agent-arena-page.test.tsx
  frontend/src/__tests__/agent-model-fixtures.ts
  frontend/src/__tests__/arena-command-center.test.tsx
  frontend/src/__tests__/chat-cancel.test.tsx
  frontend/src/__tests__/chat-page-context-binding.test.tsx
  frontend/src/__tests__/committee-tab.test.tsx
  frontend/src/__tests__/dashboard.test.tsx
  frontend/src/__tests__/message-actions.test.tsx
  frontend/src/__tests__/parameters-tab.test.tsx
  frontend/src/__tests__/sessions.test.tsx
  frontend/src/__tests__/test-utils.tsx
  frontend/src/app/chat/components/ChatHeader.tsx
  frontend/src/app/chat/loading.tsx
  frontend/src/app/chat/page.tsx
  frontend/src/components/chat/chat-panel.tsx
  frontend/src/components/chat/debug-panel/debug-panel.tsx
  frontend/src/components/chat/debug-panel/debug-section.tsx
  frontend/src/components/chat/debug-panel/stat-item.tsx
  frontend/src/components/chat/session-dropdown.tsx
  packages/chat-ui/src/components/EditableContent.tsx
  packages/chat-ui/src/components/MessageActions.tsx
  packages/chat-ui/src/components/MessageContent.tsx
  packages/chat-ui/src/components/MessageRuntimeDetails.tsx
  packages/chat-ui/src/components/ProviderBadge.tsx
  packages/chat-ui/src/components/ToolExecutionItem.tsx
  packages/chat-ui/src/components/activity-indicator.tsx
  packages/chat-ui/src/components/chat-panel.tsx
  packages/chat-ui/src/components/input-buttons.tsx
  packages/chat-ui/src/components/mention-popup.tsx
  packages/chat-ui/src/components/message-bubble-utils.ts
  packages/chat-ui/src/components/message-input.tsx
  packages/chat-ui/src/components/message-list.tsx
  packages/chat-ui/src/components/speaker-button.tsx
Due: mypy, eslint, tsc, prettier

refactor codex oauth adapter
  backend/app/adapters/codex_oauth.py
Due: mypy

refactor codex oauth adapter
  backend/app/adapters/codex_oauth.py
  graphify-out/GRAPH_REPORT.md
Due: mypy

refactor memory context builder
  backend/app/services/memory/context_builder.py
Due: mypy

refactor memory context builder
  backend/app/services/memory/context_builder.py
  graphify-out/GRAPH_REPORT.md
Due: mypy

respect disabled Jenny heartbeat for Telegram reports
  backend/app/scripts/send_jenny_telegram_status_report.py
  backend/tests/unit/test_send_jenny_telegram_status_report.py
  graphify-out/GRAPH_REPORT.md
Due: mypy

respect disabled Jenny heartbeat for Telegram reports
  backend/app/scripts/send_jenny_telegram_status_report.py
  backend/tests/unit/test_send_jenny_telegram_status_report.py
Due: mypy

publish project work
  graphify-out/GRAPH_REPORT.md
Due: none

Remove Agent Hub Work Chats UI
  frontend/src/app/work-chats/page.tsx
  frontend/src/components/layout/sidebar-nav.tsx
  frontend/src/lib/api/work-chats.ts
Due: eslint, tsc, prettier

Implemented Work Chats in SummitFlow, removed accidental Agent Hub UI, verified checks and browser routes.
  graphify-out/GRAPH_REPORT.md
Due: none

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
