Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

Arena command center polish + purge light-mode remnants
  frontend/src/app/arena/components/ArenaAgentCard.tsx
  frontend/src/app/arena/components/ArenaCommandCenter.tsx
Due: eslint, tsc, prettier

Add helper agent output contract benchmarks
  backend/scripts/agent_output_benchmark_cases.py
  backend/scripts/agent_output_benchmark_eval.py
  backend/scripts/run_agent_output_benchmark.py
  backend/tests/scripts/test_agent_output_benchmark.py
Due: none

Sessions, prompts, agents, sidebar polish + ModelPill light-mode fix
  frontend/src/app/agents/page.tsx
  frontend/src/app/prompts/page.tsx
  frontend/src/app/sessions/components/ModelPill.tsx
  frontend/src/app/sessions/components/SessionTable.tsx
  frontend/src/app/sessions/components/SessionsHeader.tsx
  frontend/src/app/sessions/page.tsx
  frontend/src/components/layout/sidebar-nav.tsx
Due: eslint, tsc, prettier

Monitoring, access control, session detail, per-agent arena polish
  frontend/src/app/access-control/page.tsx
  frontend/src/app/agents/[slug]/arena/components/ArenaHeader.tsx
  frontend/src/app/monitoring/requests/page.tsx
  frontend/src/app/sessions/[id]/components/SessionHeader.tsx
  frontend/src/app/sessions/[id]/page.tsx
Due: eslint, tsc, prettier

Dashboard, models, memory header normalization + dashboard button group
  backend/app/adapters/base.py
  backend/app/adapters/runtime_session.py
  backend/app/api/complete/tool_handler_utils.py
  backend/tests/api/complete/test_tool_handlers_partial.py
  frontend/src/app/dashboard/components/DashboardHeader.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/memory/page.tsx
  frontend/src/app/models/page.tsx
  frontend/src/components/memory/MemoryTabs.tsx
Due: mypy, eslint, tsc, prettier

Fix Claude SDK tool-stream cleanup and result fallback handling
  backend/app/adapters/base.py
  backend/app/adapters/claude.py
  backend/app/adapters/claude_tools_helpers.py
  backend/app/api/complete/tool_handler_utils.py
  backend/tests/adapters/test_claude_tools_helpers.py
  backend/tests/api/complete/test_tool_handlers_partial.py
Due: mypy

Benchmark tool-backed coder output contract
  backend/scripts/agent_output_benchmark_cases.py
  backend/scripts/agent_output_benchmark_eval.py
  backend/scripts/run_agent_output_benchmark.py
  backend/tests/scripts/test_agent_output_benchmark.py
Due: none

Data display fixes, header normalization, interaction polish
  frontend/src/app/access-control/page.tsx
  frontend/src/app/admin/components/KillSwitchToggle.tsx
  frontend/src/app/admin/page.tsx
  frontend/src/app/agents/[slug]/analytics/components/KPICard.tsx
  frontend/src/app/agents/[slug]/arena/components/OverviewPanels.tsx
  frontend/src/app/agents/[slug]/arena/components/RuntimePanels.tsx
  frontend/src/app/sessions/components/SessionsHeader.tsx
  frontend/src/lib/formatters.ts
Due: eslint, tsc, prettier

Purge light-mode remnants across 14 files, add focus rings and cursor-pointer
  backend/scripts/agent_output_benchmark_cases.py
  frontend/src/app/agents/[slug]/components/GeneralTab.tsx
  frontend/src/app/agents/[slug]/components/prompts/AssignPromptForm.tsx
  frontend/src/app/agents/[slug]/components/prompts/CreatePromptForm.tsx
  frontend/src/app/agents/[slug]/components/prompts/LinkedPromptCard.tsx
  frontend/src/app/monitoring/requests/components/Filters.tsx
  frontend/src/app/persona/settings/components/IdentityTab.tsx
  frontend/src/app/persona/settings/components/SessionLimitsTab.tsx
  frontend/src/app/persona/settings/components/VoiceHeartbeatTab.tsx
  frontend/src/app/prompts/page.tsx
  frontend/src/components/memory/BulkToolbar.tsx
  frontend/src/components/memory/DeleteModal.tsx
  frontend/src/components/memory/EditEpisodeModal.tsx
  frontend/src/components/memory/EpisodeFormFields.tsx
  frontend/src/components/memory/ModalHeader.tsx
  frontend/src/components/memory/ToggleSetting.tsx
Due: eslint, tsc, prettier

Purge remaining light-mode remnants across 25+ files — deep dark-mode cleanup
  backend/app/services/memory/context_injector_queries.py
  backend/app/services/memory/embedder.py
  backend/app/services/memory/search_context.py
  backend/app/services/memory/search_patterns.py
  backend/app/services/memory/search_semantic.py
  backend/tests/services/memory/test_search_fallbacks.py
  frontend/src/app/agents/[slug]/analytics/components/BenchmarkExperimentSection.tsx
  frontend/src/app/agents/[slug]/components/AgentPreviewPanel.tsx
  frontend/src/app/agents/[slug]/components/PromptsTab.tsx
  frontend/src/app/agents/[slug]/components/Sidebar.tsx
  frontend/src/app/agents/components/AgentsTableHeader.tsx
  frontend/src/app/prompts/[slug]/page.tsx
  frontend/src/app/sessions/components/LiveEventsPanel.tsx
  frontend/src/app/sessions/components/ModelFilterBadge.tsx
  frontend/src/components/chat/session-dropdown.tsx
  frontend/src/components/memory/MemoryTable.tsx
  frontend/src/components/memory/MemoryTableRow.tsx
  frontend/src/components/memory/SimilarEpisodesList.tsx
  frontend/src/components/memory/TriggerTaskTypes.tsx
  frontend/src/components/memory/memory-stats.tsx
Due: mypy, eslint, tsc, prettier

Complete dark-mode purge — zero dark: prefixes remaining, fix code-block, event-stream, settings, model cards
  backend/app/services/_benchmark_config.py
  backend/scripts/agent_output_benchmark_cases.py
  backend/scripts/run_agent_output_benchmark.py
  backend/tests/scripts/test_agent_output_benchmark.py
  backend/tests/services/test_agent_benchmark_service.py
  frontend/src/app/agents/[slug]/components/FallbackModelsList.tsx
  frontend/src/app/agents/components/AgentActionsMenu.tsx
  frontend/src/app/agents/loading.tsx
  frontend/src/app/memory/loading.tsx
  frontend/src/components/models/model-card.tsx
  frontend/src/components/models/model-comparison-sections.tsx
  frontend/src/components/monitoring/event-stream.tsx
  frontend/src/components/output/code-block.tsx
  frontend/src/components/settings/CredentialList.tsx
  frontend/src/components/settings/ProviderActionButtons.tsx
  frontend/src/components/settings/VertexProjectInput.tsx
Due: mypy, eslint, tsc, prettier

Enforce external ID limits for benchmark sessions
  backend/app/api/complete/request_schemas.py
  backend/app/models/field_lengths.py
  backend/app/models/memory.py
  backend/app/models/session.py
  backend/app/services/session_ingestion/models.py
  backend/app/services/session_ingestion/service.py
  backend/app/workflows/completion.py
  backend/scripts/run_agent_output_benchmark.py
  backend/tests/api/test_session_ingestion.py
  backend/tests/scripts/test_agent_output_benchmark.py
  backend/tests/services/session_ingestion/test_service.py
Due: mypy

Add deep-linkable workbench tabs and shared panel polish
  frontend/src/app/agents/[slug]/components/FallbackModelsList.tsx
  frontend/src/app/agents/[slug]/components/ModelSelect.tsx
  frontend/src/app/agents/[slug]/components/ModelsTab.tsx
  frontend/src/app/agents/[slug]/components/ParametersTab.tsx
  frontend/src/app/agents/[slug]/page.tsx
  frontend/src/app/persona/settings/components/SessionLimitsTab.tsx
  frontend/src/app/persona/settings/components/VoiceHeartbeatTab.tsx
  frontend/src/app/persona/settings/page.tsx
  frontend/src/app/sessions/[id]/page.tsx
Due: eslint, tsc, prettier

Publish validated heartbeat/state truth fixes
  backend/app/services/ownership_inventory.py
  backend/app/services/session_live_activity.py
  backend/app/workflows/_heartbeat_data.py
  backend/tests/services/test_ownership_inventory.py
  backend/tests/tools/test_tool_registry.py
  backend/tests/workflows/test_heartbeat_prompt.py
  frontend/src/__tests__/arena-command-center.test.tsx
  frontend/src/__tests__/unified-persona-workspace.test.tsx
  frontend/src/__tests__/workspace-utils.test.ts
Due: mypy, eslint, tsc, prettier

Auto-detach agent-hub self-rebuilds
  backend/app/services/tools/direct_executor_core.py
  backend/tests/tools/test_direct_executor.py
Due: mypy

Polish loading skeletons, fix light-mode remnants, upgrade form inputs to design system
  frontend/src/app/access-control/budgets/page.tsx
  frontend/src/app/access-control/clients/page.tsx
  frontend/src/app/access-control/permissions/page.tsx
  frontend/src/app/admin/components/BlockedRequestsTable.tsx
  frontend/src/app/agents/[slug]/analytics/components/BenchmarkExperimentSection.tsx
  frontend/src/app/dashboard/components/ChartsSection.tsx
  frontend/src/app/monitoring/requests/page.tsx
  frontend/src/app/prompts/new/page.tsx
Due: eslint, tsc, prettier

Purge remaining bg-slate-950 hardcodes, upgrade loading skeletons, fix arena/detail page shells
  frontend/src/app/access-control/clients/[id]/page.tsx
  frontend/src/app/agents/[slug]/arena/components/AgentArenaDashboard.tsx
  frontend/src/app/agents/[slug]/page.tsx
  frontend/src/app/agents/loading.tsx
  frontend/src/app/arena/components/ArenaCommandCenter.tsx
  frontend/src/app/memory/loading.tsx
  frontend/src/app/persona/settings/page.tsx
  frontend/src/app/prompts/[slug]/page.tsx
Due: eslint, tsc, prettier

Improve empty states, fix hover:text-white, standardize loading skeletons, fix light-mode bg-slate-50
  frontend/src/app/admin/components/TableControls.tsx
  frontend/src/app/arena/components/ArenaCommandCenter.tsx
  frontend/src/app/sessions/components/SessionTable.tsx
  frontend/src/components/memory/BulkToolbar.tsx
  frontend/src/components/memory/MemoryTable.tsx
Due: eslint, tsc, prettier

Fix task overview injection — empty string bypassed payload builder, leaving active_work section blank
  backend/app/workflows/_heartbeat_prompt.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy
