Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

Drop unrelated graphify report from Work Chats merge
  graphify-out/GRAPH_REPORT.md
Due: none

fix: centralize safe subprocess launches
  AGENT_AUDIT.md
  backend/app/api/tasks.py
  backend/app/services/memory/tool_capability_context.py
  backend/app/services/tools/_executor_precision_code_search.py
  backend/app/services/tools/_sensitive_content.py
  backend/app/services/tools/command_guard.py
  backend/app/utils/safe_subprocess.py
  backend/app/workflows/site_health_check.py
  backend/tests/services/memory/test_tool_capability_context.py
  backend/tests/services/tools/test_command_guard_resolution.py
  backend/tests/tools/test_direct_executor.py
  backend/tests/utils/test_safe_subprocess.py
Due: mypy

fix: centralize safe subprocess launches
  backend/app/api/tasks.py
  backend/app/services/memory/tool_capability_context.py
  backend/app/services/tools/_executor_precision_code_search.py
  backend/app/services/tools/_sensitive_content.py
  backend/app/services/tools/command_guard.py
  backend/app/utils/safe_subprocess.py
  backend/app/workflows/site_health_check.py
  backend/tests/services/memory/test_tool_capability_context.py
  backend/tests/services/tools/test_command_guard_resolution.py
  backend/tests/tools/test_direct_executor.py
  backend/tests/utils/test_safe_subprocess.py
Due: mypy

docs: refresh graphify report
  graphify-out/GRAPH_REPORT.md
Due: none

Record agent-hub audit closeout
  AGENT_AUDIT.md
Due: none

docs: record gate debt closeout
  AGENT_AUDIT.md
Due: none

docs: update agent audit closeout
  AGENT_AUDIT.md
Due: none

chore: remove unused push workspace package
  .github/workflows/docker-build.yml
  docker/workspace-packages/agent-hub-push-client-0.1.0.tgz
  packages/push-client/package.json
  packages/push-client/src/index.ts
  packages/push-client/tsconfig.json
  packages/push-client/tsup.config.ts
  pnpm-lock.yaml
Due: none

chore: remove unused push workspace package
  .github/workflows/docker-build.yml
  AGENT_AUDIT.md
  docker/workspace-packages/agent-hub-push-client-0.1.0.tgz
  docs/design/artifact-hub-and-autonomous-ops.md
  packages/push-client/package.json
  packages/push-client/src/index.ts
  packages/push-client/tsconfig.json
  packages/push-client/tsup.config.ts
  pnpm-lock.yaml
Due: none

docs: record queue hygiene updates
  AGENT_AUDIT.md
Due: none

Split persona runtime hook facade
  AGENT_AUDIT.md
  frontend/src/app/persona/hooks/usePersonaRuntime.ts
  frontend/src/app/persona/hooks/usePersonaRuntimeCore.ts
Due: eslint, tsc, prettier

Split persona runtime hook facade
  frontend/src/app/persona/hooks/usePersonaRuntime.ts
  frontend/src/app/persona/hooks/usePersonaRuntimeCore.ts
Due: eslint, tsc, prettier

Update agent hygiene audit
  AGENT_AUDIT.md
Due: none

Clarify persona audit verification
  AGENT_AUDIT.md
Due: none

Refresh hygiene guidance and audit
  AGENT_AUDIT.md
  CONTRIBUTING.md
  backend/scripts/persona_benchmark_cases.py
  backend/scripts/run_claude_orchestrated_worker.py
  backend/scripts/run_memory_path_regression.py
  docs/arena-operator-prompt.md
  docs/persona-operator-contract.md
Due: none

Refresh hygiene guidance and audit
  CONTRIBUTING.md
  backend/scripts/persona_benchmark_cases.py
  backend/scripts/run_claude_orchestrated_worker.py
  backend/scripts/run_memory_path_regression.py
Due: none

Continue feedback hygiene cleanup
  AGENT_AUDIT.md
  frontend/src/__tests__/compactness.test.ts
  frontend/src/components/memory/EpisodeFormFields.tsx
  graphify-out/GRAPH_REPORT.md
Due: eslint, tsc, prettier

Continue feedback hygiene cleanup
  frontend/src/__tests__/compactness.test.ts
  frontend/src/components/memory/EpisodeFormFields.tsx
Due: eslint, tsc, prettier

Record feedback duplicate closeout
  AGENT_AUDIT.md
Due: none

Seed verifier agent
  backend/scripts/seed_agents_data/seed_data.json
Due: none

Expand work chat routing and persona tool controls
  backend/app/api/complete/request_schemas.py
  backend/app/api/complete/tool_provisioner.py
  backend/app/api/complete/work_context.py
  backend/app/api/models.py
  backend/app/api/project_permissions.py
  backend/app/api/sessions.py
  backend/app/api/work_chats.py
  backend/app/db.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/memory/_repo_crud.py
  backend/app/services/memory/_repo_query.py
  backend/app/services/memory/_repo_tier.py
  backend/app/services/memory/_repo_tracking.py
  backend/app/services/memory/settings.py
  backend/app/services/project_permission_service.py
  backend/app/services/session_queries.py
  backend/app/services/tools/_cross_project_hook.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/services/tools/persona_tool_surface.py
  backend/app/services/tools/tool_definitions.py
  backend/app/services/work_chat_verifier_outcomes.py
  backend/scripts/export_seeds.py
  backend/scripts/seed_agents.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/complete/test_request_setup.py
  backend/tests/api/complete/test_tool_provisioner.py
  backend/tests/scripts/test_export_seeds.py
  backend/tests/services/test_agent_routing.py
  backend/tests/services/test_session_queries.py
  backend/tests/services/test_work_chats.py
  backend/tests/tools/test_cross_project_file_io.py
  backend/tests/tools/test_persona_tool_surface.py
  backend/tests/tools/test_tool_definitions.py
  frontend/src/__tests__/chat-page-context-binding.test.tsx
  frontend/src/app/chat/hooks/useAgentSelection.ts
  frontend/src/components/chat/chat-panel.tsx
  graphify-out/GRAPH_REPORT.md
  packages/chat-ui/src/hooks/chat-stream/types.ts
  packages/chat-ui/src/hooks/use-chat-stream.ts
Due: mypy, eslint, tsc, prettier

Expand work chat routing and persona tool controls
  backend/app/api/complete/request_schemas.py
  backend/app/api/complete/tool_provisioner.py
  backend/app/api/complete/work_context.py
  backend/app/api/models.py
  backend/app/api/project_permissions.py
  backend/app/api/sessions.py
  backend/app/api/work_chats.py
  backend/app/db.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/memory/_repo_crud.py
  backend/app/services/memory/_repo_query.py
  backend/app/services/memory/_repo_tier.py
  backend/app/services/memory/_repo_tracking.py
  backend/app/services/memory/settings.py
  backend/app/services/project_permission_service.py
  backend/app/services/session_queries.py
  backend/app/services/tools/_cross_project_hook.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/services/tools/persona_tool_surface.py
  backend/app/services/tools/tool_definitions.py
  backend/app/services/work_chat_verifier_outcomes.py
  backend/scripts/export_seeds.py
  backend/scripts/seed_agents.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/complete/test_request_setup.py
  backend/tests/api/complete/test_tool_provisioner.py
  backend/tests/scripts/test_export_seeds.py
  backend/tests/services/test_agent_routing.py
  backend/tests/services/test_session_queries.py
  backend/tests/services/test_work_chats.py
  backend/tests/tools/test_cross_project_file_io.py
  backend/tests/tools/test_persona_tool_surface.py
  backend/tests/tools/test_tool_definitions.py
  frontend/src/__tests__/chat-page-context-binding.test.tsx
  frontend/src/app/chat/hooks/useAgentSelection.ts
  frontend/src/components/chat/chat-panel.tsx
  packages/chat-ui/src/hooks/chat-stream/types.ts
  packages/chat-ui/src/hooks/use-chat-stream.ts
Due: mypy, eslint, tsc, prettier

Simplify Jenny tool surface
  backend/app/services/tools/_executor_dispatch.py
  backend/app/services/tools/_executor_io_lanes.py
  backend/app/services/tools/_standard_tools.py
  backend/app/services/tools/persona_tool_surface.py
  backend/app/services/tools/tool_definitions.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/complete/test_tool_provisioner.py
  backend/tests/services/test_agent_routing.py
  backend/tests/tools/test_persona_tool_surface.py
  backend/tests/tools/test_persona_tools.py
  backend/tests/tools/test_tool_definitions.py
  backend/tests/workflows/test_completion_review.py
  backend/tests/workflows/test_heartbeat_postprocess.py
Due: mypy

Simplify Agent Hub project tool tiers
  backend/alembic/versions/f2a3b4c5d6e7_canonicalize_project_permission_tiers.py
  backend/app/adapters/claude_tools_helpers.py
  backend/app/api/project_permissions.py
  backend/app/models/project_permission.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/project_permission_service.py
  backend/app/services/tools/_cross_project_hook.py
  backend/app/services/tools/_standard_tools.py
  backend/app/services/tools/persona_tool_surface.py
  backend/app/services/tools/tool_definitions.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/complete/test_tool_provisioner.py
  backend/tests/api/test_project_permissions.py
  backend/tests/integration/test_enforcement_chain.py
  backend/tests/services/test_agent_routing.py
  backend/tests/services/test_project_permission_service.py
  backend/tests/services/test_tool_handler.py
  backend/tests/tools/test_cross_project_file_io.py
  backend/tests/tools/test_direct_executor.py
  backend/tests/tools/test_persona_integration.py
  backend/tests/tools/test_persona_tool_surface.py
  backend/tests/tools/test_persona_tools.py
  backend/tests/tools/test_tool_definitions.py
  backend/tests/workflows/test_persona_wake.py
  frontend/src/__tests__/chat-page-context-binding.test.tsx
  frontend/src/__tests__/persona-blocker-panel.test.tsx
  frontend/src/__tests__/persona-operator-deck.test.tsx
  frontend/src/__tests__/project-permissions-page.test.tsx
  frontend/src/app/access-control/permissions/_components/PermissionRow.tsx
  frontend/src/app/access-control/permissions/_components/tier-config.ts
  frontend/src/app/access-control/permissions/page.tsx
  frontend/src/lib/api/project-permissions.ts
Due: mypy, eslint, tsc, prettier

Add adhoc WorkSpec model routing
  backend/app/api/complete/agent_loop.py
  backend/app/api/complete/error_summary.py
  backend/app/api/complete/execution.py
  backend/app/api/complete/execution_observability.py
  backend/app/api/complete/request_schemas.py
  backend/app/api/complete/request_setup.py
  backend/app/api/complete/resolution.py
  backend/app/api/complete/response_schemas.py
  backend/app/api/complete/result_builder.py
  backend/app/api/complete/result_finalizer.py
  backend/app/api/complete/schemas.py
  backend/app/api/complete/streaming_handlers.py
  backend/app/api/complete/tool_models.py
  backend/app/api/complete/tool_response_finalizer.py
  backend/app/api/complete/tool_result_builder.py
  backend/app/api/complete/types.py
  backend/app/api/complete/validation.py
  backend/app/middleware/access_control_constants.py
  backend/app/middleware/access_control_responses.py
  backend/app/services/_live_activity_event_handlers.py
  backend/app/services/adaptive_model_router.py
  backend/app/services/memory/scorecard_component_map.py
  backend/app/services/session_ingestion/service.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/complete/test_handler_helpers.py
  backend/tests/api/complete/test_request_setup.py
  backend/tests/api/complete/test_resolution.py
  frontend/src/__tests__/chat-stream-send-message.test.ts
  packages/chat-ui/src/hooks/chat-stream/send-message.ts
  packages/chat-ui/src/hooks/chat-stream/types.ts
Due: mypy, eslint, tsc, prettier

Optimize Work Chats routing context
  backend/app/api/complete/orchestration_helpers.py
  backend/app/api/complete/request_schemas.py
  backend/app/api/complete/request_setup.py
  backend/app/api/complete/resolution.py
  backend/app/api/complete/streaming_handlers.py
  backend/app/api/complete/work_context.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/runtime_prompt_stack.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/complete/test_request_setup.py
  backend/tests/api/complete/test_resolution.py
  backend/tests/api/complete/test_streaming_handlers.py
  backend/tests/services/test_agent_routing.py
  frontend/src/__tests__/chat-stream-send-message.test.ts
  packages/chat-ui/src/hooks/chat-stream/send-message.ts
  packages/chat-ui/src/hooks/chat-stream/types.ts
  packages/chat-ui/src/hooks/use-chat-stream.ts
  packages/chat-ui/src/index.ts
Due: mypy, eslint, tsc, prettier

Fix Agent Hub model pages, memory analytics, and tool safety
  backend/app/api/complete/streaming_persistence.py
  backend/app/api/complete/work_context.py
  backend/app/services/memory/_analytics_top.py
  backend/app/services/memory/analytics_service.py
  backend/app/services/tools/_executor_file_io.py
  backend/app/services/tools/_standard_tools.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/services/tools/tool_definitions.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/complete/test_work_context.py
  backend/tests/tools/test_direct_executor.py
  frontend/src/components/models/model-card.tsx
  frontend/src/components/models/model-radar.tsx
  frontend/src/components/settings/constants.ts
Due: mypy, eslint, tsc, prettier

Enable adaptive model auto routing
  backend/alembic/versions/g3h4i5j6k7l8_enable_default_auto_routing.py
  backend/app/adapters/_openai_compat_helpers.py
  backend/app/api/agents.py
  backend/app/api/schemas/agent_schemas.py
  backend/app/models/adaptive_routing.py
  backend/app/services/adaptive_model_router.py
  backend/app/services/memory/tool_capability_context.py
  backend/app/services/tools/_executor_model_mgmt.py
  backend/app/workflows/_heartbeat_sessions.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/adapters/test_openai_compat.py
  backend/tests/services/memory/test_tool_capability_context.py
  backend/tests/services/test_adaptive_model_router.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy
