Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

chore(index): Update file counts and generated_at timestamp
  .index.yaml
Due: none

feat(memory): add session analysis and task outcome endpoints
  backend/app/api/memory.py
  backend/app/api/memory_analysis.py
  backend/app/api/memory_dashboard.py
  backend/app/services/memory/citation_parser.py
  backend/app/services/memory/session_analysis.py
  backend/app/services/memory/usage_flushers.py
  backend/tests/api/test_memory_analysis.py
  backend/tests/services/memory/test_citation_parser.py
  backend/tests/services/memory/test_session_analysis.py
Due: mypy

test(memory): Update mocks for flush functions in usage_tracker tests
  backend/tests/services/memory/test_usage_tracker.py
  cc_native_tasks/memory-analytics-e2e.md
Due: none

chore: remove memory analytics e2e test plan
  cc_native_tasks/memory-analytics-e2e.md
Due: none

feat(agent-hub): Implement prompt management and per-agent memory curation
  .index.yaml
  cc_native_tasks/PIPELINE_FIX_PLAN.md
Due: none

feat(test): add _test_dirty_file
  _test_dirty_file
Due: none

Revert "feat(test): add _test_dirty_file"
  _test_dirty_file
Due: none

chore(index): update generated_at timestamp and add cc_native_tasks folder
  .index.yaml
Due: none

refactor(memory): Resolve full UUIDs across project and global scopes
  .index.yaml
  backend/app/services/memory/citation_parser.py
Due: mypy

feat(memory): Add endpoint and UI for top performing memories
  backend/app/api/memory_dashboard.py
  backend/app/services/memory/analytics_service.py
  frontend/src/components/memory/tabs/AnalyticsTab.tsx
  frontend/src/components/memory/tabs/analytics-charts.tsx
  frontend/src/components/memory/tabs/analytics-components.tsx
  frontend/src/components/memory/tabs/analytics-constants.tsx
  frontend/src/lib/memory-api.ts
  frontend/src/lib/memory-types.ts
  frontend/src/lib/memory/search.ts
Due: mypy, eslint, tsc, prettier

chore: update .index.yaml generated_at
  .index.yaml
Due: none

fix(permissions): Return explicit allow for all tools in yolo mode
  backend/app/adapters/claude_tools.py
  backend/tests/adapters/test_claude_tools_permissions.py
Due: mypy

fix(permissions): Use SDK-native permission mechanisms instead of broken hook
  backend/app/adapters/claude.py
  backend/app/adapters/claude_tools.py
  backend/app/api/complete/tool_handlers.py
  backend/app/api/complete/tool_permission_parser.py
  backend/tests/adapters/test_claude_tools_permissions.py
Due: mypy

fix(adapters): Inject venv env into Claude agent subprocess for worktree support
  backend/app/adapters/claude_oauth.py
  backend/app/adapters/claude_streaming.py
  backend/app/adapters/claude_tools.py
  backend/app/services/tools/project_env.py
  backend/tests/adapters/test_claude_env_injection.py
  backend/tests/services/test_project_env.py
Due: mypy

chore(tools): Implement centralized tool registry and command redirection
  backend/app/adapters/claude_tools.py
  backend/app/services/memory/session_analysis.py
  backend/app/services/tools/direct_executor.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/services/tools/registry.py
  backend/tests/tools/test_tool_registry.py
  scripts/db.sh
Due: mypy

feat(memory): Enhance context injection and tracking
  CLAUDE.md
  backend/app/api/memory_agent_handlers.py
  backend/app/api/memory_agent_tools.py
  backend/app/services/memory/context_injector_queries.py
  backend/app/services/memory/session_analysis.py
  backend/app/services/memory/summary_storage.py
  backend/scripts/backfill_session_summary_tags.py
  backend/tests/api/test_progressive_context_metrics.py
  backend/tests/services/memory/test_session_analysis.py
Due: mypy

feat(complete): Add validation for async_execution and stream combination
  backend/app/api/complete/complete_orchestrator.py
  backend/app/api/memory_dashboard.py
  backend/tests/api/test_async_completion.py
Due: mypy

chore(db, restart): Add hatchet project support
  scripts/db.sh
  scripts/restart.sh
Due: none

test(memory): Add tests for summary transcript building
  backend/tests/services/memory/test_summary_transcript.py
  scripts/db.sh
Due: none

feat(memory): Add quality gate to session summary generation
  backend/app/services/memory/summary_generator.py
  backend/tests/services/memory/test_summary_generator.py
Due: mypy
