Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

refactor: simplify feedback storage query helpers
  backend/app/services/feedback_storage.py
  backend/tests/services/test_feedback_storage.py
Due: mypy

autocode(task-48e59bc5): complete subtask 1.1
  backend/app/services/agent_benchmark_service.py
Due: mypy

fix: add logging to exception handlers and improve type safety
  backend/app/adapters/_gemini_cloudcode_ops.py
  backend/app/adapters/_openai_compat_helpers.py
  backend/app/adapters/claude.py
  backend/app/adapters/cloudflare.py
  backend/app/adapters/cloudflare_image.py
  backend/app/adapters/gemini_image.py
  backend/app/adapters/gemini_utils.py
  backend/app/api/complete/request_schemas.py
  backend/app/api/credentials.py
  backend/app/api/memory_dashboard.py
  backend/app/api/memory_dashboard_helpers.py
  backend/app/api/memory_episodes_handlers.py
  backend/app/models/agent.py
  backend/app/models/agent_benchmark.py
  backend/app/models/client.py
  backend/app/models/config.py
  backend/app/models/feedback.py
  backend/app/models/persona.py
  backend/app/models/persona_scheduled_job.py
  backend/app/models/prompt.py
  backend/app/models/session.py
  backend/app/models/telemetry.py
  backend/app/services/tools/_executor_io.py
  backend/app/services/tools/direct_executor_core.py
  backend/app/workflows/session_reaper.py
  frontend/src/__tests__/dashboard.test.tsx
  frontend/src/app/admin/page.tsx
  frontend/src/app/agents/[slug]/components/MemoryTab.tsx
  frontend/src/app/agents/[slug]/types.ts
  frontend/src/app/models/page.tsx
  frontend/src/app/persona/settings/components/IdentityTab.tsx
  frontend/src/app/sessions/components/CopyIdButton.tsx
  frontend/src/components/dashboard/tabs/HealthTabContent.tsx
  frontend/src/components/settings/PreferencesTab.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/api/status.ts
  frontend/src/lib/session-memory-observability.ts
Due: mypy, eslint, tsc, prettier

feat: add logging and accessibility improvements
  backend/app/api/memory_agent_tools.py
  backend/app/api/persona/schemas.py
  frontend/src/components/chat/session-dropdown.tsx
  frontend/src/components/memory/CopyButton.tsx
  frontend/src/components/memory/DeleteModal.tsx
  frontend/src/components/memory/EditEpisodeModal.tsx
  frontend/src/components/settings/ProviderForm.tsx
Due: mypy, eslint, tsc, prettier

feat(memory-api): add exception logging to memory endpoints
  backend/app/api/memory_analysis.py
  backend/app/api/memory_bulk_ops.py
  backend/app/api/memory_episodes_handlers.py
  backend/app/api/memory_episodes_query.py
  backend/app/api/memory_episodes_search.py
  backend/app/api/memory_metrics.py
  backend/app/api/memory_observations.py
  backend/app/api/memory_rating.py
  backend/app/api/memory_triggers.py
Due: mypy

autocode(task-8daa644e): complete subtask 1.1
  backend/app/workflows/_heartbeat_data.py
Due: mypy

fix: 1.1 self-fix attempt 3
  backend/scripts/jenny_honing/__init__.py
  backend/scripts/jenny_honing/_clusters.py
  backend/scripts/jenny_honing/_constants.py
  backend/scripts/jenny_honing/_experiment.py
  backend/scripts/jenny_honing/_models.py
  backend/scripts/jenny_honing/_prompt.py
  backend/scripts/jenny_honing/_state.py
  backend/scripts/run_jenny_honing_loop.py
Due: none

[FAILED] Subtask 1.1: Refactor backend/scripts/run_jenny_honing_loop.py
  backend/scripts/jenny_honing/__init__.py
  backend/scripts/run_jenny_honing_loop.py
Due: none

autocode(task-2b41ec2a): complete subtask 1.1
  backend/scripts/run_jenny_model_benchmark.py
Due: none

autocode(task-087b87cd): complete subtask 1.1
  backend/app/workflows/_heartbeat_data.py
Due: mypy

fix: 1.1 self-fix attempt 1
  backend/alembic/versions/f1a2b3c4d5e6_seed_persona_runtime_prompt_docs.py
Due: none

autocode(task-7d4d646a): complete subtask 1.1
  backend/app/services/agent_benchmark_service.py
Due: mypy

autocode(task-bdc3eaf1): complete subtask 1.1
  backend/app/services/feedback_storage.py
Due: mypy

fix: close cancelled persona sessions and stop scheduler preemption
  backend/app/api/complete/tool_handlers.py
  backend/app/workflows/persona_scheduler.py
  backend/tests/api/complete/test_tool_handlers_partial.py
Due: mypy

fix: reconcile terminal session activity metadata
  backend/app/services/session_live_activity.py
  backend/app/tasks/session_cleanup.py
  backend/app/workflows/session_reaper.py
  backend/tests/services/test_session_live_activity.py
  backend/tests/tasks/test_session_cleanup.py
  backend/tests/workflows/test_session_reaper.py
Due: mypy

Fix heartbeat observability and compact Jenny prompts
  backend/app/api/complete/_session_helpers.py
  backend/app/api/complete/cache_handler.py
  backend/app/api/complete/handler_helpers.py
  backend/app/api/complete/result_finalizer.py
  backend/app/api/complete/streaming_persistence.py
  backend/app/api/complete/tool_handlers.py
  backend/app/api/complete/tool_result_builder.py
  backend/app/api/heartbeat.py
  backend/app/api/image.py
  backend/app/api/memory_agent_tools.py
  backend/app/services/memory/episode_validation.py
  backend/app/services/session_operations.py
  backend/app/services/task_overview_summary.py
  backend/app/services/tools/_executor_consultation.py
  backend/app/services/tools/_executor_io_lanes.py
  backend/app/workflows/_heartbeat_data.py
  backend/app/workflows/_heartbeat_prompt.py
  backend/app/workflows/_heartbeat_redis.py
  backend/app/workflows/persona_heartbeat.py
  backend/tests/api/test_heartbeat.py
  backend/tests/api/test_memory.py
  backend/tests/services/memory/test_episode_creator.py
  backend/tests/workflows/test_persona_heartbeat.py
  frontend/src/lib/api/dashboard.ts
Due: mypy, eslint, tsc, prettier

Enforce explicit task and campaign modes for refactor/debugger
  backend/app/services/agent_routing_utils.py
  backend/app/services/prompt_service.py
  backend/app/services/runtime_prompt_stack.py
  backend/app/services/tools/_executor_consultation.py
  backend/app/workflows/persona_wake.py
  backend/scripts/seed_agents_data/_execution_agents.py
  backend/scripts/seed_agents_data/core_agents.py
  backend/tests/services/test_agent_routing.py
  backend/tests/tools/test_executor_consultation.py
  backend/tests/workflows/test_heartbeat_mcp_recovery.py
  backend/tests/workflows/test_persona_wake.py
Due: mypy

Narrow specialist overlap blocking to dispatch sessions
  backend/app/services/tools/_executor_consultation.py
  backend/tests/tools/test_executor_consultation.py
Due: mypy

Fix agent preview memory-config parity
  backend/app/api/helpers/agent_preview.py
  backend/tests/api/test_agent_preview_helper.py
Due: mypy

Retry empty agent closeouts before finishing tool loops
  backend/app/api/complete/finish_reason_handler.py
  backend/app/api/complete/multi_turn_helpers.py
  backend/app/api/complete/streaming_tool_loop.py
  backend/tests/api/complete/test_finish_reason_handler.py
  backend/tests/api/complete/test_streaming_tool_loop.py
Due: mypy

Retry empty closeouts through grace turns
  backend/app/api/complete/finish_reason_handler.py
  backend/tests/api/complete/test_finish_reason_handler.py
Due: mypy
