Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

feat(memory): add session summary endpoint and capture SSE integration
  backend/app/api/memory.py
  frontend/src/lib/memory-api.ts
  frontend/src/lib/memory-types.ts
Due: mypy, eslint, tsc, prettier

feat(memory): add cross-session continuity injection endpoint
  backend/app/api/memory.py
  backend/app/services/memory/continuity_injector.py
  frontend/src/lib/memory-api.ts
  frontend/src/lib/memory-types.ts
Due: mypy, eslint, tsc, prettier

chore(fullstack): 4 files changed, 28 insertions(+), 5 deletions(-)
  backend/app/services/memory/summary_generator.py
  frontend/src/components/memory/tabs/AnalyticsTab.tsx
  frontend/src/hooks/use-memory-stream.ts
  frontend/src/lib/api-config.ts
Due: mypy, eslint, tsc, prettier

fix: exempt SSE capture stream from BaseHTTPMiddleware and misc cleanup
  backend/app/api/memory.py
  backend/app/middleware/access_control_paths.py
  backend/app/services/memory/continuity_injector.py
  backend/app/services/memory/session_memory_service.py
  backend/app/services/memory/timeline_service.py
  backend/tests/unit/services/memory/test_privacy_filter.py
  frontend/src/components/memory/tabs/TimelineTab.tsx
  frontend/src/hooks/use-memory-stream.ts
Due: mypy, eslint, tsc, prettier

chore(fullstack): 2 files changed, 15 insertions(+), 13 deletions(-)
  backend/app/services/memory/capture_stream.py
  frontend/src/hooks/use-memory-stream.ts
Due: mypy, eslint, tsc, prettier

feat(memory): add SSE proxy for capture stream endpoint
  frontend/src/app/api/memory/capture/stream/route.ts
Due: eslint, tsc, prettier

feat(models): Add Gemini 2.5 Flash Lite support
  backend/app/constants.py
  frontend/src/components/chat/model-options.ts
Due: mypy, eslint, tsc, prettier

refactor(models): Centralize model registry and fetching
  backend/app/api/models.py
  backend/app/constants.py
  backend/app/services/agent_routing.py
  frontend/src/components/chat/mention-chip.tsx
  frontend/src/components/chat/mention-popup.tsx
  frontend/src/components/chat/message-input.tsx
  frontend/src/components/chat/model-options.ts
  frontend/src/components/chat/use-mention-popup.ts
  frontend/src/components/chat/use-models.ts
Due: mypy, eslint, tsc, prettier

refactor(completion): Centralize get_provider logic
  backend/app/api/complete/__init__.py
  backend/app/api/complete/endpoints.py
  backend/app/api/complete/helpers.py
  backend/app/services/completion/provider_utils.py
  backend/app/services/completion/service.py
Due: mypy

refactor(adapters): reduce gemini_tools.py from 225 to 132 lines
  backend/app/adapters/gemini_tools.py
Due: mypy

refactor(frontend): Split event-timeline.tsx into focused modules
  frontend/src/components/timeline/event-config.ts
  frontend/src/components/timeline/event-item.tsx
  frontend/src/components/timeline/event-timeline.tsx
  frontend/src/components/timeline/filter-chip.tsx
  frontend/src/components/timeline/timeline-utils.ts
  frontend/src/components/timeline/turn-group.tsx
Due: eslint, tsc, prettier

refactor(admin): Split admin.py into focused modules (614→249 lines)
  backend/app/api/admin.py
  backend/app/api/admin_handlers.py
  backend/app/api/admin_redis.py
  backend/app/api/admin_schemas.py
  backend/app/middleware/kill_switch.py
Due: mypy

refactor(frontend): Split api.ts into modular resource-specific files
  frontend/src/lib/api.ts
  frontend/src/lib/api/analytics.ts
  frontend/src/lib/api/api-keys.ts
  frontend/src/lib/api/credentials.ts
  frontend/src/lib/api/dashboard.ts
  frontend/src/lib/api/preferences.ts
  frontend/src/lib/api/sessions.ts
  frontend/src/lib/api/status.ts
Due: eslint, tsc, prettier

refactor(handlers): reduce handlers.py from 333 to 204 lines
  backend/app/api/complete/handlers.py
Due: mypy

chore(index): Update .index.yaml file counts and generated timestamp
  .index.yaml
Due: none

feat(memory): Enhance memory search and add session summary task
  .index.yaml
  backend/app/api/complete/schemas.py
  backend/app/celery_app.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/memory_queries.py
  backend/app/services/memory/search_operations.py
  backend/app/services/memory/tracking_operations.py
  backend/app/tasks/summary_tasks.py
Due: mypy

feat(celery): Add observation tasks and continuity context
  backend/app/celery_app.py
  backend/app/services/memory/context_injector.py
  backend/app/tasks/observation_tasks.py
Due: mypy

feat(backend): 4 files changed, 60 insertions(+), 28 deletions(-)
  backend/app/api/memory.py
  backend/app/services/memory/dedup.py
  backend/app/services/memory/exceptions.py
  backend/app/services/memory/promotion.py
Due: mypy

feat(memory): Extract context building logic to builder module
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_injector.py
Due: mypy

style: auto-format from pre-commit hooks
  backend/app/services/memory/context_builder.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
