Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

Compact heartbeat routing context
  backend/app/workflows/_heartbeat_project.py
  backend/app/workflows/_heartbeat_sections.py
  backend/tests/workflows/test_heartbeat_prompt.py
Due: mypy

Update compact heartbeat seed prompt
  backend/scripts/seed_agents_data/seed_data.json
Due: none

Stabilize agent runtime cancellation
  backend/app/api/complete/runtime_session_registry.py
  backend/app/api/complete/tool_handler_utils.py
  backend/app/api/sessions.py
  backend/app/services/tools/_executor_bash.py
  backend/app/utils/safe_subprocess.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/complete/test_runtime_session_registry.py
  backend/tests/tools/test_executor_bash_cancel.py
Due: mypy

wip(task-7c27e1a1): recover prior shared-checkout changes
  backend/app/adapters/claude.py
  backend/app/adapters/claude_direct.py
  backend/tests/adapters/test_claude.py
Due: mypy

Restored Agent Hub baseline quality gate, updated monitor diagnostics, aligned model/tool routing tests, removed xAI default fallbacks, and verified st check --quick is green.
  backend/app/api/sessions.py
  backend/app/constants/catalog.py
  backend/app/constants/catalog_entries.py
  backend/app/services/project_permission_service.py
  backend/app/services/tools/_executor_model_mgmt.py
  backend/app/services/tools/persona_tool_surface.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/adapters/test_openrouter.py
  backend/tests/api/complete/test_tool_provisioner.py
  backend/tests/api/test_context_compaction.py
  backend/tests/api/test_image.py
  backend/tests/scripts/test_run_claude_orchestrated_worker.py
  backend/tests/scripts/test_seed_agent_model_policy.py
  backend/tests/services/test_work_chats.py
  backend/tests/tools/test_executor_model_mgmt.py
  backend/tests/tools/test_persona_tool_surface.py
  backend/tests/tools/test_tool_definitions.py
  backend/tests/unit/test_worker_runtime.py
  backend/tests/workflows/test_site_health_check.py
Due: mypy

fix: stop repeated tool result loops
  backend/app/adapters/_openai_compat_helpers.py
  backend/app/adapters/codex_oauth.py
  backend/app/adapters/kimi_code.py
  backend/app/adapters/openai_tool_events.py
  backend/app/adapters/tool_result_payload.py
  backend/app/adapters/types.py
  backend/app/api/complete/tool_handler_utils.py
  backend/tests/adapters/test_kimi_code.py
  backend/tests/api/complete/test_tool_handlers_partial.py
Due: mypy

fix: stop repeated tool result loops
  backend/app/adapters/_openai_compat_helpers.py
  backend/app/adapters/codex_oauth.py
  backend/app/adapters/kimi_code.py
  backend/app/adapters/openai_tool_events.py
  backend/app/adapters/tool_result_payload.py
  backend/app/adapters/types.py
  backend/app/api/complete/tool_handler_utils.py
  backend/tests/adapters/test_kimi_code.py
  backend/tests/api/complete/test_tool_handlers_partial.py
  graphify-out/GRAPH_REPORT.md
Due: mypy

Refresh Graphify project graph
  graphify-out/GRAPH_REPORT.md
Due: none

Timeout agentic model turns for fallback
  backend/alembic/versions/h4i5j6k7l8m9_add_runtime_context_overrides.py
  backend/app/api/__init__.py
  backend/app/api/complete/complete_execution.py
  backend/app/api/runtime_context.py
  backend/app/cli/runtime_context.py
  backend/app/models/__init__.py
  backend/app/models/runtime_context.py
  backend/app/services/memory/context_injector_blocks_helpers.py
  backend/app/services/memory/context_profiles.py
  backend/app/services/memory/memory_models.py
  backend/app/services/runtime_context.py
  backend/tests/api/complete/test_complete_execution.py
  backend/tests/api/test_runtime_context.py
  frontend/src/lib/api/runtime-context.ts
  graphify-out/GRAPH_REPORT.md
Due: mypy, eslint, tsc, prettier

Timeout agentic model turns for fallback
  backend/alembic/versions/h4i5j6k7l8m9_add_runtime_context_overrides.py
  backend/app/api/__init__.py
  backend/app/api/complete/complete_execution.py
  backend/app/api/runtime_context.py
  backend/app/cli/runtime_context.py
  backend/app/models/__init__.py
  backend/app/models/runtime_context.py
  backend/app/services/memory/context_injector_blocks_helpers.py
  backend/app/services/memory/context_profiles.py
  backend/app/services/memory/memory_models.py
  backend/app/services/runtime_context.py
  backend/tests/api/complete/test_complete_execution.py
  backend/tests/api/test_runtime_context.py
  frontend/src/lib/api/runtime-context.ts
Due: mypy, eslint, tsc, prettier

wip(task-936e6836): recover prior shared-checkout changes
  backend/alembic/versions/h4i5j6k7l8m9_add_runtime_context_overrides.py
  backend/app/services/memory/context_profiles.py
  backend/scripts/seed_agents_data/seed_data.json
  frontend/src/__tests__/runtime-context-page.test.tsx
  frontend/src/app/runtime-context/page.tsx
  frontend/src/components/layout/sidebar-nav.tsx
  graphify-out/GRAPH_REPORT.md
Due: mypy, eslint, tsc, prettier

wip(task-936e6836): recover prior shared-checkout changes
  backend/alembic/versions/h4i5j6k7l8m9_add_runtime_context_overrides.py
  backend/app/services/memory/context_profiles.py
  backend/scripts/seed_agents_data/seed_data.json
  frontend/src/__tests__/runtime-context-page.test.tsx
  frontend/src/app/runtime-context/page.tsx
  frontend/src/components/layout/sidebar-nav.tsx
Due: mypy, eslint, tsc, prettier

autocode(task-5dd25e6a): complete subtask 1.1
  backend/app/workflows/site_health_check.py
Due: mypy

Strip retrieval knobs from /runtime-context to a single boot-context view
  frontend/src/__tests__/runtime-context-page.test.tsx
  frontend/src/app/runtime-context/page.tsx
Due: eslint, tsc, prettier

Add per-memory render_mode + per-profile/per-project tier_override
  backend/alembic/versions/i5j6k7l8m9n0_add_render_mode_and_tier_override.py
  backend/app/api/_memory_episodes_helpers.py
  backend/app/api/memory_agent_context_builder.py
  backend/app/api/memory_agent_helpers.py
  backend/app/api/memory_agent_learning_saver.py
  backend/app/api/memory_agent_schemas.py
  backend/app/api/memory_episodes_handlers.py
  backend/app/api/memory_schemas_episodes.py
  backend/app/api/memory_tags.py
  backend/app/models/memory_unified.py
  backend/app/models/runtime_context.py
  backend/app/services/memory/_repo_helpers.py
  backend/app/services/memory/context_builder_tiers.py
  backend/app/services/memory/context_injector_blocks_helpers.py
  backend/app/services/memory/episode_converters.py
  backend/app/services/memory/episode_operations_helpers.py
  backend/app/services/memory/episode_property_setters.py
  backend/app/services/memory/memory_models.py
  backend/app/services/runtime_context.py
  backend/tests/api/test_memory.py
  backend/tests/api/test_runtime_context.py
  backend/tests/services/memory/test_render_mode.py
  frontend/src/components/memory/BulkToolbar.tsx
  frontend/src/components/memory/EditEpisodeModal.tsx
  frontend/src/components/memory/EpisodeFormFields.tsx
  frontend/src/components/memory/tabs/EpisodesTab.tsx
  frontend/src/components/memory/useEpisodeEditor.ts
  frontend/src/hooks/use-episodes-actions.ts
  frontend/src/lib/api/memory-tags.ts
  frontend/src/lib/api/runtime-context.ts
  frontend/src/lib/memory-types.ts
  graphify-out/GRAPH_REPORT.md
Due: mypy, eslint, tsc, prettier

Add per-memory render_mode + per-profile/per-project tier_override
  backend/alembic/versions/i5j6k7l8m9n0_add_render_mode_and_tier_override.py
  backend/app/api/_memory_episodes_helpers.py
  backend/app/api/memory_agent_context_builder.py
  backend/app/api/memory_agent_helpers.py
  backend/app/api/memory_agent_learning_saver.py
  backend/app/api/memory_agent_schemas.py
  backend/app/api/memory_episodes_handlers.py
  backend/app/api/memory_schemas_episodes.py
  backend/app/api/memory_tags.py
  backend/app/models/memory_unified.py
  backend/app/models/runtime_context.py
  backend/app/services/memory/_repo_helpers.py
  backend/app/services/memory/context_builder_tiers.py
  backend/app/services/memory/context_injector_blocks_helpers.py
  backend/app/services/memory/episode_converters.py
  backend/app/services/memory/episode_operations_helpers.py
  backend/app/services/memory/episode_property_setters.py
  backend/app/services/memory/memory_models.py
  backend/app/services/runtime_context.py
  backend/tests/api/test_memory.py
  backend/tests/api/test_runtime_context.py
  backend/tests/services/memory/test_render_mode.py
  frontend/src/components/memory/BulkToolbar.tsx
  frontend/src/components/memory/EditEpisodeModal.tsx
  frontend/src/components/memory/EpisodeFormFields.tsx
  frontend/src/components/memory/tabs/EpisodesTab.tsx
  frontend/src/components/memory/useEpisodeEditor.ts
  frontend/src/hooks/use-episodes-actions.ts
  frontend/src/lib/api/memory-tags.ts
  frontend/src/lib/api/runtime-context.ts
  frontend/src/lib/memory-types.ts
Due: mypy, eslint, tsc, prettier

Ignore per-machine settings.local.json and auto-generated GRAPH_REPORT.md
  .gitignore
Due: none

Ignore per-machine settings.local.json and auto-generated GRAPH_REPORT.md
  .claude/settings.local.json
  .gitignore
  graphify-out/GRAPH_REPORT.md
Due: none

Surface archive tier (tier=4) on memory API enums, stats, and list display
  backend/app/services/memory/memory_models.py
  backend/app/services/memory/memory_stats.py
  backend/app/services/memory/search_helpers.py
Due: mypy

Surface archive in save-learning tier docstrings (MCP + API schema)
  backend/app/api/memory_agent_schemas.py
  backend/mcp_server.py
Due: mypy

Surface archive tier across memory frontend UI
  frontend/src/components/memory/BulkToolbar.tsx
  frontend/src/components/memory/MemoryTableRow.tsx
  frontend/src/components/memory/TierDropdown.tsx
  frontend/src/components/memory/TierSelector.tsx
  frontend/src/components/memory/tabs/analytics-constants.tsx
  frontend/src/components/memory/tabs/charts/top-memories-table.tsx
  frontend/src/lib/memory-config.ts
  frontend/src/lib/memory-types.ts
Due: eslint, tsc, prettier

Reuse runtime-context Policy modal from agent memory config
  frontend/src/__tests__/memory-tab.test.tsx
  frontend/src/app/agents/[slug]/components/memory/MemoryConfigSection.tsx
  frontend/src/components/runtime-context/BootReactorTopbar.tsx
  frontend/src/components/runtime-context/PolicyModal.tsx
  frontend/src/components/runtime-context/PolicySettingsPanel.tsx
Due: eslint, tsc, prettier

Fix mandate render_mode being dropped in context injection
  backend/app/services/memory/context_injector_blocks_helpers.py
  backend/tests/services/memory/test_context_builder_fetcher.py
Due: mypy

DB-back compactness gate, slim memory modal, add UI override
  backend/alembic/versions/m9n0o1p2q3r4_add_compactness_policy.py
  backend/app/api/__init__.py
  backend/app/api/_memory_episodes_helpers.py
  backend/app/api/compactness.py
  backend/app/api/memory_episodes_handlers.py
  backend/app/api/memory_schemas_episodes.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/compactness_policy.py
  backend/app/services/compactness.py
  backend/app/services/compactness_policy.py
  backend/app/services/memory/episode_creator.py
  backend/app/services/memory/episode_creator_core.py
  backend/app/services/memory/episode_creator_helpers.py
  backend/app/services/memory/episode_validation.py
  backend/tests/services/memory/test_episode_creator.py
  backend/tests/services/test_compactness_policy.py
  backend/tests/test_main.py
  frontend/src/app/compactness/page.tsx
  frontend/src/components/memory/EditEpisodeModal.tsx
  frontend/src/components/memory/EpisodeFormFields.tsx
  frontend/src/components/memory/useEpisodeEditor.ts
  frontend/src/lib/api/compactness.ts
  frontend/src/lib/memory-types.ts
Due: mypy, eslint, tsc, prettier

Wire CompactnessMeter to the DB policy
  frontend/src/components/CompactnessMeter.tsx
  frontend/src/lib/compactness.ts
Due: eslint, tsc, prettier

Add Compactness sidebar nav entry
  frontend/src/components/layout/sidebar-nav.tsx
Due: eslint, tsc, prettier
