Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

refactor: split search_operations.py into focused modules (388→23 lines)
  backend/app/services/memory/search_context.py
  backend/app/services/memory/search_helpers.py
  backend/app/services/memory/search_history.py
  backend/app/services/memory/search_operations.py
  backend/app/services/memory/search_patterns.py
  backend/app/services/memory/search_semantic.py
Due: mypy

chore(.index.yaml): update generated_at timestamp
  .index.yaml
Due: none

refactor(memory): split summary_generator.py into focused modules
  backend/app/services/memory/summary_generator.py
  backend/app/services/memory/summary_llm.py
  backend/app/services/memory/summary_storage.py
  backend/app/services/memory/summary_transcript.py
Due: mypy

refactor: split AnalyticsTab.tsx into focused modules (449 → 156 lines)
  frontend/src/components/memory/tabs/AnalyticsTab.tsx
  frontend/src/components/memory/tabs/analytics-charts.tsx
  frontend/src/components/memory/tabs/analytics-components.tsx
  frontend/src/components/memory/tabs/analytics-constants.tsx
Due: eslint, tsc, prettier

refactor(client): split client.py into focused sync/async modules (463 → 10 lines)
  packages/agent-hub-client/agent_hub/_async_client.py
  packages/agent-hub-client/agent_hub/_sync_client.py
  packages/agent-hub-client/agent_hub/client.py
Due: none

refactor(dashboard): split page.tsx into focused modules (331→125 lines)
  frontend/src/app/dashboard/components/ChartsSection.tsx
  frontend/src/app/dashboard/components/DashboardHeader.tsx
  frontend/src/app/dashboard/components/KPISection.tsx
  frontend/src/app/dashboard/hooks/useDashboardData.ts
  frontend/src/app/dashboard/page.tsx
Due: eslint, tsc, prettier

chore: update .index.yaml with new file counts
  .index.yaml
Due: none

refactor(frontend): split memory-api.ts into focused modules
  frontend/src/lib/memory-api.ts
  frontend/src/lib/memory/entities.ts
  frontend/src/lib/memory/episodes.ts
  frontend/src/lib/memory/search.ts
Due: eslint, tsc, prettier

refactor(frontend): extract chat page components and hooks
  frontend/src/app/chat/components/ChatHeader.tsx
  frontend/src/app/chat/hooks/useAgentSelection.ts
  frontend/src/app/chat/hooks/useChatSession.ts
  frontend/src/app/chat/hooks/useContextChips.ts
  frontend/src/app/chat/page.tsx
Due: eslint, tsc, prettier

Refactor sessions page to reduce complexity from 398 to 126 lines
  frontend/src/app/sessions/components/ErrorAlert.tsx
  frontend/src/app/sessions/components/InfiniteScrollFooter.tsx
  frontend/src/app/sessions/components/LiveEventsPanel.tsx
  frontend/src/app/sessions/components/LoadingState.tsx
  frontend/src/app/sessions/components/ModelFilterBadge.tsx
  frontend/src/app/sessions/hooks/useSessionExpansion.ts
  frontend/src/app/sessions/hooks/useSessionFilters.ts
  frontend/src/app/sessions/hooks/useSessionKeyboard.ts
  frontend/src/app/sessions/hooks/useSessionPreferences.ts
  frontend/src/app/sessions/hooks/useSessionsData.ts
  frontend/src/app/sessions/page.tsx
Due: eslint, tsc, prettier

Refactor backend/app/api/sessions.py from 393 to 196 lines
  backend/app/api/sessions.py
  backend/app/services/session_helpers.py
  backend/app/services/session_operations.py
  backend/app/services/session_queries.py
  backend/app/services/session_responses.py
Due: mypy

Add schema re-exports for backward compatibility
  backend/app/api/sessions.py
Due: mypy

fix: add exception chaining (raise from e) for B904 lint rule
  backend/app/api/sessions.py
  backend/app/services/session_helpers.py
  backend/app/services/session_responses.py
Due: mypy

fix: add type guard for mypy (existing is not None)
  backend/app/api/sessions.py
Due: mypy

refactor(frontend): extract BlockedRequestsTable into focused components (428 → 166 lines)
  frontend/src/app/admin/components/BlockedRequestRow.tsx
  frontend/src/app/admin/components/BlockedRequestsTable.tsx
  frontend/src/app/admin/components/TableControls.tsx
  frontend/src/app/admin/components/tableConfig.ts
  frontend/src/app/admin/components/useBlockedRequestsTable.ts
Due: eslint, tsc, prettier

refactor(frontend): extract truncation-metrics components and logic
  frontend/src/components/analytics/truncation-metrics.components.tsx
  frontend/src/components/analytics/truncation-metrics.hooks.ts
  frontend/src/components/analytics/truncation-metrics.tsx
  frontend/src/components/analytics/truncation-metrics.types.ts
  frontend/src/components/analytics/truncation-metrics.utils.ts
Due: eslint, tsc, prettier

refactor(memory): split tools.py into focused modules (329→140 lines)
  backend/app/api/memory_agent_tools.py
  backend/app/services/memory/__init__.py
  backend/app/services/memory/tools.py
  backend/app/services/memory/tools_formatting.py
  backend/app/services/memory/tools_schemas.py
  backend/tests/services/memory/test_tools.py
Due: mypy

refactor: extract collect_baseline_metrics.py to modular architecture (385→107 lines)
  backend/scripts/collect_baseline_metrics.py
  backend/scripts/metrics/__init__.py
  backend/scripts/metrics/collector.py
  backend/scripts/metrics/models.py
  backend/scripts/metrics/reporter.py
Due: none

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
