Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

feat(db): Add prompts and agent_prompts tables, memory_config to agents
  backend/alembic/versions/c3f8a1b2d4e5_add_prompts_and_memory_config.py
  backend/app/api/memory.py
  backend/app/api/memory_tags.py
  backend/app/models/__init__.py
  backend/app/models/agent.py
  backend/app/models/prompt.py
  backend/app/services/memory/episode_properties.py
  backend/app/services/memory/episode_property_queries.py
  backend/app/services/memory/episode_property_setters.py
  backend/app/services/prompt_service.py
Due: mypy

feat(api): Add prompt management endpoints and agent memory config
  backend/app/api/__init__.py
  backend/app/api/agents.py
  backend/app/api/prompts.py
  backend/app/api/schemas/agent_schemas.py
  backend/app/api/schemas/prompt_schemas.py
  backend/app/services/agent_crud.py
  backend/app/services/agent_dto.py
  backend/app/services/agent_service.py
Due: mypy

feat(memory): Enhance context building with agent-specific prompts and memory config
  backend/app/services/agent_routing.py
  backend/app/services/completion/service.py
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_injector.py
Due: mypy

feat(memory): Fetch prompts from DB via prompt_service
  backend/app/services/memory/learning_extractor.py
  backend/app/services/memory/summary_generator.py
  backend/app/services/prompt_service.py
  backend/mcp_server.py
Due: mypy

chore: Add script to backfill episode tags
  backend/prompts/refactor.md
  backend/scripts/backfill_episode_tags.py
Due: none

style: auto-format from pre-commit hooks
  backend/scripts/backfill_episode_tags.py
Due: none

feat(agents): Add prompts and memory tabs to agent sidebar
  frontend/src/app/agents/[slug]/components/Sidebar.tsx
  frontend/src/app/agents/[slug]/types.ts
  frontend/src/components/layout/sidebar-nav.tsx
  frontend/src/lib/api/memory-tags.ts
  frontend/src/lib/api/prompts.ts
Due: eslint, tsc, prettier

feat(agents): Add MemoryTab and PromptsTab components
  frontend/src/app/agents/[slug]/components/MemoryTab.tsx
  frontend/src/app/agents/[slug]/components/PromptsTab.tsx
  frontend/src/app/agents/[slug]/page.tsx
  frontend/src/app/prompts/[slug]/page.tsx
  frontend/src/app/prompts/new/page.tsx
  frontend/src/app/prompts/page.tsx
Due: eslint, tsc, prettier

feat(memory): Add tags to MemoryEpisode
  backend/app/services/memory/episode_converters.py
  backend/app/services/memory/episode_operations.py
  backend/app/services/memory/memory_models.py
  backend/app/services/memory/query_builders.py
  frontend/src/components/memory/MemoryTable.tsx
  frontend/src/components/memory/MemoryTableRow.tsx
  frontend/src/components/memory/tabs/EpisodesTab.tsx
  frontend/src/lib/memory-types.ts
Due: mypy, eslint, tsc, prettier

feat(memory): Add bulk tagging functionality and UI
  frontend/src/components/memory/BulkToolbar.tsx
  frontend/src/components/memory/ExpandedRowContent.tsx
  frontend/src/components/memory/tabs/EpisodesTab.tsx
Due: eslint, tsc, prettier

fix(tests): Add missing memory_config to AgentDTO test constructors
  backend/tests/api/test_agents_api.py
  backend/tests/services/test_agent_routing.py
  backend/tests/services/test_agent_service.py
Due: none

fix(prompts): Add file extraction rules to refactor agent prompt
  backend/prompts/refactor.md
Due: none

refactor(prompts): Add circular import prevention guide
  backend/prompts/refactor.md
Due: none

WIP: uncommitted changes from previous session
  backend/.venv
Due: none

feat(prompts): Add role filtering and autocode prompt templates
  backend/app/api/complete/endpoints.py
  backend/app/api/complete/schemas.py
  backend/app/services/agent_routing.py
  backend/app/services/prompt_service.py
  backend/prompts/autocode-execution.md
  backend/prompts/autocode-fix.md
  backend/prompts/autocode-pristine-fix.md
  backend/prompts/autocode-subtask.md
  frontend/src/app/agents/[slug]/components/PromptsTab.tsx
  packages/agent-hub-client/agent_hub/_completion.py
  packages/agent-hub-client/agent_hub/client.py
Due: mypy, eslint, tsc, prettier

fix: Remove circular .venv symlink accidentally committed from worktree
  backend/.venv
Due: none

fix(gitignore): Add symlink patterns to prevent worktree .venv corruption
  .gitignore
Due: none

refactor(tools): Resolve project venv for subprocesses
  backend/app/services/tools/direct_executor.py
  backend/app/services/tools/project_env.py
Due: mypy

fix(tests): Fix test_bash_inherits_env for cached env in DirectToolExecutor
  backend/tests/tools/test_direct_executor.py
Due: none

chore: remove unused prompt files
  backend/prompts/autocode-execution.md
  backend/prompts/autocode-fix.md
  backend/prompts/autocode-pristine-fix.md
  backend/prompts/autocode-subtask.md
  backend/prompts/coder.md
  backend/prompts/designer.md
  backend/prompts/explorer.md
  backend/prompts/planner.md
  backend/prompts/qa.md
  backend/prompts/qa_plan_defect.md
  backend/prompts/refactor.md
  backend/prompts/reviewer.md
  backend/prompts/safety_directive.md
  backend/prompts/validator.md
Due: none

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
