Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

feat(memory): Implement dynamic content truncation in MemoryTableRow
  frontend/src/components/memory/MemoryTableRow.tsx
Due: eslint, tsc, prettier

refactor(memory): Split EntitiesTab into focused components (374→142 lines)
  frontend/src/components/memory/tabs/EntitiesTab.tsx
  frontend/src/components/memory/tabs/EntityEpisodesList.tsx
  frontend/src/components/memory/tabs/EntityRow.tsx
  frontend/src/components/memory/tabs/HealthBanner.tsx
Due: eslint, tsc, prettier

refactor: Split seed_agents_data.py into focused modules (513 → 28 lines)
  backend/scripts/seed_agents_data.py
  backend/scripts/seed_agents_data/__init__.py
  backend/scripts/seed_agents_data/core_agents.py
  backend/scripts/seed_agents_data/pipeline_agents.py
  backend/scripts/seed_agents_data/support_agents.py
Due: none

refactor(memory): Split analytics_service.py into focused modules
  backend/app/services/memory/analytics_models.py
  backend/app/services/memory/analytics_queries.py
  backend/app/services/memory/analytics_service.py
Due: mypy

refactor(memory): Split memory_schemas.py into focused modules (357→167 lines)
  backend/app/api/memory_schemas.py
  backend/app/api/memory_schemas_bulk.py
  backend/app/api/memory_schemas_episodes.py
  backend/app/api/memory_schemas_settings.py
Due: mypy

refactor(memory): Split analytics-charts.tsx into focused modules
  frontend/src/components/memory/tabs/analytics-charts.tsx
  frontend/src/components/memory/tabs/charts/feedback-loops-health.tsx
  frontend/src/components/memory/tabs/charts/injection-metrics-chart.tsx
  frontend/src/components/memory/tabs/charts/scope-chart.tsx
  frontend/src/components/memory/tabs/charts/tier-chart.tsx
  frontend/src/components/memory/tabs/charts/top-memories-table.tsx
  frontend/src/components/memory/tabs/charts/trend-chart.tsx
  frontend/src/components/memory/tabs/charts/usage-stats.tsx
Due: eslint, tsc, prettier

refactor(frontend): Split MemoryTab.tsx into focused modules (430 → 114 lines)
  backend/tests/adapters/test_claude_env_injection.py
  backend/tests/adapters/test_claude_tools_permissions.py
  backend/tests/api/test_session_events.py
  backend/tests/services/memory/test_continuity_injection.py
  backend/tests/services/memory/test_memory_rater.py
  frontend/src/app/agents/[slug]/components/MemoryTab.tsx
  frontend/src/app/agents/[slug]/components/memory/MemoryConfigSection.tsx
  frontend/src/app/agents/[slug]/components/memory/TagFilteringSection.tsx
  frontend/src/app/agents/[slug]/components/memory/Toggle.tsx
  frontend/src/app/agents/[slug]/components/memory/constants.ts
  frontend/src/app/agents/[slug]/components/memory/types.ts
  frontend/src/app/agents/[slug]/components/memory/utils.ts
Due: eslint, tsc, prettier

refactor: Split cleanup_operations.py into focused modules (340 → 27 lines)
  backend/app/services/memory/cleanup_edges.py
  backend/app/services/memory/cleanup_entities.py
  backend/app/services/memory/cleanup_operations.py
  backend/app/services/memory/cleanup_ttl.py
Due: mypy

refactor(frontend): split tool-approval-modal into focused modules (392→126 lines)
  frontend/src/components/tool-approval/modal-actions.tsx
  frontend/src/components/tool-approval/modal-content.tsx
  frontend/src/components/tool-approval/modal-header.tsx
  frontend/src/components/tool-approval/tool-approval-modal.tsx
  frontend/src/components/tool-approval/use-approval-timer.ts
  frontend/src/components/tool-approval/use-keyboard-shortcuts.ts
Due: eslint, tsc, prettier

chore: Auto-fix formatting from dt --fix
  backend/tests/adapters/test_claude_env_injection.py
  backend/tests/adapters/test_claude_tools_permissions.py
  backend/tests/api/test_session_events.py
  backend/tests/services/memory/test_continuity_injection.py
  backend/tests/services/memory/test_memory_rater.py
Due: none

chore(index): update generated_at timestamp and endpoint
  .index.yaml
Due: none

refactor: centralize OpenRouter model alias resolution and move voice API router inclusion to `api/__init__.py`.
  backend/app/adapters/openrouter.py
  backend/app/api/__init__.py
  backend/app/api/complete/tool_claude_processor.py
  backend/app/config.py
  backend/app/main.py
Due: mypy

refactor(access_control): Consolidate access control headers and logic
  backend/.pyre_configuration
  backend/app/main.py
  backend/app/middleware/__init__.py
  backend/app/middleware/access_control.py
  backend/app/middleware/access_control_auth.py
  backend/app/middleware/access_control_constants.py
  backend/app/middleware/access_control_handlers.py
  backend/app/middleware/access_control_paths.py
  backend/app/middleware/kill_switch.py
  backend/app/middleware/kill_switch_base.py
  backend/app/services/circuit_breaker.py
  backend/app/services/client_auth.py
  backend/app/services/credential_manager.py
  backend/app/services/memory/analytics_queries.py
  backend/app/services/memory/analytics_service.py
  backend/app/services/memory/cleanup_entities.py
  backend/app/services/memory/cleanup_ttl.py
  backend/app/services/router.py
  backend/app/storage/credentials.py
  backend/tests/api/test_kill_switch.py
  backend/tests/storage/test_credentials.py
Due: mypy

feat(adapters): Add OpenAI, xAI, Zhipu adapters and refactor common logic
  backend/app/adapters/claude.py
  backend/app/adapters/openai.py
  backend/app/adapters/openai_compat.py
  backend/app/adapters/openrouter.py
  backend/app/adapters/xai.py
  backend/app/adapters/zhipu.py
  backend/app/api/complete/helpers.py
  backend/app/config.py
  backend/app/constants.py
  backend/app/services/agent_routing_utils.py
  backend/app/services/model_mapping.py
  backend/app/services/provider_chain.py
  backend/app/services/tier_classifier.py
  backend/tests/adapters/test_interface.py
  backend/tests/adapters/test_openai.py
  backend/tests/adapters/test_openai_compat.py
  backend/tests/adapters/test_openrouter.py
  backend/tests/adapters/test_xai.py
  backend/tests/adapters/test_zhipu.py
  backend/tests/conftest.py
  backend/tests/core/test_router.py
  frontend/src/app/sessions/utils.ts
  frontend/src/components/chat/MessageBubble.tsx
  frontend/src/components/chat/mention-popup.tsx
  frontend/src/components/chat/message-utils.ts
  frontend/src/components/chat/use-models.ts
  frontend/src/hooks/chat-stream/utils.ts
  frontend/src/types/chat.ts
  packages/agent-hub-client/agent_hub/constants.py
Due: mypy, eslint, tsc, prettier

feat(credentials): Implement credential resolution chain for LLM providers
  backend/app/adapters/gemini.py
  backend/app/adapters/openai_compat.py
  backend/app/api/credentials.py
  backend/tests/adapters/test_credential_resolution.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
