Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff-format
        args: [--config, backend/pyproject.toml]
        files: ^backend/
      - id: ruff
        args: [--fix, --config, backend/pyproject.toml]
        files: ^backend/

  # NOTE: mypy uses local venv to ensure version consistency
  # The venv version is the single source of truth (defined in pyproject.toml)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

  # Frontend validation hooks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$

ci:
  autoupdate_schedule: weekly

chore(fullstack): 19 files changed, 3305 insertions(+), 85 deletions(-)
  backend/app/adapters/openai.py
  backend/app/api/agents.py
  backend/app/api/complete.py
  backend/app/api/openai_compat.py
  backend/app/constants.py
  backend/app/middleware/kill_switch.py
  backend/app/models.py
  backend/app/services/agent_service.py
  backend/app/services/memory/golden_standards.py
  backend/app/services/token_counter.py
  backend/tests/api/test_agents_api.py
  backend/tests/conftest.py
  backend/tests/services/test_agent_service.py
  frontend/src/app/agents/[slug]/analytics/page.tsx
  frontend/src/app/agents/[slug]/page.tsx
  frontend/src/app/agents/[slug]/playground/page.tsx
  frontend/src/app/agents/page.tsx
  frontend/src/components/layout/app-shell.tsx
  tasks/agent-management-system/plan.json
Due: mypy, eslint, tsc, prettier

chore(backend): 1 file changed, 24 insertions(+), 50 deletions(-)
  backend/app/services/memory/context_injector.py
Due: mypy

feat(memory): implement JIT context injection optimization infrastructure
  backend/app/models.py
  backend/app/services/memory/adaptive_index.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/metrics_collector.py
  backend/app/services/memory/scoring.py
  backend/app/services/memory/selection.py
  backend/app/services/memory/variants.py
  backend/migrations/versions/g6h7i8j9k0l1_add_memory_injection_metrics.py
  backend/tests/services/memory/test_context_injector.py
  backend/tests/services/memory/test_variants.py
  backend/tests/services/test_adaptive_index.py
  backend/tests/services/test_memory_scoring.py
  backend/tests/services/test_memory_selection.py
  backend/tests/services/test_variant_assignment.py
  backend/tests/test_models.py
Due: mypy

test(backend): 14 files changed, 3033 insertions(+), 13 deletions(-)
  backend/app/api/memory.py
  backend/app/services/memory/adaptive_index.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/metrics_collector.py
  backend/app/services/memory/scoring.py
  backend/scripts/collect_baseline_metrics.py
  backend/scripts/run_parameter_sweep.py
  backend/tests/scripts/__init__.py
  backend/tests/scripts/test_collect_baseline_metrics.py
  backend/tests/services/test_agentic_memory.py
  backend/tests/services/test_contextual_surfacing.py
  backend/tests/services/test_mem_it_command.py
  tasks/memory-system-testing/plan.json
  tasks/memory-system-testing/planning-state.json
Due: mypy

fix(memory): remove deprecated max_facts parameter from callers
  backend/app/api/complete.py
  backend/app/api/memory.py
  backend/app/api/stream.py
  backend/app/models.py
  backend/app/services/agent_routing.py
  backend/app/services/completion.py
  backend/app/services/memory/adaptive_index.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/metrics_collector.py
  backend/app/services/memory/scoring.py
  backend/app/services/memory/selection.py
  backend/app/services/orchestration/roundtable.py
  backend/migrations/versions/cd269ebb1e0d_migrate_to_timestamptz.py
  backend/migrations/versions/f0a1b2c3d4e5_restore_timestamp_defaults.py
  backend/migrations/versions/g6h7i8j9k0l1_add_memory_injection_metrics.py
  backend/scripts/collect_baseline_metrics.py
  backend/scripts/run_parameter_sweep.py
  backend/tests/api/test_agents_api.py
  backend/tests/api/test_complete_streaming.py
  backend/tests/api/test_preferences.py
  backend/tests/conftest.py
  backend/tests/scripts/test_collect_baseline_metrics.py
  backend/tests/services/memory/test_context_injector.py
  backend/tests/services/memory/test_variants.py
  backend/tests/services/test_adaptive_index.py
  backend/tests/services/test_agent_routing.py
  backend/tests/services/test_agent_service.py
  backend/tests/services/test_agentic_memory.py
  backend/tests/services/test_contextual_surfacing.py
  backend/tests/services/test_mem_it_command.py
  backend/tests/services/test_memory_scoring.py
  backend/tests/services/test_memory_selection.py
  backend/tests/test_models.py
Due: mypy

fix(tests): add mock_db_session fixture and fix 22 failing tests
  backend/tests/analytics/test_cost.py
  backend/tests/api/test_image.py
  backend/tests/api/test_kill_switch.py
  backend/tests/api/test_openai_auth.py
  backend/tests/conftest.py
Due: none

fix(memory): fix infinite pagination in list_episodes
  backend/app/services/memory/service.py
Due: mypy

chore(fullstack): 4 files changed, 54 insertions(+), 21 deletions(-)
  backend/app/middleware/kill_switch.py
  frontend/next.config.ts
  frontend/public/sw.js
  frontend/src/lib/api-config.ts
Due: mypy, eslint, tsc, prettier

chore(frontend): 5 files changed, 40 insertions(+), 17 deletions(-)
  frontend/public/icons/icon-192.png
  frontend/public/icons/icon-512.png
  frontend/public/icons/icon.svg
  frontend/public/sw.js
  frontend/src/lib/api-config.ts
Due: eslint, tsc, prettier

chore: add continuation file for PWA icon fixes
  tasks/continuation/task-20260122-pwa-icon-fixes.md
Due: none

chore(frontend): bump PWA cache version to v10
  frontend/public/sw.js
  tasks/continuation/task-20260122-pwa-icon-fixes.md
Due: eslint, prettier

feat(memory): consolidate Graphiti memory system
  backend/app/api/complete.py
  backend/app/api/memory.py
  backend/app/services/memory/__init__.py
  backend/app/services/memory/consolidation_entities.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/episode_formatter.py
  backend/app/services/memory/service.py
  backend/app/services/memory/state.py
  backend/prompts/designer.md
  backend/prompts/explorer.md
  backend/prompts/validator.md
  backend/scripts/memory/audit_episodes.py
  backend/scripts/memory/backup.py
  backend/scripts/memory/cleanup_legacy.py
  backend/scripts/memory/consolidate_duplicates.py
  backend/scripts/memory/inventory.py
  backend/scripts/seed_agents.py
Due: mypy

feat(admin): add request audit log and unknown callers tracking
  backend/app/api/admin.py
  backend/app/middleware/kill_switch.py
  backend/app/services/memory/consolidation_entities.py
  backend/app/services/memory/episode_formatter.py
  backend/scripts/memory/audit_episodes.py
  backend/scripts/memory/consolidate_duplicates.py
  backend/scripts/memory/inventory.py
  backend/tests/conftest.py
  plans/access-control-overhaul.md
Due: mypy

refactor(frontend): extract Tooltip, CopyButton, SortableHeader from memory page
  .summitflow/context.json
  frontend/src/app/memory/page.tsx
  frontend/src/components/layout/app-shell.tsx
  frontend/src/components/memory/CopyButton.tsx
  frontend/src/components/memory/SortableHeader.tsx
  frontend/src/components/memory/Tooltip.tsx
  tasks/access-control-overhaul/plan.json
  tasks/task-164fc907/plan.json
Due: eslint, tsc, prettier

refactor(frontend): extract pill components from memory page
  frontend/src/app/memory/page.tsx
  frontend/src/components/memory/CategoryPill.tsx
  frontend/src/components/memory/RelevanceBadge.tsx
  frontend/src/components/memory/ScopePill.tsx
Due: eslint, tsc, prettier

refactor(frontend): extract large UI components from memory page
  frontend/src/app/memory/page.tsx
  frontend/src/components/memory/BulkToolbar.tsx
  frontend/src/components/memory/DeleteModal.tsx
  frontend/src/components/memory/ExpandedRowContent.tsx
Due: eslint, tsc, prettier

refactor(frontend): extract memory config to shared module
  .summitflow/context.json
  backend/app/api/__init__.py
  backend/app/api/access_control.py
  backend/app/api/complete.py
  backend/app/main.py
  backend/app/middleware/access_control.py
  backend/app/models.py
  backend/app/services/client_auth.py
  backend/migrations/versions/86bacf829f75_add_access_control_tables.py
  backend/prompts/qa.md
  backend/prompts/qa_plan_defect.md
  backend/scripts/seed_agents.py
  frontend/src/app/memory/page.tsx
  frontend/src/components/memory/CategoryPill.tsx
  frontend/src/components/memory/ExpandedRowContent.tsx
  frontend/src/components/memory/ScopePill.tsx
  frontend/src/lib/memory-config.ts
  scripts/systemd/agent-hub-frontend.service
  tasks/task-164fc907/plan-fixed.json
Due: mypy, eslint, tsc, prettier

refactor(frontend): extract table rendering to MemoryTable component
  frontend/src/app/memory/page.tsx
  frontend/src/components/memory/MemoryTable.tsx
  frontend/src/components/memory/MemoryTableRow.tsx
Due: eslint, tsc, prettier

chore: 1 file changed, 413 insertions(+)
  tasks/task-118c32aa/plan.json
Due: none
