Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

feat(memory): implement 3-block progressive disclosure context injection
  backend/app/api/memory.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/episode_formatter.py
  backend/app/services/memory/golden_standards.py
  backend/scripts/migrate_rules_to_graphiti.py
Due: mypy

chore(backend): 1 file changed, 10 insertions(+)
  backend/app/services/memory/golden_standards.py
Due: mypy

chore(fullstack): 18 files changed, 1678 insertions(+), 66 deletions(-)
  .index.yaml
  backend/app/api/complete.py
  backend/app/api/feedback.py
  backend/app/api/memory.py
  backend/app/models.py
  backend/app/services/memory/__init__.py
  backend/app/services/memory/canonical_clustering.py
  backend/app/services/memory/citation_parser.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/golden_standards.py
  backend/app/services/memory/usage_tracker.py
  backend/app/storage/feedback.py
  backend/migrations/versions/a1b2c3d4e5f6_add_usage_stats_table.py
  backend/migrations/versions/b2c3d4e5f6g7_add_memory_uuids_to_feedback.py
  backend/tasks/intelligent-context-management/plan.json
  frontend/src/components/memory/memory-card.tsx
  frontend/src/components/memory/memory-filters.tsx
  frontend/src/lib/memory-api.ts
Due: mypy, eslint, tsc, prettier

chore(fullstack): 18 files changed, 1678 insertions(+), 66 deletions(-)
  .index.yaml
  backend/app/api/complete.py
  backend/app/api/feedback.py
  backend/app/api/memory.py
  backend/app/models.py
  backend/app/services/memory/__init__.py
  backend/app/services/memory/canonical_clustering.py
  backend/app/services/memory/citation_parser.py
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/golden_standards.py
  backend/app/services/memory/usage_tracker.py
  backend/app/storage/feedback.py
  backend/migrations/versions/a1b2c3d4e5f6_add_usage_stats_table.py
  backend/migrations/versions/b2c3d4e5f6g7_add_memory_uuids_to_feedback.py
  frontend/src/components/memory/memory-card.tsx
  frontend/src/components/memory/memory-filters.tsx
  frontend/src/lib/memory-api.ts
Due: mypy, eslint, tsc, prettier

chore(fullstack): 12 files changed, 1338 insertions(+), 7 deletions(-)
  backend/app/services/memory/__init__.py
  backend/app/services/memory/canonical_clustering.py
  backend/tests/services/memory/__init__.py
  backend/tests/services/memory/test_canonical_clustering.py
  backend/tests/services/memory/test_citation_parser.py
  backend/tests/services/memory/test_feedback_attribution.py
  backend/tests/services/memory/test_usage_stats.py
  backend/tests/services/memory/test_usage_tracker.py
  backend/tests/services/memory/test_utility_scoring.py
  frontend/src/app/memory/page.tsx
  frontend/src/components/memory/memory-filters.tsx
  frontend/src/hooks/use-memory.ts
Due: mypy, eslint, tsc, prettier

chore(backend): 4 files changed, 532 insertions(+), 7 deletions(-)
  backend/app/services/memory/learning_extractor.py
  memory-audit-report.md
  memory-test-iteration.md
  memory-test-state.json
Due: mypy

chore: 2 files changed, 276 insertions(+), 25 deletions(-)
  backend/tests/services/memory/test_learning_extractor.py
  memory-test-state.json
Due: none

test(backend): 6 files changed, 87 insertions(+), 41 deletions(-)
  backend/app/services/memory/__init__.py
  backend/app/services/memory/episode_formatter.py
  backend/app/services/memory/golden_standards.py
  backend/app/services/memory/service.py
  backend/tests/services/memory/test_learning_extractor.py
  memory-test-state.json
Due: mypy

chore(backend): 9 files changed, 54 insertions(+), 40 deletions(-)
  backend/app/services/memory/context_injector.py
  backend/app/services/memory/usage_tracker.py
  backend/migrations/versions/a1b2c3d4e5f6_add_usage_stats_table.py
  backend/tests/services/memory/test_citation_parser.py
  backend/tests/services/memory/test_feedback_attribution.py
  backend/tests/services/memory/test_learning_extractor.py
  backend/tests/services/memory/test_usage_stats.py
  backend/tests/services/memory/test_utility_scoring.py
  memory-test-state.json
Due: mypy

test(backend): 6 files changed, 1593 insertions(+), 28 deletions(-)
  backend/app/services/memory/episode_formatter.py
  backend/tests/services/memory/test_context_injector.py
  backend/tests/services/memory/test_episode_formatter.py
  backend/tests/services/memory/test_promotion.py
  backend/tests/services/memory/test_tools.py
  memory-test-state.json
Due: mypy

chore(backend): 5 files changed, 721 insertions(+), 127 deletions(-)
  backend/tests/services/memory/test_context_injector.py
  backend/tests/services/memory/test_episode_formatter.py
  backend/tests/services/memory/test_promotion.py
  backend/tests/services/memory/test_tools.py
  tasks/test-memory-skill/plan.json
Due: none

chore(backend): 2 files changed, 25 insertions(+), 11 deletions(-)
  .index.yaml
  backend/app/services/memory/context_injector.py
Due: mypy

docs(backend): 11 files changed, 1034 insertions(+), 13 deletions(-)
  backend/agents/__init__.py
  backend/agents/base.py
  backend/agents/registry.py
  backend/app/api/complete.py
  backend/app/constants.py
  backend/app/services/router.py
  backend/prompts/coder.md
  backend/prompts/fixer.md
  backend/prompts/planner.md
  backend/prompts/reviewer.md
  backend/prompts/safety_directive.md
Due: mypy

chore(backend): 8 files changed, 423 insertions(+), 16 deletions(-)
  backend/agents/__init__.py
  backend/agents/registry.py
  backend/app/api/complete.py
  backend/app/constants.py
  backend/scripts/migrate_rules_to_graphiti.py
  backend/tests/services/memory/test_utility_scoring.py
  tasks/dashboard-consolidation/plan.json
  tasks/dashboard-consolidation/planning-state.json
Due: mypy

chore(frontend): 4 files changed, 697 insertions(+), 545 deletions(-)
  frontend/src/app/dashboard/page.tsx
  packages/agent-hub-client/agent_hub/__init__.py
  packages/agent-hub-client/agent_hub/client.py
  packages/agent-hub-client/agent_hub/models.py
Due: eslint, tsc, prettier

chore(frontend): 1 file changed, 12 insertions(+), 10 deletions(-)
  frontend/src/app/dashboard/page.tsx
Due: eslint, tsc, prettier

chore(frontend): 1 file changed, 14 insertions(+), 16 deletions(-)
  frontend/src/app/dashboard/page.tsx
Due: eslint, tsc, prettier

chore(frontend): 4 files changed, 761 insertions(+), 1339 deletions(-)
  frontend/src/app/analytics/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/sessions/page.tsx
  frontend/src/components/layout/app-shell.tsx
Due: eslint, tsc, prettier

chore(fullstack): 4 files changed, 384 insertions(+), 206 deletions(-)
  backend/app/api/sessions.py
  frontend/src/__tests__/sessions.test.tsx
  frontend/src/app/sessions/page.tsx
  frontend/src/lib/api.ts
Due: mypy, eslint, tsc, prettier

chore(frontend): 2 files changed, 45 insertions(+), 34 deletions(-)
  frontend/src/__tests__/sessions.test.tsx
  frontend/src/app/sessions/page.tsx
Due: eslint, tsc, prettier

chore(backend): 2 files changed, 28 insertions(+), 4 deletions(-)
  backend/tests/api/test_sessions.py
  backend/tests/e2e/test_session_tracking.py
Due: none

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
