Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

test(adapters,workflows,scripts): update tests and db script for API key and heartbeat changes
  backend/tests/adapters/test_claude.py
  backend/tests/adapters/test_interface.py
  backend/tests/workflows/test_persona_heartbeat.py
  scripts/db.sh
Due: none

chore: delete stale files and dead tests from codebase audit
  .qna-session/context.json
  backend/scripts/metrics/collector.py
  backend/scripts/metrics/models.py
  backend/tests/api/test_complete.py
  backend/tests/services/test_cost_optimization.py
  backend/tests/thinking/test_extended.py
  prompts/next-session-ws11-validation-v2.md
  prompts/next-session-ws11-validation.md
  reference/research-journaling-memory-findings.md
  reference/research-journaling-memory.md
  selfheal_test.txt
Due: none

refactor: delete Neo4j orphaned-cleanup dead code (no-op since PostgreSQL migration)
  backend/app/api/memory_bulk_ops.py
  backend/app/api/memory_schemas.py
  backend/app/api/memory_schemas_bulk.py
  backend/app/services/memory/cleanup_edges.py
  backend/app/services/memory/cleanup_operations.py
  backend/app/services/memory/memory_queries.py
  backend/app/services/memory/service_cleanup.py
  backend/app/services/memory/service_mixins.py
Due: mypy

fix: resolve bare @claude/@gemini/@openai mentions to default models
  backend/app/constants/catalog.py
  backend/tests/api/complete/test_parse_mention.py
Due: mypy

fix: add logging to silent exception handlers in models and dashboard_stats endpoints
  backend/app/api/dashboard_stats.py
  backend/app/api/models.py
Due: mypy

chore: delete dead code and stale artifacts (explorer service, experiments, skills, task plans, reference)
  backend/app/services/explorer/__init__.py
  backend/app/services/explorer/analyzers/__init__.py
  backend/app/services/explorer/analyzers/ast_analyzer.py
  backend/experiments/README.md
  backend/tasks/intelligent-context-management/plan.json
  reference/README.md
  skills/context-injection-rules.md
  skills/memory-management.md
Due: mypy

chore: delete dead code and stale artifacts (explorer service, experiments, skills, task plans, reference)
  backend/app/services/explorer/__init__.py
  backend/app/services/explorer/analyzers/__init__.py
  backend/app/services/explorer/analyzers/ast_analyzer.py
  backend/experiments/README.md
  reference/README.md
  skills/context-injection-rules.md
  skills/memory-management.md
Due: mypy

fix: extract message from nested OpenAI-style error dicts in exception handler
  backend/app/exception_handlers.py
Due: mypy

fix: deduplicate memory_cite events to prevent duplicate audit trail entries
  backend/app/api/complete/_citation_helpers.py
Due: mypy

chore: delete dead code, consolidate DRY violations, and add missing logging
  backend/.env.example
  backend/app/api/memory_settings.py
  backend/app/services/message_blocks.py
  frontend/src/app/access-control/clients/[id]/hooks/useClientMutations.ts
  frontend/src/app/access-control/clients/[id]/page.tsx
  frontend/src/components/InheritedPlatformContextPreview.tsx
  frontend/src/components/chat/EditableContent.tsx
  frontend/src/components/chat/input-buttons.tsx
  frontend/src/components/chat/mention-chip.tsx
  frontend/src/components/chat/mention-popup.tsx
  frontend/src/components/chat/message-utils.ts
  frontend/src/components/chat/session-sidebar.tsx
  frontend/src/components/chat/use-mention-popup.ts
  frontend/src/components/memory/CitationsList.tsx
  frontend/src/components/memory/memory-filters.tsx
  frontend/src/lib/api/admin.ts
Due: mypy, eslint, tsc, prettier

fix: add debug logging to 4 silent exception handlers in capture, tools, and streaming
  backend/app/api/complete/streaming_persistence.py
  backend/app/api/complete/tool_handlers.py
  backend/app/services/memory/capture_handler.py
  backend/app/services/tools/_executor_model_mgmt.py
Due: mypy

chore: remove stale Graphiti/Neo4j artifacts (dead script, migration, legacy state path)
  backend/app/services/memory/state.py
  backend/scripts/memory/migrate_neo4j_to_pg.py
  scripts/update_gemini_context.sh
Due: mypy

feat: extract PKCE helpers and add constant model references
  backend/app/adapters/_oauth_pkce.py
  backend/app/adapters/claude.py
  backend/app/adapters/claude_auth.py
  backend/app/adapters/claude_direct.py
  backend/app/adapters/claude_tools_helpers.py
  backend/app/adapters/cloudflare_image.py
  backend/app/adapters/codex_auth.py
  backend/app/adapters/empty_stream_guard.py
  backend/app/adapters/openai_compat.py
  backend/app/api/credentials.py
  backend/app/api/memory_tags.py
  backend/app/services/tools/_executor_consultation.py
  backend/app/workflows/persona_scheduler.py
  frontend/src/components/chat/session-dropdown.tsx
Due: mypy, eslint, tsc, prettier

refactor: consolidate worktree detection and st command building to shared utilities
  backend/app/services/ownership_inventory.py
  backend/app/services/session_transforms.py
  backend/app/services/tools/_executor_io_lanes.py
  backend/app/services/tools/_executor_io_tasks.py
  backend/app/services/tools/_tool_constants.py
  backend/app/services/tools/project_env.py
Due: mypy

refactor(api): extract get_scope_params to memory_dependencies
  backend/app/api/memory_agent_tools.py
  backend/app/services/tools/_executor_registry.py
Due: mypy

docs(memory): simplify docstring and clarify group_id intent
  backend/app/models/memory_unified.py
Due: mypy

chore: remove completion review rules wrapper module
  backend/app/workflows/_completion_review_rules.py
  backend/scripts/completion_review_benchmark_cases.py
  backend/tests/workflows/test_completion_review.py
Due: mypy

chore(fullstack): 10 files changed, 29 insertions(+), 495 deletions(-)
  backend/app/services/message_transform.py
  backend/tests/services/test_message_transform.py
  frontend/src/app/monitoring/requests/utils.ts
  frontend/src/app/sessions/[id]/components/utils.tsx
  frontend/src/app/sessions/utils.ts
  frontend/src/components/chat/use-models.ts
  frontend/src/components/settings/ProviderCardUtils.ts
  frontend/src/components/timeline/timeline-utils.ts
  frontend/src/lib/formatters.ts
  packages/chat-ui/src/components/use-models.ts
Due: mypy, eslint, tsc, prettier

test: replace 27 hardcoded model IDs with constant imports across 9 test files
  backend/tests/api/complete/test_synthetic_summary.py
  backend/tests/api/complete/test_tool_handlers_partial.py
  backend/tests/api/test_agents_api.py
  backend/tests/services/test_agent_routing.py
  backend/tests/services/test_agent_service.py
  backend/tests/services/tools/test_performance_dedup.py
  backend/tests/test_models.py
  backend/tests/tools/test_persona_integration.py
  backend/tests/workflows/test_heartbeat_mcp_recovery.py
Due: none

test: update stale model IDs in 3 frontend test files
  frontend/src/__tests__/agent-analytics-page.test.tsx
  frontend/src/__tests__/agent-analytics-utils.test.ts
  frontend/src/__tests__/agent-form.test.ts
Due: eslint, tsc, prettier

chore: remove unused constants (PROD_API_DOMAIN, SUMMITFLOW_API_DOMAIN) and orphaned comment
  backend/pyproject.toml
  frontend/src/lib/api-config.ts
Due: eslint, tsc, prettier

fix: sync client SDK model constants with backend (REASONING_GEMINI, FAST_GEMINI drift)
  packages/agent-hub-client/agent_hub/__init__.py
  packages/agent-hub-client/agent_hub/constants.py
Due: none

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
