Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

Subtask 1.1: Create a test marker file to prove agent execution
  .e2e-test-marker
Due: none

fix(execution): Handle None verify_command in _verify_steps, add traceback to subtask error logging
  .e2e-test-marker
Due: none

fix(gemini): Add traceback logging to Gemini tool error handler for str/int comparison debugging
  backend/app/adapters/gemini_tools.py
Due: mypy

fix(adapters): Remove all hardcoded max_tokens caps that artificially limit model output
  backend/agents/base.py
  backend/app/adapters/gemini.py
  backend/app/adapters/gemini_tools.py
  backend/app/api/endpoints/voice.py
  backend/app/services/memory/learning_extractor.py
  backend/app/services/memory/summary_generator.py
Due: mypy

style: auto-format from pre-commit hooks
  backend/tests/adapters/test_errors.py
Due: none

fix(adapters): Fix TypeError in is_retriable_error when Google genai APIError has string .status
  backend/app/adapters/errors.py
  backend/tests/adapters/test_errors.py
Due: mypy

feat(completion): Implement async completion endpoints and task execution
  backend/app/api/complete/async_endpoints.py
  backend/app/api/complete/schemas.py
  backend/app/celery_app.py
  backend/app/services/completion_events.py
  backend/app/tasks/completion_task.py
  backend/tests/services/test_completion_events.py
  backend/tests/tasks/__init__.py
  backend/tests/tasks/test_completion_task.py
Due: mypy

feat(completion): Add async execution for agentic completions
  backend/app/api/complete/__init__.py
  backend/app/api/complete/endpoints.py
  backend/tests/api/test_async_completion.py
Due: mypy

feat(events): Implement Redis event bridge for completion progress
  backend/app/main.py
  backend/app/services/events.py
  backend/tests/services/test_completion_events.py
Due: mypy

fix(completion): Handle SoftTimeLimitExceeded in agentic tasks
  backend/app/tasks/completion_task.py
  backend/tests/api/test_async_completion.py
  backend/tests/tasks/test_completion_task.py
Due: mypy

refactor(health): Extract health check logic into separate modules
  backend/app/api/health.py
  backend/app/api/health_logic.py
  backend/app/api/health_metrics.py
  backend/app/api/health_schemas.py
Due: mypy

test(backend): 33 files changed, 1037 insertions(+), 1503 deletions(-)
  backend/app/api/complete/async_endpoints.py
  backend/app/api/complete/endpoints.py
  backend/app/api/complete/schemas.py
  backend/app/celery_app.py
  backend/app/config.py
  backend/app/hatchet_app.py
  backend/app/main.py
  backend/app/services/completion_events.py
  backend/app/services/events.py
  backend/app/services/webhooks.py
  backend/app/tasks/__init__.py
  backend/app/tasks/completion_task.py
  backend/app/tasks/memory_cleanup_task.py
  backend/app/tasks/observation_tasks.py
  backend/app/tasks/session_cleanup_task.py
  backend/app/tasks/summary_tasks.py
  backend/app/tasks/tier_optimizer_task.py
  backend/app/tasks/webhook_tasks.py
  backend/app/worker.py
  backend/app/workflows/__init__.py
  backend/app/workflows/completion.py
  backend/app/workflows/observation.py
  backend/app/workflows/scheduled.py
  backend/app/workflows/summary.py
  backend/app/workflows/webhooks.py
  backend/pyproject.toml
  backend/tests/api/test_async_completion.py
  backend/tests/conftest.py
  backend/tests/events/test_webhooks.py
  backend/tests/services/test_completion_events.py
  backend/tests/tasks/test_completion_task.py
  backend/uv.lock
  scripts/systemd/agent-hub-hatchet-worker.service
Due: mypy

style: auto-format from pre-commit hooks
  backend/tests/conftest.py
Due: none

refactor(agent-hub): Replace Celery with Hatchet for workflows
  .gitignore
  .index.yaml
  CLAUDE.md
  backend/app/core/debug.py
  backend/app/tasks/__init__.py
  backend/app/workflows/completion.py
  backend/app/workflows/observation.py
  backend/app/workflows/scheduled.py
  backend/app/workflows/summary.py
  backend/app/workflows/webhooks.py
  backend/scripts/backfill_episode_tags.py
  scripts/restart.sh
  scripts/status.sh
  scripts/systemd/agent-hub-celery-beat.service
  scripts/systemd/agent-hub-celery.service
Due: mypy

refactor(session_helpers): Split 412-line module into focused submodules
  backend/app/services/session_branching.py
  backend/app/services/session_helpers.py
  backend/app/services/session_queries.py
  backend/app/services/session_tokens.py
  backend/app/services/session_transforms.py
Due: mypy

refactor(frontend): Split sessions page into modular components
  frontend/src/app/sessions/components/CopyIdButton.tsx
  frontend/src/app/sessions/components/ExpandedRowContent.tsx
  frontend/src/app/sessions/components/ModelPill.tsx
  frontend/src/app/sessions/components/SessionTable.tsx
  frontend/src/app/sessions/components/SessionTableRow.tsx
  frontend/src/app/sessions/components/SessionsHeader.tsx
  frontend/src/app/sessions/components/SortableHeader.tsx
  frontend/src/app/sessions/components/StatusCell.tsx
  frontend/src/app/sessions/components/Tooltip.tsx
  frontend/src/app/sessions/page.tsx
  frontend/src/app/sessions/types.ts
  frontend/src/app/sessions/utils.ts
Due: eslint, tsc, prettier

refactor(adapters): split claude.py into focused modules (717→201 lines)
  backend/app/adapters/claude.py
  backend/app/adapters/claude_oauth.py
  backend/app/adapters/claude_streaming.py
  backend/app/adapters/claude_tools.py
  backend/app/adapters/claude_utils.py
  backend/tests/adapters/test_claude.py
Due: mypy

refactor(backend): Split core.py into focused modules (1384→432 lines)
  backend/app/api/complete/__init__.py
  backend/app/api/complete/citation_tracker.py
  backend/app/api/complete/core.py
  backend/app/api/complete/endpoints.py
  backend/app/api/complete/event_helpers.py
  backend/app/api/complete/handlers.py
  backend/app/api/complete/multi_turn_executor.py
  backend/app/api/complete/session_manager.py
  backend/app/api/complete/streaming.py
  backend/app/api/complete/tool_handlers.py
  backend/app/services/completion/helpers.py
Due: mypy

refactor(api): Extract complete/endpoints.py into focused modules (812→292 lines)
  backend/app/api/complete/async_dispatch.py
  backend/app/api/complete/endpoints.py
  backend/app/api/complete/error_handlers.py
  backend/app/api/complete/execution.py
  backend/app/api/complete/request_setup.py
  backend/app/api/complete/resolution.py
  backend/app/api/complete/streaming.py
  backend/app/api/complete/validation.py
Due: mypy

fix(api): correct import for handle_streaming_request after refactor
  backend/app/api/complete/endpoints.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
