Repository elias-leslie/agent-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc, prettier

mypy:
  name: mypy
  entry: bash -c 'cd backend && .venv/bin/mypy app/ --config-file pyproject.toml --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: typescript
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system

Resolve prompt revision restore prefixes
  backend/app/api/prompts.py
  backend/app/services/prompt_service.py
  backend/tests/api/test_prompts_api.py
  backend/tests/services/test_prompt_service.py
Due: mypy

Fix completion persistence and 429 cooldown churn
  backend/app/api/complete/complete_execution.py
  backend/app/api/complete/complete_orchestrator.py
  backend/app/api/complete/error_handlers.py
  backend/app/services/agent_routing_completion.py
  backend/app/services/circuit_breaker.py
  backend/tests/api/complete/test_complete_execution.py
  backend/tests/api/complete/test_orchestration_helpers.py
  backend/tests/services/test_agent_routing.py
Due: mypy

style: auto-format from pre-commit hooks
  backend/tests/services/test_agent_routing.py
Due: none

Compact startup memory injection for Codex and Claude
  backend/app/services/memory/context_builder_tiers.py
  backend/app/services/memory/context_injector_formatter.py
  backend/tests/services/memory/test_context_injector.py
  backend/tests/services/memory/test_reference_injection.py
Due: mypy

Expose session attribution and reap zero-event ghosts
  backend/app/api/schemas/sessions.py
  backend/app/services/_session_lifecycle.py
  backend/app/services/_session_metadata_helpers.py
  backend/app/services/session_transforms.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/services/test_session_live_activity.py
  backend/tests/services/test_session_transforms.py
  frontend/src/app/sessions/[id]/components/SessionInfo.tsx
  frontend/src/app/sessions/components/SessionTableRow.tsx
  frontend/src/lib/api/sessions.ts
Due: mypy, eslint, tsc, prettier

Add admin schedule control plane and churn hotspots
  backend/alembic/versions/24ebd21257f3_add_workflow_schedule_controls_table.py
  backend/app/api/admin.py
  backend/app/api/admin_schemas.py
  backend/app/models/__init__.py
  backend/app/models/workflow_schedule_control.py
  backend/app/services/admin_session_hotspots.py
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_injector_formatter.py
  backend/app/services/memory/context_profiles.py
  backend/app/services/workflow_schedule_registry.py
  backend/app/workflows/model_sync.py
  backend/app/workflows/persona_heartbeat.py
  backend/app/workflows/persona_scheduler.py
  backend/app/workflows/scheduled.py
  backend/app/workflows/session_reaper.py
  backend/app/workflows/site_health_check.py
  backend/tests/api/test_admin_api.py
  backend/tests/services/memory/test_context_injector.py
  backend/tests/services/memory/test_reference_injection.py
  frontend/src/__tests__/compactness.test.ts
  frontend/src/app/admin/components/SessionHotspotsPanel.tsx
  frontend/src/app/admin/components/WorkflowSchedulesSection.tsx
  frontend/src/app/admin/page.tsx
  frontend/src/app/agents/[slug]/components/prompts/CreatePromptForm.tsx
  frontend/src/app/agents/[slug]/components/prompts/LinkedPromptCard.tsx
  frontend/src/app/prompts/[slug]/page.tsx
  frontend/src/app/prompts/new/page.tsx
  frontend/src/components/CompactnessMeter.tsx
  frontend/src/components/memory/EpisodeFormFields.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/api/admin.ts
  frontend/src/lib/compactness.ts
Due: mypy, eslint, tsc, prettier

Enforce strict Caveman content validation
  backend/app/api/prompts.py
  backend/app/services/compactness.py
  backend/app/services/memory/episode_validation.py
  backend/app/services/prompt_service.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/test_prompts_api.py
  backend/tests/services/memory/test_episode_creator.py
  backend/tests/services/test_prompt_service.py
  frontend/src/__tests__/compactness.test.ts
  frontend/src/components/CompactnessMeter.tsx
  frontend/src/lib/compactness.ts
Due: mypy, eslint, tsc, prettier

Trim stale shell-first UI and prompt nudges
  backend/app/api/complete/_core_helpers.py
  backend/app/services/tools/_standard_tools.py
  backend/tests/api/complete/test_precision_search_guidance.py
  frontend/src/app/agents/[slug]/page.tsx
  frontend/src/app/persona/settings/page.tsx
Due: mypy, eslint, tsc, prettier

Remove dead confirmation theater from tool runtime
  backend/app/adapters/claude_tools_permissions.py
  backend/app/services/tools/base.py
  backend/app/services/tools/gemini_tools.py
  backend/tests/benchmarks/approach_c.py
  backend/tests/benchmarks/approach_c_enhanced.py
  backend/tests/tools/test_gemini_tools.py
Due: mypy

style: auto-format from pre-commit hooks
  backend/tests/benchmarks/approach_c_enhanced.py
Due: none

Remove legacy tool permission residue
  backend/alembic/versions/4b7a9c1d2e3f_drop_agent_tool_permissions_column.py
  backend/app/models/agent.py
  backend/scripts/export_seeds.py
  backend/scripts/seed_agents.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/benchmarks/approach_a.py
  backend/tests/benchmarks/approach_b.py
  backend/tests/benchmarks/approach_c.py
  backend/tests/benchmarks/approach_c_enhanced.py
  backend/tests/benchmarks/approach_d.py
  backend/tests/benchmarks/tool_benchmark.py
  docs/design/artifact-hub-and-autonomous-ops.md
Due: mypy

Remove legacy tool permission residue
  backend/alembic/versions/4b7a9c1d2e3f_drop_agent_tool_permissions_column.py
  backend/app/models/agent.py
  backend/scripts/export_seeds.py
  backend/scripts/seed_agents.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/benchmarks/approach_a.py
  backend/tests/benchmarks/approach_b.py
  backend/tests/benchmarks/approach_c.py
  backend/tests/benchmarks/approach_c_enhanced.py
  backend/tests/benchmarks/approach_d.py
  backend/tests/benchmarks/tool_benchmark.py
Due: mypy

Resolve seed data after task merge
  backend/scripts/seed_agents_data/seed_data.json
Due: none

fix session event detail loading
  frontend/src/app/sessions/hooks/useSessionExpansion.ts
  frontend/src/lib/api/sessions.test.ts
  frontend/src/lib/api/sessions.ts
Due: eslint, tsc, prettier

overhaul agent memory routing
  backend/app/api/agents.py
  backend/app/api/complete/memory_handler.py
  backend/app/api/complete/request_setup.py
  backend/app/api/complete/streaming_handlers.py
  backend/app/api/helpers/agent_preview.py
  backend/app/api/memory_agent_tools.py
  backend/app/api/schemas/agent_schemas.py
  backend/app/services/_benchmark_config.py
  backend/app/services/completion/helpers.py
  backend/app/services/memory/_repo_search.py
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_builder_settings.py
  backend/app/services/memory/context_builder_tiers.py
  backend/app/services/memory/context_injector_queries.py
  backend/app/services/memory/context_profiles.py
  backend/app/services/tools/tool_definitions.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/complete/test_request_setup.py
  backend/tests/api/test_agent_preview_helper.py
  backend/tests/api/test_agents_api.py
  backend/tests/services/memory/test_context_builder_settings.py
  backend/tests/services/memory/test_reference_injection.py
  backend/tests/services/test_agent_benchmark_service.py
  backend/tests/tools/test_executor_model_mgmt.py
  frontend/src/__tests__/memory-config-utils.test.ts
  frontend/src/__tests__/memory-tab.test.tsx
  frontend/src/app/agents/[slug]/components/memory/MemoryConfigSection.tsx
  frontend/src/app/agents/[slug]/components/memory/types.ts
  frontend/src/app/agents/[slug]/components/memory/utils.ts
  frontend/src/components/memory/EpisodeFormFields.tsx
Due: mypy, eslint, tsc, prettier

overhaul agent memory routing
  backend/app/api/agents.py
  backend/app/api/complete/memory_handler.py
  backend/app/api/complete/request_setup.py
  backend/app/api/complete/streaming_handlers.py
  backend/app/api/helpers/agent_preview.py
  backend/app/api/memory_agent_tools.py
  backend/app/api/schemas/agent_schemas.py
  backend/app/services/_benchmark_config.py
  backend/app/services/completion/helpers.py
  backend/app/services/memory/_repo_search.py
  backend/app/services/memory/context_builder.py
  backend/app/services/memory/context_builder_settings.py
  backend/app/services/memory/context_builder_tiers.py
  backend/app/services/memory/context_injector_queries.py
  backend/app/services/memory/context_profiles.py
  backend/app/services/tools/tool_definitions.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/complete/test_request_setup.py
  backend/tests/api/test_agent_preview_helper.py
  backend/tests/api/test_agents_api.py
  backend/tests/services/memory/test_context_builder_settings.py
  backend/tests/services/memory/test_reference_injection.py
  backend/tests/services/test_agent_benchmark_service.py
  backend/tests/tools/test_executor_model_mgmt.py
  docs/memory-routing.md
  frontend/src/__tests__/memory-config-utils.test.ts
  frontend/src/__tests__/memory-tab.test.tsx
  frontend/src/app/agents/[slug]/components/memory/MemoryConfigSection.tsx
  frontend/src/app/agents/[slug]/components/memory/types.ts
  frontend/src/app/agents/[slug]/components/memory/utils.ts
  frontend/src/components/memory/EpisodeFormFields.tsx
Due: mypy, eslint, tsc, prettier

[verified] Reconcile persona truth-pass orphan salvage
  frontend/next.config.ts
  frontend/src/__tests__/persona-background-inbox.test.tsx
  frontend/src/__tests__/persona-blocker-panel.test.tsx
  frontend/src/__tests__/persona-operator-deck.test.tsx
  frontend/src/__tests__/persona-prompt-budget-panel.test.tsx
  frontend/src/__tests__/persona-run-hud.test.tsx
  frontend/src/__tests__/persona-workflow-composer.test.tsx
  frontend/src/__tests__/use-chat-stream-project-binding.test.tsx
  frontend/src/__tests__/workspace-chat-footer.test.tsx
  frontend/src/app/persona/components/PersonaBackgroundInbox.tsx
  frontend/src/app/persona/components/PersonaBlockerPanel.tsx
  frontend/src/app/persona/components/PersonaOperatorDeck.tsx
  frontend/src/app/persona/components/PersonaPromptBudgetPanel.tsx
  frontend/src/app/persona/components/PersonaRunHud.tsx
  frontend/src/app/persona/components/PersonaWorkflowComposer.tsx
  frontend/src/app/persona/components/UnifiedPersonaWorkspace.tsx
  frontend/src/app/persona/components/WorkspaceChatFooter.tsx
  packages/chat-ui/src/hooks/use-chat-stream.ts
Due: eslint, tsc, prettier

Honor use_memory in agentic completion dispatch
  backend/app/api/complete/complete_execution.py
  backend/tests/api/complete/test_complete_execution.py
Due: mypy

fix(agent-models): canonicalize legacy codex IDs and reorder fallbacks
  backend/app/constants/catalog.py
  backend/app/services/agent_model_reconciliation_service.py
  backend/app/services/agent_service.py
  backend/scripts/persona_benchmark_cases.py
  backend/scripts/seed_agents.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/scripts/test_persona_model_benchmark.py
  backend/tests/scripts/test_seed_agent_model_policy.py
  backend/tests/services/test_agent_model_reconciliation_service.py
  backend/tests/services/test_agent_service_model_ids.py
  backend/tests/tools/test_executor_model_mgmt.py
Due: mypy

fix(agent-models): canonicalize legacy codex IDs and reorder fallbacks
  backend/app/constants/catalog.py
  backend/app/services/agent_model_reconciliation_service.py
  backend/app/services/agent_service.py
  backend/scripts/persona_benchmark_cases.py
  backend/scripts/seed_agents.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/scripts/test_persona_model_benchmark.py
  backend/tests/scripts/test_seed_agent_model_policy.py
  backend/tests/services/test_agent_model_reconciliation_service.py
  backend/tests/services/test_agent_service_model_ids.py
  backend/tests/tools/test_executor_model_mgmt.py
  docs/persona-benchmark.md
Due: mypy

feat(models): add Claude Opus 4.7 model support
  backend/app/adapters/claude.py
  backend/app/constants/__init__.py
  backend/app/constants/catalog.py
  backend/app/constants/catalog_entries.py
  backend/app/constants/models.py
  backend/app/services/agent_model_reconciliation_service.py
  backend/scripts/seed_agents_data/seed_data.json
  backend/tests/api/test_models_api.py
  backend/tests/services/test_agent_model_reconciliation_service.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/app/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  tsc: any of: ^frontend/.*\.(ts|tsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
